.whs-leftnav-icon-circle{height: 2.6rem;width: 2.6rem;background-color:#0c677c00;border-radius: 100%;}
// .whs-leftnav-icon-circle:hover , .btn-outline-light:hover {background-color: white;color: #666666;}

.bg-shadow{box-shadow: inset -4px 0px 5px rgba(0, 0, 0, 0.1); }
.menu_width{width: -1%;}
.sidebar{height: 85vh;}
.sidebar_icon{font-size: 2rem;}
::ng-deep .mat-tooltip{
    background-color: #fbc02d;
    color: white !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 1rem;
    margin-left: 2rem !important;
}
.side-pannel{background-color: #f8fafc; box-shadow: inset -4px 0px 5px rgba(0, 0, 0, 0.1);}
.side-pannel:hover{background-color: #4faf99;color: white;}



::ng-deep .mat-drawer-container {
  background-color: #d7eaf1  !important;     //body background colour
  color: rgba(0,0,0,.87);
}

::ng-deep .mat-drawer, .mat-drawer.mat-drawer-push {
  background-color: #0d526b  !important;
}

.bg-semigrey{background-color: #f8fafc;}
::ng-deep .mat-form-field {font-size: 0.9rem;}
// .header_band{//background-color: #666666;
//   background-image: url(../../../assets/img/icons/sand8.png);
// }
.glass{background: rgba( 102, 102, 102, 0.3 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
 // border-radius: 2px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );}


.text-green{color: #4faf99;}
.bg-orange{background-color: #fbc02d;}

.is-active {
  background-color: red !important;
}

.border-box{border-left: 5px solid #4faf99;border-right: none;}
.shadow-box {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%) !important;
}

.hvr-bounce-in {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
  }
  .hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  }


////
 ::ng-deep .mat-sidenav-container {
  height: 100% !important;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
}
.example-container {
  height: 100%;
  
  
}
.text-white{color: #ffff !important;}
.text-grey1{color: #666666 !important;}
.text-grey1:hover{color: #fff !important;}

.white{background-color: #fff !important;}
.black{background-color: #000 !important;}
::ng-deep .mat-drawer-inner-container{
  overflow-y: hidden !important;
}
.example-sidenav-content {
  align-items: center;
  justify-content: center;
}
.parent{margin-top: 0.25rem !important;}

@media (min-width: 1367px) {
  .parent{margin-top: 1.5rem !important; margin-bottom: 0rem !important;}
}
.parent1{margin-top: 0.25rem !important;}

@media (min-width: 1367px) {
  .parent1{margin-top: 1rem !important; margin-bottom: 0rem !important;}
}


.example-sidenav {
  user-select: none;
  padding-right: 0px !important;
  padding-left: 0px !important;
}
.full-width {
  width: 100%;
  display: flex;
  align-items: center;
}
.menu-button {
  transition: 300ms ease-in-out;
  transform: rotate(0deg);
}
.menu-button.rotated {
  transform: rotate(180deg);
}
.mat-list-base .mat-list-item {
  font-size: 14px !important;
}
.submenu {
  overflow-y: hidden;
  transition: transform 300ms ease;
  transform: scaleY(0);
  transform-origin: top;
  padding-left: 30px;
}
.example-sidenav {
 padding-right: 5px;
 padding-left: 5px;
}
.submenu.expanded {
  transform: scaleY(1);
}

.mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
  height: 60px !important;
}


@media (min-width: 1365px) {
  .mat-list-base .mat-list-item.mat-list-item-with-avatar, .mat-list-base .mat-list-option.mat-list-item-with-avatar {
    height: 65px !important;
  }
}


//.mat-list-item {
//  font-family: 'Times New Roman' !important;
//}

//mat-menu
::ng-deep  .nav_item {width: 12rem !important;background-color: #ec830a !important; padding-left: 5px !important;}
// ::ng-deep .custom-class2 {width: 11.9rem;background: rgba(231, 136, 10, 0.9);max-height: 25rem;position: absolute; left: 52px !important;}
::ng-deep .custom-class2 {width: 11.9rem;background: rgba(215, 234, 241, 0.9);max-height: 25rem;position: absolute; left: 163px !important;    top: -32px !important;}
.dropdown_fields:hover {
  background: #0D526B ;
  padding-left: 30px;
  width: 210%;
  box-shadow: 0 0 17px rgb(0 0 0 / 40%);
  color: white !important;
}

.dropdown_fields {
  position: relative;
  transition: all 250ms ease-in-out;
  //border-radius: 5px;
  color: #0D526B  !important;
}


.headericon:hover{background-color: #ebebeb !important;border-radius: 50% !important;height: 2.7rem !important;width: 2.7rem;}
.headericon{background-color: transparent !important;border-radius: 50% !important;height: 2.7rem !important;width: 2.7rem;}

::ng-deep .logout{width: 8rem;background: rgba(102, 102, 102, 0.9);}


::ng-deep .mat-menu-item {
  line-height: 52px !important;
  height: 52px !important;
  padding: 0 16 px !important;
}

::ng-deep .mat-menu-content:not(:empty) {
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

::ng-deep .mat-menu-panel {
  min-height: 55px !important; border-radius: 0px !important;min-width: 130px !important;}



/* Rectangle Out */
.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #ffff;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(81, 78, 81, 0.9);
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-rectangle-out:hover, .hvr-rectangle-out:focus, .hvr-rectangle-out:active {
  color: white;
}
.hvr-rectangle-out:hover:before, .hvr-rectangle-out:focus:before, .hvr-rectangle-out:active:before {
  -webkit-transform: scale(1);
  transform: scale(1);
}


::ng-deep.mat-list-base {
  padding-top: 0px !important;
  display: block;
  -webkit-tap-highlight-color: transparent;
}

.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fdfdfd;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration:0.4s;
  transition-duration:0.4s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #0d526b !important;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


.navwhite{background-color: #fff;}
.navgrey{background-color: #ededed;}