

    <div class="card bg-white " style="overflow-x: hidden;">
        <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
          class="d-flex justify-content-between align-items-center p-2">
          <h6 class="invisible">Bin</h6 >
          <h6 class="my-auto whs-text-grey font-weight-bold">Bin No: GG1GQ18D01</h6 >
          <mat-icon class="whs-text-grey" mat-dialog-close>close</mat-icon>
        </div>
        <div class="mt-2 px-4">
          <div class="row  p-1">
<div class="col-6">
    <img src="./assets/img/dashboard/package.png"  alt="" srcset="">
</div>
<div class="col-6 d-flex justify-content-center align-items-center">
<div>
    <table class="table table-striped">

        <tbody>
          <tr>
            <th scope="row">Part No</th>
            <td>409326</td>
          </tr>
          <tr>
            <th scope="row">Description</th>
            <td>Gear Assembly</td>
          </tr>
          <tr>
            <th scope="row">Mfr Part No</th>
            <td>HW-31</td>
          </tr>
          <tr>
            <th scope="row">Barcode Id</th>
            <td>G180015507</td>
          </tr>
          <tr>
            <th scope="row">Qty</th>
            <td>2</td>
          </tr>
        </tbody>
      </table>
</div>
</div>
          </div>
          <!-- <div class="d-flex justify-content-center align-items-center py-2">
            <button mat-raised-button color="warn" mat-dialog-close class="mx-1"> <i
                class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
          </div> -->
        </div>
    
    
      </div>