USE [WMS_WK_PRD]
GO
/****** Object:  View [dbo].[invId]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[invId] as
(select max(inv_id) invId from tblinventory where is_deleted = 0 group by itm_code,barcode_id,mfr_name,pack_barcode,stck_typ_id,st_bin,plant_id,wh_id,c_id,lang_id)
GO
/****** Object:  StoredProcedure [dbo].[all_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE   PROCEDURE [dbo].[all_status_update_ib_cnf_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblpreinboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	UTD_BY = @updatedBy, UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID <> 24

	UPDATE tblinboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	IB_CNF_BY = @updatedBy, IB_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID <> 24
	
	UPDATE tblgrheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	GR_CNF_BY = @updatedBy, GR_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID <> 24

	UPDATE tblstagingheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	ST_CNF_BY = @updatedBy, ST_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID <> 24
			
	UPDATE tblputawayheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PA_CNF_BY = @updatedBy, PA_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID <> 24		
	
	UPDATE tblputawayline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PA_CNF_BY = @updatedBy, PA_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID not in (22,24)
			
	UPDATE tblpreinboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	UTD_BY = @updatedBy, UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID not in (22,24)
	
	UPDATE tblgrline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	GR_CNF_BY = @updatedBy, GR_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID not in (22,24)

	UPDATE tblstagingline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	ST_CNF_BY = @updatedBy, ST_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID not in (22,24)

	UPDATE tblinboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	IB_CNF_BY = @updatedBy, IB_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID not in (22,24)
END
GO
/****** Object:  StoredProcedure [dbo].[all_status_update_ib_reversal_header_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE   PROCEDURE [dbo].[all_status_update_ib_reversal_header_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN
		
	UPDATE tblpreinboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	UTD_BY = @updatedBy, UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber

	UPDATE tblinboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	IB_CNF_BY = @updatedBy, IB_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber
	
	UPDATE tblgrheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	GR_CNF_BY = @updatedBy, GR_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber

	UPDATE tblstagingheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	ST_CNF_BY = @updatedBy, ST_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber

END
GO
/****** Object:  StoredProcedure [dbo].[all_status_update_ib_reversal_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE   PROCEDURE [dbo].[all_status_update_ib_reversal_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),	
	@barcodeId nvarchar(50),	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN
		
	UPDATE tblputawayheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PA_CNF_BY = @updatedBy, PA_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND BARCODE_ID = @barcodeId
	
	UPDATE tblputawayline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PA_CNF_BY = @updatedBy, PA_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND BARCODE_ID = @barcodeId
			
	UPDATE tblpreinboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	UTD_BY = @updatedBy, UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND BARCODE_ID = @barcodeId
	
	UPDATE tblgrline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	GR_CNF_BY = @updatedBy, GR_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND BARCODE_ID = @barcodeId

	UPDATE tblstagingline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	ST_CNF_BY = @updatedBy, ST_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND PARTNER_ITEM_BARCODE = @barcodeId

	UPDATE tblinboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	IB_CNF_BY = @updatedBy, IB_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND BARCODE_ID = @barcodeId
END
GO
/****** Object:  StoredProcedure [dbo].[all_status_update_ob_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[all_status_update_ob_cnf_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preOutboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblpreoutboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PRE_OB_UTD_BY = @updatedBy, PRE_OB_UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID <> 59

	UPDATE tbloutboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	DLV_CNF_BY = @updatedBy, DLV_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID <> 59	
	
	UPDATE tbloutboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	DLV_CNF_BY = @updatedBy, DLV_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID not in (22,59)
			
	UPDATE tblpreoutboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PRE_OB_UTD_BY = @updatedBy, PRE_OB_UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID not in (22,59)
	
	UPDATE tblordermangementline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PICK_UP_UTD_BY = @updatedBy, PICK_UP_UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID not in (22,59)
			
	UPDATE tblpickupline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID not in (22,59)

	UPDATE tblpickupheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID <> 59

	UPDATE tblqualityheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID <> 59

	UPDATE tblqualityline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND STATUS_ID not in (22,59)

END
GO
/****** Object:  StoredProcedure [dbo].[all_status_update_ob_header_reversal_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preOutboundNo, Long statusId, String statusDescription,
CREATE   PROCEDURE [dbo].[all_status_update_ob_header_reversal_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblpreoutboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PRE_OB_UTD_BY = @updatedBy, PRE_OB_UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber

	UPDATE tbloutboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	DLV_REV_BY = @updatedBy, DLV_REV_ON = @updatedOn
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber	
	
END
GO
/****** Object:  StoredProcedure [dbo].[all_status_update_ob_reversal_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preOutboundNo, Long statusId, String statusDescription,
CREATE   PROCEDURE [dbo].[all_status_update_ob_reversal_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),	
	@barcodeId nvarchar(50),	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN
	
	UPDATE tbloutboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	DLV_REV_BY = @updatedBy, DLV_REV_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PARTNER_ITEM_BARCODE = @barcodeId
			
	UPDATE tblpreoutboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PRE_OB_UTD_BY = @updatedBy, PRE_OB_UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber  AND BARCODE_ID = @barcodeId
	
	UPDATE tblordermangementline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PICK_UP_UTD_BY = @updatedBy, PICK_UP_UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND PARTNER_ITEM_BARCODE = @barcodeId
			
	UPDATE tblpickupline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription,
	PICK_REV_BY = @updatedBy, PICK_REV_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND PARTNER_ITEM_BARCODE = @barcodeId
			
	UPDATE tblpickupheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription,
	PICK_REV_BY = @updatedBy, PICK_REV_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND PARTNER_ITEM_BARCODE = @barcodeId
	
	UPDATE tblqualityheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription,
	QC_REV_BY = @updatedBy, QC_REV_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND PARTNER_ITEM_BARCODE = @barcodeId
			
	UPDATE tblqualityline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription,
	QC_REV_BY = @updatedBy, QC_REV_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
			AND REF_DOC_NO = @refDocNumber AND PARTNER_ITEM_BARCODE = @barcodeId
END
GO
/****** Object:  StoredProcedure [dbo].[grheader_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[grheader_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblgrheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	GR_CNF_BY = @updatedBy, GR_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo

END			
GO
/****** Object:  StoredProcedure [dbo].[grheader_status_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[grheader_status_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5), 
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 
	@goodsReceiptNo nvarchar(25),
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedOn DATETIME
	
AS
BEGIN
	DECLARE @ROW_COUNT int, @ROW_COUNT_STATUS_ID_17 int, @IS_STATUS_ID_17 int = 0

	SELECT @ROW_COUNT = COUNT(REF_DOC_NO) FROM tblstagingline 
	WHERE C_ID = @companyCodeId AND 
	PLANT_ID = @plantId AND 
	LANG_ID = @languageId AND 
	WH_ID = @warehouseId AND 
	REF_DOC_NO = @refDocNumber AND
	PRE_IB_NO = @preInboundNo AND
	IS_DELETED = 0 
	GROUP BY REF_DOC_NO

	--SELECT @ROW_COUNT_STATUS_ID_17 = COUNT(REF_DOC_NO) FROM tblgrline 
	--WHERE C_ID = @companyCodeId AND 
	--PLANT_ID = @plantId AND 
	--LANG_ID = @languageId AND 
	--WH_ID = @warehouseId AND 
	--REF_DOC_NO = @refDocNumber AND
	--PRE_IB_NO = @preInboundNo AND
	--STATUS_ID = @statusId AND
	--IS_DELETED = 0 
	--GROUP BY REF_DOC_NO

	SELECT @ROW_COUNT_STATUS_ID_17 = COUNT(REF_DOC_NO) FROM (
	SELECT SUM(GR_QTY) GRQTY,ORD_QTY,REF_DOC_NO,IB_LINE_NO,ITM_CODE,MFR_NAME FROM TBLGRLINE 
	WHERE C_ID = @companyCodeId AND 
	PLANT_ID = @plantId AND 
	LANG_ID = @languageId AND 
	WH_ID = @warehouseId AND 
	REF_DOC_NO = @refDocNumber AND
	PRE_IB_NO = @preInboundNo AND
	--STATUS_ID = @statusId AND
	IS_DELETED = 0 
	GROUP BY IB_LINE_NO,ITM_CODE,MFR_NAME,REF_DOC_NO,ORD_QTY 
	HAVING SUM(GR_QTY) = ORD_QTY
	) X GROUP BY REF_DOC_NO

	IF @ROW_COUNT = @ROW_COUNT_STATUS_ID_17
	BEGIN
		SET @IS_STATUS_ID_17 = 1
	END	

	IF @IS_STATUS_ID_17 = 1
	BEGIN
		UPDATE tblgrheader
			SET STATUS_ID = @statusId,
			STATUS_TEXT = @statusDescription,
			GR_UTD_ON = @updatedOn,
			GR_CNF_ON = @updatedOn
			WHERE C_ID = @companyCodeId AND 
				PLANT_ID = @plantId AND 
				LANG_ID = @languageId AND 
				WH_ID = @warehouseId AND 
				REF_DOC_NO = @refDocNumber AND
				PRE_IB_NO = @preInboundNo AND
				IS_DELETED = 0
	END			
END				
GO
/****** Object:  StoredProcedure [dbo].[grline_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[grline_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE IBL SET IBL.STATUS_ID = @statusId, IBL.STATUS_TEXT = @statusDescription, 
	IBL.GR_CNF_BY = @updatedBy, IBL.GR_CNF_ON = @updatedOn
	FROM tblgrline IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME FROM tblinboundline
	WHERE 
			IS_DELETED = 0 AND REF_FIELD_2 = 'TRUE' AND status_id = @statusId AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ITM_CODE = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.IB_LINE_NO = X.IB_LINE_NO AND IBL.IS_DELETED = 0 AND IBL.STATUS_ID != @statusId

END			
GO
/****** Object:  StoredProcedure [dbo].[ib_qh_status_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String itemCode, String inboundQualityNumber, Long lineNo, Date updatedOn, 
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE   PROCEDURE [dbo].[ib_qh_status_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 
	@itemCode nvarchar(50), 
	@inboundQualityNumber nvarchar(25),
	@lineNumber nvarchar(10),
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(15),
	@updatedOn DATETIME
		
AS
BEGIN
	UPDATE tblinboundqualityheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, UTD_ON = @updatedOn, UTD_BY = @updatedBy
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND ITM_CODE = @itemCode AND 
			IB_QC_NO = @inboundQualityNumber AND REF_FIELD_9 = @lineNumber AND IS_DELETED = 0
END			
GO
/****** Object:  StoredProcedure [dbo].[ibheader_pal_cnt_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[ibheader_pal_cnt_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25)
		
AS
BEGIN

	DECLARE @ROW_COUNT int

    SELECT @ROW_COUNT = COUNT(lineCount) from (
	SELECT COUNT(IB_LINE_NO) lineCount FROM tblputawayline 
	WHERE C_ID = @companyCodeId AND 
	PLANT_ID = @plantId AND 
	LANG_ID = @languageId AND 
	WH_ID = @warehouseId AND 
	REF_DOC_NO = @refDocNumber AND
	PRE_IB_NO = @preInboundNo AND
	IS_DELETED = 0 AND STATUS_ID IN (20,24)
	GROUP BY IB_LINE_NO,REF_DOC_NO,PRE_IB_NO,PLANT_ID,WH_ID,C_ID) x

	UPDATE tblinboundheader
	SET received_lines = @ROW_COUNT
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo

END			
GO
/****** Object:  StoredProcedure [dbo].[ibheader_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[ibheader_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblinboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	UTD_BY = @updatedBy, utd_on = @updatedOn, IB_CNF_BY = @updatedBy, IB_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo

END			
GO
/****** Object:  StoredProcedure [dbo].[inbound_process_delete_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[inbound_process_delete_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@inboundOrderTypeId nvarchar(25)
		
AS
BEGIN

	delete tblpreinboundline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId
	delete tblpreinboundheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId
	delete tblinboundline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId
	delete tblinboundheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId
	delete tblstagingline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId
	delete tblstagingheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId
	delete tblgrheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId
	delete tblgrline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId
	delete tblputawayheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND IB_ORD_TYP_ID = @inboundOrderTypeId

END
GO
/****** Object:  StoredProcedure [dbo].[inboundline_status_update_ib_cnf_individual_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[inboundline_status_update_ib_cnf_individual_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25),
	@itemCode nvarchar(50),
	@manufacturerName nvarchar(25),
	@lineNumber bigint,
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblinboundline SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, REF_FIELD_2 = 'TRUE',
	IB_CNF_ON = @updatedOn, IB_CNF_BY = @updatedBy	
	WHERE 
		IS_DELETED = 0 AND status_id <> 24 AND ITM_CODE = @itemCode AND MFR_NAME = @manufacturerName AND
		C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
		REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND IB_LINE_NO = @lineNumber

END			
GO
/****** Object:  StoredProcedure [dbo].[inboundline_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[inboundline_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE IBL SET IBL.STATUS_ID = @statusId, IBL.STATUS_TEXT = @statusDescription, 
	IBL.UTD_BY = @updatedBy, IBL.UTD_ON = @updatedOn, IBL.IB_CNF_ON = @updatedOn 
	FROM tblinboundline IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME FROM tblinboundline
	WHERE 
			IS_DELETED = 0 AND REF_FIELD_2 = 'TRUE' AND status_id != @statusId AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ITM_CODE = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.IB_LINE_NO = X.IB_LINE_NO AND IBL.IS_DELETED = 0 AND IBL.REF_FIELD_2 = 'TRUE'

END			
GO
/****** Object:  StoredProcedure [dbo].[inboundline_status_update_new_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[inboundline_status_update_new_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE IBL SET IBL.STATUS_ID = @statusId, IBL.STATUS_TEXT = @statusDescription, IBL.UTD_ON = @updatedOn, IBL.IB_CNF_ON = @updatedOn 
	FROM tblinboundline IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME FROM tblgrline
	WHERE IS_DELETED = 0 AND status_id = @statusId AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND 
			LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ITM_CODE = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.IB_LINE_NO = X.IB_LINE_NO AND IBL.IS_DELETED = 0 AND IBL.STATUS_ID != 20

END			
GO
/****** Object:  StoredProcedure [dbo].[inboundline_status_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[inboundline_status_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 
	@itmCode nvarchar(50), 
	@manufacturerName nvarchar(20),
	@lineNumber bigint,
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN
	UPDATE tblinboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, UTD_ON = @updatedOn, IB_CNF_ON = @updatedOn
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND ITM_CODE = @itmCode AND 
			MFR_NAME = @manufacturerName AND IB_LINE_NO = @lineNumber AND IS_DELETED = 0
END			
GO
/****** Object:  StoredProcedure [dbo].[nostock_status_update_new_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[nostock_status_update_new_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preOutboundNo nvarchar(25),
	@statusId bigint,
	@statusDescription nvarchar(50)
		
AS
BEGIN
	Declare @noStock int = 0, @lines int, @noStkLines int;
	 
	select @lines = count(ob_line_no) from tblordermangementline where 
	REF_DOC_NO = @refDocNumber and PRE_OB_NO = @preOutboundNo and 
	C_ID = @companyCodeId and PLANT_ID = @plantId and LANG_ID = @languageId and WH_ID = @warehouseId and IS_DELETED = 0 
	
	select @noStkLines = count(ob_line_no) from tblordermangementline where status_id=47 and 
	REF_DOC_NO = @refDocNumber and PRE_OB_NO = @preOutboundNo and 
	C_ID = @companyCodeId and PLANT_ID = @plantId and LANG_ID = @languageId and WH_ID = @warehouseId and IS_DELETED = 0 

	IF @lines = @noStkLines
	BEGIN
		SET @noStock = 1
	END

	IF @noStock = 1
	BEGIN
	UPDATE tblpreoutboundline SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
	AND REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo

	UPDATE tblpreoutboundheader SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
	AND REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo

	UPDATE tbloutboundheader SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId 
	AND REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo
	END
	

END			
GO
/****** Object:  StoredProcedure [dbo].[ob_delivery_confirm_roll_back_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[ob_delivery_confirm_roll_back_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25)
		
AS
BEGIN

	delete tblqualityheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber
	delete tblqualityline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber
	delete tblpickupline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber

END
GO
/****** Object:  StoredProcedure [dbo].[obheader_preobheader_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[obheader_preobheader_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preOutboundNo nvarchar(25), 
	@updatedOn DATETIME,
	@updatedBy nvarchar(50),
	@statusId47 bigint,
	@statusId50 bigint,
	@statusId51 bigint,
	@statusDescription50 nvarchar(50),
	@statusDescription51 nvarchar(50)
AS
BEGIN
	DECLARE @ROW_COUNT int, @ROW_COUNT_STATUS_ID_50 int, @ROW_COUNT_STATUS_ID_51 int, @IS_STATUS_ID_50 int = 0, @IS_STATUS_ID_51 int = 0

	SELECT @ROW_COUNT = COUNT(REF_DOC_NO) FROM tbloutboundline 
	WHERE C_ID = @companyCodeId AND 
	PLANT_ID = @plantId AND 
	LANG_ID = @languageId AND 
	WH_ID = @warehouseId AND 
	REF_DOC_NO = @refDocNumber AND
	PRE_OB_NO = @preOutboundNo AND
	IS_DELETED = 0 
	GROUP BY REF_DOC_NO

	SELECT @ROW_COUNT_STATUS_ID_51 = COUNT(REF_DOC_NO) FROM tbloutboundline 
	WHERE C_ID = @companyCodeId AND 
	PLANT_ID = @plantId AND 
	LANG_ID = @languageId AND 
	WH_ID = @warehouseId AND 
	REF_DOC_NO = @refDocNumber AND
	PRE_OB_NO = @preOutboundNo AND
	STATUS_ID in (@statusId47, @statusId51) AND
	IS_DELETED = 0 
	GROUP BY REF_DOC_NO
	
	SELECT @ROW_COUNT_STATUS_ID_50 = COUNT(REF_DOC_NO) FROM tbloutboundline 
	WHERE C_ID = @companyCodeId AND 
	PLANT_ID = @plantId AND 
	LANG_ID = @languageId AND 
	WH_ID = @warehouseId AND 
	REF_DOC_NO = @refDocNumber AND
	PRE_OB_NO = @preOutboundNo AND
	STATUS_ID = @statusId50 AND
	IS_DELETED = 0 
	GROUP BY REF_DOC_NO

	IF @ROW_COUNT = @ROW_COUNT_STATUS_ID_50
	BEGIN
		SET @IS_STATUS_ID_50 = 1
	END	
	
	IF @ROW_COUNT = @ROW_COUNT_STATUS_ID_51
	BEGIN
		SET @IS_STATUS_ID_51 = 1
	END	

	IF @IS_STATUS_ID_51 = 1
	BEGIN
		UPDATE tbloutboundheader
			SET STATUS_ID = @statusId51,
			STATUS_TEXT = @statusDescription51,
			DLV_UTD_ON = @updatedOn,
			DLV_UTD_BY = @updatedBy
			WHERE C_ID = @companyCodeId AND 
				PLANT_ID = @plantId AND 
				LANG_ID = @languageId AND 
				WH_ID = @warehouseId AND 
				REF_DOC_NO = @refDocNumber AND
				PRE_OB_NO = @preOutboundNo AND
				IS_DELETED = 0
			
			UPDATE tblpreoutboundheader
			SET STATUS_ID = @statusId51,
			STATUS_TEXT = @statusDescription51,
			PRE_OB_UTD_ON = @updatedOn,
			PRE_OB_UTD_BY = @updatedBy
			WHERE C_ID = @companyCodeId AND 
				PLANT_ID = @plantId AND 
				LANG_ID = @languageId AND 
				WH_ID = @warehouseId AND 
				REF_DOC_NO = @refDocNumber AND
				PRE_OB_NO = @preOutboundNo AND
				IS_DELETED = 0
	END
	
	IF @IS_STATUS_ID_50 = 1
	BEGIN
		UPDATE tbloutboundheader
			SET STATUS_ID = @statusId50,
			STATUS_TEXT = @statusDescription50,
			DLV_UTD_ON = @updatedOn,
			DLV_UTD_BY = @updatedBy
			WHERE C_ID = @companyCodeId AND 
				PLANT_ID = @plantId AND 
				LANG_ID = @languageId AND 
				WH_ID = @warehouseId AND 
				REF_DOC_NO = @refDocNumber AND
				PRE_OB_NO = @preOutboundNo AND
				IS_DELETED = 0
	END			
END				
GO
/****** Object:  StoredProcedure [dbo].[obline_update_qlcreate_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, String preInboundNo, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[obline_update_qlcreate_proc] 
	@companyCodeId nvarchar(10), 
	@plantId nvarchar(10), 
	@languageId nvarchar(10), 
	@warehouseId nvarchar(5), 
	@preOutboundNo nvarchar(20), 
	@refDocNumber nvarchar(20),
	@partnerCode nvarchar(20),
	@lineNumber int,
	@itmCode nvarchar(20),	
	@deliveryQty float(2),
	@deliveryOrderNo nvarchar(20),
	@statusDescription nvarchar(25),
	@statusId int
AS
	UPDATE tbloutboundline
	SET DLV_QTY = @deliveryQty,		
		DLV_ORD_NO = @deliveryOrderNo,
		STATUS_TEXT = @statusDescription,
		STATUS_ID = @statusId
	WHERE C_ID = @companyCodeId 
	AND PLANT_ID = @plantId
	AND LANG_ID = @languageId
	AND WH_ID = @warehouseId
	AND PRE_OB_NO = @preOutboundNo
	AND REF_DOC_NO = @refDocNumber
	AND PARTNER_CODE = @partnerCode
	AND OB_LINE_NO = @lineNumber
	AND ITM_CODE = @itmCode
GO
/****** Object:  StoredProcedure [dbo].[outbound_header_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[outbound_header_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@statusId bigint,
	@statusDescription nvarchar(50),
	@deliveryConfirmedOn DATETIME
		
AS
BEGIN

	UPDATE tbloutboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, DLV_CNF_ON = @deliveryConfirmedOn
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
		  REF_DOC_NO = @refDocNumber AND IS_DELETED = 0
END			
GO
/****** Object:  StoredProcedure [dbo].[outbound_process_delete_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[outbound_process_delete_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@outboundOrderTypeId nvarchar(25)
		
AS
BEGIN

	delete tblpreoutboundline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND OB_ORD_TYP_ID = @outboundOrderTypeId
	delete tblpreoutboundheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND OB_ORD_TYP_ID = @outboundOrderTypeId
	delete tblordermangementline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND OB_ORD_TYP_ID = @outboundOrderTypeId
	delete tblordermangementheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND OB_ORD_TYP_ID = @outboundOrderTypeId
	delete tbloutboundline WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND OB_ORD_TYP_ID = @outboundOrderTypeId
	delete tbloutboundheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND OB_ORD_TYP_ID = @outboundOrderTypeId
	delete tblpickupheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND OB_ORD_TYP_ID = @outboundOrderTypeId

END
GO
/****** Object:  StoredProcedure [dbo].[outboundline_status_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[outboundline_status_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preOutboundNo nvarchar(25), 
	@itmCode nvarchar(50), 
	@manufacturerName nvarchar(20),
	@partnerCode nvarchar(20),
	@handlingEquipment nvarchar(20),
	@assignedPickerId nvarchar(25) = NULL,
	@lineNumber bigint,
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedOn DATETIME
	
AS
BEGIN

	-- Set assignedPickerId as Null when assignedPickerId = 0 since Spring boot to stored procedure unable to send null value input
    IF @assignedPickerId = '0'
	BEGIN
	SET @assignedPickerId = NULL
	END

	UPDATE tbloutboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, DLV_UTD_ON = @updatedOn, 
	HE_NO = @handlingEquipment
	, ass_picker_id = @assignedPickerId
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND ITM_CODE = @itmCode AND 
			MFR_NAME = @manufacturerName AND OB_LINE_NO = @lineNumber AND PARTNER_CODE = @partnerCode AND IS_DELETED = 0
END			
GO
/****** Object:  StoredProcedure [dbo].[paheader_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[paheader_status_update_ib_cnf_proc]  
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE IBL SET IBL.STATUS_ID = @statusId, IBL.STATUS_TEXT = @statusDescription, 
	IBL.PA_CNF_BY = @updatedBy, IBL.PA_CNF_ON = @updatedOn
	FROM tblputawayheader IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME FROM tblinboundline
	WHERE 
			IS_DELETED = 0 AND REF_FIELD_2 = 'TRUE' AND status_id = @statusId AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ref_field_5 = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.REF_FIELD_9 = X.IB_LINE_NO AND IBL.IS_DELETED = 0

END
GO
/****** Object:  StoredProcedure [dbo].[pibheader_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[pibheader_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblpreinboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	UTD_BY = @updatedBy, UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo

END			
GO
/****** Object:  StoredProcedure [dbo].[pickupheader_status_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[pickupheader_status_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preOutboundNo nvarchar(25), 
	@itmCode nvarchar(50), 
	@manufacturerName nvarchar(20),
	@partnerCode nvarchar(20),
	@pickupNumber nvarchar(25),
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN
	UPDATE tblpickupheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	PICK_UTD_ON = @updatedOn, PICK_CNF_ON = @updatedOn, PICK_UTD_BY = @updatedBy, PICK_CNF_BY = @updatedBy
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_OB_NO = @preOutboundNo AND ITM_CODE = @itmCode AND 
			MFR_NAME = @manufacturerName AND PU_NO = @pickupNumber AND PARTNER_CODE = @partnerCode AND IS_DELETED = 0
END			
GO
/****** Object:  StoredProcedure [dbo].[pre_ib_line_status_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[pre_ib_line_status_update_proc]
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50)
		
AS
BEGIN

	UPDATE tblpreinboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo

END
GO
/****** Object:  StoredProcedure [dbo].[preinboundline_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[preinboundline_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE IBL SET IBL.STATUS_ID = @statusId, IBL.STATUS_TEXT = @statusDescription, 
	IBL.UTD_BY = @updatedBy, IBL.UTD_ON = @updatedOn
	FROM tblpreinboundline IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME FROM tblinboundline
	WHERE 
			IS_DELETED = 0 AND REF_FIELD_2 = 'TRUE' AND status_id = @statusId AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ITM_CODE = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.IB_LINE_NO = X.IB_LINE_NO AND IBL.IS_DELETED = 0

END			
GO
/****** Object:  StoredProcedure [dbo].[preoutbound_header_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[preoutbound_header_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@statusId bigint,
	@statusDescription nvarchar(50)
		
AS
BEGIN
	UPDATE tblpreoutboundheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
		  REF_DOC_NO = @refDocNumber AND IS_DELETED = 0
END			
GO
/****** Object:  StoredProcedure [dbo].[putawayline_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[putawayline_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE IBL SET IBL.STATUS_ID = @statusId, IBL.STATUS_TEXT = @statusDescription, 
	-- IBL.PA_CNF_BY = @updatedBy, 
    IBL.PA_CNF_ON = @updatedOn
	FROM tblputawayline IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME FROM tblinboundline
	WHERE 
			IS_DELETED = 0 AND REF_FIELD_2 = 'TRUE' AND status_id = @statusId AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ITM_CODE = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.IB_LINE_NO = X.IB_LINE_NO AND IBL.IS_DELETED = 0

END			
GO
/****** Object:  StoredProcedure [dbo].[quality_header_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE   PROCEDURE [dbo].[quality_header_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@qualityInspectionNo nvarchar(25),
	@statusId bigint,
	@statusDescription nvarchar(50),
    @created nvarchar(50)
		
AS
BEGIN

    DECLARE @createdBy nvarchar(50), @condition int
    
    select @createdBy = qc_ctd_by from tblqualityheader WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
		  QC_NO = @qualityInspectionNo AND IS_DELETED = 0;

    IF @createdBy = 'MW_AMS'
	BEGIN
		SET @condition = 1
	END

    IF @createdBy <> 'MW_AMS'
	BEGIN
		SET @condition = 0
	END

    IF @condition = 0
    BEGIN
	UPDATE tblqualityheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, ref_field_10 = @statusDescription
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
		  QC_NO = @qualityInspectionNo AND IS_DELETED = 0
    END

    IF @condition = 1
    BEGIN
	UPDATE tblqualityheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, ref_field_10 = @statusDescription, qc_ctd_by = @created
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
		  QC_NO = @qualityInspectionNo AND IS_DELETED = 0
    END

END			
GO
/****** Object:  StoredProcedure [dbo].[sp_stock_report]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[sp_stock_report]
    @companyCodeId nvarchar(10),
    @plantId nvarchar(10),
    @languageId nvarchar(10),
    @warehouseId nvarchar(10),
    @itemCode nvarchar(255) = NULL,
	@manufacturerName nvarchar(255) = NULL,
	@itemText nvarchar(255) = NULL,
	@stockTypeText nvarchar(255) = NULL

AS
BEGIN

	Declare @binClassId int = NULL
	
    -- Validate the input parameters
    IF @companyCodeId IS NULL OR @companyCodeId = ''
    BEGIN
        RAISERROR('Invalid companyCodeId ', 16, 1)
        RETURN
    END
	
	IF @plantId IS NULL OR @plantId = ''
    BEGIN
        RAISERROR('Invalid plantId ', 16, 1)
        RETURN
    END
	
	IF @languageId IS NULL OR @languageId = ''
    BEGIN
        RAISERROR('Invalid languageId ', 16, 1)
        RETURN
    END
	
	IF @warehouseId IS NULL OR @warehouseId = ''
    BEGIN
        RAISERROR('Invalid warehouse id', 16, 1)
        RETURN
    END
	
    -- Set itemCode as Null when itemCode = 0 since Spring boot to stored procedure unable to send null value input
    IF @itemCode = '0'
	BEGIN
	SET @itemCode = NULL
	END

	-- Set manufacturerName as Null when manufacturerName = 0 since Spring boot to stored procedure unable to send null value input
    IF @manufacturerName = '0'
	BEGIN
	SET @manufacturerName = NULL
	END
	
	-- Set itemText as Null when itemText = 0 since Spring boot to stored procedure unable to send null value input
    IF @itemText = '0'
	BEGIN
	SET @itemText = NULL
	END
	
	-- Set @stockTypeText as Null when stockTypeText = 0 since Spring boot to stored procedure unable to send null value input
    IF @stockTypeText = '0'
	BEGIN
	SET @binClassId = NULL
	END
	IF @stockTypeText = '1'
	BEGIN
	SET @binClassId = 1
	END
	IF @stockTypeText = '7'
	BEGIN
	SET @binClassId = 7
	END
	IF @stockTypeText = '3'
	BEGIN
	SET @binClassId = 3
	END
	
	-- Create Temporary Table STOCKREPORT
	create table #STOCKREPORT 
				(C_ID NVARCHAR(10), 
				PLANT_ID NVARCHAR(10), 
				LANG_ID NVARCHAR(10), 
				WH_ID NVARCHAR(10), 
				ITM_CODE NVARCHAR(200), 
				MFR_NAME NVARCHAR(100), 
				TEXT NVARCHAR(255), 
				INV_QTY FLOAT, 
				ALLOC_QTY FLOAT, 
				TOT_QTY FLOAT, 
				C_TEXT NVARCHAR(50), 
				PLANT_TEXT NVARCHAR(50), 
				WH_TEXT NVARCHAR(50), 
				PRIMARY KEY (C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME));

	-- itemCode and Description from imbasicData1 to temp table 
	INSERT INTO #STOCKREPORT(C_ID,PLANT_ID,WH_ID,LANG_ID,ITM_CODE,TEXT,MFR_NAME,C_TEXT,PLANT_TEXT,WH_TEXT) 
	SELECT C_ID,PLANT_ID,WH_ID,LANG_ID,ITM_CODE,TEXT,MFR_PART,C_TEXT,PLANT_TEXT,WH_TEXT FROM TBLIMBASICDATA1 
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0 
	AND WH_ID = @warehouseId
	AND ITM_CODE = ISNULL(@itemCode,itm_code)
	AND TEXT = ISNULL(@itemText,text)
	AND MFR_PART = ISNULL(@manufacturerName,MFR_PART)
	
	select max(inv_id) inventoryId into #inv from tblinventory 
	group by itm_code,mfr_name,st_bin,plant_id,wh_id,c_id,lang_id
	
	--inv_qty from tblinventory to temp table
	UPDATE TH SET TH.INV_QTY = X.invQty,TH.ALLOC_QTY = X.allocQty,TH.TOT_QTY = X.totQty FROM #stockreport TH INNER JOIN 
	(select c_id, plant_id, lang_id, wh_id, itm_code, mfr_name, sum(INV_QTY) invQty, sum(ALLOC_QTY) allocQty, sum(REF_FIELD_4) totQty 
	from tblinventory 
	where 
	inv_id in (select inventoryId from #inv) and 
	bin_cl_id = ISNULL(@binClassId,bin_cl_id) AND 
	--bin_cl_id != 3 AND
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0 
	AND WH_ID = @warehouseId
	group by itm_code,mfr_name,c_id, plant_id, lang_id, wh_id
	) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.WH_ID = TH.WH_ID AND X.LANG_ID = TH.LANG_ID AND 
	X.ITM_CODE = TH.ITM_CODE AND X.MFR_NAME = TH.MFR_NAME
	
	TRUNCATE TABLE tblstockreportoutput
	
	INSERT INTO tblstockreportoutput(C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME,TEXT,INV_QTY,ALLOC_QTY,TOT_QTY,C_TEXT,PLANT_TEXT,WH_TEXT)

	(select 
	C_ID, 
	PLANT_ID, 
	LANG_ID, 
	WH_ID, 
	ITM_CODE, 
	MFR_NAME, 
	TEXT, 
	COALESCE(INV_QTY,0) invQty, 
	COALESCE(ALLOC_QTY,0) allocQty, 
	COALESCE(TOT_QTY,0) totQty, 
	C_TEXT, 
	PLANT_TEXT, 
	WH_TEXT 
	from  
	#stockreport)
		
END

GO
/****** Object:  StoredProcedure [dbo].[sp_thr]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE   PROCEDURE [dbo].[sp_thr]
    @companyCodeId varchar(10),
    @plantId varchar(10),
    @languageId varchar(10),
    @warehouseId varchar(10),
    @itemCode varchar(255) = NULL,
	@manufacturerName varchar(255) = NULL,
	@openingStockDateFrom DATETIME,
    @openingStockDateTo DATETIME,
	@closingStockDateFrom DATETIME,
    @closingStockDateTo DATETIME
AS
BEGIN
    -- Validate the input parameters
    IF @companyCodeId IS NULL OR @companyCodeId = ''
    BEGIN
        RAISERROR('Invalid companyCodeId ', 16, 1)
        RETURN
    END
	
	IF @plantId IS NULL OR @plantId = ''
    BEGIN
        RAISERROR('Invalid plantId ', 16, 1)
        RETURN
    END
	
	IF @languageId IS NULL OR @languageId = ''
    BEGIN
        RAISERROR('Invalid languageId ', 16, 1)
        RETURN
    END
	
	IF @warehouseId IS NULL OR @warehouseId = ''
    BEGIN
        RAISERROR('Invalid warehouse id', 16, 1)
        RETURN
    END
	
	IF @openingStockDateFrom IS NULL OR @openingStockDateTo IS NULL
    BEGIN
        RAISERROR('Invalid date range', 16, 1)
        RETURN
    END
	
	IF @closingStockDateFrom IS NULL OR @closingStockDateTo IS NULL
    BEGIN
        RAISERROR('Invalid date range', 16, 1)
        RETURN
    END
    -- Set itemCode as Null when itemCode = 0 since Spring boot to stored procedure unable to send null value input
    IF @itemCode = '0'
	BEGIN
	SET @itemCode = NULL
	END

	-- Set manufacturerName as Null when manufacturerName = 0 since Spring boot to stored procedure unable to send null value input
    IF @manufacturerName = '0'
	BEGIN
	SET @manufacturerName = NULL
	END
	
		-- Create Temporary Table tbltransactionhistoryresults
	CREATE TABLE #THR
	(C_ID NVARCHAR(10),
	PLANT_ID NVARCHAR(10),
	LANG_ID NVARCHAR(10),
	WH_ID NVARCHAR(10),
	C_TEXT NVARCHAR(50),
	PLANT_TEXT NVARCHAR(50),
	WH_TEXT NVARCHAR(50),
	ITM_CODE NVARCHAR(200),
	MFR_NAME NVARCHAR(100),
	TEXT NVARCHAR(255),
	IS_OS_QTY FLOAT DEFAULT 0,
	PA_OS_QTY FLOAT DEFAULT 0,
	PI_OS_QTY FLOAT DEFAULT 0,
	IV_OS_QTY FLOAT DEFAULT 0,
	PA_CS_QTY FLOAT DEFAULT 0,
	PI_CS_QTY FLOAT DEFAULT 0,
	IV_CS_QTY FLOAT DEFAULT 0,
	IV_QTY FLOAT DEFAULT 0,
	PRIMARY KEY (C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME));

	-- itemCode and Description from imbasicData1 to temp table 
	INSERT INTO #THR(C_ID,PLANT_ID,WH_ID,LANG_ID,ITM_CODE,TEXT,MFR_NAME,C_TEXT,PLANT_TEXT,WH_TEXT) 
	SELECT C_ID,PLANT_ID,WH_ID,LANG_ID,ITM_CODE,TEXT,MFR_PART,C_TEXT,PLANT_TEXT,WH_TEXT FROM TBLIMBASICDATA1 
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0 
	AND WH_ID = @warehouseId
	AND itm_code = ISNULL(@itemCode,ITM_CODE)
	AND MFR_PART = ISNULL(@manufacturerName,MFR_PART)
	
	-- update the temp table with inventory qty and allocated qty from inventorystock table
	SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME,INV_QTY,ALLOC_QTY,BIN_CL_ID 
	INTO #IVS FROM TBLINVENTORYSTOCK 
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0  
	AND BIN_CL_ID IN (1,7) 
	AND WH_ID=@warehouseId
	
	-- update the temp table with inventory qty and allocated qty from inventory table

	select max(inv_id) inventoryId into #inv from tblinventory 
    WHERE IS_DELETED = 0 group by itm_code,barcode_id,mfr_name,pack_barcode,st_bin,plant_id,wh_id,c_id,lang_id

	SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME,BARCODE_ID,INV_QTY,ALLOC_QTY,BIN_CL_ID,REF_FIELD_4 
	INTO #IV FROM TBLINVENTORY 
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0  
	AND BIN_CL_ID IN (1,7) 
	AND WH_ID=@warehouseId AND INV_ID IN (SELECT inventoryId from #inv)
	
	-- putaway line table to temp table pal
	SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME,PA_CNF_QTY,PA_CTD_ON,STATUS_ID 
	INTO #PAL FROM TBLPUTAWAYLINE 
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0  
	AND STATUS_ID IN (24) 
	AND WH_ID=@warehouseId 
	AND PA_CTD_ON BETWEEN @openingStockDateFrom AND @closingStockDateTo
	
	--pickup line table to temp table pul
	SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME,PICK_CNF_QTY,PICK_CTD_ON,STATUS_ID 
	INTO #PUL FROM TBLPICKUPLINE 
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0  
	AND STATUS_ID IN (50,59) 
	AND WH_ID=@warehouseId 
	AND PICK_CTD_ON BETWEEN @openingStockDateFrom AND @closingStockDateTo

	--SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME,DLV_QTY PICK_CNF_QTY,DLV_CTD_ON PICK_CTD_ON,STATUS_ID 
	--INTO #PUL FROM TBLOUTBOUNDLINE 
	--WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0  
	--AND STATUS_ID IN (50,59) 
	--AND WH_ID=@warehouseId 
	--AND DLV_CTD_ON BETWEEN @openingStockDateFrom AND @closingStockDateTo

	-- inv movement table to temp table ivm
	SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_PART,MVT_QTY,IM_CTD_ON,MVT_TYP_ID,SUB_MVT_TYP_ID 
	INTO #IVM FROM TBLINVENTORYMOVEMENT 
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND IS_DELETED = 0  
	AND MVT_TYP_ID = 4 AND SUB_MVT_TYP_ID = 1 
	AND WH_ID=@warehouseId AND IM_CTD_ON BETWEEN @openingStockDateFrom AND @closingStockDateTo
	
	-- IVS Temp Table to THR
	UPDATE TH SET TH.IS_OS_QTY = X.VALUE FROM #THR TH INNER JOIN
	(SELECT (SUM(COALESCE(INV_QTY,0)) + SUM(COALESCE(ALLOC_QTY,0))) VALUE, ITM_CODE, MFR_NAME, C_ID, PLANT_ID, WH_ID, LANG_ID FROM #IVS
	WHERE 
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
	BIN_CL_ID IN (1,7) AND 
	WH_ID=@warehouseId 
	GROUP BY ITM_CODE,MFR_NAME,C_ID,PLANT_ID,LANG_ID,WH_ID,LANG_ID) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.ITM_CODE=TH.ITM_CODE AND X.MFR_NAME = TH.MFR_NAME
	
	-- IV Temp Table to THR
	UPDATE TH SET TH.IV_QTY = X.VALUE FROM #THR TH INNER JOIN
	(SELECT SUM(REF_FIELD_4) VALUE, ITM_CODE, MFR_NAME, C_ID, PLANT_ID, WH_ID, LANG_ID FROM #IV
	WHERE 
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
	BIN_CL_ID IN (1,7) AND 
	WH_ID=@warehouseId 
	GROUP BY ITM_CODE,MFR_NAME,C_ID,PLANT_ID,LANG_ID,WH_ID,LANG_ID
	) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.ITM_CODE=TH.ITM_CODE AND X.MFR_NAME = TH.MFR_NAME
	
	-- PAL Temp Table to THR
	UPDATE TH SET TH.PA_OS_QTY = X.VALUE FROM #THR TH INNER JOIN
	(SELECT SUM(PA_CNF_QTY) VALUE,ITM_CODE,MFR_NAME, C_ID, PLANT_ID, WH_ID, LANG_ID FROM #PAL 
	WHERE 
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
	STATUS_ID IN (24) AND 
	WH_ID=@warehouseId 
	AND PA_CTD_ON BETWEEN @openingStockDateFrom AND @openingStockDateTo 
	GROUP BY ITM_CODE,MFR_NAME,C_ID,PLANT_ID,LANG_ID,WH_ID,LANG_ID) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.ITM_CODE=TH.ITM_CODE AND X.MFR_NAME = TH.MFR_NAME

	-- PUL Temp Table to THR
	UPDATE TH SET TH.PI_OS_QTY = X.VALUE FROM #THR TH INNER JOIN
	(SELECT SUM(PICK_CNF_QTY) VALUE,ITM_CODE,MFR_NAME, C_ID, PLANT_ID, WH_ID, LANG_ID FROM #PUL 
	WHERE 
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
	STATUS_ID IN (50,59) AND
	WH_ID=@warehouseId 
	AND PICK_CTD_ON BETWEEN @openingStockDateFrom AND @openingStockDateTo 
	GROUP BY ITM_CODE,MFR_NAME,C_ID,PLANT_ID,LANG_ID,WH_ID,LANG_ID) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.ITM_CODE=TH.ITM_CODE AND X.MFR_NAME = TH.MFR_NAME

	-- IVM Temp Table to THR
	UPDATE TH SET TH.IV_OS_QTY = X.VALUE FROM #THR TH INNER JOIN
	(SELECT SUM(MVT_QTY) VALUE,ITM_CODE,MFR_PART, C_ID, PLANT_ID, WH_ID, LANG_ID FROM #IVM 
	WHERE 	
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
	MVT_TYP_ID = 4 AND SUB_MVT_TYP_ID = 1 AND
	WH_ID=@warehouseId 
	AND IM_CTD_ON BETWEEN @openingStockDateFrom AND @openingStockDateTo 
	GROUP BY ITM_CODE,MFR_PART,C_ID,PLANT_ID,LANG_ID,WH_ID,LANG_ID) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.ITM_CODE=TH.ITM_CODE AND X.MFR_PART = TH.MFR_NAME

	-- PAL Temp Table to THR (closingStock)
	UPDATE TH SET TH.PA_CS_QTY = X.VALUE FROM #THR TH INNER JOIN
	(SELECT SUM(PA_CNF_QTY) VALUE,ITM_CODE,MFR_NAME, C_ID, PLANT_ID, WH_ID, LANG_ID FROM #PAL 
	WHERE 	
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
	STATUS_ID IN (24) AND
	WH_ID=@warehouseId 
	AND PA_CTD_ON BETWEEN @closingStockDateFrom AND @closingStockDateTo 
	GROUP BY ITM_CODE,MFR_NAME,C_ID,PLANT_ID,LANG_ID,WH_ID,LANG_ID) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.ITM_CODE=TH.ITM_CODE AND X.MFR_NAME = TH.MFR_NAME

	-- PUL Temp Table to THR (closingStock)
	UPDATE TH SET TH.PI_CS_QTY = X.VALUE FROM #THR TH INNER JOIN
	(SELECT SUM(PICK_CNF_QTY) VALUE,ITM_CODE,MFR_NAME, C_ID, PLANT_ID, WH_ID, LANG_ID FROM #PUL 
	WHERE 	
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
	STATUS_ID IN (50,59) AND
	WH_ID=@warehouseId 
	AND PICK_CTD_ON BETWEEN @closingStockDateFrom AND @closingStockDateTo 
	GROUP BY ITM_CODE,MFR_NAME,C_ID,PLANT_ID,LANG_ID,WH_ID,LANG_ID) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.ITM_CODE=TH.ITM_CODE AND X.MFR_NAME = TH.MFR_NAME

	-- IVM Temp Table to THR (closingStock)
	UPDATE TH SET TH.IV_CS_QTY = X.VALUE FROM #THR TH INNER JOIN
	(SELECT SUM(MVT_QTY) VALUE,ITM_CODE,MFR_PART, C_ID, PLANT_ID, WH_ID, LANG_ID FROM #IVM 
	WHERE 	 
	C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
	MVT_TYP_ID = 4 AND SUB_MVT_TYP_ID = 1 AND
	WH_ID=@warehouseId 
	AND IM_CTD_ON BETWEEN @closingStockDateFrom AND @closingStockDateTo 
	GROUP BY ITM_CODE,MFR_PART,C_ID,PLANT_ID,LANG_ID,WH_ID,LANG_ID) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.ITM_CODE=TH.ITM_CODE AND X.MFR_PART = TH.MFR_NAME
	
	TRUNCATE TABLE tbltransactionhistoryresults
	
	INSERT INTO tbltransactionhistoryresults(company_code_id,plant_id,language_id,warehouse_id,
	opening_stock,inbound_qty,outbound_qty,stock_adjustment_qty,system_inventory,item_code,description,C_TEXT,PLANT_TEXT,WH_TEXT,MFR_NAME,closing_stock,variance)

	(
	SELECT *, (closingStock - systemInventory) variance
	FROM
	(SELECT *,
	(openingStock+inboundQty+stockAdjustmentQty-outboundQty) closingStock
	FROM
	(SELECT
	c_id companyCodeId,
	plant_id plantId,
	lang_id languageId,
	wh_id warehouseId,
	((COALESCE(IS_OS_QTY,0)+COALESCE(PA_OS_QTY,0)+COALESCE(IV_OS_QTY,0))-COALESCE(PI_OS_QTY,0)) openingStock,
	COALESCE(PA_CS_QTY,0) inboundQty,
	COALESCE(PI_CS_QTY,0) outboundQty,
	COALESCE(IV_CS_QTY,0) stockAdjustmentQty,
	COALESCE(IV_QTY,0) systemInventory,
	ITM_CODE itemCode,
	TEXT description,
	C_TEXT,
	PLANT_TEXT,
	WH_TEXT,
	MFR_NAME
	FROM #THR) X) X1)
		
END

GO
/****** Object:  StoredProcedure [dbo].[staging_line_update_new_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[staging_line_update_new_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 
	@updatedOn DATETIME
AS
BEGIN
		
	UPDATE IBL SET IBL.REC_ACCEPT_QTY = X.ACCEPTQTY, 
				   IBL.REC_DAMAGE_QTY = X.DAMAGEQTY, 
				   IBL.ST_UTD_ON = @updatedOn, IBL.ST_CNF_ON = @updatedOn				   
	FROM tblstagingline IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME,
	SUM(ACCEPT_QTY) ACCEPTQTY,SUM(DAMAGE_QTY) DAMAGEQTY
	FROM tblgrline
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
		  WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
		  GROUP BY ITM_CODE,MFR_NAME,IB_LINE_NO,REF_DOC_NO,PRE_IB_NO,WH_ID,PLANT_ID,C_ID,LANG_ID
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ITM_CODE = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.IB_LINE_NO = X.IB_LINE_NO AND IBL.IS_DELETED = 0

	UPDATE IBL SET IBL.STATUS_ID = X.STATUS_ID, IBL.STATUS_TEXT = X.STATUS_TEXT
	FROM tblstagingline IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME,
	STATUS_ID,STATUS_TEXT
	FROM tblgrline
	WHERE IS_DELETED = 0 AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND 
		  WH_ID = @warehouseId AND REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND STATUS_ID <> 24 AND
		  GR_CTD_ON IN (SELECT MAX(GR_CTD_ON) FROM TBLGRLINE GROUP BY ITM_CODE,MFR_NAME,IB_LINE_NO,REF_DOC_NO,PRE_IB_NO)
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ITM_CODE = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.IB_LINE_NO = X.IB_LINE_NO AND IBL.IS_DELETED = 0
	
END	
GO
/****** Object:  StoredProcedure [dbo].[staging_line_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[staging_line_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 
	@itmCode nvarchar(50), 
	@manufacturerName nvarchar(20),
	@lineNumber bigint,
	@updatedOn DATETIME,
	@recAcceptQty float,
	@recDamageQty float
AS
BEGIN
	DECLARE @NEW_ACCEPT_QTY float, @NEW_DAMAGE_QTY float, @ACCEPT_QTY float, @DAMAGE_QTY float, @GR_STATUS_ID bigint, @GR_STATUS_TEXT nvarchar(30)

	SELECT @ACCEPT_QTY = rec_accept_qty, @DAMAGE_QTY = rec_damage_qty
	FROM tblstagingline
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND
	REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND
	ITM_CODE = @itmcode AND MFR_NAME = @manufacturerName AND IB_LINE_NO = @lineNumber AND IS_DELETED = 0
	
	SELECT @GR_STATUS_ID = status_id, @GR_STATUS_TEXT = status_text
	FROM tblgrline
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND
	REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND
	ITM_CODE = @itmcode AND MFR_NAME = @manufacturerName AND IB_LINE_NO = @lineNumber AND IS_DELETED = 0

	IF @ACCEPT_QTY IS NULL
	BEGIN
		SET @ACCEPT_QTY = 0
	END	

	IF @DAMAGE_QTY IS NULL
	BEGIN
		SET @DAMAGE_QTY = 0
	END	

	BEGIN
		SET @NEW_ACCEPT_QTY = (@ACCEPT_QTY + @recAcceptQty)
		SET @NEW_DAMAGE_QTY = (@DAMAGE_QTY + @recDamageQty)
	END

	UPDATE tblstagingline
	SET REC_ACCEPT_QTY = @NEW_ACCEPT_QTY, REC_DAMAGE_QTY = @NEW_DAMAGE_QTY, 
	ST_UTD_ON = @updatedOn, ST_CNF_ON = @updatedOn, 
	STATUS_ID = @GR_STATUS_ID, STATUS_TEXT = @GR_STATUS_TEXT
	WHERE C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND
	REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo AND
	ITM_CODE = @itmcode AND MFR_NAME = @manufacturerName AND IB_LINE_NO = @lineNumber AND IS_DELETED = 0
END	
GO
/****** Object:  StoredProcedure [dbo].[stagingline_inv_qty_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[stagingline_inv_qty_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25)
		
AS
BEGIN
	
	SELECT MAX(INV_ID) inventoryId into #invt FROM tblinventory GROUP BY ITM_CODE,MFR_NAME,ST_BIN,PLANT_ID,WH_ID,C_ID,LANG_ID

	SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME,SUM(REF_FIELD_4) invQty into #invtemptable FROM tblinventory 
	WHERE IS_DELETED = 0 AND BIN_CL_ID IN (1,7) 
	AND C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId
	AND INV_ID IN (SELECT inventoryId FROM #invt)
	GROUP BY ITM_CODE,MFR_NAME,PLANT_ID,WH_ID,C_ID,LANG_ID

	UPDATE TH SET TH.INV_QTY = X.invQty FROM tblstagingline TH INNER JOIN 
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,ITM_CODE,MFR_NAME,invQty FROM #invtemptable) X ON 
	X.C_ID = TH.C_ID AND X.PLANT_ID = TH.PLANT_ID AND X.LANG_ID = TH.LANG_ID AND X.WH_ID = TH.WH_ID 
	AND X.ITM_CODE = TH.ITM_CODE AND X.MFR_NAME = TH.MFR_NAME AND TH.REF_DOC_NO = @refDocNumber AND TH.PRE_IB_NO = @preInboundNo

END	
GO
/****** Object:  StoredProcedure [dbo].[stagingline_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[stagingline_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE IBL SET IBL.STATUS_ID = @statusId, IBL.STATUS_TEXT = @statusDescription, 
	IBL.ST_CNF_BY = @updatedBy, IBL.ST_CNF_ON = @updatedOn
	FROM tblstagingline IBL INNER JOIN
	(SELECT C_ID,PLANT_ID,LANG_ID,WH_ID,REF_DOC_NO,PRE_IB_NO,IB_LINE_NO,ITM_CODE,MFR_NAME FROM tblinboundline
	WHERE 
			IS_DELETED = 0 AND REF_FIELD_2 = 'TRUE' AND status_id = 24 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
	) X ON
	IBL.C_ID = X.C_ID AND IBL.PLANT_ID = X.PLANT_ID AND IBL.LANG_ID = X.LANG_ID AND IBL.WH_ID = X.WH_ID AND 
	IBL.REF_DOC_NO = X.REF_DOC_NO AND IBL.PRE_IB_NO = X.PRE_IB_NO AND IBL.ITM_CODE = X.ITM_CODE AND 
	IBL.MFR_NAME = X.MFR_NAME AND IBL.IB_LINE_NO = X.IB_LINE_NO AND IBL.IS_DELETED = 0 

END			
GO
/****** Object:  StoredProcedure [dbo].[status_text_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE     PROCEDURE [dbo].[status_text_update_proc] 
	
	@languageId nvarchar(5), 	
	@statusId bigint,
	@statusText nvarchar(50),
	@oldStatusText nvarchar(50)
	
AS
BEGIN
	
update tblpreinboundline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0
update tblpreinboundheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblinboundline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblinboundheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblstagingline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblstagingheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblgrheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblgrline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblputawayline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblputawayheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 

update tblpreoutboundline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblpreoutboundheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblordermangementline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblordermangementheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tbloutboundline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tbloutboundheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblpickupline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblpickupheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblqualityline set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 
update tblqualityheader set status_text = @statusText where status_id = @statusId and status_text = @oldStatusText and lang_id = @languageId and is_deleted = 0 

END		
GO
/****** Object:  StoredProcedure [dbo].[stgheader_status_update_ib_cnf_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- String companyCodeId, String plantId, String languageId, String warehouseId
-- String refDocNumber, Long statusId, String statusDescription,
CREATE     PROCEDURE [dbo].[stgheader_status_update_ib_cnf_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblstagingheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	ST_CNF_BY = @updatedBy, ST_CNF_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo

END			
GO
/****** Object:  StoredProcedure [dbo].[stgl_stgh_ibl_status_update_proc]    Script Date: 3/1/2025 7:45:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[stgl_stgh_ibl_status_update_proc] 
	@companyCodeId nvarchar(5), 
	@plantId nvarchar(5), 
	@languageId nvarchar(5),
	@warehouseId nvarchar(5), 
	@refDocNumber nvarchar(25),
	@preInboundNo nvarchar(25), 	
	@statusId bigint,
	@statusDescription nvarchar(50),
	@updatedBy nvarchar(50),
	@updatedOn DATETIME
		
AS
BEGIN

	UPDATE tblstagingline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	ST_UTD_BY = @updatedBy, ST_UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo

	UPDATE tblstagingheader
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	ST_UTD_BY = @updatedBy, ST_UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo
	
	UPDATE tblinboundline
	SET STATUS_ID = @statusId, STATUS_TEXT = @statusDescription, 
	UTD_BY = @updatedBy, UTD_ON = @updatedOn
	WHERE IS_DELETED = 0 AND 
			C_ID = @companyCodeId AND PLANT_ID = @plantId AND LANG_ID = @languageId AND WH_ID = @warehouseId AND 
			REF_DOC_NO = @refDocNumber AND PRE_IB_NO = @preInboundNo

END
GO
