::ng-deep.mat-dialog-container{padding: 0px;}

.header_colour{background-color: #4faf99;}

//input
::ng-deep .mat-dialog-container {
    color: rgba(0,0,0,1);
}
.input_field{width: 100%;border-color: #dee2e6;}
.input_field1{width: 30%;border-color: #dee2e6;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0 !important;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}


.font-size-1_5rem{font-size: 1.5rem;}
.scroll{height:  calc(100vh - 28.5rem);overflow-y: scroll;overflow-x: hidden;}

.scroll3{height:  calc(100vh - 29.5rem);overflow-y: scroll;overflow-x: scroll;}

.editor {
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
    .NgxEditor__MenuBar {
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
  
    .NgxEditor {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      border: none;
    }
  
    .CodeMirror {
      border: 1px solid #eee;
      height: auto;
      margin-bottom: 0.7rem;
  
      pre {
        white-space: pre !important;
      }
    }
  }
  
  // ::-webkit-file-upload-button {
  //   background: #006990;
  //   color: white;
  //   border-radius: 3px;
  // }


  .table_shadow{filter: drop-shadow(-12px 0px 6px rgba(0, 0, 0, 0.15)) drop-shadow(10px 0px 6px rgba(0, 0, 0, 0.15));}
.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: rgb(53, 53, 53);
    background-color: #e2edf7;
    filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.15));
}


.padding-space{padding-top: 2rem;padding-bottom: 2rem;}

.mat-column-dimensions {
  word-wrap: break-word !important;
  white-space: unset !important;
  flex: 0 0 17% !important;
  width: 16% !important;
  overflow-wrap: break-word;
  word-wrap: break-word;
padding-right: 20px !important;
  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.filter_button{border-top: 2px !important;border-left: 2px !important;border-right: 2px !important; background-color: transparent !important;border-color: #d2d2d2  !important;width: 15rem !important;}
.breadcrumb > li + li::before{color: #6c757d; content: ">";padding: 0 5px;}
.breadcrumb {background-color: transparent !important;color: #222222 !important;}
.breadcrumb-item.active {color: #181818;}
::ng-deep .purple {background-color: #9c27b0;}
::ng-deep .action-button{border-radius: 4px;min-width: 6rem; box-shadow: none !important;}


.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #adadad;
  width: 100%;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}

.mat-column-sno {flex: 0 0 17% !important; width: 8% !important;padding-right: 20px !important;text-align: center;}
.mat-column-itemNumber {flex: 0 0 17% !important; width: 20% !important;padding-right: 0px !important;}
.mat-column-itemDescription {flex: 0 0 17% !important; width: 20% !important;padding-right: 0px !important;}
.mat-column-quantity {flex: 0 0 17% !important; width: 13% !important;padding-right: 0px !important;}
.mat-column-rateperHour {flex: 0 0 17% !important; width: 13% !important;padding-right: 0px !important;}
.mat-column-totalAmount {flex: 0 0 17% !important; width: 15% !important;padding-right: 0px !important;}

