.rounded_100{border-radius: 15px;}
.card_box{width: 85%;}

.space{letter-spacing: 1.6px;text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;}
.font-size-1_6rem{font-size: 1.6rem;}
.scroll1{overflow-y: scroll;height: calc(100vh - 18.2rem);}
.scroll2{overflow-y: scroll !important;height: calc(100vh - 23.5rem) !important;}
.scroll2::-webkit-scrollbar {-webkit-appearance: none;width: 7px}  

.table_shadow{filter: drop-shadow(-12px 0px 6px rgba(0, 0, 0, 0.15)) drop-shadow(10px 0px 6px rgba(0, 0, 0, 0.15));}
.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: rgb(53, 53, 53);
    background-color: #e2edf7;
    filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.15));
}
::ng-deep.mat-paginator-container {
    min-height: 36px;
}
::ng-deep.mat-form-field-wrapper { padding-bottom: 1.1em;}

.mat-dialog-container {
  background-color: greenyellow !important;
}
  //Checkbox
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {background-color: #006990 !important; }
::ng-deep .mat-checkbox-ripple .mat-ripple-element {background-color: #006990 !important;}

.example-sidenav{width: 35rem;}

.filter_button{border-top: 2px !important;border-left: 2px !important;border-right: 2px !important; background-color: transparent !important;border-color: #d2d2d2  !important;width: 15rem !important;}
.breadcrumb > li + li::before{color: #6c757d; content: ">";padding: 0 5px;}
.breadcrumb {background-color: transparent !important;color: #222222 !important;}
.breadcrumb-item.active {color: #181818;}
.breadcrumb-item > a{color: #181818 !important; text-decoration: none !important;}
::ng-deep.mat-drawer-inner-container {
  width: 100%;
  height: 100%;
  overflow-x: hidden  ;
  -webkit-overflow-scrolling: touch;
}
//input
.input_field{width: 80%;border-color: #dee2e6;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0 !important;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}

.dropdown_fields{
  position: relative;
  transition: all 250ms ease-in-out;
  border-radius: 5px;
  color: white;
}
.font_1-5{font-size: 1.2rem;}
.dropdown_fields:hover {
  background: #fff;
  padding-left: 30px;
  width: 100%;
  box-shadow: 0 0 17px rgb(0 0 0 / 40%);
  color: #514E51;
}

::ng-deep .purple {background-color: #9c27b0;}
::ng-deep .action-button{border-radius: 4px;min-width: 6rem; box-shadow: none !important;}

.example-container{margin-top: 4rem;}

.mat-column-select {flex: 0 0 17% !important; width: 0% !important;padding-right: 20px !important;text-align: center !important;}
.mat-column-classId {flex: 0 0 17% !important; width: 13% !important;padding-right: 10px !important;}
.mat-column-mailme {flex: 0 0 17% !important; width: 10% !important;padding-right: 10px !important;}
.mat-column-subCategory {flex: 0 0 17% !important; width: 12% !important;padding-right: 10px !important;}
.mat-column-agreementCode {flex: 0 0 17% !important; width: 11% !important;padding-right: 10px !important;}
.mat-column-caseCategory {flex: 0 0 17% !important; width: 10% !important;padding-right: 10px !important;}
.mat-column-agreementFileDescription {flex: 0 0 17% !important; width: 27% !important;padding-right: 10px !important;}
.mat-column-url {flex: 0 0 17% !important; width: 2% !important;padding-right: 10px !important;}
.mat-column-agreementStatus {flex: 0 0 17% !important; width: 10% !important;padding-right: 10px !important;}
.mat-column-createdBy {flex: 0 0 17% !important; width: 10% !important;padding-right: 10px !important;}