


<form [formGroup]="form" >
    <div class="row mx-1 pl-2">
        <div class="col-12">
          <!--inner header-->
      
          <div class="row  text-secondary pr-0 mt-1">
            <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">
      
      
              <nav aria-label="breadcrumb" class="d-flex align-items-center">
                <ol class="breadcrumb mb-0 bg-white">
                  <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
                  <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Master</li>
                  <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Product</li>
                  <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Batch/Serial</li>
                </ol>
              </nav>
      
      
              <div class="d-flex ml-auto my-auto">
                <div [hidden]="isShowDiv"> <input matInput
                    class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
                </div>
                <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
                  class="button-row d-flex align-items-center">
                  <!--
                              <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                              matTooltip="Add">
                              <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                            </button>
                            -->
                  <button mat-mini-fab *ngIf="showFloatingButtons == true"
                    class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
                    matTooltip="Display">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
                  </button>
                  <button mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
                    matTooltip="Edit" >
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
                  </button>
                  <button mat-mini-fab *ngIf="showFloatingButtons == true" 
                    class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
                    matTooltip="Delete">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
                  </button>
                  <button mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
                    matTooltip="Download">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
                  </button>
                  <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
                    [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
                    <mat-icon>{{icon}}</mat-icon>Options
                  </button>
                  <button mat-mini-fab 
                    class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
                    matTooltip="New">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
                  </button>
                  <button mat-mini-fab
                    class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
                    matTooltip="Save">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
                  </button>
                  <button mat-mini-fab disabled class="text-white mx-2 action-button  bg-red " type="button" 
                    mat-button>
                    <mat-icon class="">tune</mat-icon> Filter
                  </button>
                </div>
      
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2 mx-1 pr-0 w-100">
            <div class=" bg-white col-md-12 px-0" style="height:calc(100vh - 12rem);">
              <div class="">
                <mat-stepper [linear]="isLinear" #stepper>
                  <mat-step >
                    <ng-template matStepLabel>Organization Data</ng-template>
                    <div class="row  boxgrey  mt-2">
                      <div class="col-lg-3 col-md-6 mt-2"> 
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0 text-black required">Language</p>
                          <p-dropdown  placeholder="Select" class="w-100" [filter]="true" [options]="languageList"
                          formControlName="languageId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                          [panelStyle]="{'width':'20%'}" appendTo="body"  > </p-dropdown >
                          <mat-error *ngIf="errorHandling('languageId')">{{getErrorMessage()}}</mat-error>
                        </div>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-2"> 
                        <p class="mb-0 py-0 mb-1 required">Company</p>
                        <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="companyList"
                      formControlName="companyCodeId"  [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                      [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                      <mat-error *ngIf="errorHandling('companyCodeId')">{{getErrorMessage()}}</mat-error>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-2"> 
                        <p class="mb-0 py-0 mb-1 required">Branch</p>
                          <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="plantList"
                          formControlName="plantId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                          [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                          <mat-error *ngIf="errorHandling('plantId')">{{getErrorMessage()}}</mat-error>
                      </div>
                           
                            <div class="col-lg-3 col-md-6 mt-2"> 
                              <p class="mb-0 py-0 mb-1 required">Warehouse No</p>
                              <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="warehouseIdList"
                            formControlName="warehouseId" #warehouseId (onChange)="onWarehouseChange(warehouseId.selectedOption)" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                            [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                            <mat-error *ngIf="errorHandling('warehouseId')">{{getErrorMessage()}}</mat-error>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-2"> 
                                <p class="mb-0 py-0 mb-1 required">Part No</p>
                                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                                    <input matInput placeholder="Enter" formControlName="itemCode">
                                  </mat-form-field>
                                  <mat-error *ngIf="errorHandling('itemCode')">{{getErrorMessage()}}</mat-error>
                              </div>
                              <div class="col-lg-3 col-md-6 mt-2"> 
                                <p class="mb-0 py-0 mb-1 required">Storage Method</p>
                                <mat-form-field class="w-100"  appearance="outline">
                                    <mat-select placeholder="Select"  formControlName="storageMethod"  >
                                      <mat-option *ngFor="let storageMethod of storageMethodList" [value]="storageMethod.storageMethodId">
                                        {{storageMethod.storageMethodId}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                  <mat-error *ngIf="errorHandling('storageMethod')">{{getErrorMessage()}}</mat-error>
                              </div>
                              <div class="col-lg-3 col-md-6 mt-2">
                                <p class="mb-0 py-0 mb-1 ">Maintenance</p>
                              <mat-form-field class="w-100" appearance="outline">
                                <mat-select placeholder="Select" formControlName="maintenance"  >
                                  <mat-option [disabled]="this.js.pageflow=='basicDataEdit'"   *ngFor="let maintainance of maintainanceList"  [value]="maintainance.maintainanceId">
                                    {{maintainance.maintainanceId}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                             
                            </div>
                   
                              <div class="col-lg-3 col-md-6 mt-2"> 
                                <p class="mb-0 py-0 mb-1 ">Current No</p>
                                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                                    <input matInput placeholder="Enter" formControlName="currentNo">
                                  </mat-form-field>
                              </div>
                              <div class="col-lg-3 col-md-6 mt-2"> 
                                <p class="mb-0 py-0 mb-1 ">Range From</p>
                                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                                    <input matInput placeholder="Enter" formControlName="rangeFrom">
                                  </mat-form-field>
                              </div>
                              <div class="col-lg-3 col-md-6 mt-2"> 
                                  <p class="mb-0 py-0 mb-1 ">Range To</p>
                                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                                      <input matInput placeholder="Enter" formControlName="rangeTo">
                                    </mat-form-field>
                                </div>
                                <div class="col-lg-3 col-md-6 mt-2 ">
                                  <div class="d-flex flex-column">
                                    <mat-checkbox class="example-margin" formControlName="shelfLifeIndicator">Shelf Life Indicator</mat-checkbox>
                                  </div>
                                </div>
                       
                    </div>
                  </mat-step>
            
                  
                <mat-step *ngIf ="this.js.pageflow=='basicDataEdit' || this.js.pageflow=='Display'">
                    <ng-template matStepLabel>Admin</ng-template>
                    <div class="row  boxgrey  mt-2">
                      <div class="col-lg-3 col-md-6 mt-2"> 
                          <p class="mb-0 py-0">Created By</p>
                          <mat-form-field class="mb-0 w-100 " appearance="outline">
                            <input matInput placeholder="Enter" formControlName="createdBy">
                          </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-2"> 
                            <p class="mb-0 py-0">Created On</p>
                            <mat-form-field class="mb-0 w-100 " appearance="outline">
                              <input matInput placeholder="Enter" formControlName="createdOnFE">
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3 col-md-6 mt-2"> 
                              <p class="mb-0 py-0">Updated On</p>
                              <mat-form-field class="mb-0 w-100 " appearance="outline">
                                <input matInput placeholder="Enter" formControlName="updatedOnFE">
                              </mat-form-field>
                            </div>
                            <div class="col-lg-3 col-md-6 mt-2"> 
                                <p class="mb-0 py-0">Updated By</p>
                                <mat-form-field class="mb-0 w-100 " appearance="outline">
                                  <input matInput placeholder="Enter" formControlName="updatedBy">
                                </mat-form-field>
                              </div>
                  </div>
                  </mat-step>
                  <ng-template matStepperIcon="phone">
                    <mat-icon>call_end</mat-icon>
                  </ng-template>
                  <ng-template matStepperIcon="chat">
                    <mat-icon>forum</mat-icon>
                  </ng-template>
                </mat-stepper>
                
              </div>
            </div>
        
          </div>
          <div class="d-flex justify-content-center  align-items-center py-2 fixed-bottom">
        
            <button mat-raised-button class="text-white mx-1 px-3" color="warn" routerLink="/main/masternew/batchserial">
              <mat-icon class="">close</mat-icon>Cancel
            </button>
            <button *ngIf="this.js.pageflow != 'Display'"  mat-raised-button class="bg-darkblue text-white mx-1 px-3" (click)="submit()"> 
              <mat-icon class="">done</mat-icon>{{this.js.pageflow =='basicDataEdit' || this.js.pageflow =='basicDataEdit2' || this.js.pageflow =='basicDataEdit3' || this.js.pageflow == 'Edit'? 'Update': 'Save'}}
            </button>
            <button  *ngIf ="this.js.pageflow=='basicDataNew' || this.js.pageflow=='basicDataEdit' || this.js.pageflow=='basicDataEdit2' || this.js.pageflow=='basicDataEdit3' " mat-raised-button
            class="tmat-focus-indicator text-white mx-2 action-button bg-orange mat-button mat-mini-fab mat-button-base mat-accent "
            color="primary" (click)="Skip()">
            <mat-icon class="">skip_next</mat-icon>Skip
          </button>
           <button *ngIf ="this.js.pageflow=='basicDataEdit' || this.js.pageflow=='basicDataNew' || this.js.pageflow=='basicDataEdit2' || this.js.pageflow=='basicDataEdit3'" mat-raised-button class="tmat-focus-indicator text-white mx-2 action-button bg-red mat-button mat-mini-fab mat-button-base mat-accent " color="primary" (click)="Back()" >
                    <mat-icon class="" >arrow_back</mat-icon>Back
                  </button>
          </div>
    </div>
    </form>
  



