
    <div class="card bg-white " style="overflow-x: hidden;">
        <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
          class="d-flex  border align-items-center text-secondary fontBold text-center p-2">
          <h6 class="my-auto mx-auto">Pickup - New </h6>
          <mat-icon class="text-secondary " mat-dialog-close>close</mat-icon>
        </div>
        <p class="mb-0 pb-2  fw-bolder mt-3 ps-3">Please Fill in the Details to Request a Pickup</p>
        <div class="row text-secondary fw-bold desc mx-3 p-1">
            <div class="col-lg-3 col-md-3 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0 desc">Customer</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter">
                  </mat-form-field>
              </div>
            </div>
            <div class="col-lg-3 col-md-3 mt-1">
              <p class="mb-0 py-0">No. of Consignment/s</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-3 mt-1">
              <p class="mb-0 py-0">Total Weight</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-3 mt-1">
              <p class="mb-0 py-0">Destination Description</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter">
              </mat-form-field>
            </div>           
            <p class="mb-0 py-0">Item Type</p>
            <div class="col-lg-3 col-md-4 my-auto">
                <mat-checkbox color="primary" class="example-margin ml-4">Document
                </mat-checkbox>
              </div>
              <div class="col-lg-3 col-md-4 my-auto">
                <mat-checkbox color="primary" class="example-margin ml-4">Non-Document
                </mat-checkbox>
              </div>
            <div class="col-lg-3 col-md-3 mt-1">
              <p class="mb-0 py-0">Pickup Date</p>
              <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                <input matInput placeholder="Choose Date" placeholder="Choose Date"[matDatepicker]="picker1"
                  formControlName="dateOfBirth">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-3 mt-1">
              <p class="mb-0 py-0">Pickup Time</p>
              <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                <mat-select placeholder="select" >
                  <mat-option value="1">12:00 - 14:00</mat-option>
                  <mat-option value="2">14:00 - 16:00 </mat-option>
                  <mat-option value="3">16:00 - 18:00 </mat-option>
                  <mat-option value="4">18:00 - 20:00</mat-option>
                  <mat-option value="5">20:00 - 22:00</mat-option>
                  <mat-option value="6">22:00 - 23:59</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-3 mt-1">
              <p class="mb-0 py-0">Closing Time</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input type="time" matInput placeholder="Enter">
              </mat-form-field>
            </div> 
            <div class="col-lg-3 col-md-3 mt-1">
              <p class="mb-0 py-0">Pickup Address</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter">
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-4 my-auto">
                <mat-checkbox color="primary" class="example-margin ml-4">Auto Allocate  </mat-checkbox>
              </div>
            <div class="col-lg-3 col-md-3 mt-1">
              <p class="mb-0 py-0">Allot Hub</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter">
                <mat-hint class="mt-2">Auto Allot a Hub</mat-hint>
              </mat-form-field>
            </div>
            
          </div>
          <div class="d-flex justify-content-center border-top align-items-center py-2">
            <button mat-flat-button mat-dialog-close class="mx-2 cancelcolor"> <i
                class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
            <button mat-flat-button class="mx-2 saveColor px-4"> <i
                class="bi bi-check2 me-1 font-size-1_5rem"></i>
              
                Request Pickup</button>
          </div>
    
    
      </div>
    
   