 

 ::ng-deep .mat-ink-bar{
  height: 0px !important
}


::ng-deep .mat-tab-body-content{
  //overflow-y: scroll !important;
  padding-right: 1rem !important;
}

.tabactive {
  background-color: #ec830a !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  color: #fff !important;
}


.hovertab:hover{background-color: #ec830a !important;color: white !important;}