<form [formGroup]="form" (ngSubmit)="submit()">
<div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
      <h6 class="my-auto">Business Partner - {{data? data.pageflow: 'New'}}</h6>
      <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
    </div>
    <mat-accordion>
        <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header class="border-bottom padding-space border-top">
              <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                General
                <mat-icon class="text-secondary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row p-1 mt-2 px-3">
                <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0 text-black">Partner Type</p>
                      <mat-form-field  class="form-group input_field mb-0" appearance="outline" >
                        <mat-select  formControlName="businessPartnerType" value="1" placeholder="Select" required>
                          <mat-option value="1"> 01 - Supplier</mat-option>
                          <mat-option value="2"> 02 - Customer</mat-option>
                        </mat-select>
                        
                  <mat-error *ngIf="form.controls.businessPartnerType.errors?.required" class="mt-1">Field Should not be blank</mat-error>
                      </mat-form-field>
                    </div>
                  </div>
                <div class="col-lg-6 col-md-6 mt-1">
                  <p class="mb-0 py-0">Partner Code</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline" >
                    <input matInput placeholder="Enter" formControlName="partnerCode" required>
                    
                  <mat-error *ngIf="form.controls.partnerCode.errors?.required" class="mt-1">Field Should not be blank</mat-error>
                  </mat-form-field>
        
                </div>
                <div class="col-lg-6 col-md-6 mt-1">
                  <p class="mb-0 py-0">Partner Name</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="partnerName" required>
                    <mat-error *ngIf="form.controls.partnerName.errors?.required" class="mt-1">Field Should not be blank</mat-error>
                  </mat-form-field>
                </div>
              </div>
          </mat-expansion-panel>
          <mat-expansion-panel #panel1 hideToggle>
            <mat-expansion-panel-header class="border-bottom padding-space border-top">
              <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                Communication Details
                <mat-icon class="text-secondary">{{panel1.expanded? 'remove' : 'add'}}</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row scroll p-1 mt-2 px-3">
                <div class="col-lg-6 col-md-6 mt-1">
                  <p class="mb-0 py-0">Address 1</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="address1">
                  </mat-form-field>
                </div>
                <div class="col-lg-6 col-md-6 mt-1">
                  <div class="d-flex flex-column">
                    <p class="mb-0 py-0">Address 2</p>
                    <mat-form-field class="form-group input_field mb-0" appearance="outline">
                      <input matInput placeholder="Enter" formControlName="address2">
                    </mat-form-field>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Zone </p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="zone">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Country  </p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="country">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">State </p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="state">
                      </mat-form-field>
                    </div>
                  </div>
        
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Phone No </p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput numberOnly placeholder="Enter" formControlName="phoneNumber">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Fax No</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="faxNumber">
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Fax</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="">
                      </mat-form-field>
                    </div>
                  </div> -->
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Email</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="emailId">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Reference Text</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="referenceText">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-1">
                    <p class="mb-0 py-0">Status</p>
                    <mat-form-field class="form-group input_field mb-0" appearance="outline">
                      <mat-select value="1" class="form-group input_field mb-0"
                        placeholder="Select"  formControlName="statusId">
                        <mat-option value="1">01 - Active</mat-option>
                        <mat-option value="0">02 - Inactive</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
              
              </div>
          </mat-expansion-panel>
          <mat-expansion-panel #panel2 hideToggle>
            <mat-expansion-panel-header class="border-bottom padding-space border-top">
              <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                Delivery Details
                <mat-icon class="text-secondary">{{panel2.expanded? 'remove' : 'add'}}</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row scroll p-1 mt-2 px-3">
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Location </p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="location">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-6"></div>
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Latitude</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="lattitude">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Longitude</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="longitude">
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Storage Type ID</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-6 mt-1">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Storage Bin </p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" formControlName="">
                      </mat-form-field>
                    </div>
                  </div> -->
                  <div class="col-12">
                    <div class="boxgrey"style="height: 15rem;">

                    </div>
                  </div>
                 
              </div>
          </mat-expansion-panel>
    </mat-accordion>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" mat-dialog-close class="mx-1"> <i
            class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
        <button mat-raised-button class="mx-1 bg-darkblue px-4 text-white"> <i
            class="bi bi-check2 mr-1 font-size-1_5rem"></i>
            {{data.pageflow =='Edit'? 'Update': 'Save'}}</button>
      </div>
  


  </div>
</form>
