<div class="d-flex  align-items-center justify-content-between mx-1 my-2 mb-2">
  <div class="ps-3">
    <nav aria-label="breadcrumb mb-0">
      <ol class="breadcrumb mb-0 d-flex align-items-center">
        <li class="breadcrumb-item mb-0 ms-3">
          <a >
            <mat-icon class="text-secondary align-middle">home</mat-icon>
          </a>
        </li>
        <div class="divider mx-3 border-end"></div>
        <li class="breadcrumb-item mb-0 active " aria-current="page"><a
            routerLink="/main/matters/case-management/general">
            Matter
          </a></li>
        <li class="breadcrumb-item mb-0 active " aria-current="page">Expense</li>
      </ol>
    </nav>
  </div>
  <div class="pe-2 me-1 d-flex justify-content-between align-items-end">
    <div [hidden]="isShowDiv"> <input matInput (keyup)="applyFilter($event)"
        class="form-control filter_button mx-2 border-bottom" placeholder="Filter" style="width:90%"></div>
    <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'" class="button-row">
      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons bg-pink text-white mx-2"
        matTooltip="Download Excel" (click)="downloadexcel()">
        <mat-icon class="">download</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons bg-yellow1 text-white mx-2"
        matTooltip="Delete" [disabled]="!RA.delete || this.code.pageflow == 'Display'" (click)="deleteDialog()">
        <mat-icon class="">delete</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="showFloatingButtons == true" class=" floating-buttons text-white mx-2 bg-lightblue"
        (click)="openDialog('Display')" matTooltip="Display" [disabled]="!RA.view">
        <mat-icon class="">search</mat-icon>
      </button>

      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons text-white mx-2 bg-success1"
        matTooltip="Copy">
        <mat-icon class="">content_copy</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons primary1 text-white mx-2 me-3"
        matTooltip="Edit" [disabled]="!RA.createUpdate || this.code.pageflow == 'Display'" (click)="openDialog('Edit')">
        <mat-icon class="">edit</mat-icon>
      </button>
      <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
        [ngClass]="{'bg-yellow' : toggle, 'purple': !toggle}">
        <mat-icon>{{icon}}</mat-icon>Options
      </button>
      <button mat-mini-fab [disabled]="!RA.createUpdate || this.code.pageflow == 'Display'" class="bg-darkblue text-white mx-2 action-button"
        (click)="openDialog('New')">
        <mat-icon class="">add</mat-icon> New
      </button>


      <button mat-mini-fab class="text-white mx-2 action-button bg-red" type="button" mat-button
        (click)="drawer.toggle()">
        <mat-icon class="">search</mat-icon> Search
      </button>
    </div>
  </div>
</div>

<mat-drawer-container #searchfield class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav " mode="over" position="end">
    <div class="card-header bg-blue text-white d-flex justify-content-between align-items-center">
      <h3 class="my-auto mb-0">Search Parameter</h3>
      <i mat-dialog-close class="bi bi-x-lg px-2" (click)="drawer.toggle()"></i>
    </div>
    <form [formGroup]="searhform">
      <div class="row scroll2 mx-0">
        <div class="col-12 mt-2">
          <p class="mb-0 py-0">Expense Code </p>
          <!-- <app-ng-multiselect-dropdown class="form-group input_field mb-0 w-100" formControlName="expenseCode">
          </app-ng-multiselect-dropdown> -->
          <p-multiSelect  placeholder="Select" class="w-100"  appendTo="body" [options]="multiselectexpenseList" 
          formControlName="expenseCode" [style]="{'width': '100%'}">  </p-multiSelect>
        </div>
        <div class="col-12 mt-2 2">
          <p class="mb-0 py-0">Expense Type </p>
<!-- 
          <app-ng-multiselect-dropdown class="form-group input_field mb-0 w-100" [forsearch]="true"
            [valuewithID]="false" formControlName="expenseType" [dropdownList]="expenseTypeList">
          </app-ng-multiselect-dropdown> -->
          <p-multiSelect  placeholder="Select" class="w-100"  appendTo="body" [options]="expenseTypeList" 
          formControlName="expenseType" [style]="{'width': '100%'}">  </p-multiSelect>
        </div>
        <div class="col-12 mt-2">
          <p class="mb-0 py-0">Date From To</p>

          <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
         
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date" formControlName="sStartCreatedOn">
              <input matEndDate placeholder="End date" formControlName="sEndCreatedOn">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>


        <div class="col-12 mt-2">
          <p class="mb-0 py-0">Status </p>
          <!-- <app-ng-multiselect-dropdown class="form-group input_field mb-0 w-100" formControlName="statusId"
            [filerbased]="searchStatusList">
          </app-ng-multiselect-dropdown> -->
<!-- 
          <angular2-multiselect [data]="multiselectstatusList" [(ngModel)]="selectedItems2"[settings]="dropdownSettings" 
          formControlName="statusIdFE"></angular2-multiselect> -->
          <p-multiSelect placeholder="Select"  appendTo="body"  class="w-100 my-1 mb-2" [options]="multiselectstatusList" 
          formControlName="statusId" [style]="{'width': '100%'}"></p-multiSelect>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" class="text-white mx-1 px-4" (click)="reset();">
          <mat-icon class="">restart_alt</mat-icon> Reset
        </button>
        <button mat-raised-button class="bg-blue text-white mx-1" (click)="search(); drawer.toggle();">
          <mat-icon class="">done</mat-icon> Search
        </button>
      </div>
    </form>
  </mat-drawer>


  <div class="example-sidenav-content">

    <div class=" my-0 py-0">

      <div class="ms-3 me-3 px-1 mt-1 scroll1">
        <table mat-table [dataSource]="dataSource" matSort class=" w-100">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()" disabled
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="clearselection(row)"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="expenseCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Expense Code</th>
            <td mat-cell *matCellDef="let element"> {{element.expenseCode}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="expenseType">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Expense Type</th>
            <td mat-cell *matCellDef="let element"> {{element.expenseType}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="expenseDescription">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
            <td mat-cell *matCellDef="let element"> {{element.expenseDescription}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="expenseAmount">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Amount</th>
            <td mat-cell *matCellDef="let element"class="text-right">{{element.expenseAmount | currency}} </td>
            <td mat-footer-cell *matFooterCellDef style="font-weight: bold; padding-left: 0.5rem;"class="text-right">{{getBillableAmount() | currency}} </td>

          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="statusIddes">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
            <td mat-cell *matCellDef="let element"> {{element.statusIddes}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="checkRequestStatus">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header>Check Request Status </th>
                  <td mat-cell *matCellDef="let element"> {{element.checkRequestStatus == 1 ? 'Sent' : element.checkRequestStatus == 2 ? 'Approved' : ''}} </td>
                  <td mat-footer-cell *matFooterCellDef> </td>
                </ng-container>
                
          <ng-container matColumnDef="referenceField5">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Cost Type</th>
            <td mat-cell *matCellDef="let element"> {{element.referenceField5}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <ng-container matColumnDef="createdBy">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Created By</th>
            <td mat-cell *matCellDef="let element"> {{element.createdBy}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <!-- Symbol Column -->
          <ng-container matColumnDef="referenceField2">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Expense  Date</th>
            <td mat-cell *matCellDef="let element"> {{element.referenceField2 | date :'MM-dd-yyyy' :'GMT00:00'}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          
                   <!-- Symbol Column -->
                   <ng-container matColumnDef="createdOn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Created On</th>
                    <td mat-cell *matCellDef="let element">{{element.createdOn | date :'MM-dd-yyyy' :'GMT00:00'}} </td>
                    <td mat-footer-cell *matFooterCellDef> </td>
                  </ng-container>

           <!-- Symbol Column -->
           <ng-container matColumnDef="referenceField1">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Prebill No</th>
            <td mat-cell *matCellDef="let element"> {{element.referenceField1}} </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>


          <ng-container matColumnDef="download">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Doc</th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button (click)="download(element);" [ngClass]="element.checkRequestStatus == 1 ? '' : element.checkRequestStatus == 2 ? '' : 'd-none'">
                <img src="./assets/img/icons/pin.png" style="height: 30px;width:30px;" alt="" srcset="">
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          
          <ng-container matColumnDef="action" sticky>
            <th mat-header-cell *matHeaderCellDef mat-sort-header class="stick">Actions </th>
            <td *matCellDef="let row;let element" class="tableborder p-0 border-bottom stick">
              <button (click)="clearselection(row)" mat-icon-button [matMenuTriggerFor]="menu"
                [matMenuTriggerData]="{element: element}">
                <mat-icon class="text-secondary">more_horiz</mat-icon>
              </button>
            </td>
            <td mat-footer-cell *matFooterCellDef> </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="example-first-footer-row"></tr>
        </table>

      </div>
      <div class="p-0 mx-1 m-0">
        <mat-paginator class="mx-3 me-3" showFirstLastButtons [pageSize]="100" [pageSizeOptions]="[100, 150, 200, 250]"
          aria-label="Select page of periodic elements">
        </mat-paginator>
      </div>
    </div>
  </div>
</mat-drawer-container>



<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-aliasMenuItems="element">
    <!-- <button mat-menu-item [disabled]="aliasMenuItems.statusId != '38' || this.auth.userTypeId != 7" -->
      <button mat-menu-item [disabled]="this.disablePostAccess || aliasMenuItems.statusId != '38'"
      (click)="post(aliasMenuItems)">Post</button>
      <button mat-menu-item [disabled]="this.disablePostAccess || aliasMenuItems.statusId != '37'"
      (click)="unpost(aliasMenuItems)">Unpost</button>

      <button *ngIf="aliasMenuItems.checkRequestStatus != 1 && aliasMenuItems.statusId != '37' && aliasMenuItems.checkRequestStatus != 2" mat-menu-item (click)="openChequeRequest(aliasMenuItems, 'New')"
      >Create Check Request Form</button>

      <button *ngIf="aliasMenuItems.checkRequestStatus == 1 && this.auth.userTypeId == 7" mat-menu-item (click)="openChequeRequest(aliasMenuItems, 'Approve')"
      >Approve</button>
  </ng-template>
</mat-menu>