<!-- 
<nav mat-tab-nav-bar color="warn" [backgroundColor]="background"
  class="scroll2 d-flex justify-content-start bg-white ms-3 me-3">
  <a mat-tab-link *ngFor=" let link of listmenu" class=" text-blue fw-bold border-end border-start mb-0 px-4 border-end "
    (click)="activeLink = link.url" [active]="activeLink == link.url" [routerLink]="link.url">
    <i [ngClass]="link.icon"></i> {{link.title}} </a>
</nav>
<router-outlet></router-outlet>



<div class="scrollmenu bg-white d-flex">

  <div class="d-flex align-items-center bg-blue text-white" type="button" (click)="scrollLeft()">
    <mat-icon>keyboard_arrow_left</mat-icon>
  </div>

  <div #widgetsContent class="scroll2 ">
    <nav>
      <p class="  text-blue fw-bold border-end mb-0 px-4  active bottom">Time Keeper</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Case Category </p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Case Sub Category </p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Class </p>
      <p class="  text-blue fw-bold border-end mb-0 px-4"><a routerLink="/main/setting/business/activity">Activity
          Code</a></p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Task Based Code</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Charts of Accounts</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Expense Code</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Task Type</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Admin Cost</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Billing Mode</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Billing Type</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Billing Format</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Deadline Calculator</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Agreement Template</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Document Template</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Inquiry Mode</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Referral</p>
      <p class="  text-blue fw-bold border-end mb-0 px-4">Note Type</p>
    </nav>
  </div>

  <div class="d-flex align-items-center bg-blue text-white" type="button" (click)="scrollRight()">
    <mat-icon>keyboard_arrow_right</mat-icon>
  </div>

</div>





<div class="bg-white p-1 d-flex justify-content-start mx-3 px-3 tabbar pb-2 mt-1 scroll2">
  <div class="mt-1 active d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center py-1">
      <i class="fas fa-folder font_1-5 red-text"></i>
      <p class="mb-0 red-text px-2"style="word-wrap: break-word;white-space: nowrap;">Case Cateogry</p>
    </div>

  </div>
 
    <div class=" mt-1  ">
      <div class="icon blue-border  d-flex justify-content-center align-items-center">
        <i class="fas fa-folder-open font_1-5 blue-text"></i>
        <p class="mb-0 blue-text px-2"style="word-wrap: break-word;white-space: nowrap;">Case Sub Category</p>
      </div>
    </div>



<div class=" mt-1  ">
  <div class="icon purple-border  d-flex justify-content-center align-items-center">
    <i class="fas fa-file-alt font_1-5 purple-text"></i>
    <p class="mb-0 purple-text px-2"style="word-wrap: break-word;white-space: nowrap;">Agreement Template</p>
  </div>
</div>
<div class=" mt-1  ">
  <div class="icon green-border  d-flex justify-content-center align-items-center">
    <i class="fas fa-external-link-alt font_1-5 green-text"></i>
    <p class="mb-0 green-text px-2"style="word-wrap: break-word;white-space: nowrap;">Inquiry Mode</p>
  </div>
</div>
<div class=" mt-1  ">
  <div class="icon purple-border  d-flex justify-content-center align-items-center">
    <i class="fas fa-retweet  font_1-5 pink-text"></i>
    <p class="mb-0 pink-text px-2"style="word-wrap: break-word;white-space: nowrap;">Referral</p>
  </div>
</div>
<div class=" mt-1  ">
  <div class="icon purple-border  d-flex justify-content-center align-items-center">
    <i class="fas fa-clipboard  font_1-5 pink-text"></i>
    <p class="mb-0 pink-text px-2"style="word-wrap: break-word;white-space: nowrap;">Note Type</p>
  </div>
</div>
</div>
-->



<div class="tabbar bggrey1 ms-3 me-3">
  <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start ">
    <a mat-tab-link *ngFor=" let link of listmenu" [ngClass]="link.class" (click)="activeLink = link.url"
      [active]="activeLink == link.url" [routerLink]="link.url" [disabled]="isdiabled(link.screenid)">
      <i [ngClass]="link.icon"></i> {{link.title}} </a>
  </nav>
</div>
<router-outlet></router-outlet>