<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto"><a routerLink="/main/dashboard">Home</a>
            </li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Stock Count</li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Assign & Counts</li>
          </ol>
        </nav>

        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input (input)="perpetualTag.filterGlobal($any($event.target).value, 'contains')"
            matInput  class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                        <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                        matTooltip="Add">
                        <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                      </button>
                      -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                        <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                      class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                    </button>
                      -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download" (click)="downloadexcel()">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
    <!--main section-->
    <div class="row  mt-1 pr-1" style="height:calc(100vh - 8rem);">
      <div class="col-md-12 px-0">
        <div class="">
          <div class="row mt-2 mx-0 px-0">
            <div class="px-0 pl-1 pb-1 w-100  bg-white scroll1 ">
              <div class="scroll2">
                <p-table #perpetualTag [value]="perpetual" styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true"
                selectionMode="multiple" [(selection)]="selectedperpetual" scrollHeight="calc(100vh - 15.8rem)" sortField="storageBin" [sortOrder]="-1"
                [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                   [resizableColumns]="true"
                style="width: 100%;margin-left: 10px;background-color:white">
                <ng-template pTemplate="header">
                  <tr>
                    <th *ngIf="pageflow != 'Edit'" style="max-width: 3.5rem; justify-content: center;">
                      <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
                    </th>
                    <th style="width:6rem;" pSortableColumn="no" pResizableColumn>S No<p-sortIcon
                        field="no"></p-sortIcon></th>
                        <th style="width:6rem;" pSortableColumn="warehouseDescription" pResizableColumn>Warehouse No<p-sortIcon
                          field="warehouseDescription"></p-sortIcon></th>
                      <th style="width:6rem;" pSortableColumn="itemCode" pResizableColumn>Part No<p-sortIcon
                          field="itemCode"></p-sortIcon></th>
                    <th style="width:6rem;" pSortableColumn="itemDesc" pResizableColumn>Description
                      <p-sortIcon field="itemDesc"></p-sortIcon></th>
                    
                        <th style="width:6rem;" pSortableColumn="manufacturerName" pResizableColumn>Mfr Name<p-sortIcon
                            field="manufacturerName"></p-sortIcon></th>
                    <th style="width:6rem;" pSortableColumn="storageSectionId" pResizableColumn>Section<p-sortIcon
                        field="storageSectionId"></p-sortIcon></th>
                    <th style="width:6rem;" pSortableColumn="levelId" pResizableColumn>Level<p-sortIcon field="levelId"></p-sortIcon>
                    </th>
                    <th style="width:6rem;" pSortableColumn="storageBin" pResizableColumn>Bin Location<p-sortIcon field="storageBin"></p-sortIcon>
                    </th>
                    <th style="width:6rem;"  pSortableColumn="barcodeId" pResizableColumn>Barcode Id<p-sortIcon field="barcodeId"></p-sortIcon>
                    </th>
                    <th style="width:6rem;" pSortableColumn="stockTypeId" pResizableColumn>Stock Type<p-sortIcon field="stockTypeId"></p-sortIcon>
                    </th>
                    <th style="width:6rem;"  pSortableColumn="inventoryQuantity" pResizableColumn>Inventory Quantity<p-sortIcon field="inventoryQuantity"></p-sortIcon>
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;" pSortableColumn="countedQty" pResizableColumn>Counted Quantity<p-sortIcon field="countedQty"></p-sortIcon>
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;" pSortableColumn="firstCountedQty" pResizableColumn>First Counted Quantity<p-sortIcon field="firstCountedQty"></p-sortIcon>
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;" pSortableColumn="secondCountedQty" pResizableColumn>Second Counted Quantity<p-sortIcon field="secondCountedQty"></p-sortIcon>
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;" pSortableColumn="outboundQuantity" pResizableColumn>Outbound Quantity<p-sortIcon field="outboundQuantity"></p-sortIcon>
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;" pSortableColumn="inboundQuantity" pResizableColumn>Inbound Quantity<p-sortIcon field="inboundQuantity"></p-sortIcon>
                    </th>
                    <th *ngIf="pageflow != 'Assign User'"  style="width:6rem;"  pSortableColumn="frozenQty" pResizableColumn>Frozen  Quantity<p-sortIcon field="frozenQty"></p-sortIcon>
                    </th>
                    <th style="width:6rem;" pSortableColumn="inventoryUom" pResizableColumn>UOM<p-sortIcon field="inventoryUom"></p-sortIcon>
                    </th>
                    <th style="width:6rem;" pSortableColumn="cycleCounterId" pResizableColumn>User Id<p-sortIcon field="cycleCounterId"></p-sortIcon>
                    </th>
                    <th style="width:6rem;" pSortableColumn="statusDescription" pResizableColumn>Status<p-sortIcon field="statusDescription"></p-sortIcon>
                    </th>
                  </tr>
      
                  <tr>
                    <th *ngIf="pageflow != 'Edit'"  style="max-width: 3.5rem; justify-content: center;">
                      <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'no', 'contains')"
                        [value]="$any(perpetualTag.filters['no'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'warehouseDescription', 'contains')"
                        [value]="$any(perpetualTag.filters['warehouseDescription'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;" >
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'itemCode', 'contains')"
                        [value]="$any(perpetualTag.filters['itemCode'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'itemDesc', 'contains')"
                        [value]="$any(perpetualTag.filters['itemDesc'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'manufacturerName', 'contains')"
                        [value]="$any(perpetualTag.filters['manufacturerName'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;" >
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'storageSectionId', 'contains')"
                        [value]="$any(perpetualTag.filters['storageSectionId'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'levelId', 'contains')"
                        [value]="$any(perpetualTag.filters['levelId'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'storageBin', 'contains')"
                        [value]="$any(perpetualTag.filters['storageBin'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'barcodeId', 'contains')"
                        [value]="$any(perpetualTag.filters['barcodeId'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'stockTypeId', 'contains')"
                        [value]="$any(perpetualTag.filters['stockTypeId'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;" >
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'inventoryQuantity', 'contains')"
                        [value]="$any(perpetualTag.filters['inventoryQuantity'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;" >
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'countedQty', 'contains')"
                        [value]="$any(perpetualTag.filters['countedQty'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'firstCountedQty', 'contains')"
                        [value]="$any(perpetualTag.filters['firstCountedQty'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th *ngIf="pageflow != 'Assign User'"  style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'secondCountedQty', 'contains')"
                        [value]="$any(perpetualTag.filters['secondCountedQty'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'outboundQuantity', 'contains')"
                        [value]="$any(perpetualTag.filters['outboundQuantity'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'inboundQuantity', 'contains')"
                        [value]="$any(perpetualTag.filters['inboundQuantity'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th *ngIf="pageflow != 'Assign User'" style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'frozenQty', 'contains')"
                        [value]="$any(perpetualTag.filters['frozenQty'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'inventoryUom', 'contains')"
                        [value]="$any(perpetualTag.filters['inventoryUom'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'cycleCounterId', 'contains')"
                        [value]="$any(perpetualTag.filters['cycleCounterId'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                    <th style="width:6rem;">
                      <input pInputText type="text"
                        (input)="perpetualTag.filter($any($event.target)?.value, 'statusDescription', 'contains')"
                        [value]="$any(perpetualTag.filters['statusDescription'])?.value" placeholder="Search"
                        class=" w-100 p-column-filter">
                    </th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-perpetual let-rowIndex="rowIndex">
                  <tr [ngClass]="perpetual.statusId == '47' ? 'text-danger' : ''">
                    <td *ngIf="pageflow != 'Edit'" style="max-width: 3.5rem; justify-content: center;">
                      <p-tableCheckbox [value]="perpetual"></p-tableCheckbox>
                  </td>
                    <td style="width:6rem;">{{rowIndex+1}}</td>
                    <td style="width:6rem;" >{{perpetual.warehouseDescription}}</td>
                    <td style="width:6rem;">{{perpetual.itemCode}}</td>
                    <td style="width:6rem;">{{perpetual.itemDesc}}</td>
                    <td style="width:6rem;">{{perpetual.manufacturerName}}</td>
                    <td style="width:6rem;" >{{perpetual.storageSectionId}}</td>
                    <td style="width:6rem;">{{perpetual.levelId}}</td>
                    <td style="width:6rem;">{{perpetual.storageBin}}</td>
                    <td style="width:6rem;">{{perpetual.barcodeId}}</td>
                    <td style="width:6rem;">{{perpetual.stockTypeId}}</td>
                    <td style="width:6rem;">{{perpetual.inventoryQuantity}}</td>
                    <td *ngIf="pageflow != 'Assign User'"  style="width:6rem;">     
                      <input matInput type="number" style="fontsize:10" [disabled]="this.pageflow == 'Edit'"  placeholder="Counted Qty" [(ngModel)]="perpetual.countedQty" (ngModelChange)="calculateVariance(perpetual)" required>
                   </td>
                    <td *ngIf="pageflow != 'Assign User'" style="width:6rem;">{{perpetual.firstCountedQty}}</td>
                    <td *ngIf="pageflow != 'Assign User'" style="width:6rem;">{{perpetual.secondCountedQty}}</td>
                    <td *ngIf="pageflow != 'Assign User'" style="width:6rem;">{{perpetual.outboundQuantity}}</td>
                    <td *ngIf="pageflow != 'Assign User'"  style="width:6rem;">{{perpetual.inboundQuantity}}</td>
                    <td *ngIf="pageflow != 'Assign User'" style="width:6rem;">{{perpetual.frozenQty}}</td>
                    <td style="width:6rem;" >{{perpetual.inventoryUom}}</td>
                    <td style="width:6rem;">{{perpetual.cycleCounterId}}</td>
                    <td style="width:6rem;" >{{perpetual.statusDescription}}</td>
                  </tr>
                </ng-template>
              </p-table>
              </div>

            </div>
          </div>


          <div class=" pb-1 w-100 d-flex justify-content-end " style="margin-top:-1%">
            <div class=" py-2  mr-5 pr-5">
              <button mat-raised-button class="text-white mr-1 px-4" color="warn" (click)="back()">
                <mat-icon class="">close</mat-icon> Cancel
              </button>
              <button mat-raised-button *ngIf="pageflow == 'New'"
                class="bg-darkblue text-white ml-1" (click)="save()">
                <mat-icon class="">done</mat-icon> Save
              </button>
              <button mat-raised-button *ngIf="pageflow == 'Count' || pageflow == 'Variance Analysis'"
                class="bg-darkblue text-white ml-1" (click)="confirmNew()">
                <mat-icon class="">done</mat-icon> Confirm
              </button>
              <button mat-raised-button *ngIf="pageflow == 'Assign User'" class="bg-orange text-white ml-1"
                (click)="assign();">
                <mat-icon class="">assignment_turned_in</mat-icon> Assign User
              </button>
            </div>
            <div class="p-0 mx-1 ">
              <mat-paginator class="" showFirstLastButtons [pageSize]="500" [pageSizeOptions]="[500, 1000, 1500, 2000]"
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Recount</button>
      <button mat-menu-item>Skip</button>
      <button mat-menu-item>Write off</button>
    </ng-template>
  </mat-menu>

  <!--right pane-->
  <div class="col-3 d-none pl-1 pr-1 mt-1 ">
    <div class="whs-rightpane bg-white shadow">
      <div class="text-dark p-2 bg-white">
        <div class="whs-vertical-scroll">
          <div class="d-flex justify-content-start my-1">
            <label for="" class="mr-5 mt-1">Variant</label>
            <label for="" class=" mt-1 ml-4 pl-3">Prepretual Count</label>
          </div>
          <hr class="my-0">
          <div class="row mt-1">
            <div class="col-6 pr-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Warehouse</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <input matInput placeholder="readonly">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">CC Method</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <input matInput placeholder="readonly">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pr-1">
              <div class="form-group mb-1">
                <label for="inputEmail4" class="mb-0">Transaction Type</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0"> Sub Transaction Type</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pr-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Date From</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Date From</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker2">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pr-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Status</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <input matInput placeholder="readonly">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-1">
          <button mat-raised-button class="text-white mr-1" color="warn">
            <mat-icon class="">close</mat-icon> Cancel
          </button>
          <button mat-raised-button class="bg-darkblue  text-white mx-1">
            <mat-icon class="">search</mat-icon> Search
          </button>
          <button mat-raised-button class="whs-bg-grey   text-white ml-1">
            <mat-icon class="">done</mat-icon> Assign
          </button>
        </div>
      </div>
    </div>
  </div>
</div>