<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="card bg-white " style="overflow-x: hidden;">
      <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
        class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
        <h6 class="my-auto">Handling Equipment - {{data? data.pageflow: 'New'}} </h6>
        <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
      </div>
        <mat-accordion>
          <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header class="border-bottom padding-space border-top">
              <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                General
                <mat-icon class="text-secondary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
        <div class="row scroll p-1">
          <div class="col-lg-6 col-md-6 mt-1"> 
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black required">Language</p>
              <p-dropdown  placeholder="Select" class="w-100" [filter]="true" [options]="languageList"
              formControlName="languageId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
              [panelStyle]="{'width':'20%'}" appendTo="body"  > </p-dropdown >
              <mat-error *ngIf="errorHandling('languageId')">{{getErrorMessage()}}</mat-error>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1"> 
            <p class="mb-0 py-0 mb-1 required">Company</p>
            <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="companyList"
          formControlName="companyCodeId"  [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
          [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
          <mat-error *ngIf="errorHandling('companyCodeId')">{{getErrorMessage()}}</mat-error>
          </div>
          <div class="col-lg-6 col-md-6 mt-1"> 
            <p class="mb-0 py-0 mb-1 required">Branch</p>
              <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="plantList"
              formControlName="plantId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
              [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
              <mat-error *ngIf="errorHandling('plantId')">{{getErrorMessage()}}</mat-error>
          </div>
          <div class="col-lg-6 col-md-6 mt-1"> 
            <p class="mb-0 py-0  required">Warehouse </p>
            <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="warehouseIdList"
          formControlName="warehouseId" #warehouseId (onChange)="onWarehouseChange(warehouseId.selectedOption)" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
          [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
          <mat-error *ngIf="errorHandling('warehouseId')">{{getErrorMessage()}}</mat-error>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 required"> Handling Unit </p>
              <p-dropdown  placeholder="Select" class="w-100" [filter]="true" [options]="handlingunitList"
              formControlName="handlingUnit" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
              [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
              <mat-error *ngIf="errorHandling('handlingUnit')">{{getErrorMessage()}}</mat-error>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black required">Handling Equipment</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="handlingEquipmentId" required>
                </mat-form-field>
                <mat-error *ngIf="errorHandling('handlingEquipmentId')">{{getErrorMessage()}}</mat-error>
            </div>
          </div>
         
          <div class="col-lg-6 col-md-6 mt-1">
            <p class="mb-0 py-0">Category</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Enter" formControlName="category">
            </mat-form-field>
  
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <p class="mb-0 py-0">Acquistion Date</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Choose Date" [matDatepicker]="picker3" formControlName="acquistionDate">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Acquistion Value</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" type="number" formControlName="acquistionValue">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Currency Id </p>
                <p-dropdown  placeholder="Select" class="w-100" [filter]="true" [options]="currencyList"
                formControlName="currencyId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Model No </p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="modelNo">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Mfr Part No </p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="manufacturerPartNo">
                </mat-form-field>
              </div>
            </div>
  
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Country of Origin </p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="countryOfOrigin">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0 required">HE Barcode</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="heBarcode">
                </mat-form-field>
              </div>
              <mat-error *ngIf="errorHandling('heBarcode')">{{getErrorMessage()}}</mat-error>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
                  <p class="mb-0 py-0">Status</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <mat-select class="form-group input_field mb-0"
                      placeholder="Select" formControlName="statusId">
                      <mat-option value="1">01 - Active</mat-option>
                      <mat-option value="0">02 - Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
        </div>
          </mat-expansion-panel>
          <mat-expansion-panel #panel2 hideToggle *ngIf="data.code"> 
            <mat-expansion-panel-header class="border-bottom padding-space border-top">
              <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                Admin
                <mat-icon class="text-secondary">{{panel2.expanded? 'remove' : 'add'}}</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row p-1 px-3  mt-2">
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Created By</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="AP-Editable" formControlName="createdBy">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Created On</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="AP-Editable" formControlName="createdOnFE">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Updated By</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="AP-Editable" formControlName="updatedBy">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Updated On</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="AP-Editable" formControlName="updatedOnFE">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-expansion-panel> 
        </mat-accordion>
        <div class="d-flex justify-content-center align-items-center py-2">
          <button mat-raised-button color="warn" mat-dialog-close class="mx-1"> <i
              class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
          <button mat-raised-button class="mx-1 bg-darkblue px-4 text-white"> <i
              class="bi bi-check2 mr-1 font-size-1_5rem"></i>
            
              {{data.pageflow =='Edit'? 'Update': 'Save'}}</button>
        </div>
  
  
    </div>
  
  </form>