<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto"><a routerLink="/main/dashboard">Home</a>
            </li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Stock Count</li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Stock Adjustment</li>
          </ol>
        </nav>

        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input
              (input)="stockAdjustmentTag.filterGlobal($any($event.target).value, 'contains')" matInput
              class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                            <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                            matTooltip="Add">
                            <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                          </button>
                          -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="openDialog('Display')"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab [disabled]="this.pageflow != 'Variance Analysis'"
              [ngClass]="this.pageflow != 'Variance Analysis' ? 'disabled' : ''" *ngIf="showFloatingButtons == true"
              (click)="openDialog('Edit')"
              class="  floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                            <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                          class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                          <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                        </button>
                          -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" (click)="drawer.toggle()"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <mat-drawer-container class="example-container  w-100">
    <mat-drawer #drawer class="example-sidenav " mode="over" position="end">
      <div class="card-header whs-bg-grey text-white d-flex justify-content-between align-items-center">
        <h6 class="my-auto mb-0">Search Parameter</h6>
        <mat-icon type="button" (click)="drawer.toggle()">close</mat-icon>
      </div>
      <div class="row searchscroll mt-1 mr-1 p-2 pl-3">
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Warehouse No</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput placeholder="AP-Readonly">
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Cycle Count No</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput placeholder="AP-Readonly">
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-1">
            <label for="inputEmail4" class="mb-0">Transaction Type</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select placeholder="select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Sub Transaction Type</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select class="mb-0" placeholder="Select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Date From To</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Status</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput placeholder="AP-Readonly">
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" class="text-white mx-1 px-4">
          <mat-icon class="">restart_alt</mat-icon> Reset
        </button>
        <button mat-raised-button class="bg-darkblue text-white mx-1">
          <mat-icon class="">done</mat-icon> Search
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div class="tabbar1  uatwhite mt-1 px-0 bg-white row d-flex align-items-center">
        <h5 class="my-auto mb-0 mx-4 font-weight-bold whs-text-grey">Adjustment Qty: {{this.stockAdjustment[0].adjustmentQty}}</h5> <!-- -->
      </div>
      <div class="row pr-0">
        <p-table #stockAdjustmentTag [value]="stockAdjustment" styleClass="p-datatable-gridlines p-datatable-sm"
          [scrollable]="true" selectionMode="single" scrollHeight="calc(100vh - 17.5rem)" sortField="cycleCountNo"
          [sortOrder]="-1" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="true"
          style="width: 100%;margin-left: 10px;background-color:white">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="stockAdjustmentId" pResizableColumn>Adjustment No<p-sortIcon field="stockAdjustmentId"></p-sortIcon></th>
              <th pSortableColumn="statusDescription" pResizableColumn> Adjustment Type<p-sortIcon field="statusDescription"></p-sortIcon>
              </th>
              <th pSortableColumn="manufacturerName" pResizableColumn>Mfr Name <p-sortIcon
                field="manufacturerName"></p-sortIcon></th>
              <th pSortableColumn="itemCode" pResizableColumn>Part No<p-sortIcon field="itemCode"></p-sortIcon></th>
          
              <th pSortableColumn="itemDescription" pResizableColumn>Description <p-sortIcon
                  field="itemDescription"></p-sortIcon></th>
              <th pSortableColumn="barcodeId" pResizableColumn>Barcode Id <p-sortIcon field="barcodeId"></p-sortIcon>
              </th>
              <th pSortableColumn="storageBin" pResizableColumn>Storage Bin <p-sortIcon field="storageBin"></p-sortIcon>
              </th>
              <th pSortableColumn="inventoryQuantity" pResizableColumn>Inventory Qty<p-sortIcon
                  field="inventoryQuantity"></p-sortIcon>
              </th>
              <th pSortableColumn="adjustmentQty" pResizableColumn>Adjusted Qty<p-sortIcon
                  field="adjustmentQty"></p-sortIcon>
              </th>
              <th pSortableColumn="createdBy" pResizableColumn>Adjusted By <p-sortIcon field="createdBy"></p-sortIcon>
              </th>
              <th pSortableColumn="createdOn" pResizableColumn>Adjusted On<p-sortIcon field="createdOn"></p-sortIcon>
              </th>

            </tr>

            <tr>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'stockAdjustmentId', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['stockAdjustmentId'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'statusDescription', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['statusDescription'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'manufacturerName', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['manufacturerName'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'itemCode', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['itemCode'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
            
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'itemDescription', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['itemDescription'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'barcodeId', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['barcodeId'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'storageBin', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['storageBin'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'inventoryQuantity', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['inventoryQuantity'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'adjustmentQty', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['adjustmentQty'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'createdOn', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['createdOn'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="stockAdjustmentTag.filter($any($event.target)?.value, 'createdBy', 'contains')"
                  [value]="$any(stockAdjustmentTag.filters['createdBy'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-stockAdjustment let-rowIndex="rowIndex">
            <tr [pSelectableRow]="stockAdjustment" [pSelectableRowIndex]="rowIndex">
              <td style="justify-content: center;">{{stockAdjustment.stockAdjustmentId}}</td>
              <td>{{stockAdjustment.statusDescription}}</td>
              <td>{{stockAdjustment.manufacturerName}}</td>
              <td>{{stockAdjustment.itemCode}}</td>
              <td>{{stockAdjustment.itemDescription}}</td>
              <td>{{stockAdjustment.barcodeId}}</td>
              <td>{{stockAdjustment.storageBin}}</td>
              <td>{{(stockAdjustment.inventoryQuantity != null ? stockAdjustment.inventoryQuantity : 0) + (stockAdjustment.adjustmentQtyEdit != null ? stockAdjustment.adjustmentQtyEdit : 0)}}</td>
              <td><input matInput [disabled]="this.pageflow == 'Display'" (change)="updateInventoryQty1(stockAdjustment)" type="number" placeholder="Enter"
                  [(ngModel)]="stockAdjustment.adjustmentQtyEdit" required></td>
             
              <td>{{stockAdjustment.createdBy }}</td>
              <td>{{stockAdjustment.createdOn | date : 'dd-MM-yyyy HH:mm' :'GMT' }}</td>

            </tr>
          </ng-template>
        </p-table>

      </div>
      <div class=" pb-1 w-100 d-flex justify-content-center">
        <div class=" py-2 pr-5" style="margin-right: 6rem">
          <button mat-raised-button class="text-white mr-1 px-4" color="warn"(click)="back()" >
            <mat-icon class="">close</mat-icon> Cancel
          </button>
          <button mat-raised-button class="bg-darkblue px-4 text-white ml-1" (click)="submit();">
            <mat-icon class="">done</mat-icon> Confirm
          </button>
        </div>

      </div>
    </div>
  </mat-drawer-container>
</div>