



<form [formGroup]="form" >
    <div class="card bg-white " style="overflow-x: hidden;">
        <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
          class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
          <h6 class="my-auto">Replace - {{data.code.refDocNumber}} </h6>
          <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
        </div>
          <mat-accordion>
            <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header class="border-bottom padding-space border-top">
                  <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                    General
                    <mat-icon class="text-secondary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
            <div class="row  p-1">
              <div class="col-lg-6 col-md-6 mt-1">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0 required">Old Invoice No </p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput  placeholder="Enter" formControlName="oldInvoiceNumber" >
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('oldInvoiceNumber')">{{getErrorMessage()}}</mat-error>
                </div>
              </div> 
              <div class="col-lg-6 col-md-6 mt-1">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0 text-black required">New Invoice Number</p>
                  <p-dropdown  placeholder="Select" class="w-100" [filter]="true" [options]="multiOrderNo"
                  formControlName="newInvoiceNumber" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                  [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                  <mat-error *ngIf="errorHandling('newInvoiceNumber')">{{getErrorMessage()}}</mat-error>
                </div>
              </div>
            </div>
              </mat-expansion-panel>
          </mat-accordion>
          <div class="d-flex justify-content-center align-items-center py-2">
            <button mat-raised-button color="warn" mat-dialog-close class="mx-2"> <i
                class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
            <button *ngIf="this.data.pageflow != 'Display'" mat-raised-button (click)="submit()" class="mx-2 bg-darkblue px-4 text-white"> <i
                class="bi bi-check2 mr-1 font-size-1_5rem" ></i>
              
                Confirm</button>
          </div>
    
    
      </div>
  </form>
   