<!-- <div class="row container mt-4">
  <div class=" col-3 mt-2" *ngFor="let element of setupList">
    <div class="card">
      <div class="card-header">
        {{element.displayName}}
      </div>
      <ul class="list-group list-group-flush" *ngFor="let childElement of element.children">
        <a [routerLink]="childElement.route" class="list-group-item list-group-item-action">{{childElement.displayName}}</a>
      </ul>
    </div>
  </div>
</div> -->



<div class="row mt-4 px-4">
    <div class="col-3 mt-3 px-1 " [ngClass]="checkMenu(element.id) ? 'd-none' : ''" *ngFor="let element of setupList">
        <div class="card" >
            <div class="card-header cardheaderNew d-flex text-center p-2">
                <p class="mb-0 mx-auto"><strong>{{element.displayName}}</strong></p>
            </div>
            <div class="whs-scroll bg-white">
                <ul class="list-group list-group-flush" *ngFor="let childElement of element.children"  >
                    <div  [ngClass]="isdiabled(childElement.id) ? 'd-none' : ''" >
                        <div class="d-flex justify-content-between borderGrey align-items-center">
                            <i class="fa fa-fw fa-chevron-right text-secondary ml-4"></i>
                            <a [routerLink]="childElement.route" class="text-secondary list-group-item  list-group-item-action">{{childElement.displayName}}</a>
                            <a [routerLink]="childElement.route" class="hvr-icon-wobble-horizontal mr-2 mb-0"><small>View</small></a>
                        </div>
                    </div>
                  </ul>
            </div>
            <div class="  card-footer p-0 whs-green">
                <small class="text-white float-right"></small>
            </div>
        </div>
    </div>
</div>
