$pro-color: #e0e8f1d1;
$pro-shader: #324e7bab;
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: $pro-color;
  text-align: center;
}

//.img{background-image: url('../../../assets/img/icons/bgblue.png');}

hr.dashed {
  border-top: 1px dashed $pro-shader;
}

.form-select, .form-control {
  width: 100%;
  height: 100%;
  border-color: #dee2e6;
  font-size: 0.8rem;
}


.input_field{width: 17rem;border-color: #dee2e6;}