<form [formGroup]="form" >
  <div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
      <h6 class="my-auto">Putaway - Lines </h6>
      <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
    </div>
    <div class="mt-2 px-4">
      <div class="row  p-1">
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0">Line No</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput formControlName="lineNo">
            </mat-form-field>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black">Part No</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput formControlName="itemCode">
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black">Description</p>
            <mat-form-field class="mb-0 w-100 "  appearance="outline">
              <input matInput formControlName="itemDescription">
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black">Mfr Part Name</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput formControlName="manufacturerName">
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black">Confirmed Storage Bin</p>
            <p-dropdown *ngIf="showDropdown1" placeholder="Select" [filter]="true" class="w-100" [options]="multiselectStorageList"
                        [resetFilterOnHide]="true"   [disabled]="this.data.pageflow == 'Display'"
                        formControlName="confirmedStorageBin" name="product" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"
                            (onFilter)="onStorageType($event)"  >     </p-dropdown>

                            <mat-form-field *ngIf="!showDropdown1" class="form-group input_field mb-0 w-100" appearance="outline">
                              <input matInput placeholder="Enter" formControlName="confirmedStorageBin" 
                               >
                               <button  matSuffix mat-icon-button (click)="showDropdown()">
                                <mat-icon>edit</mat-icon>
                              </button>
                            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1" >
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black">Order Qty</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput  formControlName="orderQty" >
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black">Putaway Qty</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput  type="number" formControlName="putawayConfirmedQty" >
            </mat-form-field>
          </div>
        </div>    
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center py-2">
      <button mat-raised-button class="text-white mx-1" (click)="back()" color="warn" >
        <mat-icon class="">close</mat-icon> Cancel
      </button>
      <button mat-raised-button class="bg-darkblue  text-white mx-1" (click)="submit()">
                <mat-icon class="">done</mat-icon> Save
              </button>
    </div>


  </div>
</form>




