<div class="">
  <nav class="nav flex-column" *ngFor="let menu of listmenu">
    <a [routerLink]="menu.url" class="d-flex flex-column whs-text-grey uatwhite whs-tabbox-size justify-content-center nav-item border align-items-center"
      routerLinkActive="d-flex flex-column whs-tabbox-size whs-text-grey border-active justify-content-center align-items-center border align-items-center ">
      <div class=" hvr-grow mb-2"  [ngClass]="menu.icon">
         <!-- <img src="./assets/img/icons1/Setup/warehouse.png"
          class="header_icon mr-2 cog-icon mx-2" alt="" srcset="">  -->
          <!-- <i class="fas fa-warehouse"style="font-size: '1.2rem'"></i> -->
         
        </div>
  <div>
    {{menu.title}}
  </div>
    </a>
  </nav>
</div>
