

  <!-- <nav mat-tab-nav-bar >
    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/vertical">Vertical </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/company">Company </a>

    
    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/plant">Branch</a>
    
    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/warehouse">Warehouse </a>
    
    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/storagesection">Storage Section </a>
    
    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/status">Status </a>

 

     <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/storageclass">StorageClass </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/storagetype">StorageType </a>

     <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/storagebintype">StorageBinType </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/processsequence">Process Sequence</a>

     <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/usertype">User Type</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/uom">UOM</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/level">Level</a>

     <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/row">Row</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/barcodetypeid">BarCode Type ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/barcodesubtypeid">BarCode SubType ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/stratergy">Strategy</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/warehousetype">Warehouse Type</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/menu">Menu</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/country">Country</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/currency">Currency</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/state">State</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/city">City</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/itemtype">Item Type</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/itemgroup">Item Group</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/floor">Floor</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/subitemgroup">SubItem Group</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/doorid">Door ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/moduleid">Module ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/adhocmoduleid">AdhocModule ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/palletization-level-id">Palletization Level ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/employeeid">Employee ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/dockid">Dock ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/workcenter">WorkCenter</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/outboundorderstatusid">OutboundOrderStatus</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/inboundorderstatusid">InboundOrderStatus</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/controltypeid">ControlType ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/approvalid">Approval ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/refdoctypeid">Reference Document ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/controlprocessid">Control Process ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/spanid">Span ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/shelfid">Shelf ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/binsectionid">BinSection ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/dateformatid">DateFormat ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/decimalnotationid">Decimal Notation ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/languageid">Language ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/outboundordertypeid">OutBoundOrderType ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/variantid">Variant ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/statussmessagesid">Status Messages ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/binclassid">BinClass ID</a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
    routerLink="/main/otherSetup/movementtypeid">MovementType ID</a>
  </nav> -->
  

  <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start ">
    <a mat-tab-link *ngFor=" let link of link" [ngClass]="link.class" (click)="activeLink = link.url" [ngClass]="isdiabled(link.screenid) ? 'd-none' : ''"
      [active]="activeLink == link.url" [routerLink]="link.url" >
      {{link.title | uppercase}} <img src="./assets/img/tabactive1.png" class="pl-2" *ngIf="activeLink == link.url" alt="" srcset=""></a>
  </nav>
