<!-- <div class="row pr-1 ">
    <div class="col-10 offset-2">
        <div class="row bg-white shadow mt-1 p-1 pl-3 d-flex justify-content-between">
            <div class="d-flex align-items-center justify-content-around">
                <div class="whs-apptoolbar-icon d-flex justify-content-center align-items-center">
            <img src="assets/img/icons/add.svg" alt="" class="img-fluid img-thumbnail border-0" data-toggle="tooltip"
              data-placement="top" title="Add">
          </div>
          <div class="whs-apptoolbar-icon d-flex justify-content-center align-items-center mr-1 mx-1">
            <img src="assets/img/icons/loupe.svg" alt="" class="img-fluid img-thumbnail border-0"
              data-toggle="tooltip" data-placement="top" title="Search">
          </div>
          <div class="whs-apptoolbar-icon d-flex justify-content-center align-items-center mr-1 mx-1">
            <img src="assets/img/icons/edit.svg" alt="" class="img-fluid img-thumbnail border-0" data-toggle="tooltip"
              data-placement="top" title="Edit">
          </div>
          <div class="whs-apptoolbar-icon d-flex justify-content-center align-items-center mr-1 mx-1">
            <img src="assets/img/icons/delete.svg" alt="" class="img-fluid img-thumbnail border-0"
              data-toggle="tooltip" data-placement="top" title="Delete">
          </div>
          <div class="whs-horizontal-divider mx-1 my-auto"></div>
          <div class="whs-apptoolbar-icon d-flex justify-content-center align-items-center mr-1 mx-1">
            <img src="assets/img/icons/excel12.svg" alt="" class="img-fluid img-thumbnail border-0"
              data-toggle="tooltip" data-placement="top" title="Excel">
          </div>
          <div class="whs-apptoolbar-icon d-flex justify-content-center align-items-center mr-1 mx-1">
            <img href="" src="assets/img/icons/information.svg" alt="" class="img-fluid img-thumbnail border-0"
              data-toggle="modal" data-target=".bd-example-modal-lg">
          </div>
          <div class="whs-apptoolbar-icon d-flex justify-content-center align-items-center mr-1 mx-1">
            <img href="" src="assets/img/icons/save.svg" alt="" class="img-fluid img-thumbnail border-0"
              data-toggle="modal" data-target="#exampleModal123">
          </div>
      

                <button mat-icon-button class="purple" (click)="add()"
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>add_circle</mat-icon>
                </button>
                <button mat-icon-button class=" text-success" (click)="search()"
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>search</mat-icon>
                </button>
                <button mat-icon-button class="text-yellow"
                    aria-label="Example icon button with a vertical three dot icon" (click)="edit()">
                    <mat-icon>edit_outline</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!editbtn" class="bg-red" (click)="delete()"
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <div class="whs-horizontal-divider mx-1 my-auto"></div>
                <button mat-icon-button class="text-info" (click)="info()"
                    aria-label="Example icon button with a vertical three dot icon">
                    <mat-icon>info</mat-icon>
                </button>
                <button mat-icon-button [disabled]="!editbtn" class="pink"
                    aria-label="Example icon button with a vertical three dot icon" (click)="save()">
                    <mat-icon>save_outline</mat-icon>
                </button>
            </div>
            <div class="d-flex align-items-center ml-2">
                <mat-paginator [ngClass]="[pagerequired  ? 'pagerequired ':'']" [length]="section.length"
                    [pageSize]="pageSize" (page)="onPageChange($event)" style-paginator [higlightPage]="higlightPage">
                   showFirstLastButtons [showTotalPages]="3"
                     *ngIf="section.length > pageSize" 
                </mat-paginator>

            </div>
        </div>
    </div>
</div> -->