<div class="row mx-1 pl-2">
    <div class="col-12">
      <!--inner header-->
  
      <div class="row  text-secondary pr-1 inner_header mt-1">
        <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">
     
    
          <nav aria-label="breadcrumb" class="d-flex align-items-center">
            <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"
                    class="text-muted whs-fontsize-1-2rem  my-auto"><mat-icon class="align-middle">home</mat-icon></li>
                <li class="breadcrumb-item"
                            class="text-muted whs-fontsize-1-2rem  my-auto">Inbound</li>
                <li class="breadcrumb-item text-muted whs-fontsize-1-2rem  my-auto">Container Receipt</li>
            </ol>
        </nav>
          
          
            <div class="d-flex ml-auto my-auto">
              <div [hidden]="isShowDiv"> <input matInput  class="form-control filter_button mx-2 border-bottom"
                placeholder="Search" style="width:90%">
            </div>
                <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'" class="button-row d-flex align-items-center">
                    <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
                  <button mat-mini-fab  *ngIf="showFloatingButtons == true"
                    class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction" matTooltip="Display">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
                  </button> 
                  <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction " matTooltip="Edit">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
                </button>
                    <button mat-mini-fab  *ngIf="showFloatingButtons == true"
                      class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle" matTooltip="Delete">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
                    </button>
                   <!-- 
                      <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                  </button>
                    -->
                  <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction " matTooltip="Download">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
                </button>
                  
                  
                    <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
                      [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
                      <mat-icon>{{icon}}</mat-icon>Options
                    </button>
                    <button mat-mini-fab    disabled
                    class=" floating-buttons1 disabled d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle" matTooltip="New">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
                  </button>
                      <button mat-mini-fab  
                        class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle" matTooltip="save">
                        <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
                      </button>
                    <button mat-mini-fab disabled class="text-white mx-2 action-button  bg-red disabled" type="button" mat-button>
                      <mat-icon class="">tune</mat-icon> Filter
                    </button>
                  </div>
    
            </div>
        </div>
    </div>
      <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
      <!--main section-->
      <div class="row bg-white mt-1 pr-1" style="height:calc(100vh - 9rem);">
        <div class="col-md-12 px-0">
          <div class="">
            <mat-accordion>
              <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header class="border-bottom padding-space border-top bg-white">
                  <mat-panel-title class="d-flex justify-content-between collapsefont">
                    <div>  <img src="./assets/img/icons/header.png" class="header_icon mr-2" alt="" srcset=""> General Date</div>
                       <mat-icon class="collapsefont">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
                     </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row  boxgrey  mt-2">
                  <div class="col-lg-4 col-md-6 mt-2">
                    <p class="mb-0 py-0">Warehouse No</p>
                    <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                      <input matInput placeholder="Enter">
                    </mat-form-field>
                  </div>
                  <!-- <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Pre Inbound No</p>
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput placeholder="Enter">
                      </mat-form-field>
                    </div>
                  </div> -->
                  <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0"> Container Receipt Date </p>
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput placeholder="Enter">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">ASN No </p>
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput placeholder="Enter">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Container Type </p>
                      <mat-form-field class="mb-0 w-100 " appearance="outline">
                  
                        <mat-select placeholder="select">
                          <mat-option value="option">01 - 20ft</mat-option>
                          <mat-option value="option2">02- 40ft</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Container No </p>
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput placeholder="Enter">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Vehicle Number  </p>
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput placeholder="Enter">
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Supplier Code</p>
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput placeholder="Enter">
                      </mat-form-field>
                    </div>
                  </div>
                  <!-- <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Order Type </p>
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput placeholder="Enter">
                      </mat-form-field>
                    </div>
                  </div> -->
                  <!-- <div class="col-lg-4 col-md-6 mt-2">
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0">Invoice No </p>
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput placeholder="Enter">
                      </mat-form-field>
                    </div>
                  </div> -->
                  <div class="col-lg-4 col-md-6 mt-2">
    
                    <p class="mb-0 py-0">Created By</p>
                    <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                      <input matInput placeholder="Enter">
                    </mat-form-field>
  
                  </div>
                  <div class="col-lg-4 col-md-6 mt-2">
  
                    <p class="mb-0 py-0">Created On</p>
                    <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                      <input matInput [matDatepicker]="picker" placeholder="Choose Date ">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
  
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel #panel1 hideToggle>
                <mat-expansion-panel-header class="border-bottom padding-space border-top">
                  <mat-panel-title class="d-flex justify-content-between collapsefont">
                    <div>  <img src="./assets/img/icons/add.png" class="header_icon mr-2" alt="" srcset=""> Additional Details</div>
                    <mat-icon class="collapsefont">{{panel1.expanded? 'remove' : 'add'}}</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row  boxgrey mt-2">
                    <div class="col-lg-4 col-md-6 mt-2">
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0">Consignment Type</p>
                          <mat-form-field class="mb-0 w-100 " appearance="outline">
                  
                            <mat-select placeholder="select">
                              <mat-option value="option">01 - Domestic</mat-option>
                              <mat-option value="option2">02- Import</mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 mt-2">
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0">Origin </p>
                          <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                            <input matInput placeholder="Enter">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 mt-2">
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0">No of Pallets</p>
                          <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                            <input matInput placeholder="Enter">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 mt-2">
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0">No of Cases</p>
                          <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                            <input matInput placeholder="Enter">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 mt-2">
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0">Unloaded By</p>
                          <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                            <input matInput placeholder="Enter">
                          </mat-form-field>
                        </div>
                      </div>
                      <div class="col-lg-4 col-md-6 mt-2">
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0">Remarks </p>
                          <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                            <input matInput placeholder="Enter">
                          </mat-form-field>
                        </div>
                      </div>
                      
                </div>
              </mat-expansion-panel>
              <!--
                <mat-expansion-panel #panel5   hideToggle>
                <mat-expansion-panel-header class="border-bottom padding-space border-top">
                  <mat-panel-title class="d-flex justify-content-between collapsefont">
                    Administrator
                    <mat-icon class="collapsefont">{{panel5.expanded? 'remove' : 'add'}}</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row  boxgrey mt-2">
                   
                  </div>
              </mat-expansion-panel>
              -->
            </mat-accordion>
            <div class="d-flex justify-content-center align-items-center py-2 bg-white">
              <button mat-raised-button class="text-white mr-1 px-3" color="warn" routerLink="/main/inbound/container-receipt">
                <mat-icon class="">close</mat-icon> Cancel
              </button>
              <button mat-raised-button class="bg-darkblue  text-white mx-1 px-4" >
                <mat-icon class="">done</mat-icon> Save
              </button>
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
  
  
    <!--right pane
    <div class="col-3 pl-1 pr-1 mt-1 ">
      <div class="whs-rightpane bg-white shadow">
      </div>
    </div>
    -->
  </div>
  