<div class="card bg-white " style="overflow-x: hidden;">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
    class="d-flex justify-content-between align-items-center header_colour text-white p-2">
    <h2 class="my-auto headertext">Expense Details </h2>
    <i mat-dialog-close class="bi bi-x-lg px-3"></i>
  </div>
  <div class="row w-25 mx-0 py-2 d-flex justify-content-end align-items-center">
    <div> <input matInput (keyup)="applyFilter($event)" class="form-control filter_button mt-2 mt-2 mx-2 border-bottom"
        placeholder="Search" style="width:90%">
    </div>

  </div>
  <div class=" my-0 py-0 mx-2">
    <div class="scroll">
      <table mat-table [dataSource]="dataSource" class="col-12 w-100">



        <!-- Symbol Column -->
        <ng-container matColumnDef="no">
          <th mat-header-cell *matHeaderCellDef> Expense Code</th>
          <td mat-cell *matCellDef="let element"> {{element.expenseCode}} </td>
                             <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="dimensions">
          <th mat-header-cell *matHeaderCellDef>Description</th>
          <td mat-cell *matCellDef="let element"> {{element.expenseDescription}} </td>
                             <td mat-footer-cell *matFooterCellDef> </td>
                             
        </ng-container>
        <!-- Weight Column -->
        <ng-container matColumnDef="timekeeper">
          <th mat-header-cell *matHeaderCellDef>Expense Amount</th>
          <td mat-cell *matCellDef="let element"class="text-right">{{element.positiveExpenseAmount | currency}} </td>
          <td mat-footer-cell *matFooterCellDef style="font-weight: bold; padding-left: 0.5rem;"class="text-right">{{getTotalAmount() | currency}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
        </tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true" class="example-first-footer-row"></tr>
      </table>
    </div>
    <!-- <div class="p-0 mx-1 " style="background-color: #ffff;">
      <mat-paginator class="" showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of periodic elements">
      </mat-paginator>
  </div>
  <div class="d-flex justify-content-center align-items-center py-2 bg-white">
    <button mat-raised-button mat-dialog-close class="text-white mr-1 px-4" color="warn">
      <mat-icon class="">close</mat-icon> Cancel
    </button>
  </div> -->

  

  <div class=" pb-1 w-100 d-flex bg-white justify-content-end">
    <div class=" py-2  mr-5 pr-5">
      <button mat-raised-button mat-dialog-close class="text-white mr-1 px-4" color="warn">
        <mat-icon class="">close</mat-icon> Cancel
      </button>
    </div>
    <div class="p-0 mx-1 ">
      <mat-paginator class="" showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>

</div>