<form [formGroup]="form">
  <div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
      <h6 class="my-auto">Add Ingredients </h6>
      <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
    </div>
    <div class="mt-2 px-4">
      <div class="row  p-1">
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black required">S No</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput placeholder="Enter" formControlName="referenceField2">
            </mat-form-field>
            <mat-error *ngIf="errorHandling('referenceField2')">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black required">Ingredient</p>
            <p-dropdown *ngIf=" this.data.pageflow != 'Edit' || this.showDropdown1==true" placeholder="Select"
              [filter]="true" appendTo="body" class="w-100" [options]="multiselectItemCodeList"
              [resetFilterOnHide]="true" #itemcode (onChange)="itemCodeChanged(itemcode.selectedOption)"
              formControlName="childItemCode" name="product" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"
              (onFilter)="onItemType($event)">
            </p-dropdown>
            <mat-form-field *ngIf="!showDropdown1 && this.data.pageflow == 'Edit'"
              class="form-group input_field mb-0 w-100" appearance="outline">
              <input matInput placeholder="Enter" formControlName="childItemCode">
              <button matSuffix mat-icon-button (click)="showDropdown()">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-form-field>
          </div>
          <mat-error *ngIf="errorHandling('childItemCode')">{{getErrorMessage()}}</mat-error>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black required">Description</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput formControlName="referenceField6" [disabled]="true">
            </mat-form-field>
          </div>
          <mat-error *ngIf="errorHandling('referenceField6')">{{getErrorMessage()}}</mat-error>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black required">Item Type</p>
            <p-dropdown  placeholder="Select" [disabled]="true"
              [filter]="true" appendTo="body" class="form-group input_field mb-0" [options]="itemTypeList"
              [resetFilterOnHide]="true" #serviceTypeId (onChange)="onservetypeChange(serviceTypeId.value)"
              formControlName="referenceField8" name="product" [style]="{'width': '100%'}"
              [panelStyle]="{'width':'20%'}" (onFilter)="onItemType($event)">
            </p-dropdown>
            <!-- <mat-form-field *ngIf="!showDropdown2 && this.data.pageflow == 'Edit'"
              class="form-group input_field mb-0 w-100" appearance="outline">
              <input matInput placeholder="Enter" formControlName="referenceField8">
              <button matSuffix mat-icon-button (click)="showDropdown4()">
                <mat-icon>edit</mat-icon>
              </button>
            </mat-form-field> -->
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black required">Quantity</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput formControlName="childItemQuantity">
            </mat-form-field>
          </div>
          <mat-error *ngIf="errorHandling('childItemQuantity')">{{getErrorMessage()}}</mat-error>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black required">UOM</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput formControlName="referenceField7" [disabled]="true">
            </mat-form-field>
          </div>
          <mat-error *ngIf="errorHandling('referenceField7')">{{getErrorMessage()}}</mat-error>
        </div>


      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center py-2">
      <button mat-dialog-close mat-raised-button class="text-white mx-1 px-3" color="warn">
        <mat-icon class="">close</mat-icon>Cancel
      </button>
      <button mat-raised-button class="bg-darkblue  text-white mx-1" (click)="submit()">
        <mat-icon class="">done</mat-icon> Save
      </button>
    </div>


  </div>
</form>