<h1 class=" header-size fw-lighter text-blue xl-margin ml-4">Matter</h1>

<div class="scroll2 xl-margin w-100 rowheight">
  <table mat-table [dataSource]="dataSource" class="w-100">
  


  
    <!-- Weight Column -->
    <ng-container matColumnDef="matterNumber">
      <th mat-header-cell *matHeaderCellDef>Matter No</th>
      <td mat-cell *matCellDef="let element" class="text-left"> <div >{{element.matterNumber}} </div>
       <div> {{element.matterDescription}}</div>
      </td>
 
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="matterDescription">
      <th mat-header-cell *matHeaderCellDef>Description</th>
    </ng-container>
    <ng-container matColumnDef="caseOpenedDate">
      <th mat-header-cell *matHeaderCellDef>Date</th>
      <td mat-cell *matCellDef="let element"> {{element.scaseOpenedDate | date :'MM-dd-yyyy'}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="statusId">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.statusId}} </td>
    </ng-container>
      <!-- Symbol Column -->
      <ng-container matColumnDef="no" >
        <th mat-header-cell *matHeaderCellDef >Details </th>
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button  class="hvr-wobble-horizontal" (click)="matter(element);">
             <p class="d-inline mr-2 text-blue hide-xs">View</p> <mat-icon class="d-inline text-blue ">trending_flat</mat-icon>
            </button>
           </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
  <div class="buttons border bg-white pb-1 w-100 d-flex justify-content-end">
    <div class="p-0 mx-1 " style="background-color: #ffff;">
      <mat-paginator class="" showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>
  </div>