<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">

        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
            <!-- <img src="../../../../assets/img/icons1/home24.png" class="img-fluid hvr-bounce-in" alt="" srcset=""> -->
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Setup</li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto"><a
                routerLink="/main/setup/selection">Organisation</a></li>
          </ol>
        </nav>

        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv">     <input matInput class="form-control filter_button mx-2  border-0" (input)="applyFilterGlobal($event, 'contains')"
            placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white mx-2 mr-3  yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white mx-2 mr-3 blueaction "
              matTooltip="Edit" (click)="onEditClick()">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                      <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white mx-2 mr-3 bg-success  " matTooltip="Info">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                  </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white mx-2 mr-3 darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab (click)="onNewClick()"
              class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab disabled class="text-white mx-2 action-button  bg-red disabled" type="button"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>

    <!--
        
            <button mat-raised-button (click)="openDialog()" style="background-color: #666666;color: white"
                class="ml-1 mx-2 px-3">
                <mat-icon class="mr-1">tune</mat-icon>Filter
            </button>
    -->
    <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
    <!--main section-->



    <div class="row mt-2 bg-white">
      <p-table #organization [globalFilterFields]="['userName', 'profileType', 'partner']" [value]="products"
        styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="single"
        scrollHeight="calc(100vh - 13.2rem)" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[100, 150, 200, 250]" [resizableColumns]="true" style="width: 100%;">
        <ng-template pTemplate="header">  
          <tr>
            <th style="max-width: 3rem">
              <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
          </th>
            <th style="width:3rem;"  pResizableColumn>Company Code 
             
            </th>
            <th style="width:3rem;" pResizableColumn>Plant 
             
            </th>
            
            <th style="width:3rem;" pResizableColumn>Warehouse No 
             
            </th>
            
            <th style="width:12rem;" pResizableColumn>Floor No
             
            </th>
            
            <th style="width:12rem;" pResizableColumn>Storage Section 
             
            </th>
            
            <th style="width:12rem;" pResizableColumn>Created By
             
            </th>
            <th  pResizableColumn>Created On 
             
            </th>
          </tr>
           
          <tr >
            <th style="max-width: 3rem">
              <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
          </th>
            <th style="width:3rem;">
              <!-- <p-columnFilter type="text" placeholder="Search" field="companyId"></p-columnFilter> -->
              <input pInputText  type="text" (input)="organization.filter($any($event.target)?.value, 'companyId', 'contains')" 
              [value]="$any(organization.filters['companyId'])?.value" placeholder="Search" class=" w-100 p-column-filter">
            </th>
            <th style="width:3rem;">
              <!-- <p-columnFilter type="text" placeholder="Search" field="plantId"></p-columnFilter> -->
              <input pInputText  type="text" (input)="organization.filter($any($event.target)?.value, 'plantId', 'contains')" 
              [value]="$any(organization.filters['plantId'])?.value" placeholder="Search" class=" w-100 p-column-filter">
            </th>
            <th style="width:3rem;">
              <p-columnFilter type="text" placeholder="Search" field="warehouseId"></p-columnFilter>
            </th>
            <th style="width:12rem;">
              <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>
            </th>
            <th style="width:12rem;">
              <!-- <p-columnFilter type="text" placeholder="Search" field="storageSectionId"></p-columnFilter> -->
              <input pInputText  type="text" (input)="organization.filter($any($event.target)?.value, 'storageSectionId', 'contains')" 
              [value]="$any(organization.filters['storageSectionId'])?.value" placeholder="Search" class=" w-100 p-column-filter">
            </th>
            <th style="width:12rem;">
              <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>
            </th>
            <th >
              <p-columnFilter type="text" placeholder="Search" field="createdOn"></p-columnFilter>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
          <tr>
            <td style="max-width: 3rem">
              <!-- <p-tableCheckbox [value]="product" ></p-tableCheckbox> -->
              <p-checkbox (onChange)="onChange()" [(ngModel)]="selectedProducts"  [value]="product"></p-checkbox>
          </td>
            <td style="width:3rem;">{{product.companyId}}</td>
            <td style="width:3rem;">{{product.plantId}}</td>
            <td style="width:3rem;">{{product.warehouseId}}</td>
            <td style="width:12rem;">{{product.floorId}}</td>
            <td style="width:12rem;">{{product.storageSectionId}}</td>
            <td style="width:12rem;">{{product.createdBy}}</td>
            <td >{{product.createdOn | date: 'dd-MM-YYYY'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>


  </div>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Assign</button>
    </ng-template>
  </mat-menu>




  <!--right pane-->
  <!-- <div class="col-3 pl-1 pr-1 mt-1 d-none">
      <div class="whs-rightpane bg-white shadow">
        <div class="text-dark p-2 bg-white">
          <div class="whs-vertical-scroll">
            <div class="d-flex justify-content-start my-1">
              <label for="" class="mr-5 mt-1">Variant</label>
              <label for="" class=" mt-1 ml-4 pl-3">Preoutbound</label>
            </div>
            <hr class="my-0">
            <div class="row mt-1">
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Warehouse No</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput placeholder="Autofill">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Product</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    
                    <mat-select placeholder="select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <div class="form-group mb-1">
                  <label for="inputEmail4" class="mb-0">Item Type</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    
                    <mat-select placeholder="select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Item Group</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Item Sub Group</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center my-1">
            <button mat-raised-button class="text-white mr-1" color="warn">
              <mat-icon class="">close</mat-icon> Cancel
            </button>
            <button mat-raised-button class="bg-darkblue  text-white mx-1" >
              <mat-icon class="">search</mat-icon> Search
            </button>
          </div>
        </div>
        <div class="row  no-gutters">
          <div class="col-6 pl-0 d-none">
              <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
                <i class="far fa-arrow-alt-circle-down fa-2x"></i>
                <p class="mb-0 mt-1">Storage Setup</p>
              </div>
            </div>
            <div class="col-6 pl-0  d-none">
              <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
                <i class="far fa-arrow-alt-circle-down fa-2x"></i>
                <p class="mb-0 mt-1">Item Setup</p>
              </div>
            </div>
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Storage Setup</p>
            </div>
          </div>
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Item Setup</p>
            </div>
          </div>
  
        </div>
      </div>
    </div> -->
</div>
