<div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Customer </p>
        <div class="d-flex justify-content-between align-items-center">
            <img type="button" (click)="openCrud('Edit')" src="./assets/common/edit.png" alt="" srcset=""
                style="margin: 0 17px; height: 1.5rem;">
            <img type="button" (click)="downloadExcel()" src="./assets/common/download.png" alt="" srcset=""
                style="margin: 0 17px; height: 1.5rem;">
            <img type="button" (click)="deleteDialog()" src="./assets/common/deletetool.png" alt="" srcset=""
                style="margin: 0 17px; height: 1.5rem;">
            <img type="button" (click)="customTable()" src="./assets/common/settings.png" alt="" srcset=""
                style="margin-left: 19px; margin-right: 28px; height: 1.5rem;">
            <button type="button" class="btn ml-2 addNewbuttom bgBlack text-white" (click)="openCrud('New')"><i
                    class="bi bi-plus-square pr-2"></i> Add New</button>
        </div>
    </div>

    <div class="d-flex justify-content-between align-items-center"
        style="margin-bottom: 1.1rem !important;margin-top: 0.8rem;">
        <div class="d-flex justify-content-end align-items-center">
            <p-iconField iconPosition="right" class="mr-2">
                <p-inputIcon type="button" (click)="customer.toggle($event)" styleClass="pi pi-filter" />
                <input type="text" id="toolInput1"  pInputText appTrim  placeholder="Advance filter" />
                <!--(input)="customerTag.filterGlobal($any($event.target).value, 'contains')"-->
            </p-iconField>

            <p-overlayPanel [dismissable]="false" appendTo="body" [style]="{ width: '80vw'}"
                [styleClass]="'custom-overlay-panel'" #customer>
                <form [formGroup]="searchform" style="padding: 2rem;">
                    <div class="row">
                        <div class="col-3 mb-3 borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Customer</p>
                            <p-multiSelect [showClear]="true" placeholder="Select" filter="true" [options]="customerDropdown"
                                formControlName="customerId" appendTo="body" [style]="{'width': '100%'}"
                                [panelStyle]="{'width':'100%'}" />
                        </div>
                        <div class="col-3 mb-3 borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Product</p>
                            <p-multiSelect [showClear]="true" placeholder="Select" filter="true" [options]="productDropdown"
                                formControlName="productId" appendTo="body" [style]="{'width': '100%'}"
                                [panelStyle]="{'width':'100%'}" />
                        </div>
                        <div class="col-3 mb-3 borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Sub Product</p>
                            <p-multiSelect [showClear]="true" placeholder="Select" filter="true" [options]="subProductDropdown"
                                formControlName="subProductId" appendTo="body" [style]="{'width': '100%'}"
                                [panelStyle]="{'width':'100%'}" />
                        </div>
                        <div class="col-3 mb-3 borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Sub Product Value</p>
                            <p-multiSelect [showClear]="true" placeholder="Select" filter="true" [options]="subProductValueDropdown"
                                formControlName="subProductValue" appendTo="body" [style]="{'width': '100%'}"
                                [panelStyle]="{'width':'100%'}" />
                        </div>
                        <div class="col-3 mb-3 borderRadius12">
                            <p class="formControlLabel f600 textBlack mb-0">Status</p>
                            <p-multiSelect [showClear]="true" placeholder="Select" filter="true" [options]="statusDropdown"
                                formControlName="statusId" appendTo="body" [style]="{'width': '100%'}"
                                [panelStyle]="{'width':'100%'}" />
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <div>
                            <img type="button" (click)="reset()" src="./assets/common/reset.png" alt="" srcset="">
                        </div>
                        <div>
                            <button class="buttom1 textBlack mx-1" (click)="closeOverLay()">Cancel</button>
                            <button class="buttom1 bgBlack text-white mx-1" (click)="search()">Apply</button>
                        </div>
                    </div>
                </form>
            </p-overlayPanel>

            <p-chips (onRemove)="chipClear($event)" [(ngModel)]="fieldsWithValue" class="inputborderLess" />
        </div>
        <div class="d-flex justify-content-end align-items-center">
            <button type="button" class="btn ml-3 pt-1 px-2 pb-0 addNewbuttom hoverButton" (click)="showTileScreen()"
                [ngClass]="!showList ? 'bgBlack text-white' : ''"><i class="bi bi-columns-gap"
                    style="font-size: 19px;"></i></button>
            <button type="button" class="btn ml-3 pt-1 px-2 pb-0 addNewbuttom hoverButton" (click)="showListScreen()"
                [ngClass]="showList ? 'bgBlack text-white' : ''"><i class="bi bi-list"
                    style="font-size: 19px;"></i></button>
        </div>
    </div>

    <div class="tableProperties" *ngIf="showList">
        <p-table #customerTag [columns]="cols" [value]="customerTable" class="custom-table" [scrollable]="true"
            selectionMode="single" scrollHeight="calc(100vh - 20.8rem)" [paginator]="true" [rows]="100"
            [showCurrentPageReport]="true" sortField="createdOn" [sortOrder]="-1" [tableStyle]="{'width': '100rem'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-sm">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 5rem;">
                        <p-tableHeaderCheckbox class="pl-3" [disabled]="true"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }} <p-sortIcon [field]="col.field" />
                    </th>
                </tr>
                <tr>
                    <th style="width: 5rem;">
                        <p-tableHeaderCheckbox class="pl-3" [disabled]="true"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns">
                        <input  pInputText appTrim  type="text"
                            (input)="customerTag.filter($any($event.target)?.value, col.field, 'contains')"
                            [value]="$any(customerTag.filters[col.field])?.value" placeholder="Search"
                            class="p-column-filter">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [class.selectedRow]="selectedCustomer[0] === rowData">
                    <td style="width: 5rem; justify-content: center;">
                        <p-checkbox (onChange)="onChange()" [(ngModel)]="selectedCustomer" class="pl-3"
                            [value]="rowData"></p-checkbox>
                    </td>
                    <td *ngFor="let col of columns" [style]="col.style">
                        <ng-container *ngIf="col.format !== 'date' && col.format !== 'hyperLink'; else dateTemplate">
                            {{ rowData[col.field] }}
                        </ng-container>
                        <ng-template #dateTemplate>
                            <span *ngIf="col.format == 'hyperLink'" (click)="openCrud('Edit', rowData)"
                                style="cursor:pointer" class="textOrange font-weight-bold hvr-underline-from-center">{{
                                rowData[col.field] }}</span>
                            <span *ngIf="col.format == 'date'">{{ rowData[col.field] | date: 'dd-MM-yyyy HH:mm'}}</span>
                        </ng-template>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="4">
                        <p class="my-2 w-100 pl-3">No records found</p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>

    <div class="tableProperties row px-1" style="overflow-y: scroll; height: calc(100vh - 18rem);" *ngIf="!showList">
        <div class="col-2 px-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2 pb-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2 pb-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2 pb-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2 pb-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2 pb-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2 pb-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2 pb-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
        <div class="col-2 px-2 pb-2" *ngFor="let customer of customerTable">
            <div class="cardBox">
                <div class="w-100 text-center">
                    <div class="status" style="position: absolute; right: 20px; top: 10px;"></div>
                    <img src="../../../../assets/customer/logo.png" class="logoImage" alt="...">
                </div>
                <div class="card-body text-center">
                    <h5 class="titleFont w-100">{{customer.customerName}}</h5>
                    <p class="card-text text-muted">DHL LTD</p>
                    <a (click)="openCrud('Edit', customer)" type="button" class="card-link text-muted">View Details</a>
                </div>
            </div>
        </div>
    </div>
</div>