::ng-deep .customClass { border-radius: 12px !important; box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important}

.custom-height{height: calc(100vh - 19.3rem) !important; overflow-y: scroll !important;}

.hoverButton{border: 1px solid var(--black) !important;color: var(--black);}
.hoverButton:hover{background-color: var(--black); border: none; color: var(--white);}

.cardBox{
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 0px 25px;
    padding-top:15px;
    border-radius: 8px;
    border: solid 1px  #dbdbdb;
}
.titleFont{
    width: 75px;
    height: 18px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    color: var(--black);
}
.bodyText{
    width: 64px;
    height: 16px;
    flex-grow: 0;
    font-family: Nunito;
    font-size: 12px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.3;
    letter-spacing: normal;
    text-align: left;
    color: #828282;
}

.logoImage{
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}

.status{
    width: 12px;
    height: 12px;
    background-color: #00ab1b;
    border-radius: 100%;
}

.viewDetails{
  flex-grow: 0;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: normal;
  text-align: left;
  color: #828282;
}