

  <nav mat-tab-nav-bar style="color: #525C65">
    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold    nav-border align-items-center" 
    routerLink="/main/admin/userprofile">User Profile </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold   nav-border align-items-center"
    routerLink="/main/admin/system-type">System </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold  nav-border align-items-center"
   routerLink="/main/admin/partnercode">Partner </a>

   <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold  nav-border align-items-center"
   routerLink="/main/admin/userCreation">User Creation </a>

   <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold  nav-border align-items-center"
   routerLink="/main/admin/clientAssignment">Client Assignment </a>

  </nav>
  