<div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">DDU Invoice</p>
        <div class="d-flex justify-content-between align-items-center">
            <img type="button"  src="./assets/common/edit.png" alt="" srcset=""
                style="margin: 0 17px; height: 1.5rem;">
            <img type="button"  src="./assets/common/download.png" alt="" srcset=""
                style="margin: 0 17px; height: 1.5rem;">
            <img type="button"  src="./assets/common/deletetool.png" alt="" srcset=""
                style="margin: 0 17px; height: 1.5rem;">
            <img type="button" (click)="op.toggle($event)" src="./assets/common/settings.png" alt="" srcset=""
                style="margin-left: 19px; margin-right: 28px; height: 1.5rem;">
            <p-overlayPanel [style]="{ width: '180' }" #op>
                <input type="file" #fileInput1 style="display:none" (change)="onFileSelectedBayan($event)" /> -->
                <!-- <div class="d-flex flex-column">
                    <button style="width: 8rem;" mat-menu-item class="w-100" (click)="uploadBayan()"><img
                            src="./assets/common/upload.png" style="padding-right: 10px;width: 2rem;" srcset="">Upload
                        Bayan</button>
                </div>
            
                 <img src="../../../../assets/iwExpress.png" alt="" srcset=""> -->
            </p-overlayPanel>
            <button type="button" class="btn ml-2 addNewbuttom bgBlack text-white" ><i
                    class="bi bi-plus-square pr-2"></i> Add New</button>
        </div>
    </div>

    <div class="d-flex justify-content-start align-items-center"
        style="margin-bottom: 1.1rem !important;margin-top: 0.8rem;">
        <p-iconField iconPosition="right" class="mr-2">
            <p-inputIcon type="button" styleClass="pi pi-filter" />
            <input type="text" id="toolInput1"  pInputText appTrim  placeholder="Advance filter"
                (input)="dduInvoiceTag.filterGlobal($any($event.target).value, 'contains')" />
        </p-iconField>

        <p-overlayPanel [dismissable]="false" appendTo="body" [style]="{ width: '80vw'}"
            [styleClass]="'custom-overlay-panel'" #dduInvoice>
            <form [formGroup]="searchform" style="padding: 2rem;">
                <div class="row">
                    <div class="col-3 mb-3 borderRadius12">
                    <p class="formControlLabel f600 textBlack mb-0">Language</p>
                    <p-multiSelect [showClear]="true" placeholder="Select" filter="true" [options]="languageDropdown"
                        formControlName="languageIdList" appendTo="body" [style]="{'width': '100%'}"
                        [panelStyle]="{'width':'100%'}" />
                </div>
                    <!-- <div class="col-3 mb-3 borderRadius12">
                        <p class="formControlLabel f600 textBlack mb-0">Status</p>
                        <p-multiSelect [showClear]="true" placeholder="Select" filter="true" [options]="statusDropdown"
                            formControlName="statusId" appendTo="body" [style]="{'width': '100%'}"
                            [panelStyle]="{'width':'100%'}" />
                    </div> -->
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <img type="button" (click)="reset()" src="./assets/common/reset.png" alt="" srcset="">
                    </div>
                    <div>
                        <button class="buttom1 textBlack mx-1" (click)="closeOverLay()">Cancel</button>
                        <button class="buttom1 bgBlack text-white mx-1" (click)="search()">Apply</button>
                    </div>
                </div>
            </form>
        </p-overlayPanel>

        <p-chips (onRemove)="chipClear($event)" [(ngModel)]="fieldsWithValue" class="inputborderLess" />
    </div>

    <div class="tableProperties">
        <p-table #dduInvoiceTag [columns]="cols" [value]="dduInvoiceTable" class="custom-table" [scrollable]="true"
            selectionMode="multiple" [(selection)]="selectedDduInvoice" sortField="createdOn" [sortOrder]="-1"
            scrollHeight="calc(100vh - 20.8rem)" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
            sortField="createdOn" [sortOrder]="-1" [tableStyle]="{'width': '110rem'}"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" styleClass="p-datatable-sm" >
            <!-- (onRowExpand)="onRowExpand($event)" (onRowCollapse)="onRowCollapse($event)" dataKey="partnerHouseAirwayBill"
            rowExpandMode="single" -->
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th style="width: 5rem;">
                        <p-tableHeaderCheckbox class="pl-3"></p-tableHeaderCheckbox>
                    </th>
                    <!-- <th style="width: 5rem;">
                       Actions
                    </th> -->
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{ col.header }} <p-sortIcon [field]="col.field" />
                    </th>
                    <th style="width: 5rem;" pFrozenColumn alignFrozen="right">
                        Actions
                    </th>
                </tr>
                <tr>
                    <th style="width: 5rem;">
                        <p-tableHeaderCheckbox class="pl-3" [disabled]="true"></p-tableHeaderCheckbox>
                    </th>
                    <th *ngFor="let col of columns">
                        <input  pInputText appTrim  type="text"
                            (input)="dduInvoiceTag.filter($any($event.target)?.value, col.field, 'contains')"
                            [value]="$any(dduInvoiceTag.filters[col.field])?.value" placeholder="Search"
                            class="p-column-filter">
                    </th>
                    <th style="width: 5rem;" pFrozenColumn alignFrozen="right">
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns" let-expanded="expanded">
                <tr [class.selectedRow]="selectedDduInvoice[0] === rowData">
                <tr>
                    <td style="width: 5rem; justify-content: center;">
                        <p-tableCheckbox class="pl-3" [value]="rowData" />
                    </td>
                    <!-- <td style="width: 5rem; justify-content: center;">
                        <i style="font-size: 14px;" [pRowToggler]="rowData"
                            [ngClass]="expanded ?  'bi-chevron-up' : 'bi-chevron-right'"></i>
                    </td> -->
                    <td *ngFor="let col of columns" [style]="col.style">
                        <ng-container *ngIf="col.format !== 'date' && col.format !== 'hyperLink'; else dateTemplate">
                            {{ rowData[col.field] }}
                        </ng-container>
                        <ng-template #dateTemplate>
                            <span *ngIf="col.format == 'hyperLink'"  style="cursor:pointer"
                                class="textOrange font-weight-bold hvr-underline-from-center">{{ rowData[col.field] }}</span>
                            <span *ngIf="col.format == 'date'">{{ rowData[col.field] | date: 'dd-MM-yyyy HH:mm'}}</span>
                        </ng-template>
                    </td>
                    <td style="width: 5rem; justify-content: center;" pFrozenColumn alignFrozen="right">
                        <img type="button" (click)="label.toggle($event)" src="./assets/common/actions.png" alt=""
                            srcset="" style="height: 1.4rem;">

                        <p-overlayPanel [style]="{ width: '180' }" #label>
                            <div class="d-flex flex-column">
                                <button style="width: 8rem;" mat-menu-item class="w-100" [disabled]="rowData.incoTerms != 'DDU' && rowData.hawbTypeId != 7"
                                    (click)="label.hide(); downloadInvoice(rowData, 'download')"><img
                                        src="./assets/common/document.png" style="padding-right: 10px;width: 2rem;"
                                        srcset="">Invoice</button>
                            </div>
                        </p-overlayPanel>
                    </td>
                </tr>
            </ng-template>
            <!-- <ng-template pTemplate="rowexpansion" let-rowData let-expanded="expanded">
                <td [attr.colspan]="getColspan()" class="px-4">
                    <div class="d-flex justify-content animate__animated animate__fadeIn">
                        <div class="lineBorder"></div>
                        <div class="contentBox ">
                            <div class="row">
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 headerText">HAWB</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 valueText chip">{{rowData.houseAirwayBill}}</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 headerText">Origin</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 valueText chip"
                                        [ngClass]="rowData.countryOfOrigin ? 'bgOrange text-dark w-75 textCenter' : ''">
                                        {{rowData.countryOfOrigin}}</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 headerText">Flight No</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 valueText chip">{{rowData.flightNo}}</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 headerText">Currency ID</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 valueText chip">{{rowData.consignmentCurrency}}</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 headerText"> Consignment Value</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 valueText chip"
                                        [ngClass]="rowData.consignmentValue ? 'bgOrange text-dark w-75 textCenter' : ''">
                                        {{rowData.consignmentValue}}</p>
                                </div>

                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 headerText">Payment Type</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 valueText chip">{{rowData.paymentType}}</p>
                                </div>

                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 headerText">Customs Value</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 valueText chip">{{rowData.customsKd}}</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 headerText">IATA</p>
                                </div>
                                <div class="col-2 spacingBottom">
                                    <p class="mb-0 valueText chip">{{rowData.iataKd}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </ng-template> -->
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td [attr.colspan]="4">
                        <p class="my-2 w-100 pl-3">No records found</p>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<mat-menu #menu="matMenu" class="customClass">
    <ng-template matMenuContent let-aliasMenuItems="delivery">
        <button mat-menu-item>Edit</button>
        <button mat-menu-item>Confirm</button>
    </ng-template>
</mat-menu>