<!-- <div class="bg-white size"> 
    <mat-form-field class="form-group input_field mb-0" appearance="outline">
       <mat-select placeholder="Select"></mat-select>
      </mat-form-field>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="size">
    </highcharts-chart>
</div> -->

<h4 class="text-center mb-5 pb-5">JNT Event Status</h4>
<highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions" class="size">
</highcharts-chart>
<p class="text-center">Total: {{total}}</p>