<div class="bgWhite text-black w-93 h-100 mx-4 my-2 mt-4">
  <div class="d-flex justify-content-between align-items-center">
    <p class="componentHeader f600 mb-0">Image Upload</p>
    <input type="file" #fileInput multiple style="display:none" (change)="selectFiles($event)" />
    <button (click)="fileInput.click()" type="button" class="btn ml-2 addNewbuttom bgBlack text-white"><i
        class="bi bi-plus-square pr-2"></i> Add New</button>
  </div>
  <div class="mt-4 pt-2">
    <p-table [scrollable]="true" scrollHeight="calc(100vh - 24.8rem)" [value]="imageDetails.controls">
      <ng-template pTemplate="header">
        <tr>
          <th>File Name</th>
          <th>Location</th>
          <th>Actions</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item let-i="rowIndex" let-rowData>
        <tr [formGroup]="item">
          <td><input class="inputborderLess pl-3" type="text" matInput formControlName="imageRefId"></td>
          <td><input class="inputborderLess pl-3" type="text" formControlName="referenceImageUrl"></td>
          <td style="padding-left: 1.5rem !important;">
            <img type="button" src="./assets/common/actions.png" (click)="op.toggle($event)" alt="" srcset=""
              style="height: 1.4rem;">
            <p-overlayPanel [style]="{ width: '180' }" #op>
              <div class="d-flex flex-column">
                <button style="width: 8rem;" mat-menu-item class="w-100" (click)="op.hide();removeItem(i)"><img
                    src="./assets/common/delete1x.png" style="padding-right: 10px;width: 2rem;"
                    srcset="">Delete</button>
                <button style="width: 8rem;" mat-menu-item class="w-100" (click)="op.hide();download(rowData)"><img
                    src="./assets/common/download.png" style="padding-right: 10px;width: 2rem;"
                    srcset="">Download</button>
              </div>
            </p-overlayPanel>
          </td>

        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="d-flex my-3 justify-content-end">
    <button class="buttom1 textBlack mx-1" mat-dialog-close>Back</button>
    <button class="buttom1 bgBlack text-white mx-1" (click)="save()">Save</button>
  </div>
</div>