




<div class="card  border-0 bg-white "style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="d-flex justify-content-between align-items-center header_colour text-white p-2">
      <h5 class="my-auto">Assign Invoice No</h5>
      <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
    </div>
  <div class="row bg-white p-2 d-flex mx-3" >
    <div class="col-8 mt-1">
      <div class="form-group mb-0">
        <label for="inputEmail4" class="mb-0">Invoice No</label>
        <mat-form-field class="mb-0 w-100 " appearance="outline">
          <input matInput placeholder="Enter">
        </mat-form-field>
      </div>
  </div>
  </div>
  
  <div class="d-flex justify-content-center align-items-center py-2 bg-white">
    <button mat-raised-button class="text-white mr-1 px-4" color="warn" routerLink="/main/inbound/preinbound-create"> 
      <mat-icon class="">close</mat-icon> Cancel
    </button>
    <button mat-raised-button class="bg-darkblue  text-white mx-1 px-4" routerLink="/main/inbound/preinbound-create">
      <mat-icon class="">done</mat-icon> Save
    </button>
  </div>
  
  </div>
  
  
  