<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white">
            <!-- <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li> -->
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Outbound</li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Order Management</li>

          </ol>
        </nav>


        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input matInput
              (input)="orderManagementTag.filterGlobal($any($event.target).value, 'contains')"
              class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">

            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="allocateBulk()"
              class="floating-buttons  d-flex align-items-center justify-content-center purpleaction text-white mx-2"
              matTooltip="Allocate">
              <mat-icon
                class="action-icon d-flex align-items-center justify-content-center">unarchive</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="unallocateBulk()"
            class="floating-buttons  d-flex align-items-center justify-content-center orangeaction text-white mx-2"
            matTooltip="Unallocate">
            <mat-icon
              class="action-icon d-flex align-items-center justify-content-center">system_update_alt</mat-icon>
          </button>

            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display" [disabled]="!RA.view">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit" [disabled]="!RA.createUpdate">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete" [disabled]="!RA.delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                          <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                        class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                        <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                      </button>
                        -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download" (click)="downloadexcel()">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New" [disabled]="!RA.createUpdate">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" (click)="drawer.toggle()"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar
        <app-main-section-tabbar>
        </app-main-section-tabbar>  -->
  </div>
  <!--main section-->
  <div class="pr-1 mt-2 mx-0 w-100">
    <app-order-tab></app-order-tab>
  </div>

  <mat-drawer-container class="example-container  w-100 animate__animated animate__fadeInRight animate__faster">
    <mat-drawer #drawer class="example-sidenav " mode="over" position="end">
      <div class="card-header whs-bg-grey text-white d-flex justify-content-between align-items-center">
        <h6 class="my-auto mb-0">Search Parameter</h6>
        <mat-icon type="button" (click)="drawer.toggle()">close</mat-icon>
      </div>
      <form [formGroup]="searhform">
        <div class="row searchscroll mt-1 mr-1 p-2 pl-3">
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Preoutbound No</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="preOutboundNoList"
              [(ngModel)]="preOutboundNoselected" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="preOutboundNoList" [(ngModel)]="preOutboundNoselected"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" formControlName="preOutboundNo"></angular2-multiselect> -->
              <p-multiSelect placeholder="Select" class="w-100" [options]="preOutboundNoList"
                formControlName="preOutboundNo" [style]="{'width': '100%'}"
                [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Order No</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="refDocNumberList"
              [(ngModel)]="refDocNumberListselected" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="refDocNumberList" [(ngModel)]="refDocNumberListselected"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" formControlName="refDocNumber"></angular2-multiselect> -->
              <p-multiSelect placeholder="Select" class="w-100" [options]="refDocNumberList"
                formControlName="refDocNumber" [style]="{'width': '100%'}"
                [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Order Type</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="outboundOrderTypeIdList"
              [(ngModel)]="outboundOrderTypeIdListselected" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="outboundOrderTypeIdList" [(ngModel)]="outboundOrderTypeIdListselected"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" formControlName="outboundOrderTypeId"></angular2-multiselect> -->
              <p-multiSelect placeholder="Select" class="w-100" [options]="outboundOrderTypeIdList"
                formControlName="outboundOrderTypeId" [style]="{'width': '100%'}"
                [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Store Code</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="partnerCodeList"
              [(ngModel)]="partnerCodeListselected" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="partnerCodeList" [(ngModel)]="partnerCodeListselected"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" formControlName="partnerCode"></angular2-multiselect> -->
              <p-multiSelect placeholder="Select" class="w-100" [options]="partnerCodeList"
                formControlName="partnerCode" [style]="{'width': '100%'}"
                [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Part No</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="itemCodeList"
              [(ngModel)]="itemCodeListselected" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="itemCodeList" [(ngModel)]="itemCodeListselected"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" formControlName="itemCode"></angular2-multiselect> -->
              <p-multiSelect placeholder="Select" class="w-100" [options]="itemCodeList" formControlName="itemCode"
                [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Status</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="statusIdList"
              [(ngModel)]="statusIdListselected" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="statusIdList" [(ngModel)]="statusIdListselected"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" formControlName="statusId"></angular2-multiselect> -->
              <p-multiSelect placeholder="Select" class="w-100" [options]="statusIdList" formControlName="statusId"
                [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>

          <div class="col-12 my-1">
            <p class="mb-0 py-0">Required Date</p>
            <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">

              <mat-date-range-input [rangePicker]="pickerss">
                <input matStartDate placeholder="Start date" formControlName="startRequiredDeliveryDate">
                <input matEndDate placeholder="End date" formControlName="endRequiredDeliveryDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerss"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerss></mat-date-range-picker>
            </mat-form-field>

          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" class="text-white mx-1 px-4" (click)="reload();">
          <mat-icon class="">restart_alt</mat-icon> Reset
        </button>
        <button mat-raised-button class="bg-darkblue text-white mx-1" (click)="search(); drawer.toggle();">
          <mat-icon class="">done</mat-icon> Search
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <!-- <div class="row "style="padding-right: 15px !important;"> -->
      <div class="row ">
        <p-table #orderManagementTag [value]="orderManagement"
          [globalFilterFields]="['companyDescription','plantDescription','warehouseDescription','partnerCode','tokenNumber','salesOrderNumber', 'actions', 'statusDescription', 'refDocNumber',  'outboundOrderTypeId','lineNumber','itemCode','orderQty','inventoryQty','allocatedQty','requiredDeliveryDate','preOutboundNo','partnerItemBarcode','proposedStorageBin','description']"
          styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="multiple"
          scrollDirection="both" [(selection)]="selectedOrderManagement" scrollHeight="calc(100vh - 15.2rem)"
          sortField="refDocNumber" [sortOrder]="-1" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="true"
          style="width: 100%;margin-left: 10px;background-color:white">
          <ng-template pTemplate="header">
            <tr>
              <th style="max-width: 3.5rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th style="width: 6rem;"pSortableColumn="actions" pResizableColumn>Actions <p-sortIcon field="actions"></p-sortIcon>
               
              </th>
              <th style="width: 6rem;" pSortableColumn="plantDescription"   pResizableColumn>Branch<p-sortIcon field="plantDescription"></p-sortIcon></th>
              <th style="width: 6rem;" pSortableColumn="warehouseDescription"   pResizableColumn>Warehouse<p-sortIcon field="warehouseDescription"></p-sortIcon></th>
              <th style="width: 6rem;" pSortableColumn="targetBranchCode" pResizableColumn>Target Branch<p-sortIcon field="targetBranchCode"></p-sortIcon>

              </th>
              <th style="width: 6rem;" pSortableColumn="tokenNumber" pResizableColumn>Token Number<p-sortIcon field="tokenNumber"></p-sortIcon>

              </th>
              <th style="width: 6rem;" pSortableColumn="salesOrderNumber"   pResizableColumn>Sales Order No<p-sortIcon field="salesOrderNumber"></p-sortIcon>
         
              </th>
              <th style="width: 6rem" pSortableColumn="statusDescription" pResizableColumn>Status <p-sortIcon field="statusDescription"></p-sortIcon>
             
              </th>
              <th style="width: 6rem" pSortableColumn="refDocNumber" pResizableColumn> Order No<p-sortIcon field="refDocNumber"></p-sortIcon>
               
              </th>
           
              <th style="width: 8rem;" pSortableColumn="referenceDocumentType"   pResizableColumn>Order Type<p-sortIcon field="referenceDocumentType"></p-sortIcon>
         
              </th>
              <th style="width: 6rem;" pSortableColumn="lineNumber"   pResizableColumn>Line No<p-sortIcon field="lineNumber"></p-sortIcon>
         
              </th>
              <th style="width: 6rem;" pSortableColumn="manufacturerName" pResizableColumn>Mfr Name<p-sortIcon field="manufacturerName"></p-sortIcon>

              </th>
              <th style="width: 6rem;" pSortableColumn="itemCode" pResizableColumn>Part No<p-sortIcon field="itemCode"></p-sortIcon>

              </th>
             
             
             


              <th style="width: 6rem;" pSortableColumn="orderQty" pResizableColumn>Order Qty<p-sortIcon
                  field="orderQty"></p-sortIcon>

              </th>
              <th style="width: 6rem;" pSortableColumn="inventoryQty" pResizableColumn>Inventory Qty<p-sortIcon
                field="inventoryQty"></p-sortIcon>
                <th style="width: 6rem;" pSortableColumn="allocatedQty" pResizableColumn>Allocated Qty<p-sortIcon
                  field="allocatedQty"></p-sortIcon>

            </th>
    
              
              <th style="width: 6rem;" pSortableColumn="partnerItemBarcode" pResizableColumn>Barcode Id<p-sortIcon
                  field="partnerItemBarcode"></p-sortIcon>

              </th>
              <th style="width: 8rem;" pSortableColumn="proposedStorageBin" pResizableColumn>Bin Location<p-sortIcon
                  field="proposedStorageBin"></p-sortIcon>

              </th>
               
              <th style="width: 15rem;" pSortableColumn="description" pResizableColumn>
                Description<p-sortIcon field="description"></p-sortIcon>

              </th>
              <th style="width: 8rem;" pSortableColumn="preOutboundNo" pResizableColumn>Preoutbound No<p-sortIcon field="preOutboundNo"></p-sortIcon>

              </th>
              <th style="width: 8rem;" pSortableColumn="levelId" pResizableColumn> Level<p-sortIcon field="levelId"></p-sortIcon>

              </th>
              <!-- <th style="width: 10rem;" pResizableColumn>Approval Process
               
              </th>
              <th style="width: 8rem;" pResizableColumn>Approver Code
               
              </th>
              <th style="width: 10rem;" pResizableColumn>Approver Name
               
              </th>-->


            </tr>

            <tr>
              <th style="max-width: 3.5rem">
                <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
              </th>

              <th style="width: 6rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'actions', 'contains')"
                  [value]="$any(orderManagementTag.filters['actions'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 6rem">
                <input pInputText  type="text" (input)="orderManagementTag.filter($any($event.target)?.value, '[plantDescription]', 'contains')" 
                [value]="$any(orderManagementTag.filters['plantDescription'])?.value" placeholder="Search" class=" w-100 p-column-filter">
              </th>
              <th style="width: 6rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'warehouseDescription', 'contains')"
                  [value]="$any(orderManagementTag.filters['warehouseDescription'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th style="width: 6rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'targetBranchCode', 'contains')"
                  [value]="$any(orderManagementTag.filters['targetBranchCode'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
              </th>
              <th style="width: 6rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'tokenNumber', 'contains')"
                  [value]="$any(orderManagementTag.filters['tokenNumber'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
              </th>
              <th style="width: 6rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'salesOrderNumber', 'contains')"
                  [value]="$any(orderManagementTag.filters['salesOrderNumber'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 6rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'statusDescription', 'contains')"
                  [value]="$any(orderManagementTag.filters['statusDescription'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 6rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'refDocNumber', 'contains')"
                  [value]="$any(orderManagementTag.filters['refDocNumber'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>

              <th style="width: 8rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'referenceDocumentType', 'contains')"
                  [value]="$any(orderManagementTag.filters['referenceDocumentType'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 6rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'lineNumber', 'contains')"
                  [value]="$any(orderManagementTag.filters['lineNumber'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 6rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'manufacturerName', 'contains')"
                  [value]="$any(orderManagementTag.filters['manufacturerName'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 6rem">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'itemCode', 'contains')"
                  [value]="$any(orderManagementTag.filters['itemCode'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
             
              <th style="width: 6rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'orderQty', 'contains')"
                  [value]="$any(orderManagementTag.filters['orderQty'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalLevel"></p-columnFilter>-->
              </th>
              <th style="width: 6rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'inventoryQty', 'contains')"
                  [value]="$any(orderManagementTag.filters['inventoryQty'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
              </th>
              <th style="width: 6rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'allocatedQty', 'contains')"
                  [value]="$any(orderManagementTag.filters['allocatedQty'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
              </th>

              <th style="width: 6rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'partnerItemBarcode', 'contains')"
                  [value]="$any(orderManagementTag.filters['partnerItemBarcode'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
              </th>
              <th style="width: 8rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'proposedStorageBin', 'contains')"
                  [value]="$any(orderManagementTag.filters['proposedStorageBin'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdOn"></p-columnFilter>-->
              </th>
              <th style="width: 15rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'description', 'contains')"
                  [value]="$any(orderManagementTag.filters['description'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdOn"></p-columnFilter>-->
              </th>
             
              <th style="width: 8rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'preOutboundNo', 'contains')"
                  [value]="$any(orderManagementTag.filters['preOutboundNo'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
              </th>
              <th style="width: 8rem;">
                <input pInputText type="text"
                  (input)="orderManagementTag.filter($any($event.target)?.value, 'levelId', 'contains')"
                  [value]="$any(orderManagementTag.filters['levelId'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-orderManagement let-rowIndex="rowIndex">
            <tr>

              <td style="max-width:3.5rem;">
                <!-- <p-checkbox (onChange)="onChange()" [(ngModel)]="selectedOrderManagement" [value]="orderManagement"></p-checkbox> -->
                <p-tableCheckbox [value]="orderManagement"></p-tableCheckbox>
              </td>
              <td style="width: 6rem"> <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{orderManagement: orderManagement}">
                <mat-icon class="actioncolor">more_horiz</mat-icon>
              </button></td>
        
              <td style="width: 6rem">{{orderManagement.plantDescription}}</td>
              <td style="width: 6rem">{{orderManagement.warehouseDescription}}</td>
              <td style="width: 6rem;">{{orderManagement.targetBranchCode }}</td>
              <td style="width: 6rem;">{{orderManagement.tokenNumber }}</td>
              <td style="width: 6rem">{{orderManagement.salesOrderNumber}}</td>
              <td style="width: 6rem"> {{orderManagement.statusDescription}}</td>
              <td style="width: 6rem">{{orderManagement.refDocNumber}}</td>
              <td style="width: 8rem">{{orderManagement.referenceDocumentType}}</td>
              <td style="width: 6rem">{{orderManagement.lineNumber}}</td>
              <td style="width: 6rem">{{orderManagement.manufacturerName}}</td>
              <td style="width: 6rem">{{orderManagement.itemCode}}</td>
              <td style="width: 6rem;">{{orderManagement.orderQty }}</td>
              <td style="width: 6rem;">{{orderManagement.inventoryQty }}</td>
              <td style="width: 6rem;">{{orderManagement.allocatedQty }}</td>
              <td style="width: 6rem;">{{orderManagement.partnerItemBarcode }}</td>
              <td style="width: 8rem;">{{orderManagement.proposedStorageBin }}</td>
              <td style="width: 15rem;">{{orderManagement.description }}</td>
              <td style="width: 8rem;">{{orderManagement.preOutboundNo }}</td>
              <td style="width: 8rem;">{{orderManagement.levelId }}</td>

            </tr>
          </ng-template>
        </p-table>

      </div>

    </div>
  </mat-drawer-container>

</div>



<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-aliasMenuItems="orderManagement">
    <button mat-menu-item [disabled]="(aliasMenuItems.statusId != '42' && aliasMenuItems.statusId != '43')"
      (click)="Unallocate(aliasMenuItems)">Unallocate</button>
    <button mat-menu-item [disabled]="aliasMenuItems.statusId != '47'"
      (click)="Allocate(aliasMenuItems)">Allocate</button>
  </ng-template>
</mat-menu>