<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white d-flex align-items-center">
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Outbound</li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Assignment</li>
          </ol>
        </nav>



        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input matInput (input)="assignmentTag.filterGlobal($any($event.target).value, 'contains')"
              class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display" [disabled]="!RA.view">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button disabled mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons disabled d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit"  [disabled]="!RA.createUpdate" >
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete"  [disabled]="!RA.delete" >
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                      <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                  </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="downloadexcel()"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab disabled
              class=" floating-buttons1 disabled d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save"  [disabled]="!RA.createUpdate" >
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" (click)="drawer.toggle()"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
  </div>
  <!--main section-->
  <div class="pr-1 mt-2 mx-0 w-100 ">
    <app-order-tab></app-order-tab>
  </div>
  <mat-drawer-container class="example-container  w-100 animate__animated animate__fadeInRight animate__faster">
    <mat-drawer #drawer class="example-sidenav " mode="over" position="end">
      <div class="card-header whs-bg-grey text-white d-flex justify-content-between align-items-center">
        <h6 class="my-auto mb-0">Search Parameter</h6>
        <mat-icon type="button" (click)="drawer.toggle()">close</mat-icon>
      </div>
      <form [formGroup]="searhform">
        <div class="row searchscroll2 mt-1 mr-1 p-2 pl-3">
          <!-- <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Preoutbound No</label>
              <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="preOutboundNoList"
                [(ngModel)]="preOutboundNoselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown>
            </div>
          </div> -->
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Order No</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="refDocNumberList"
                [(ngModel)]="refDocNumberListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="refDocNumberList" [(ngModel)]="refDocNumberListselected"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)" formControlName="refDocNumber"></angular2-multiselect> -->

              <p-multiSelect placeholder="Select" class="w-100" [options]="refDocNumberList"
                formControlName="refDocNumber" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}">
              </p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Order Type</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="outboundOrderTypeIdList"
                [(ngModel)]="outboundOrderTypeIdListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="outboundOrderTypeIdList" [(ngModel)]="outboundOrderTypeIdListselected"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)" formControlName="outboundOrderTypeId"></angular2-multiselect> -->

              <p-multiSelect placeholder="Select" class="w-100" [options]="outboundOrderTypeIdList"
                formControlName="outboundOrderTypeId" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}">
              </p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Part No</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="itemCodeList"
                [(ngModel)]="itemCodeListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="itemCodeList" [(ngModel)]="itemCodeListselected"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)" formControlName="itemCode"></angular2-multiselect> -->

              <p-multiSelect placeholder="Select" class="w-100" [options]="itemCodeList" formControlName="itemCode"
                [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Ord Category</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="soTypeList"
                [(ngModel)]="soTypeListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="soTypeList" [(ngModel)]="soTypeListselected" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" formControlName="soType">
              </angular2-multiselect> -->

              <p-multiSelect placeholder="Select" class="w-100" [options]="soTypeList" formControlName="soType"
                [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>

          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Store Code</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="partnerCodeList"
                [(ngModel)]="partnerCodeListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="partnerCodeList" [(ngModel)]="partnerCodeListselected"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)" formControlName="partnerCode"></angular2-multiselect> -->

              <p-multiSelect placeholder="Select" class="w-100" [options]="partnerCodeList"
                formControlName="partnerCode" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}">
              </p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Status</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="statusIdList"
                [(ngModel)]="statusIdListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="statusIdList" [(ngModel)]="statusIdListselected"
              [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
              (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)" formControlName="statusId"></angular2-multiselect> -->

              <p-multiSelect placeholder="Select" class="w-100" [options]="statusIdList" formControlName="statusId"
                [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>

          <div class="col-12 my-1">
            <p class="mb-0 py-0">Required Date</p>
            <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">

              <mat-date-range-input [rangePicker]="pickerss">
                <input matStartDate placeholder="Start date" formControlName="startRequiredDeliveryDate">
                <input matEndDate placeholder="End date" formControlName="endRequiredDeliveryDate">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerss"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerss></mat-date-range-picker>
            </mat-form-field>

          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" class="text-white mx-1 px-4" (click)="reload();">
          <mat-icon class="">restart_alt</mat-icon> Reset
        </button>
        <button mat-raised-button class="bg-darkblue text-white mx-1" (click)="search(); drawer.toggle();">
          <mat-icon class="">done</mat-icon> Search
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <!-- <div class="row "style="padding-right: 15px !important;"> -->
      <div class="row " style="padding-right: 15px !important;">
    
          
            <p-table #assignmentTag  [value]="assignment" [globalFilterFields]="['plantDescription','warehouseDescription', 'partnerCode','tokenNumber','salesOrderNumber','statusDescription','referenceDocumentType','refDocNumber','lineNumber','itemCode','manufacturerName','orderQty','allocatedQty','proposedStorageBin','description','referenceField1','partnerItemBarcode','referenceField9','levelId']"
            styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" [(selection)]="selectedassignment" selectionMode="single" scrollDirection="both"
            scrollHeight="calc(100vh - 18.5rem)" sortField="refDocNumber" [sortOrder]="-1" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [resizableColumns]="true" style="width: 100%;margin-left: 10px;background-color:white" >
              <ng-template pTemplate="header">
                <tr>
                  <th style="max-width: 3.5rem">
                    <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
                  </th>
                  <th style="width: 6rem;" pSortableColumn="plantDescription"   pResizableColumn>Branch<p-sortIcon field="plantDescription"></p-sortIcon></th>
                  <th style="width: 6rem;" pSortableColumn="warehouseDescription"   pResizableColumn>Warehouse<p-sortIcon field="warehouseDescription"></p-sortIcon></th>
                  <th style="width: 7rem;" pSortableColumn="targetBranchCode" pResizableColumn>Target Branch<p-sortIcon field="targetBranchCode"></p-sortIcon>
    
                  </th>
                  <th style="width: 7rem;" pSortableColumn="tokenNumber" pResizableColumn>Token Number<p-sortIcon field="tokenNumber"></p-sortIcon>
    
                  </th>
                  <th style="width: 6rem;" pSortableColumn="salesOrderNumber"   pResizableColumn>Sales Order No<p-sortIcon field="salesOrderNumber"></p-sortIcon>
         
                  </th>
                  <th style="width: 7rem;" pSortableColumn="statusDescription" pResizableColumn>Status<p-sortIcon field="statusDescription"></p-sortIcon>
    
                  </th>
                  <th style="width: 6rem" pSortableColumn="referenceDocumentType" pResizableColumn>Order Type<p-sortIcon field="referenceDocumentType"></p-sortIcon>
                   
                  </th> 
                  <th style="width: 6rem" pSortableColumn="refDocNumber" pResizableColumn>Order No <p-sortIcon field="refDocNumber"></p-sortIcon>
                 
                  </th>
                  <th style="width: 6rem;" pSortableColumn="lineNumber"   pResizableColumn>Line No<p-sortIcon field="lineNumber"></p-sortIcon>
             
                  </th>
                  <th style="width: 6rem;" pSortableColumn="manufacturerName"   pResizableColumn>Mfr Name<p-sortIcon field="manufacturerName"></p-sortIcon>
             
                  </th>
                  <th style="width: 6rem;" pSortableColumn="itemCode"   pResizableColumn>Part No<p-sortIcon field="itemCode"></p-sortIcon>
             
                  </th>
                  
                 
                
                  <th style="width: 6rem;" pSortableColumn="orderQty" pResizableColumn>Order Quantity<p-sortIcon field="orderQty"></p-sortIcon>
    
                  </th>
                 
                  <th style="width: 6rem;" pSortableColumn="allocatedQty" pResizableColumn>Allocated Quantity<p-sortIcon field="allocatedQty"></p-sortIcon>
    
                  </th>
                  <th style="width: 6rem;"pSortableColumn="proposedStorageBin" pResizableColumn>Bin Location <p-sortIcon field="proposedStorageBin"></p-sortIcon>
                   
                  </th>
                  <th style="width: 15rem;" pSortableColumn="description" pResizableColumn>Description<p-sortIcon field="description"></p-sortIcon>
                  </th>
                  <th style="width: 6rem" pSortableColumn="referenceField1" pResizableColumn> Order Category<p-sortIcon field="referenceField1"></p-sortIcon>
                   
                  </th>
                
              
                  <th style="width: 6rem;" pSortableColumn="partnerItemBarcode"   pResizableColumn>Barcode Id<p-sortIcon field="partnerItemBarcode"></p-sortIcon>
             
                  </th>
                 
                
                  <th style="width: 6rem;" pSortableColumn="referenceField9" pResizableColumn>Storage Section<p-sortIcon field="referenceField9"></p-sortIcon>
    
                  </th> 
                  <th style="width: 6rem;" pSortableColumn="levelId" pResizableColumn>Level<p-sortIcon field="levelId"></p-sortIcon>
    
                  </th>

                
                 
                
    
                 
                  
                  <!-- <th style="width: 10rem;" pResizableColumn>Approval Process
                   
                  </th>
                  <th style="width: 8rem;" pResizableColumn>Approver Code
                   
                  </th>
                  <th style="width: 10rem;" pResizableColumn>Approver Name
                   
                  </th>-->
    
                  
                </tr>
    
                <tr>
                  <th style="max-width: 3.5rem">
                    <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
                  </th>
              
                  <th style="width: 6rem">
                    <input pInputText  type="text" (input)="assignmentTag.filter($any($event.target)?.value, '[plantDescription]', 'contains')" 
                    [value]="$any(assignmentTag.filters['plantDescription'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                  </th>
                  <th style="width: 6rem">
                    <input pInputText  type="text" (input)="assignmentTag.filter($any($event.target)?.value, 'warehouseDescription', 'contains')" 
                    [value]="$any(assignmentTag.filters['warehouseDescription'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                  </th>
                  <th style="width: 7rem;">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'targetBranchCode', 'contains')"
                      [value]="$any(assignmentTag.filters['targetBranchCode'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
                  </th>
                  <th style="width: 7rem;">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'tokenNumber', 'contains')"
                      [value]="$any(assignmentTag.filters['tokenNumber'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'salesOrderNumber', 'contains')"
                      [value]="$any(assignmentTag.filters['salesOrderNumber'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                  <th style="width: 7rem;">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'statusDescription', 'contains')"
                      [value]="$any(assignmentTag.filters['statusDescription'])?.value" placeholder="Search"
                      class=" w-100 p-column-filter">
                    <!-- <p-columnFilter type="text" placeholder="Search" field="createdOn"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'referenceDocumentType', 'contains')"
                      [value]="$any(assignmentTag.filters['referenceDocumentType'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'refDocNumber', 'contains')"
                      [value]="$any(assignmentTag.filters['refDocNumber'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'lineNumber', 'contains')"
                      [value]="$any(assignmentTag.filters['lineNumber'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'manufacturerName', 'contains')"
                      [value]="$any(assignmentTag.filters['manufacturerName'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'itemCode', 'contains')"
                      [value]="$any(assignmentTag.filters['itemCode'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                
                
              
                
                  <th style="width: 6rem;">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'orderQty', 'contains')"
                      [value]="$any(assignmentTag.filters['orderQty'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalLevel"></p-columnFilter>-->
                  </th>
                  
                  <th style="width: 6rem;">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'allocatedQty', 'contains')"
                      [value]="$any(assignmentTag.filters['allocatedQty'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'proposedStorageBin', 'contains')"
                      [value]="$any(assignmentTag.filters['proposedStorageBin'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                  <th style="width: 15rem;">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'description', 'contains')"
                      [value]="$any(assignmentTag.filters['description'])?.value" placeholder="Search"
                      class=" w-100 p-column-filter">
                    <!-- <p-columnFilter type="text" placeholder="Search" field="createdOn"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'referenceField1', 'contains')"
                      [value]="$any(assignmentTag.filters['referenceField1'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                 
                
                  
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'manufacturerName', 'contains')"
                      [value]="$any(assignmentTag.filters['manufacturerName'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                
               
                  <th style="width: 6rem">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'referenceField9', 'contains')"
                      [value]="$any(assignmentTag.filters['referenceField9'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
                  </th>
                  <th style="width: 6rem;">
                    <input pInputText type="text"
                      (input)="assignmentTag.filter($any($event.target)?.value, 'levelId', 'contains')"
                      [value]="$any(assignmentTag.filters['levelId'])?.value" placeholder="Search "
                      class=" w-100 p-column-filter">
                    <!-- <p-columnFilter type="text" placeholder="Search" field="createdBy"></p-columnFilter>-->
                  </th>
                 
                 
                  
               
                
                </tr> 

              </ng-template>
              <ng-template pTemplate="body" let-assignment >
                <tr >
                  <td style="max-width: 3.5rem; justify-content: center;">
                    <p-tableCheckbox [value]="assignment"></p-tableCheckbox>
                </td>
               
                <td style="width: 6rem">{{assignment.plantDescription}}</td>
                <td style="width: 6rem">{{assignment.warehouseDescription}}</td>
                <td style="width: 7rem;">{{assignment.targetBranchCode }}</td>
                <td style="width: 7rem;">{{assignment.tokenNumber }}</td>
                <td style="width: 6rem">{{assignment.salesOrderNumber}}</td>
                <td style="width: 7rem;">{{assignment.statusDescription}}</td>
                <td style="width: 6rem">{{assignment.referenceDocumentType}}</td>
                <td style="text-decoration-line: underline;width:6rem;cursor:pointer" class="text-primary" (click)="assign(assignment)">{{assignment.refDocNumber}}</td>
                <td style="width: 6rem">{{assignment.lineNumber}}</td>
                <td style="width: 6rem">{{assignment.manufacturerName}}</td>
                <td style="width: 6rem">{{assignment.itemCode}}</td> 
                <td style="width: 6rem;">{{assignment.orderQty }}</td>
                <td style="width: 6rem;">{{assignment.allocatedQty  }}</td>
                  <td style="width: 6rem"> {{assignment.proposedStorageBin}}</td>
                  <td style="width: 15rem;">{{assignment.description }}</td>
                  <td style="width: 6rem">{{assignment.referenceField1}}</td>  
                  <td style="width: 6rem">{{assignment.partnerItemBarcode}}</td>
                  <td style="width: 6rem;">{{assignment.referenceField9 }}</td>
                  <td style="width: 6rem;">{{assignment.levelId }}</td>
                 
               
                
                </tr>
              </ng-template>
            </p-table>
          

       

        <div class=" pb-1 w-100 d-flex justify-content-center">
          <div class=" py-2 pr-5" style="margin-right: 6rem">
            <!-- <button mat-raised-button class="text-white mr-1 px-4" color="warn">
              <mat-icon class="">close</mat-icon> Cancel
            </button> -->
            <button mat-raised-button class="bg-darkblue px-4 text-white ml-1" (click)="assign();">
              <mat-icon class="">done</mat-icon> Assign Picker
            </button>
          </div>
       
        </div>
      </div>

    </div>
  </mat-drawer-container>







  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item> <a routerLink="/main/outbound/reallocation">Reallocate</a></button>
    </ng-template>
  </mat-menu>
  <!--right pane-->
  <div class="col-3 pl-1 pr-1 mt-1 d-none">
    <div class="whs-rightpane bg-white shadow">
      <div class="text-dark p-2 bg-white">
        <div class="whs-vertical-scroll">
          <div class="d-flex justify-content-start my-1">
            <label for="" class="mr-5 mt-1">Variant</label>
            <label for="" class=" mt-1 ml-4 pl-3">Preoutbound</label>
          </div>
          <hr class="my-0">
          <div class="row mt-1">
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Warehouse No</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Preoutbound Number</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select placeholder="select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-1">
                <label for="inputEmail4" class="mb-0">SO No</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select placeholder="select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Part No</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <label for="inputEmail4" class="mb-1">Date</label>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Order type</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Status</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-1">
          <button mat-raised-button class="text-white mr-1" color="warn">
            <mat-icon class="">close</mat-icon> Cancel
          </button>
          <button mat-raised-button class="bg-darkblue  text-white mx-1">
            <mat-icon class="">search</mat-icon> Search
          </button>
        </div>
      </div>
      <div class="row  no-gutters">
        <div class="col-6 pl-0 d-none">
          <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            <p class="mb-0 mt-1">Storage Setup</p>
          </div>
        </div>
        <div class="col-6 pl-0  d-none">
          <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            <p class="mb-0 mt-1">Item Setup</p>
          </div>
        </div>
        <div class="col-6 pl-0 d-none">
          <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            <p class="mb-0 mt-1">Storage Setup</p>
          </div>
        </div>
        <div class="col-6 pl-0 d-none">
          <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            <p class="mb-0 mt-1">Item Setup</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
