<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tvhht.myapplication">

    <application
        android:name=".utils.WMSApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApplication2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".login.ConfirmGroupActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomePageActivity"
            android:exported="false" />


        <activity
            android:name=".login.LoginCustomDialog"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"></activity>






        <receiver
            android:name=".MyDataReceiver"
            android:enabled="true"
            android:exported="true"></receiver>

        <activity
            android:name=".home.NewScannerPage"
            android:exported="false"
            android:windowSoftInputMode="stateUnspecified|adjustPan"
             />

        <activity
            android:name=".home.ScanBinCustomDialog"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Translucent"/>

    </application>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>