/* You can add global styles to this file, and also import other style files */

// NOTE: From `2.0.0-beta.10`, you can now pass the typography via the mat-core() mixin:
@import '~@angular/material/theming';
// $custom-typography: mat-typography-config($font-family: 'helvetica',
// );
// // @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
// //@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
// //@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

// @font-face {
//   font-family: 'helvetica';
//   src: url(assets/font/lightfonthelvetica.ttf) format("opentype");
// }

// @include mat-core($custom-typography);

@import "~ng-pick-datetime/assets/style/picker.min.css";
$custom-typography: mat-typography-config(
  $font-family: 'Roboto Slab',
);

//@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

// @font-face {
 //  font-family: 'Comforter';
 //  src: url(assets/font/Comforter-Regular.ttf) format("opentype");
// }



@include mat-core($custom-typography);


html,
body {
  height: 100%;
}


.cardheaderNew{
  background: linear-gradient(to bottom, #f9c667 0%,#f79621 100%) !important; 
  color: #fff;
}

body {
  font-family: 'Roboto Slab' !important;
  margin: 0;
  color: #666666;
  font-size: 0.9rem;
  overflow-x: hidden;
}

.list-group-item {
  font-size: 14.4px !important;
}

.p-accordion .p-accordion-header .p-accordion-header-link {
  background: #ffffff !important;
}
.p-accordion .p-accordion-header .p-accordion-header-link .p-accordion-toggle-icon {
  padding-left: 8px !important;
  margin-right: 0.5rem !important;
  color: #666666 !important;
  font-size: 14px !important;
}
.p-accordion .p-accordion-content {
  padding: 0rem !important;
}

.p-accordion-header-text {
  line-height: 1 !important;
  color: #666666 !important;
  font-size: 14.4px !important;
  font-weight: normal !important;
  padding-left: 12px !important;
}


.p-datatable-scrollable .p-datatable-tfoot {
  position: sticky;
  bottom: -1.5rem !important;
  z-index: 1;
}

.p-component {
  font-family: 'Roboto Slab' !important;
}
.p-datatable .p-datatable-thead > tr > th {
  font-size: 14px !important;
} 
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  font-size: 0.7rem !important;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {       //  headerColor
  background-color: #dbdbdb  !important;
}
.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: #afafaf !important;
  margin-left: 0.5rem;
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0.2rem 0.5rem !important;
  height: 1.8rem !important;
}
.p-datatable.p-datatable-sm .p-datatable-thead > tr > th {
  padding: 0.3rem 0.5rem;
  font-size: 0.7rem !important;
}
.p-paginator {
  padding: 0.1rem 1rem !important;
}
.p-paginator .p-paginator-current {
  height: 1.357rem !important;
  font-size: 0.7rem !important;
}
.p-paginator .p-paginator-pages .p-paginator-page {
  height: 1.357rem !important;
}
.p-column-filter{
  padding: 0.1rem 0.5rem !important;
  font-size: 0.7rem !important;
}

// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
// regular style toast
@import '~ngx-toastr/toastr';

.mat-toolbar {
  background: #000000;
  color: white;
}

.btn:focus {
  box-shadow: none !important;
}

.mat-tab-labels {
  justify-content: center;
}

.rightpane-field {
  font-size: 0.7rem !important;
}

.mat-dialog-container {
  overflow-y: hidden !important;
}

.mat-dialog-title {
  margin: 0 0 0px !important;
}
.border-bottom {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12) !important;
}
body {
  color: #666666;
  font-size: 0.9rem;
  overflow-x: hidden;
}

.whs-text-grey {
  color: #666666 !important;
}

.whs-bg-grey {
  background-color: #666666 !important;
}

/*Header*/
.font {
  font-family: "Ravie";
  font-size: 2.2rem;
}

.font1 {
  font-family: "stencil";
  font-size: 2.8rem;
}



.whs-header-iconsize-1_6rem {
  font-size: 1.6rem;
}

.username h6 p {
  width: 9.5rem;
  word-wrap: break-word;
}

/*Inner Header*/
.form-select,
.form-control {
  width: 11rem;
  height: 1.9rem;
  border-color: #dee2e6;
  font-size: 0.8rem;
}

input:hover,
select:hover {
  border-color: #6c757d;
}

.breadcrumb-item+.breadcrumb-item::before {
  content: ">";
}

.whs-fontsize-1-2rem {
  font-size: 0.9rem;
}

/*Application toolbar for main header*/
.pagination .page-link {
  color: #666666;
}

.whs-apptoolbar-icon {
  /*border-color: #dee2e6;*/
  color: #6c757d !important;
  width: 2rem;
  height: 2rem;
}

.whs-horizontal-divider {
  border-right: 1px solid #333;
  border-color: #CACACA;
  height: 1.7rem;
  align-items: center;
}

.whs-icon-color {
  color: #47718f;
}

/*Main section*/
.bs-tooltip-right {
  margin-left: 0.6rem;
}

/*tool-tip */
.whs-tabbox-size {
  height: 5.5rem;
  background-color: white;
  color: #6c757d;
}

.whs-rightpane {
  height: calc(100vh - 5rem);
}

.whs-rightpane-box {
  height: 7rem;
  background-color: white;
  color: #666666;
}

.whs-tabbox-size:hover,
.whs-rightpane-box:hover {
  background-color: #666666;
  color: white;
}

/*anchor tag*/
a {
  color: #666666;
}

a:hover {
  text-decoration: none;
}

/*Color Selection*/
.whs-bg-blue {
  background-color: #666666 !important;
}

.whs-text-blue {
  color: #666666;
}

.btn-outline-secondary:hover {
  background-color: #666666;
}

/*Right Pane filter section*/
.whs-date-field-width {
  width: 6rem;
}

.whs-vertical-scroll {
  height: 19rem;
  overflow-Y: scroll !important;
  overflow-x: hidden !important;
}

.whs-vertical-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px
}

.whs-modal-position {
  position: absolute;
  left: 78%;
  width: 22%;
  padding-top: 3.5%;
}

.iconsize {
  height: 1.2rem;
  width: 1.2rem;
}

.whs-light-blue {
  background-color: #f2f7f2;
}

a {
  color: inherit !important;
}

// setup label padding
@media (min-width: 1367px) {
  .navpadding {
    padding-top: 0.2rem !important;
    padding-bottom: 0.2rem !important;
  }

  .resp_padding {
    padding-top: 1.4rem !important;
    padding-bottom: 1.4rem !important;
  }
}
.headerselect{padding-left: 25px !important;}
//mat-expansion
// .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header.mat-expanded, .mat-expansion-panel-header-title.mat-expanded {
// background: #666 !important;
// color: white !important; 
//.collapsefont{
//  color: white !important; 
//}}

.mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
  color: rgba(0,0,0,0);
  background-color: #f7f7f7 !important;
  border: 1px solid #dee2e6 !important;
  border-radius: 3px !important;
}
.mat-input-element:disabled, .mat-form-field-type-mat-native-select.mat-form-field-disabled .mat-form-field-infix::after {
  color: rgba(0,0,0,0.8) !important;
}
.mat-select-disabled .mat-select-value {
  color: rgba(0,0,0,0.8) !important;
}




//for table border

.mat-cell {
  text-align: left !important;
  padding-left: 6px !important;
  border-right: 0.5px solid rgba(0, 0, 0, .12) !important;
}

.input_field {
  width: 100%;
  border-color: #dee2e6;
}

.input_field1 {
  width: 30%;
  border-color: #dee2e6;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0 0.7em 0 !important;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0.5rem;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgb(167 167 167 / 4%);
}

.filtercolor{color: #9b9b9b  !important;}
.mat-header-cell {
  text-align: left !important;
  border-right: 0.5px solid rgba(0, 0, 0, .12) !important;
  border-top: 0.5px solid rgba(0, 0, 0, .12) !important;
}


.tableborder {
  text-align: left;
  border-right: 0.5px solid rgba(0, 0, 0, .12) !important;
}

.mat-sort-header-container {
  display: flex !important;
  cursor: pointer !important;
  align-items: center !important;
  letter-spacing: normal !important;
  outline: 0 !important;
  justify-content: start !important;
}


td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 44px !important;
}

th.mat-header-cell:first-of-type,
td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type {
  padding-left: 44px !important;
}

//.boxgrey{background-color: #f8f8f8!important;}
.mat-form-field-appearance-outline .mat-form-field-outline {
  background-color: white !important;
}

.mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #ec830a !important;
}

.mat-checkbox-ripple .mat-ripple-element {
  background-color: #ec830a !important;
}

//tabbar
.nav-border {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  border-right: 1px solid #bfbfbf !important;
  border-left: 1px solid #bfbfbf !important;
  border-top: 1px solid #bfbfbf !important;
}

.tabactive {
  background-color: #ec830a !important;
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
  color: #fff !important;
}

.mat-tab-link{ opacity: 100% !important; min-width: 123px !important; font-size: 13px !important;}
.mat-tab-label-active
{ padding: 0rem 2rem !important; height: 3rem !important; background-color: transparent !important;   border-bottom: 0px solid #ec830a  !important; font-size: 15px !important; color: #ec830a !important;
 }

 .mat-tab-label.mat-tab-label-active:not(.mat-tab-disabled),
.mat-tab-label.mat-tab-label-active.cdk-keyboard-focused:not(.mat-tab-disabled) {
  //background-color: #ffffff   !important;
  font-weight: 500 !important;
  font-size: 14.4px !important;
  color: #ec830a !important;
  border-bottom: 3px solid #ec830a  !important;
  opacity: 1  !important;
}


.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  opacity: 0 !important;
  /*click effect color change*/
  background-color: #ec830a !important;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle {
  background-color: #ec830a !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
  border-color: #ec830a !important;
}


// old blue color code   a{color: #0c687c;   #4faf99}   

.mat-expansion-panel-header.mat-expanded {
  height: 48px !important;
}

.bottombutton {
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  bottom: -3% !important;
}

/*dropdown*/
.actiondropdown {
  top: 30% !important;
  margin-left: 40%;
  font-size: 0.8rem;
}

.dropdown-menu::before {
  border-bottom: 9px solid rgba(0, 0, 0, 0.2);
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 83%;
  position: absolute;
  top: -10px;
}

.dropdown-menu::after {
  border-bottom: 8px solid #FFFFFF;
  border-left: 9px solid rgba(0, 0, 0, 0);
  border-right: 9px solid rgba(0, 0, 0, 0);
  content: "";
  display: inline-block;
  left: 83%;
  position: absolute;
  top: -8px;
}

.cdk-overlay-dark-backdrop {
  background: rgb(225 225 225 / 32%) !important;
}

.whs-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0px
}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td{overflow-x: overlay !important;}
.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td::-webkit-scrollbar {
  height: 1px !important;
  overflow-x: scroll;
  background: #f1f1f1;
  border-radius: 10px;
}

//mat tab
.mat-tab-label {
  height: 48px;
  padding: 0 4px !important;
  min-width: 111px !important;
  justify-content: start !important;
}

.mat-tab-labels {
  justify-content: start !important;
}


.mat-ink-bar {
  width: 0px !important;
  height: 0px !important;
}

.whs-card-tile {
  height: 17rem;
}

.whs-scroll {
  height: 14.7rem;
  overflow-y: scroll;
}

.bg-red {
  background-color: #f44336 !important;
}

.border-grey {
  border: 1.5px solid #666666 !important
}

.bg-yellow {
  background-color: #FDBB12 !important;
}

.bg-pink {
  background-color: #ff4081 !important;
}

.bg-orange {
  background-color: #ec830a !important;
}

.border-orange {
  border-color: #ec830a !important;
}

.text-orange {
  color: #ec830a !important;
}

.bg-lightblue {
  background-color: #1e88e5 !important;
}

.bg-darkblue {
  background-color: rgba(0, 63, 94, 0.8) !important;
}

.purple {
  background-color: #9c27b0 !important;
}

.action-icon {
  height: 20px !important;
  width: 20px !important;
  font-size: 1.4rem !important;
}

.whs-border-grey {
  border-color: #969595 !important;
}

.whs-border-blue {
  border-color: #709aa5 !important;
}

.whs-border-green {
  border-color: #5dbe77 !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.p-multiselect:hover {
  border: 1px solid #666666 !important;
}


.p-checkbox .p-checkbox-box.p-highlight {
  border-color: #666666 !important;
  background: #666666 !important;
}
.p-datatable .p-datatable-tbody > tr.p-highlight {
  background: #ebebeb  !important;
 // color: #ffffff !important;
}
*:focus {
  outline: none!important;
  border: 0!important;
}
.p-multiselect-panel .p-multiselect-items .p-multiselect-item.p-highlight {
  color: #495057;
  text-overflow: ellipsis !important;
  background: transparent !important;
}


.mat-expansion-panel-header {
  border-radius: 0px !important;
}

.searchscroll {
  overflow-y: scroll !important;
  height: calc(100vh - 18.5rem) !important;
}

.searchscroll1 {
  overflow-y: scroll !important;
  height: calc(100vh - 15rem) !important;
}

.mat-mini-fab .mat-button-wrapper {
  padding: 0px 0 !important;
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border-radius: 0%;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}



//status colour
.statusgreen{color: #4eff98;}
.statusyellow{color: #fffe37;}
.statusred{color: #ff3737;}
.statusorange{color: #ff7637;}
.statusgrey{color: #dadada;}
.statusblue{color: #37c0ff;}
.statuspurple{color: #b937ff;}
.statuspink{color: #ff37af;}
.statuslblue{color: #26e5ff;}
.statusgold{color: #ffc400;}
.statusdgreen{color: #006c02;}
.statusdgred{color: #6c0000;}




::-webkit-scrollbar {
  width: 8px !important;
  overflow-y: scroll;
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 8px;
}

::-webkit-scrollbar {
  height: 8px !important;
  overflow-x: scroll;
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #a8a8a8;
  border-radius: 8px;
}

.pure-checkbox input+label:before {
  background-color: #fff !important;
  border: 1px solid #666666 !important;
}
  .pure-checkbox input[type=checkbox]+label:after {
  color: #666666 !important;
    //background-color: #666666 !important;
  }
  .selected-list .c-list .c-token {
    background-color: #666666;
}
.selected-list .c-list .c-token .c-label {
  color: white !important;
}
.cuppa-dropdown {
  border: 1px solid #dee2e6 !important;
  border-radius: 4px;
}
.dropdown-list {
  position: absolute;
  padding-top: 14px;
  width: 100%;
  z-index: 99999;
  top: 339px !important;
}

.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item {
  border: 1px solid #666666 !important;
  margin-right: 5px;
  margin-bottom: 5px !important;
  background: #666666 !important;
  padding: 0 5px;
  color: #fff;
  border-radius: 2px;
  float: left;
  max-width: 260px !important;

}
.multiselect-item-checkbox input[type=checkbox] + div:before {
  box-sizing: content-box;
  color: #666666 !important;
  border: 2px solid #666666 !important;
}
.multiselect-item-checkbox input[type=checkbox]:checked + div:before {
  background: #666666 !important;
}

.dropdown-list {
  position: fixed !important;
  width: 24% !important;
}

.multiselect-dropdown .dropdown-btn {
  display: inline-block;
  border: 1px solid #dee2e6 !important;
  width: 100%;
  padding: 6px 12px !important;
  ;
  padding-top: 10px !important;
  margin-bottom: 0;
  font-weight: 400;
  line-height: 1.52857143;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
}

.required:after {
  content:" *";
  color: red;
}

/* Icon Wobble Horizontal */
@-webkit-keyframes hvr-icon-wobble-horizontal {
  16.65% {
    -webkit-transform: translateX(6px);
    transform: translateX(6px);
  }

  33.3% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }

  49.95% {
    -webkit-transform: translateX(4px);
    transform: translateX(4px);
  }

  66.6% {
    -webkit-transform: translateX(-2px);
    transform: translateX(-2px);
  }

  83.25% {
    -webkit-transform: translateX(1px);
    transform: translateX(1px);
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:hover .hvr-icon,
.hvr-icon-wobble-horizontal:focus .hvr-icon,
.hvr-icon-wobble-horizontal:active .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}




//breadcrums css
.input_field {
  width: 15rem;
  border-color: #dee2e6;
  vertical-align: middle;
}

.inner_header {
  box-shadow: 0 3px 0 0 rgba(139, 139, 139, 0.19);
}

.pathname_color {
  color: #ffc107;
}

::ng-deep .filter_dropdown>.mat-form-field-wrapper {
  padding-bottom: 0em !important;
}

.divider {
  height: 1.5rem;
  color: black;
  border-left: 6px;
}

// for the left pane padding -- imp
.mat-list-base {
  padding-top: 0px !important;
}



.floating-buttons1 {
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
}

.header_icon {
  height: 32px !important;
}

.darkblueaction {
  background: linear-gradient(90deg, #208839, #208839 49%, #28A745 51%) !important;
}
.primary1{  background: linear-gradient( 90deg, #aace1a, #aace1a  49%, #c9e45f  51% ) !important; }
.redaction {
  background: linear-gradient(90deg, #ff085e, #ff085e 49%, #ff3f7f 51%);
}

.blueaction {
  background: linear-gradient(90deg, #007ce7, #007ce7 49%, #3098f3 51%) !important;
}

.yellowaction {
  background: linear-gradient(90deg, #ffb902, #ffb902 49%, #ffd057 51%);
}

.purpleaction{  background: linear-gradient( 90deg, #9e1bf0, #9e1bf0 49%, #b959f5 51% ); }
.orangeaction{  background: linear-gradient( 90deg, #fa860b, #fa860b 49%, #f09e46 51% ); }
.greyaction {
  background: linear-gradient(90deg, #fb7202, #fb7202 49%, #f39c53 51%);
}

.darkaction {
  background: linear-gradient(90deg, #0f5e7a, #0f5e7a 49%, #2b83a2 51%);
}

.darkgrey {
  background: linear-gradient(90deg, #929292 , #929292  49%, #b1b1b1 51%);
}
.filter_button mt-2 {
  border-top: 2px !important;
  border-left: 2px !important;
  border-right: 2px !important;
  background-color: transparent !important;
  border-color: grey !important;
  width: 14rem !important;
}

.breadcrumb {
  background-color: transparent !important;
  color: #222222 !important;
}
hr {
  margin-top: 0rem !important;
  margin-bottom: 0rem !important;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.breadcrumb-item.active {
  color: #181818;
}


.buttonbottom{
  position: fixed !important;
  left: 45% !important;
}
::ng-deep .mat-paginator {
  background: #f5f5f5 !important;
}
.originalbackground{background-color: #f5f5f5 !important;}
//inner header
::ng-deep .action-button {
  border-radius: 4px !important;
  min-width: 6rem !important;
  min-height: 2.5rem !important;
}

.floating-buttons {
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
}

.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border-radius: 0%;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}

.disabled {
  opacity: 0.55 !important;
}

::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding: 5px 0 !important;
  display: inline-block;
  line-height: 24px;
}

.mat-paginator-container {
  max-height: 36px !important;
}

.header_colour {
  background-color: #666666 !important;
}

.breadcrumb>li+li::before {
  color: #ec830a;
  content: ' \25BA';
  padding: 0 10px;
}

.breadcrumb {
  background-color: transparent !important;
  color: #222222 !important;
  padding: 0.25rem 1rem !important;
}

.breadcrumb-item.active {
  color: #181818;
}



.tabbar1 {
  height: 3rem;
}

.stick {
  top: 0px;
  z-index: 101;
  left: 58.781px !important;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, .12);
  text-align: center !important;
  border-right: 0.5px solid rgba(0, 0, 0, .12) !important;
}

.floating-buttons {
  -webkit-animation-name: floating-buttons;
  animation-name: floating-buttons;
  -webkit-animation-duration: 0.9s;
  animation-duration: 0.9s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@keyframes floating-buttons {
  0% {
    -webkit-animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
    -webkit-transform: translateX(400px) rotate(-445deg);
    transform: translateX(20px) rotate(-445deg);
    opacity: 0;
  }

  30% {
    opacity: 1;
  }

  50% {
    -webkit-transform: translateX(-40px) rotate(-20deg);
    transform: translateX(-40px) rotate(-20deg);
  }

  100% {
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
  }
}


@-webkit-keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

@keyframes hvr-pop {
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
}

.hvr-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-pop:hover,
.hvr-pop:focus,
.hvr-pop:active {
  -webkit-animation-name: hvr-pop;
  animation-name: hvr-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}




.hvr-icon-wobble-horizontal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-icon-wobble-horizontal .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.hvr-icon-wobble-horizontal:hover .hvr-icon,
.hvr-icon-wobble-horizontal:focus .hvr-icon,
.hvr-icon-wobble-horizontal:active .hvr-icon {
  -webkit-animation-name: hvr-icon-wobble-horizontal;
  animation-name: hvr-icon-wobble-horizontal;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}


.make-row-green {
  background-color: rgb(218, 255, 218) !important;
}
.make-row-yellow {
  background-color: rgb(254, 255, 218) !important;
}
.make-row-blue {
  background-color: rgb(218, 249, 255) !important;
}
.make-row-red {
  background-color: rgb(254, 206, 206) !important;
}
.make-row-grey {
  background-color: rgb(219, 219, 219) !important;
}
.make-row-orange {
  background-color: rgb(252, 213, 187) !important;
}

// .bg-white{
//   background-color: #8f8f8f !important;
// }





::ng-deep.mat-table tbody{
  background: #ffffff !important;
}
.mat-row {
  background-color: #ffffff !important;
}


.whs-header-height {
  height: 4.5rem;
  background-color: #ffffff !important;
}
.mat-paginator-container {
  max-height: 36px !important;
  background-color:   transparent !important;
}

.pathname {
  height: 3.4rem !important;
  background-color: #ffffff !important;
}

.mat-expansion-panel {
  background: #ffffff !important;
}

.uatwhite{
  background-color: #ffffff !important;
}

.uatblue{
  background-color: #e8f4f8 !important;
}


.bottombutton {
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  bottom: -3% !important;
}

.p-paginator {
  padding: 0.1rem 1rem !important;
}