<div class="tabbar px-0 bg-white flex-row d-flex col">
  <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start blue">
    <a routerLink="/main/inbound/container-receipt">
    <a mat-tab-link  class="blue-text fw-bold  mb-0 px-4  my-auto">
      <i class="fas fa-user font_1-5 mr-2 whs-text-grey"></i> Container Receipt</a>
    </a>
  </nav>
  <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start blue"  style="background-color: rgba(102, 102, 102, 0.3);">
    <a routerLink="/main/inbound/preinbound">
    <a mat-tab-link  class="blue-text fw-bold  mb-0 px-4  my-auto">
      <i class="fas fa-user font_1-5 mr-2 whs-text-grey"></i> Preinbound</a>
      </a>
  </nav>
 
    <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start blue align-items-center">
      <a routerLink="/main/inbound/goods-receipt">
      <a mat-tab-link  class="blue-text fw-bold text-grey mb-0 px-4 my-auto ">
        <i class="fas fa-user font_1-5 mr-2 whs-text-grey"></i>Case Receipt</a>
      </a>
    </nav>
    <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start blue align-items-center">

      <a mat-tab-link  class="blue-text fw-bold text-grey mb-0 px-4 my-auto ">
        <i class="fas fa-user font_1-5 mr-2 whs-text-grey"></i>Item Receipt
      </a>
    </nav>
    <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start blue">
      
      <a mat-tab-link  class="blue-text fw-bold  mb-0 px-4  my-auto">
        <i class="fas fa-user font_1-5 mr-2 whs-text-grey"></i> Putaway</a>
    </nav>
    <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start blue">
      <a mat-tab-link  class="blue-text fw-bold  mb-0 px-4  my-auto">
        <i class="fas fa-user font_1-5 mr-2 whs-text-grey"></i> Inbound confirm</a>
    </nav>
</div>