.rounded_100{border-radius: 15px;}

.space{letter-spacing: 1.6px;text-rendering: optimizeLegibility !important; -webkit-font-smoothing: antialiased !important;}
.font-size-1_6rem{font-size: 1.6rem;}

.card_box{width: 85%;  backdrop-filter: blur(8px) saturate(138%);
    -webkit-backdrop-filter: blur(8px) saturate(138%);
    background-color: rgba(255, 255, 255, 0.34);
    border-radius: 12px;
    border: 1px rgba(255,255,255,0.3) solid;
  }
.header{height: 14%;}
.scroll2{overflow-y: scroll;height: calc(100vh - 39.5rem);}
.scroll20{overflow-y: scroll;height: calc(100vh - 17.5rem);}
.scroll1{overflow-y: scroll;height: calc(100vh - 14.2rem);}
.table_shadow{filter: drop-shadow(-12px 0px 6px rgba(0, 0, 0, 0.15)) drop-shadow(10px 0px 6px rgba(0, 0, 0, 0.15));}
.mat-header-cell {
    font-size: 14px;
    font-weight: 600;
    color: rgb(53, 53, 53);
    background-color: #e2edf7;
    filter: drop-shadow(0px 3px 0px rgba(0,0,0,0.15));
}
::ng-deep.mat-paginator-container {
    min-height: 36px;
}
::ng-deep.mat-form-field-wrapper {
  padding-bottom: 1.1em;
}
.form-control:focus { box-shadow: none;}
.filter_button{border-top: 2px !important;border-left: 2px !important;border-right: 2px !important; background-color: transparent !important;border-color: #d2d2d2  !important;width: 15rem !important;}
.breadcrumb > li + li::before{color: #6c757d; content: ">";padding: 0 5px;}
.breadcrumb {background-color: transparent !important;color: #222222 !important;}
.breadcrumb-item.active {color: #181818;}
.breadcrumb-item > a{color: #181818 !important; text-decoration: none !important;}
  //Checkbox
::ng-deep .mat-checkbox-checked .mat-checkbox-background,
::ng-deep .mat-checkbox-indeterminate .mat-checkbox-background {background-color: #006990 !important; }
::ng-deep .mat-checkbox-ripple .mat-ripple-element {background-color: #006990 !important;}

.custom-class{width: 14rem;background: rgba(81, 78, 81, 0.9);}
.dropdown_fields{position: relative;transition: all 250ms ease-in-out; border-radius: 5px;color: white;}
.font_1-5{font-size: 1.2rem;}
.dropdown_fields:hover { background: #fff;padding-left: 30px;width: 100%;box-shadow: 0 0 17px rgb(0 0 0 / 40%);color: #514E51;}

::ng-deep .action-button{border-radius: 4px;min-width: 6rem; box-shadow: none !important;}

.input_field{width: 100%;border-color: #dee2e6 !important;}
::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 0.5em 0 0.7em 0 !important;
}
::ng-deep .mat-form-field-wrapper{padding-bottom: 0.5rem;}
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    background-color: rgb(167 167 167 / 4%);
}
.filterscroll{overflow-y: scroll;height: calc(100vh - 35.1rem);}
.roundedhover:hover{
  background-color: #bcbcbc !important;
}
.roundedhover{
  background-color: #f5f5f5 !important;
}
.scroll4{width: 440rem;}
.mat-column-select {flex: 0 0 17% !important; width: 1% !important;padding-right: 20px !important;}
.mat-column-clientId {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-matterNumber {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-status {flex: 0 0 17% !important; width: 2.5% !important;padding-right: 20px !important;}
.mat-column-caseCategoryId {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-caseSubCategoryId {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-matterDescription {flex: 0 0 17% !important; width: 5% !important;padding-right: 20px !important;}
.mat-column-billModeText {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-matterOpenedDate {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-matterClosedDate {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-createdBy {flex: 0 0 17% !important; width: 2% !important;padding-right: 20px !important;}
.mat-column-updatedBy {flex: 0 0 17% !important; width: 2 !important;padding-right: 20px !important;}
.mat-column-referredBy {flex: 0 0 17% !important; width: 2% !important;padding-right: 20px !important;}
.mat-column-corporateName {flex: 0 0 17% !important; width: 4% !important;padding-right: 20px !important;}
.mat-column-originatingTimeKeeper {flex: 0 0 17% !important; width: 2% !important;padding-right: 20px !important;}
.mat-column-assignedTimeKeeper {flex: 0 0 17% !important; width: 2% !important;padding-right: 20px !important;}
.mat-column-responsibleTimeKeeper {flex: 0 0 17% !important; width: 2% !important;padding-right: 20px !important;}
.mat-column-notesText {flex: 0 0 17% !important; width: 3.5% !important;padding-right: 20px !important;}
.mat-column-typeOfMatter {flex: 0 0 17% !important; width: 5.3% !important;padding-right: 20px !important;}
.mat-column-reference {flex: 0 0 17% !important; width: 2.5% !important;padding-right: 20px !important;}
.mat-column-locationOfFile {flex: 0 0 17% !important; width: 4.8% !important;padding-right: 20px !important;}
.mat-column-defendants {flex: 0 0 17% !important; width: 3.4% !important;padding-right: 20px !important;}
.mat-column-causeNo {flex: 0 0 17% !important; width: 2.85% !important;padding-right: 20px !important;}
.mat-column-plaintiffs {flex: 0 0 17% !important; width: 3.0% !important;padding-right: 20px !important;}
.mat-column-advParty1Name {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-advParty1Email {flex: 0 0 17% !important; width: 3% !important;padding-right: 20px !important;}
.mat-column-advParty1CellPhone {flex: 0 0 17% !important; width: 4.25% !important;padding-right: 20px !important;}
.mat-column-advParty2Name {flex: 0 0 17% !important; width: 4% !important;padding-right: 20px !important;}
.mat-column-advParty2Email {flex: 0 0 17% !important; width: 3.9% !important;padding-right: 20px !important;}
.mat-column-advParty2CellPhone {flex: 0 0 17% !important; width: 4% !important;padding-right: 20px !important;}
.mat-column-judgeName {flex: 0 0 17% !important; width: 2.85% !important;padding-right: 20px !important;}
.mat-column-email {flex: 0 0 17% !important; width: 3.65% !important;padding-right: 20px !important;}
.mat-column-officeTelephone {flex: 0 0 17% !important; width: 6.5% !important;padding-right: 20px !important;}
.mat-column-agencyName {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}
.mat-column-agentName {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}
.mat-column-agentEmail {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}
.mat-column-agentOfficeTelephone {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}
.mat-column-scheduleDate {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}
.mat-column-taskDate {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}
.mat-column-tasksToDo {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}

.mat-column-partner {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}

.mat-column-legalAssistant {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}
//.mat-column-lawClerks {flex: 0 0 17% !important; width: 5.5% !important;padding-right: 20px !important;}


