<div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
      <h6 class="my-auto">Recipe</h6>
      <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
    </div>
    <div class="row">
        <p-table #Setupstoragesection [globalFilterFields]="['childItemCode','childItemQuantity']" [value]="bomLines"
        styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="single"  scrollDirection="Both" sortField="sequenceNo" [sortOrder]="1"
        scrollHeight="calc(100vh - 29.2rem)"  [paginator]="false" [rows]="100" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [resizableColumns]="true" style="width: 100%;margin-left: 10px;background-color:white" >
        <ng-template pTemplate="header">
          <tr>
      
       
            <th  pSortableColumn="sequenceNo"   pResizableColumn>Sequence No<p-sortIcon field="sequenceNo"></p-sortIcon>
            </th>
            <th  pSortableColumn="referenceField1"   pResizableColumn>Recipe<p-sortIcon field="referenceField1"></p-sortIcon>
        <th  pSortableColumn="childItemCode"   pResizableColumn>Ingredient<p-sortIcon field="childItemCode"></p-sortIcon>
          <th  pSortableColumn="referenceField6"   pResizableColumn>Description<p-sortIcon field="referenceField6"></p-sortIcon>
            <th  pSortableColumn="childItemQuantity"   pResizableColumn>Ingredient Quantity<p-sortIcon field="childItemQuantity"></p-sortIcon>
              <th  pSortableColumn="referenceField8"   pResizableColumn>Item Type<p-sortIcon field="referenceField8"></p-sortIcon>
              <th  pSortableColumn="referenceField7"   pResizableColumn>UOM<p-sortIcon field="referenceField7"></p-sortIcon>
        </th>
        
           
          </tr>
          <tr >
            <th >
              <input pInputText  type="text" (input)="Setupstoragesection.filter($any($event.target)?.value, 'sequenceNo', 'contains')" 
              [value]="$any(Setupstoragesection.filters['sequenceNo'])?.value" placeholder="Search" class=" w-100 p-column-filter">
            </th>
           <th >
             <input pInputText  type="text" (input)="Setupstoragesection.filter($any($event.target)?.value, 'referenceField1', 'contains')" 
                 [value]="$any(Setupstoragesection.filters['referenceField1'])?.value" placeholder="Search" class=" w-100 p-column-filter">
               </th>
               
               <th >
                <input pInputText  type="text" (input)="Setupstoragesection.filter($any($event.target)?.value, 'childItemQuantity', 'contains')" 
                [value]="$any(Setupstoragesection.filters['childItemQuantity'])?.value" placeholder="Search" class=" w-100 p-column-filter">
              </th>
              <th >
                <input pInputText  type="text" (input)="Setupstoragesection.filter($any($event.target)?.value, 'referenceField6', 'contains')" 
                    [value]="$any(Setupstoragesection.filters['referenceField6'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                  </th>
               <th >
                 <input pInputText  type="text" (input)="Setupstoragesection.filter($any($event.target)?.value, 'childItemQuantity', 'contains')" 
                 [value]="$any(Setupstoragesection.filters['childItemQuantity'])?.value" placeholder="Search" class=" w-100 p-column-filter">
               </th>
               <th >
                <input pInputText  type="text" (input)="Setupstoragesection.filter($any($event.target)?.value, 'referenceField8', 'contains')" 
                    [value]="$any(Setupstoragesection.filters['referenceField8'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                  </th>
               <th >
                <input pInputText  type="text" (input)="Setupstoragesection.filter($any($event.target)?.value, 'referenceField7', 'contains')" 
                    [value]="$any(Setupstoragesection.filters['referenceField7'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                  </th>
            
           </tr>
        
        </ng-template>
        <ng-template pTemplate="body" let-sections let-rowIndex="rowIndex">
          <tr >
            <td >{{sections.sequenceNo}}</td>
            <td >{{sections.referenceField1}}</td>
          <td >{{sections.childItemCode}}</td>
          <td >{{sections.referenceField6}}</td>
          <td >{{sections.childItemQuantity}}</td>
          <td >{{sections.referenceField10}}</td>
          <td >{{sections.referenceField7}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" mat-dialog-close class="mx-2"> <i
            class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
      </div>


  </div>


