<div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
  class="d-flex justify-content-between align-items-center header_colour text-white p-2" style="overflow-y: 'hidden';">
  <h6 class="my-auto">Putaway Details</h6>
  <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
</div>
<div class="scroll">
  <table mat-table [dataSource]="dataSource" matSort class="col-12 w-100">

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()"
          [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
        </mat-checkbox>
      </td>
    </ng-container>


    <!-- Symbol Column -->
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> S No </th>
      <td mat-cell *matCellDef="let element"> {{element.no}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="packBarcodes">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Pallet ID</th>
      <td mat-cell *matCellDef="let element"> {{element.packBarcodes}} </td>
    </ng-container>
    <!-- Weight Column -->
    <ng-container matColumnDef="putAwayNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Putaway No</th>
      <td mat-cell *matCellDef="let element"> {{element.putAwayNumber}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="putawayConfirmedQty">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Putaway Qty </th>
      <td mat-cell *matCellDef="let element"> {{element.putawayConfirmedQty}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="proposedStorageBin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Proposed Storage Bin</th>
      <td mat-cell *matCellDef="let element"> {{element.proposedStorageBin}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="confirmedStorageBin">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Confirmed Storage Bin</th>
      <td mat-cell *matCellDef="let element"> {{element.confirmedStorageBin}} </td>
    </ng-container>
    <!-- Symbol Column -->
    <ng-container matColumnDef="statusId">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element"> {{element.statusId == 20 ? 'Confirmed' : 'Reversed'}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
    </tr>
  </table>
</div>
<div class="buttons border d-flex justify-content-end">

  <div class="p-0 mx-1">
    <mat-paginator class="" showFirstLastButtons [pageSize]="100" [pageSizeOptions]="[100, 150, 200, 250]"
      aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
</div>