<div class="row ml-1">
    <div class="col-9">
      <!--inner header-->
  
      <app-innerheader></app-innerheader>
      <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
      <!--main section-->
      <div class="row pr-3 bg-white mt-1">
        <div class="scroll col-12 px-0 ">
          <table mat-table [dataSource]="dataSource" matSort class=" w-100">
  
            <!-- Checkbox Column -->
               <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()" disabled
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="clearselection(row)"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
  
  
            <!-- Symbol Column -->
            <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef mat-sort-header> S No </th>
              <td mat-cell *matCellDef="let element"> {{element.no}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="warehouseno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Source Warehouse</th>
              <td mat-cell *matCellDef="let element"> {{element.warehouseno}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Transfer No</th>
              <td mat-cell *matCellDef="let element"> {{element.type}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="refdocno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Part No</th>
              <td mat-cell *matCellDef="let element"> {{element.refdocno}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="preinboundno">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested Date</th>
              <td mat-cell *matCellDef="let element"> {{element.preinboundno}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Requested Qty</th>
              <td mat-cell *matCellDef="let element"> {{element.date}} </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
              <td mat-cell *matCellDef="let element"> {{element.status}} </td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef mat-sort-header >Actions </th>
              <td *matCellDef="let row;let element" class="tableborder p-0 border-bottom">
                <button mat-icon-button [matMenuTriggerFor]="menu">
                  <mat-icon class="text-secondary">more_horiz</mat-icon>
                </button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>
        </div>
         <div class="buttons border bg-white pb-1 w-100 d-flex justify-content-end ">
          <div class="p-0 mx-1">
          <mat-paginator class="" showFirstLastButtons [pageSize]="100" [pageSizeOptions]="[100, 150, 200, 250]"
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
  
      </div>
    </div>
  
      
    <mat-menu #menu="matMenu">
      <ng-template matMenuContent>
        <button mat-menu-item>Send Request</button>
        <button mat-menu-item>Edit</button>
        <button mat-menu-item>Display</button>
        <button mat-menu-item>Delete</button>
      </ng-template>
    </mat-menu>
    <!--right pane-->
    <div class="col-3 pl-1 pr-1 mt-1 ">
      <div class="whs-rightpane bg-white shadow">
        <div class="text-dark p-2 bg-white">
          <div class="whs-vertical-scroll">
            <div class="d-flex justify-content-start my-1">
              <label for="" class="mr-5 mt-1">Variant</label>
              <label for="" class=" mt-1 ml-4 pl-3">Warehouse</label>
            </div>
            <hr class="my-0">
            <div class="row mt-1">
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Warehouse No</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter" value="Sushi">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Transfer No</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    
                    <mat-select placeholder="select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <label for="inputEmail4" class="mb-1">Requested Date</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Requested By</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Part No</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Source Warehouse</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Status</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
             
            </div>
          </div>
          <div class="d-flex justify-content-center my-1">
            <button mat-raised-button class="text-white mr-1" color="warn">
              <mat-icon class="">close</mat-icon> Cancel
            </button>
            <button mat-raised-button class="bg-darkblue  text-white mx-1" >
              <mat-icon class="">search</mat-icon> Search
            </button>
          </div>
        </div>
        <div class="row  no-gutters">
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Storage Setup</p>
            </div>
          </div>
          <div class="col-6 pl-0  d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Item Setup</p>
            </div>
          </div>
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Storage Setup</p>
            </div>
          </div>
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Item Setup</p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  