<div class="container primaryblue vw-100 vh-100 mw-100 mx-0 px-0" style="background-color: #ffff;">
  <div class="d-flex justify-content-center align-items-center" style="height: 50vh;background-color: #136A8A;">
    
    <img src="./assets/Img/iwlogo.png" class="img-fluid logoplace" alt="" srcset="">
    <div class="cardlogin shadow p-5" style="background-color: #ffff;">
      <form [formGroup]="lgForm" (ngSubmit)="login()">
      <div>
        <h5 class="fw-bold  mb-1 ">USER ID</h5>
        <mat-form-field appearance="outline" style="width:19rem;">
          <input matInput type="text" formControlName="userName" id="exampleInputEmail1" style="color: black;" aria-describedby="emailHelp"
            placeholder="UserID" autocomplete="off">
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <div class="mt-2">
        <h5 class="fw-bold mb-1">PASSWORD</h5>
        <mat-form-field appearance="outline" style="width:19rem;">
          <input matInput type="password" formControlName="password" id="exampleInputPassword1" style="color: black;"
            placeholder="Password" [type]="hide" aria-describedby="forgot" autocomplete="off">
          <button mat-icon-button matSuffix (click)="hide= hide=='text' ? 'password' : 'text' "
            [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <button mat-button style="background-color: #006990;color: white;width:19rem;"
        class="btn-lg btn-block py-2 mt-1 mb-2" type="Submit">Login</button>
      </form>
    </div>
  </div>
</div>

<p-toast [style]="{'width': '25%'}" position="bottom-right" key="br"></p-toast>