.scroll{overflow-y: scroll;height: calc(100vh - 9rem);}


.ng2-pdf-viewer-container{
    /* overflow-x: auto; */
    position: absolute;
    height: 100%;
    width: 100%;
    -webkit-overflow-scrolling: touch;
}