<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto"><a
                routerLink="/main/make&change/inhouse-transfer">Make & Change</a></li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Inhouse Transfer</li>
          </ol>
        </nav>


        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input matInput (input)="inhouseTag.filterGlobal($any($event.target).value, 'contains')"
            class="form-control filter_button mt-2 mt-2 mx-2 border-bottom"
              placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                    <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                    matTooltip="Add">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                  </button>
                  -->
            <button disabled mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" disabled floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display" [disabled]="!RA.view">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button disabled  mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" disabled floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit" [disabled]="!RA.createUpdate"  >
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete"  [disabled]="!RA.delete" >
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                    <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                </button>
                  -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="downloadexcel()"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab routerLink="/main/make&change/inhouse-new"
              class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New"  [disabled]="!RA.createUpdate"  >
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab disabled class="text-white mx-2 action-button  bg-red disabled" type="button"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar-->
    <!--      <app-main-section-tabbar>
    </app-main-section-tabbar> -->
    <!--main section-->
    <div class="row pr-1 mt-2">
      <div class="pr-1 mt-2 mx-0 w-100 ">
        <app-makeandchange-tab></app-makeandchange-tab>
      </div>
    </div>
    <!-- <div class="row "style="padding-right: 15px !important;"> -->
      <div class="row " style="padding-right: 15px !important;">
    
          
        <p-table #inhouseTag  [value]="inhouse" [globalFilterFields]="[ 'statusId', 'transferNumber', 'lines',  'createdOn','transferTypeId','createdBy']"
        styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="single" scrollDirection="both"
        scrollHeight="calc(100vh - 16.5rem)" [sortOrder]="-1" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [resizableColumns]="true" style="width: 100%;margin-left: 10px;background-color:white" >
          <ng-template pTemplate="header">
            <tr>
              <th style="max-width: 3.5rem">
                <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
              </th>
              <th style="width: 17rem;"pSortableColumn="statusId" pResizableColumn>Status<p-sortIcon field="statusId"></p-sortIcon>
               
              </th>
              <th style="width: 10rem" pSortableColumn="transferNumber" pResizableColumn>Transfer No <p-sortIcon field="transferNumber"></p-sortIcon>
             
              </th>
              <th style="width: 17rem" pSortableColumn="lines" pResizableColumn> Lines<p-sortIcon field="lines"></p-sortIcon>
               
              </th>
              <th style="width: 15rem" pSortableColumn="createdOn" pResizableColumn>Transfer Date<p-sortIcon field="createdOn"></p-sortIcon>
               
              </th> 
              <th style="width: 15rem;" pSortableColumn="transferTypeId"   pResizableColumn>Transfer Type<p-sortIcon field="transferTypeId"></p-sortIcon>
         
              </th>
              <th  style="width: 20rem;" pSortableColumn="createdBy"   pResizableColumn>Transferred By<p-sortIcon field="createdBy"></p-sortIcon>
         
              </th>
             

            
              <!-- <th style="width: 15rem;" pResizableColumn>Approval Process
               
              </th>
              <th style="width: 8rem;" pResizableColumn>Approver Code
               
              </th>
              <th style="width: 15rem;" pResizableColumn>Approver Name
               
              </th>-->

              
            </tr>

            <tr>
              <th style="max-width: 3.5rem">
                <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
              </th>
              <th style="width: 17rem">
                <input pInputText type="text"
                  (input)="inhouseTag.filter($any($event.target)?.value, 'statusId', 'contains')"
                  [value]="$any(inhouseTag.filters['statusId'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 10rem">
                <input pInputText type="text"
                  (input)="inhouseTag.filter($any($event.target)?.value, 'transferNumber', 'contains')"
                  [value]="$any(inhouseTag.filters['transferNumber'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
           
              <th style="width: 17rem">
                <input pInputText type="text"
                  (input)="inhouseTag.filter($any($event.target)?.value, 'lines', 'contains')"
                  [value]="$any(inhouseTag.filters['lines'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 15rem">
                <input pInputText type="text"
                  (input)="inhouseTag.filter($any($event.target)?.value, 'createdOn', 'contains')"
                  [value]="$any(inhouseTag.filters['createdOn'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 15rem">
                <input pInputText type="text"
                  (input)="inhouseTag.filter($any($event.target)?.value, 'transferTypeId', 'contains')"
                  [value]="$any(inhouseTag.filters['transferTypeId'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th  style="width: 20rem;">
                <input pInputText type="text"
                  (input)="inhouseTag.filter($any($event.target)?.value, 'createdBy', 'contains')"
                  [value]="$any(inhouseTag.filters['createdBy'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
             
            </tr> 

          </ng-template>
          <ng-template pTemplate="body" let-inhouse let-rowIndex="rowIndex">
            <tr>

              <td style="max-width:3.5rem;">
                <p-checkbox (onChange)="onChange()" [(ngModel)]="selectedinhouse" [value]="inhouse"></p-checkbox>
                <!--<p-tableCheckbox [value]="approvals"></p-tableCheckbox>-->
              </td>
              <td style="width: 17rem">  {{cs.getstatus_text(inhouse.statusId)}}</td>
              <td style="width: 10rem">{{inhouse.transferNumber}}</td>
              <td style="width: 17rem"> <button mat-icon-button (click)="openLines(inhouse)"> <!-- (click)="openLines(element)"-->
                <mat-icon class="text-secondary">open_in_new</mat-icon>
              </button></td>
              <td style="width: 15rem">{{inhouse.createdOn | date : 'dd-MM-yyyy HH:mm' :'GMT'}}</td>
              <td style="width: 15rem">{{inhouse.transferTypeId == 1 ? 'Stock Type to Stock Type' : inhouse.transferTypeId == 2 ? 'SKU to SKU' : inhouse.transferTypeId == 3 ? 'Bin to Bin' : ''}}</td>
              <td  style="width: 20rem;">{{inhouse.createdBy}}</td>
              
            </tr>
          </ng-template>
        </p-table>
      

   

    
  </div>
  </div>


  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Edit</button>
      <button mat-menu-item>Display</button>
      <button mat-menu-item>Delete</button>
    </ng-template>
  </mat-menu>
  <!--right pane-->
  <div class="col-3 pl-1 pr-1 mt-1 d-none">
    <div class="whs-rightpane bg-white shadow">
      <div class="text-dark p-2 bg-white">
        <div class="whs-vertical-scroll">
          <div class="d-flex justify-content-start my-1">
            <label for="" class="mr-5 mt-1">Variant</label>
            <label for="" class=" mt-1 ml-4 pl-3">Inhouse</label>
          </div>
          <hr class="my-0">
          <div class="row mt-1">
            <div class="col-6 pr-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Transfer No</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Transfer Type</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select placeholder="select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pr-1">
              <div class="form-group mb-1">
                <label for="inputEmail4" class="mb-0">Transfer Date</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Transferred By</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pr-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Part No</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Status</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-1">
          <button mat-raised-button class="text-white mr-1" color="warn">
            <mat-icon class="">close</mat-icon> Cancel
          </button>
          <button mat-raised-button class="bg-darkblue  text-white mx-1">
            <mat-icon class="">search</mat-icon> Search
          </button>
        </div>
      </div>
      <div class="row  no-gutters">


      </div>
    </div>
  </div>
</div>