<!-- <div class="bg-white p-1 d-flex justify-content-around mx-3 px-4 tabbar">
<div class="mt-1 active d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center py-1">
        <mat-icon class="red-text">description</mat-icon>
    </div>
    <p class="mb-0 red-text">General</p>
</div>
<div class=" mt-1 px-4">
    <div class="icon red d-flex justify-content-center align-items-center">
        <mat-icon class="red-text">description</mat-icon>
    </div>
    <p class="mb-1 red-text">Notes</p>
</div>
<div class=" mt-1 px-4 ">
    <div class="icon red d-flex justify-content-center align-items-center">
        <mat-icon class="red-text">description</mat-icon>
    </div>
    <p class="mb-1 red-text">Matters</p>
</div>
<div class=" mt-1 px-4">
    <div class="icon red d-flex justify-content-center align-items-center">
        <mat-icon class="red-text">description</mat-icon>
    </div>
    <p class="mb-1 red-text">Email</p>
</div>
<div class=" mt-1 px-4">
    <div class="icon red d-flex justify-content-center align-items-center">
        <mat-icon class="red-text">description</mat-icon>
    </div>
    <p class="mb-1 red-text">Document</p>
</div>
</div> -->

<div class="header-section">
    <div class="d-flex justify-content-between  mt-1 align-items-center text-secondary mx-3" style="height: 3.1rem;">
        <h3 class="my-auto mb-0 text-dark" style="font-size:22px;">{{code}} / {{code1}}</h3>
    </div>
    <div class="tabbar bggrey1 ms-3 me-3">
        <nav mat-tab-nav-bar class="scroll2 d-flex justify-content-start ">

            <a mat-tab-link *ngFor=" let link of listmenu" [ngClass]="link.class" (click)="activeLink = link.title"
                [active]="activeLink == link.title" [routerLink]="link.url" [disabled]="isdiabled(link.screenid)">
                <i [ngClass]="link.icon"></i> {{link.title}} </a>
        </nav>
    </div>
</div>
<router-outlet></router-outlet>