
<form [formGroup]="form" (ngSubmit)="submit()">
<div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
      <h6 class="my-auto">Handling Unit - {{data? data.pageflow: 'New'}}</h6 >
      <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
    </div>
    <div class="mt-2 px-4">
      <div class="row scroll p-1">
        <div class="col-lg-6 col-md-6 mt-1"> 
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 text-black required">Language</p>
            <p-dropdown  placeholder="Select" class="w-100" [filter]="true" [options]="languageList"
            formControlName="languageId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
            [panelStyle]="{'width':'20%'}" appendTo="body"  > </p-dropdown >
            <mat-error *ngIf="errorHandling('languageId')">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1"> 
          <p class="mb-0 py-0 mb-1 required">Company</p>
          <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="companyList"
        formControlName="companyCodeId"  [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
        [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
        <mat-error *ngIf="errorHandling('companyCodeId')">{{getErrorMessage()}}</mat-error>
        </div>
        <div class="col-lg-6 col-md-6 mt-1"> 
          <p class="mb-0 py-0 mb-1 required">Plant ID</p>
            <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="plantList"
            formControlName="plantId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
            [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
            <mat-error *ngIf="errorHandling('plantId')">{{getErrorMessage()}}</mat-error>
        </div>
          <div class="col-lg-6 col-md-6 mt-1"> 
            <p class="mb-0 py-0  required">Warehouse</p>
            <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="warehouseIdList"
          formControlName="warehouseId" #warehouseId (onChange)="onWarehouseChange(warehouseId.selectedOption)" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
          [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
          <mat-error *ngIf="errorHandling('warehouseId')">{{getErrorMessage()}}</mat-error>
          </div>
          <div class="col-lg-6 col-md-6 mt-1"> 
          <p class="mb-0 py-0 required">Handling Unit</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="handlingUnit" required>
          </mat-form-field>
          <mat-error *ngIf="errorHandling('handlingUnit')">{{getErrorMessage()}}</mat-error>
        </div>
       
        <div class="col-lg-6 col-md-6 mt-1">
          <p class="mb-0 py-0">Length</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="length">
          </mat-form-field>

        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <p class="mb-0 py-0">Length UOM</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="lengthUom">
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0">Width</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Enter" formControlName="width">
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Width UOM </p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="widthUom">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Height</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="height">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Height UOM </p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="heightUom">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Volume</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="volume">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Volume UOM </p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="volumeUom">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-1">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Weight</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="weight">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-1">
                  <div class="d-flex flex-column">
                    <p class="mb-0 py-0">Weight UOM </p>
                    <mat-form-field class="form-group input_field mb-0" appearance="outline">
                      <input matInput placeholder="Enter" formControlName="weightUom">
                    </mat-form-field>
                  </div>
                </div>

                <div class="col-lg-6 col-md-6 mt-1">
                  <p class="mb-0 py-0">Status</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <mat-select class="form-group input_field mb-0"
                      placeholder="Select" formControlName="statusId">
                      <mat-option value="1">01 - Active</mat-option>
                      <mat-option value="0">02 - Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

        
      </div>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" mat-dialog-close class="mx-1"> <i
            class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
        <button mat-raised-button class="mx-1 bg-darkblue px-4 text-white"> <i
            class="bi bi-check2 mr-1 font-size-1_5rem"></i>
          
            {{data.pageflow =='Edit'? 'Update': 'Save'}}</button>
      </div>
    </div>


  </div>
</form>