<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
      <h6 class="my-auto">Preoutbound - New</h6>
      <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
    </div>
    <mat-accordion>
      <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header class="border-bottom padding-space border-top">
          <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
            <div> <img src="./assets/img/icons/header.png" class="header_icon mr-2" alt="" srcset="">Header</div>
            <mat-icon class="text-secondary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row p-1 mt-2 px-3"  formGroupName="asnHeader">
          <div class="col-lg-3 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">ASN No</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="asnNumber" >
              </mat-form-field> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Warehouse ID</p>
              <!-- <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="wareHouseId" >
              </mat-form-field> -->
              <p-dropdown placeholder="Select" class="w-100" [options]="multiWarehouseList"
              formControlName="wareHouseId" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-dropdown>
            </div>
          </div>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel #panel1 hideToggle>
        <mat-expansion-panel-header class="border-bottom padding-space border-top">
          <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
            <div> <img src="./assets/img/icons/signal.png" class="header_icon mr-2" alt="" srcset=""> Lines
            </div>
            <mat-icon class="text-secondary">{{panel1.expanded? 'remove' : 'add'}}</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="d-flex justify-content-end align-items-center">
          <button mat-raised-button type="button" (click)="add()" class=" text-white bg-orange demo-button mt-2">
            <mat-icon class="">add</mat-icon> Add Lines
          </button>
        </div>
        <div class="row  p-1 mt-1">
          <div class="scroll2 col-12 px-0">
            <table mat-table [dataSource]="dataSource" formArrayName="asnLine" matSort class=" w-100">

                       <!-- Symbol Column -->
                       <ng-container matColumnDef="no">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> S No </th>
                        <td mat-cell *matCellDef="let row; let i = index" >{{i+1}} </td>
                      </ng-container>

          

              <!-- Name Column -->
              <ng-container matColumnDef="containerNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Container Number</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="containerNumber" required>
                </td>
              </ng-container>

              <!-- Name Column -->
              <ng-container matColumnDef="expectedDate">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Expected Date</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <mat-form-field class="mb-0 w-100 " appearance="outline">
                      <input matInput [matDatepicker]="picker"  placeholder="Choose Date" formControlName="expectedDate" (dateChange)="inputChange($event, index, row)">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="expectedQty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Expected Qty</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="expectedQty" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="invoiceNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Invoice Number</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="invoiceNumber" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="lineReference">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Line Reference</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="lineReference" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="manufacturerName">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Manufacturer   Name</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="manufacturerName" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="manufacturerPartNo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Manufacturer PartNo</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="manufacturerPartNo" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="packQty">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Pack Qty</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="packQty" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="sku">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Item Code</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="sku" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="skuDescription">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Item Desc</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="skuDescription" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="supplierCode">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Supplier Code</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="supplierCode" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="supplierPartNumber">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">Supplier Part No</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="supplierPartNumber" required>
                </td>
              </ng-container>
              <!-- Name Column -->
              <ng-container matColumnDef="uom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="pl-2">UOM</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                    <input matInput placeholder="Enter" formControlName="uom" required>
                </td>
              </ng-container>
              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-icon class="text-secondary">more_horiz</mat-icon>
                </th>
                <td mat-cell *matCellDef="let element; let i = index">
                  <button type="button" mat-icon-button (click)="removeRow(i)">
                    <mat-icon class="text-danger">delete_outline</mat-icon>
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="d-flex justify-content-center align-items-center py-2">
      <button mat-raised-button color="warn" mat-dialog-close class="mx-1"> <i
          class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
      <button mat-raised-button class="mx-1 bg-darkblue px-4 text-white"> <i
          class="bi bi-check2 mr-1 font-size-1_5rem"></i>Save</button>
    </div>



  </div>
</form>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Delete</button>
  </ng-template>
</mat-menu>