<div class="componentBody">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Number Series - {{ this.pageToken.pageflow }}</p>
        <div class="d-flex justify-content-between align-items-center">
            <button type="button" class="invisible buttom1 bgBlack text-white ml-2">Transfer</button>
        </div>
    </div>
    <div class="w-75 mt-4 mx-auto">
        <form [formGroup]="form">
            <p-stepper [(activeStep)]="active">
                <p-stepperPanel>
                    <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                        <div class="d-flex flex-column align-items-center" (click)="onClick.emit()">
                            <div class=" d-flex justify-content-center align-items-center">
                                <p *ngIf="active == 0;" class="circle borderCircle mb-0">1</p>
                                <img *ngIf="active != 0;" src="./assets/dashboard/tick.png" alt="" srcset="">
                            </div>
                            <div>
                                <p class="mb-0 mt-2 f600 textBlack">General</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content" let-nextCallback="nextCallback">
                        <div class="row scrollNew">
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Language</p>
                                <p-dropdown [showClear]="true"  [options]="languageIdList" formControlName="languageId" appendTo="body"
                                    [style]="{'width': '100%'}" placeholder="Select" filter="true" [disabled]="true" [panelStyle]="{'width':'100%'}">
                                    <ng-template pTemplate="filter"><input type="text"  pInputText appTrim  appTrim
                                        placeholder="Search" /></ng-template></p-dropdown>
                                    <mat-error *ngIf="errorHandling('languageId')" 
                                    class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0 required">ID</p>
                                <input maxlength="50" formControlName="numberRangeCode"
                                [ngClass]="form.get('numberRangeCode')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    class="w-100"   pInputText appTrim  pKeyFilter="num" placeholder="Enter" />
                                <mat-error *ngIf="errorHandling('numberRangeCode')"
                                    class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0 required">Process</p>
                                <input maxlength="100" formControlName="numberRangeObject"
                                [ngClass]="form.get('numberRangeObject')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    class="w-100"   pInputText appTrim  pKeyFilter="alphanum" placeholder="Enter" />
                                <mat-error *ngIf="errorHandling('numberRangeObject')"
                                    class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0 required">From Number</p>
                                <input maxlength="50" formControlName="numberRangeFrom" 
                                [ngClass]="form.get('numberRangeFrom')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    class="w-100"   pInputText appTrim  pKeyFilter="alphanum" placeholder="Enter" />
                                <mat-error *ngIf="errorHandling('numberRangeFrom')"
                                    class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0 required">To Number</p>
                                <input maxlength="50" formControlName="numberRangeTo" 
                                [ngClass]="form.get('numberRangeTo')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    class="w-100"   pInputText appTrim  pKeyFilter="alphanum" placeholder="Enter" />
                                <mat-error *ngIf="errorHandling('numberRangeTo')"
                                    class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0 required">Current Number</p>
                                <input maxlength="50" formControlName="numberRangeCurrent" 
                                [ngClass]="form.get('numberRangeCurrent')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    class="w-100"   pInputText appTrim  pKeyFilter="alphanum" placeholder="Enter" />
                                <mat-error *ngIf="errorHandling('numberRangeCurrent')"
                                    class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0 required">Number Range Status</p>
                                <p-dropdown [showClear]="true"  [options]="status" [style]="{'width': '100%'}" appendTo="body"
                                [ngClass]="form.get('numberRangeStatus')?.invalid && submitted ? 'ng-invalid ng-dirty' : ''"
                                    formControlName="numberRangeStatus" placeholder="Select" filter="true">
                                    <ng-template pTemplate="filter"><input type="text"  pInputText appTrim  appTrim
                                        placeholder="Search" /></ng-template></p-dropdown>
                                <mat-error *ngIf="errorHandling('numberRangeStatus')"
                                    class="text-danger"><small>{{getErrorMessage()}}</small></mat-error>
                            </div>
                        </div>
                        <div class="d-flex mt-1 justify-content-end" style="position: absolute; right: 3.5%; bottom: 7%;">
                            <button class="buttom1 textBlack mx-1" routerLink="/main/idMaster/numberrange">Cancel</button>
                            <button
                                class="buttom1 bgBlack text-white mx-1" (click)="save()">{{this.pageToken.pageflow != "New" ? "Update" : "Save" }}</button>
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel *ngIf="this.pageToken.pageflow != 'New'">
                    <!--*ngIf="this.pageToken.pageflow != 'New'"-->
                    <ng-template pTemplate="header" let-onClick="onClick" let-index="index">
                        <div class="d-flex flex-column align-items-center" (click)="onClick.emit()">
                            <div class="d-flex justify-content-center align-items-center">
                                <p class="circle mb-0" [ngClass]="active == 2 ? 'borderCircle' : 'disabled text-muted'">
                                    2</p>
                            </div>
                            <div>
                                <p class="mb-0 mt-2 f600" [ngClass]="active == 2 ? 'textBlack f600' : 'text-muted'">
                                    Admin</p>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="content" let-prevCallback="prevCallback">
                        <div class="row">
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Created By</p>
                                <input type="text" formControlName="createdBy" class=" w-100"  pInputText appTrim 
                                    placeholder="Enter" />
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Created On</p>
                                <input type="text" formControlName="createdOn" class=" w-100"  pInputText appTrim 
                                    placeholder="Enter" />
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Updated By</p>
                                <input type="text" formControlName="updatedBy" class=" w-100"  pInputText appTrim 
                                    placeholder="Enter" />
                            </div>
                            <div class="col-6 marginFieldNew borderRadius12">
                                <p class="formControlLabel f600 textBlack mb-0">Updated On</p>
                                <input type="text" formControlName="updatedOn" class=" w-100"  pInputText appTrim 
                                    placeholder="Enter" />
                            </div>
                        </div>
                        <div class="d-flex mt-1 justify-content-end" style="position: absolute; right: 3.5%; bottom: 7%;">
                            <button class="buttom1 textBlack mx-1" (click)="prevCallback.emit()">Back</button>
                            <button
                                class="buttom1 bgBlack text-white mx-1" (click)="save()">{{this.pageToken.pageflow != "New" ? "Update" : "Save" }}</button>
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </form>
    </div>
</div>