<div class="row scroll px-0 mx-0">
  <div class="page px-0 vh-100 bg-white" style="display: block; page-break-after:always">
    <div class="pdf p-0 m-0" id="pdf">

      <div class="d-flex justify-content-start lightbg px-3 py-2 pb-3">
        <div class="d-flex align-items-center  justify-content-start">
          <img src="./assets/img/icons/smlogo.png" alt="" class="d-inline" srcset="">
          <div class="d-flex flex-column w-50">
            <h4 class="mb-0 my-0 my-1  text-blue">Monty & Ramirez LLP
              150 W. Parker Rd
              Ste 300 Houston, TX 77076</h4>
          </div>
        </div>
        <div class="d-flex flex-column justify-content-end">
          <h2 class="text-end mb-1 text-blue mt-1">Invoice</h2>
          <table id="table">
            <tr>
              <th class="text-center">Date</th>
              <th class="text-center">Invoice No</th>
            </tr>
            <tr>
              <td class="text-center">{{element.quotationDate | date : 'MM-dd-yyyy':'UTC 0'}}</td>
              <td class="text-center">{{element.quotationNo}}</td>
            </tr>
            <tr>
          </table>
        </div>
      </div>
      <div class="px-2">
        <table id="table2" class="mt-2 w-50">
          <tr>
            <th class="">Name / Address</th>
          </tr>
          <tr class=" w-25">
            <td class="pb-5">{{elementc.firstNameLastName}}
              <br />
              {{elementc.addressLine1}}
              <br />{{elementc.addressLine2}}
            </td>
          </tr>
          <tr>
        </table>
      </div>
      <div class="d-flex  justify-content-end px-2">
        <table id="table2">
          <tr>
            <th class="text-center">Terms</th>
            <th class="text-center">Due Date</th>
          </tr>
          <tr>
            <td class="text-center">{{element.termDetails }}</td>
            <td class="text-center">{{element.dueDate | date : 'MM-dd-yyyy':'UTC 0'}}</td>
          </tr>
          <tr>
        </table>
      </div>
      <div class="d-flex justify-content-center px-2">
        <table id="table1">
          <tr>
            <th>Item</th>
            <th style="width: 34%;">Description</th>
            <th>Time Keeper</th>
            <th>Date </th>
            <th>Hours </th>
            <th>Rate / Hour </th>
            <th>Total </th>
          </tr>
          <tr *ngFor="let item of element.quotationLine;">
            <td>{{item.serialNumber}}</td>
            <td>{{item.itemDescription}}</td>
            <td>{{item.timekeeperCode}}</td>
            <td>{{element.dueDate | date : 'MM-dd-yyyy':'UTC 0'}}</td>
            <td>{{item.quantity}}</td>
            <td>$ {{item.rateperHour}}</td>
            <td>$ {{item.totalAmount}}</td>
          </tr>

          <tfoot>
            <tr>
              <th id="total" colspan="6">Total</th>
              <td>$ {{element.quotationAmount }}</td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="d-flex  justify-content-start mt-2 px-2">
        <table id="table3">
          <tr>
            <th class="text-center">Phone Number</th>
          </tr>
          <tr>
            <td class="text-center">{{elementc.contactNumber}} </td>
          </tr>
          <tr>
        </table>
      </div>
    </div>

  </div>
</div>