<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="card bg-white " style="overflow-x: hidden;">
      <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
        class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
        <h6 class="my-auto">Palletization - New </h6>
        <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
      </div>
      <div class="mt-2 px-4">
        <div class="row  p-1">
  
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Palletization Level</p>
              <p-dropdown placeholder="Select" class="w-100" [filter]="true" [options]="palletizationlevelList"
              formControlName="palletizationLevel" (onChange)="onpalletlevelchange($event)"
              [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}"
              [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown>
            </div>
          </div>
  
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Pallet Height</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="palletHeight">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Pallet Width</p>
              <mat-form-field class="mb-0 w-100 "  appearance="outline">
                <input matInput formControlName="palletWidth">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Pallet Length</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="palletLength">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Palletiation UOM</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="palletDimensionUom">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Item Per Quantity</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="itemPerPalletQuantity">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1" >
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Case Height</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="caseHeight" >
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Case Width</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="caseWidth">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Case Length</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="caseLength">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Case UOM</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="caseDimensionUom">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Case Per Pallet</p>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput formControlName="casesPerPallet">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-2 ">
            <div class="d-flex flex-column">
              <mat-checkbox class="example-margin" formControlName="palletizationIndicator">Palletization Indicator</mat-checkbox>
            </div>
          </div>
          
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" mat-dialog-close class="mx-2"> <i
            class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
        <button mat-raised-button class="mx-2 bg-darkblue px-4 text-white"> <i
            class="bi bi-check2 mr-1 font-size-1_5rem"></i>
          Save</button>
      </div>
  
  
    </div>
  </form>
  


