<form [formGroup]="form" (ngSubmit)="submit()">
    <div class="card bg-white ">
      <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
        class="d-flex justify-content-between align-items-center header_colour text-white p-2">
        <h2 class="my-auto headertext">Sub Group Type - {{data? data.pageflow: 'New'}}</h2>
        <i mat-dialog-close class="bi bi-x-lg px-3"></i>
      </div>
      <mat-accordion>
        <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header class="border-bottom padding-space border-top">
            <mat-panel-title class="d-flex justify-content-between collapsefont">
              General
              <mat-icon class="text-primary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row  mt-2  p-1 px-3">
          <!--  <div class="col-lg-6 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0 required">Language ID</p>
                <p-dropdown   placeholder="Select" class="w-100" [filter]="true"  [options]="dropdownSelectLanguageID"
                formControlName="languageId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                <mat-error *ngIf="errorHandling('languageId')">{{getErrorMessage()}}</mat-error> 
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0 required">Company ID</p>
                  <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="dropdownSelectcompanyID" 
                  formControlName="companyId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                  [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                  <mat-error *ngIf="errorHandling('companyId')">{{getErrorMessage()}}</mat-error> 
                </div>
              </div>-->
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0 required">Group Type ID</p>
                  <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="dropdownSelectcontroltypeID" 
                  formControlName="groupTypeId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                  [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                  <mat-error *ngIf="errorHandling('groupTypeId')">{{getErrorMessage()}}</mat-error>
                </div> 
              </div>
                  <!--       <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0 required">Sub Group Type ID</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="subGroupTypeId">
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('subGroupTypeId')">{{getErrorMessage()}}</mat-error>
                </div> 
              </div>-->
            <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0 required">Sub Group Type Name</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="subGroupTypeName">
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('subGroupTypeName')">{{getErrorMessage()}}</mat-error>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Status</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <mat-select class="form-group input_field mb-0" placeholder="Select" formControlName="statusId">
                      <mat-option value=0>Active </mat-option>
                      <mat-option value=1>Inactive </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel #panel2 hideToggle *ngIf="data.code">
          <mat-expansion-panel-header class="border-bottom padding-space border-top">
            <mat-panel-title class="d-flex justify-content-between collapsefont">
              Admin
              <mat-icon class="text-primary">{{panel2.expanded? 'remove' : 'add'}}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row mt-2 p-1 px-3">
            <div class="col-lg-6 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Created By</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="createdBy">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Created On</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="createdOn">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Updated By</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="updatedBy">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Updated On</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="updatedOn">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
  
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" mat-dialog-close class="mx-2"> <i
            class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
        <button *ngIf="data.pageflow!= 'Display'" mat-raised-button class="mx-2 bg-blue text-white" type="submit"> <i
            class="bi bi-check2 me-1 font-size-1_5rem"></i>
          {{data.pageflow =='Edit'? 'Update': 'Save'}}</button>
      </div>
  
  
  
    </div>
  </form>




