.boxLg{height: 7.5rem;}

.horizontalBox{height: 10rem;}
.longbox{height: 20rem;}
fieldset {margin:0;padding:0;
  //border:1px solid  rgb(255, 255, 255) !important;
  //border-color: rgb(255, 255, 255);
   text-align:center !important; }

::ng-deep .mat-tab-body-content{overflow: hidden !important;}

.ml{margin: 0.1rem;}

.bin{
    height: 26px !important;
    width: 20px !important;
}

.occupied{background-color: #ff4254 !important;}
.available{background-color: #7afd75 !important;}
.partial{background-color: #f6af5f !important;}
.blueborder{ border: 1.9px solid #b4b4b4 !important}
.yellowborder{ border: 1.9px solid #fcd63e !important}
.borderBlueBottom{border-bottom: 1.9px solid #00346b !important}

.borderYellowBottom{border-bottom: 1.9px solid #a08000 !important}

.shape11 {
    // margin: 10px;
     position: relative;
     width: 40px;
     height: 40px;
     background: #979797;
     border-radius: 2px;
     justify-content: center;
     align-items: center;
     display: flex;
     box-shadow: -2px -2px 4px #f9f9f983, 2px 2px 4px rgb(93 75 75 / 37%);
 }
 
 .shape11:after {
     content: "";
     position: absolute;
     width: 88%;
     height: 88%;
     border-radius: 2px;
     box-shadow: 2px 2px 4px #676767, -2px -2px 4px #c6c6c6;
 }


 
.shape12 {
    // margin: 10px;
     position: relative;
     width: 80px;
     height: 40px;
     background: #979797;
     border-radius: 2px;
     justify-content: center;
     align-items: center;
     display: flex;
     box-shadow: -2px -2px 4px #f9f9f983, 2px 2px 4px rgb(93 75 75 / 37%);
 }
 
 .shape12:after {
     content: "";
     position: absolute;
     width: 88%;
     height: 88%;
     border-radius: 2px;
     box-shadow: 2px 2px 4px #676767, -2px -2px 4px #c6c6c6;
 }

 
.shape13 {
    // margin: 10px;
     position: relative;
     width: 80px;
     height: 80px;
     background: #979797;
     border-radius: 2px;
     justify-content: center;
     align-items: center;
     display: flex;
     box-shadow: -2px -2px 4px #f9f9f983, 2px 2px 4px rgb(93 75 75 / 37%);
 }
 
 .shape13:after {
     content: "";
     position: absolute;
     width: 88%;
     height: 88%;
     border-radius: 2px;
     box-shadow: 2px 2px 4px #676767, -2px -2px 4px #c6c6c6;
 }



 .ball{ width:13px;
    height:13px;
    border-radius: 50%;
background-color: transparent;}

 .blink1{
    width:13px;
    height:13px;
    border-radius: 50%;
  //  border:1px solid black;
    animation: blink1 5s infinite;
  }
  @keyframes blink1{
    0% {
      background:red;
    }
    20% {
      background: transparent;
    }
    40% {
      background:red;
    }
    60% {
      background: transparent;
    }
    80% {
      background:red;
    }
    100% {
      background: transparent;
    }
  }
  @-webkit-keyframes blink1{
    0% {
        background:red;
      }
      20% {
        background: transparent;
      }
      40% {
        background:red;
      }
      60% {
        background: transparent;
      }
      80% {
        background:red;
      }
      100% {
        background: transparent;
      }
  }

  

  

  .frame {
    overflow-y: hidden;
    height: calc(100vh - 12rem);
//    / width: 250px;
    font-size: 10px !important;
    background-color: transparent;
    text-align: left;
  }


  .new{
border-radius: 10px;
padding: 2px;
//background: #D1D8EC;
box-shadow: 12px 12px 24px #b2b8c9, -12px -12px 24px #f0f8ff;
  }
  
  


.neumorphism4 {
  background: #343a40;
  border-radius: 7%;
  box-shadow: 2.91px 1.91px 3px #26272b, -0.91px -1.91px 3px #232426;
}
.neumorphismBox1 {
  background: #343f46;
  border-radius: 0%;
 // box-shadow: inset 9.91px 9.91px 15px #2e3238, inset -9.91px -9.91px 15px #3b4045;
}