
  <div class="tabbar px-0 bg-white flex-row d-flex col">
    <nav mat-tab-nav-bar class="d-flex justify-content-start blue border-right border-left">
      <a routerLink="/main/outbound/preoutbound">
        <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
          <h4 class="font-weight-bold mr-3  mb-0">10</h4> Preoutbound</a>
      </a>
    </nav>
    <nav mat-tab-nav-bar class="d-flex justify-content-start blue border-right border-left"  style="border-bottom: 3px solid #ec830a  !important">
   
      <a routerLink="//main/outbound/order-management" class="">
        <a mat-tab-link class=" fw-bold  mb-0 px-4  my-auto">
          <h4 class="font-weight-bold  mb-0 text-dark mr-3">12</h4>   Order Management</a>
      </a>
    </nav>
    <nav mat-tab-nav-bar class="d-flex justify-content-start blue border-right border-left align-items-center">
      <a routerLink="/main/outbound/assignment">
        <a mat-tab-link class="blue-text fw-bold text-grey mb-0 px-4 my-auto ">
          <h4 class="font-weight-bold  mb-0 text-dark mr-3">04</h4> Assignment</a>
      </a>
    </nav>
    <nav mat-tab-nav-bar class="d-flex justify-content-start blue border-right border-left" routerLink="/main/outbound/pickup-main">
        <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
          <h4 class="font-weight-bold mr-3 mb-0">02</h4>Pickup</a>
    </nav>
  <nav mat-tab-nav-bar class="d-flex justify-content-start blue border-right border-left"  >
      <a routerLink="/main/outbound/quality-main">
        <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
          <h4 class="font-weight-bold mr-3 mb-0">02</h4>   Quality</a>
      </a>
    </nav>
    <nav mat-tab-nav-bar class="d-flex justify-content-start blue border-right border-left">
      <a routerLink="/main/outbound/delivery-main">
        <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
          <h4 class="font-weight-bold mr-3 mb-0">02</h4>Delivery</a>
      </a>
    </nav>  
    <nav mat-tab-nav-bar class="d-flex justify-content-start blue border-right border-left"  >
      <a routerLink="/main/outbound/reversal">
        <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
          <h4 class="font-weight-bold mr-3 mb-0">02</h4>Reversal</a>
      </a>
    </nav> 
  </div>

