<form [formGroup]="form" >
<div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex  border-botton align-items-center text-secondary fontBold text-center p-2">
      <h6 class="my-auto mx-auto">Customer Profile - New </h6>
      <mat-icon class="text-secondary " mat-dialog-close>close</mat-icon>
    </div>
      <mat-accordion>
        <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
          <mat-expansion-panel-header class="border-bottom padding-space border-top">
            <mat-panel-title class="d-flex justify-content-between collapsefont  text-secondary fw-bold align-items-center">
              General
              <mat-icon class="text-secondary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
      <div class="row scroll1 text-secondary fw-bold desc  p-1">
        <div class="col-lg-4 col-md-6 mt-1"  *ngIf="this.data.pageflow != 'New'">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 desc">Customer ID</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput [disabled]="true" placeholder="Enter" formControlName="customerId">
              </mat-form-field>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 desc">Customer Type</p>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
                <mat-select class="mb-0" placeholder="Select"  formControlName="customerType">
                  <mat-option value="Lead">Lead</mat-option>
                  <mat-option value="Customer">Customer</mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 desc">Customer Name</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="customerName">
              </mat-form-field>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Loyalty Category</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <mat-select class="mb-0" placeholder="Select"  formControlName="customerCategory">
              <mat-option value="1">1 - Silver</mat-option>
              <mat-option value="2">2 - Gold</mat-option>
              <mat-option value="3">3 - Diamond</mat-option>
              <mat-option value="4">4 - Platinum</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Mobile Number</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput type="number" placeholder="Enter" formControlName="phoneNo">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Alternate Phone No</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput type="number" placeholder="Enter">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Email ID</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput type="email" placeholder="Enter" formControlName="emailId">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Civil ID</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="civilId">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Address</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="address">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">City</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="city">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Country</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="country">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Status</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="status">
          </mat-form-field>
        </div>
        <div class="col-lg-4 col-md-6 mt-1">
          <p class="mb-0 py-0">Loyalty Points</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" type="number" formControlName="loyaltyPoint">
          </mat-form-field>
        </div>
        
      </div>
        </mat-expansion-panel>
        <mat-expansion-panel #panel5 hideToggle> 
            <mat-expansion-panel-header class="border-bottom padding-space border-top">
              <mat-panel-title class="d-flex justify-content-between collapsefont text-secondary fw-bold align-items-center">
                Credentials
                <mat-icon class="text-secondary">{{panel5.expanded? 'remove' : 'add'}}</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row p-1 text-secondary fw-bold px-3  mt-2">
              <div class="col-lg-4 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">User Name</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="userName" >
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Password</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="password">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-4 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Confirm Password</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="password">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-expansion-panel> 
          <mat-expansion-panel #panel2 hideToggle *ngIf="this.data.pageflow != 'New'"> 
          <mat-expansion-panel-header class="border-bottom padding-space border-top">
            <mat-panel-title class="d-flex justify-content-between collapsefont text-secondary fw-bold align-items-center">
              Admin
              <mat-icon class="text-secondary">{{panel2.expanded? 'remove' : 'add'}}</mat-icon>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <div class="row p-1 text-secondary fw-bold px-3  mt-2">
            <div class="col-lg-4 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Created By</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="AP-Editable"  formControlName="createdBy">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Created On</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="AP-Editable" formControlName="createdOn">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Updated By</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="AP-Editable" formControlName="updatedBy">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Updated On</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="AP-Editable" formControlName="updatedOn">
                </mat-form-field>
              </div>
            </div>
          </div>
        </mat-expansion-panel> 
      </mat-accordion>
      <div class="d-flex justify-content-center border-top align-items-center py-2">
        <button mat-flat-button mat-dialog-close class="mx-2 cancelcolor"> <i
            class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
        <button  (click)="submit()" mat-flat-button class="mx-2 saveColor px-4"> <i
            class="bi bi-check2 me-1 font-size-1_5rem"></i>
          
            {{btnText}}</button>
      </div>


  </div>
</form>
