<div class="d-flex  align-items-center justify-content-between mx-1 my-2 mb-2">
  <div class="ps-3">
    <nav aria-label="breadcrumb mb-0">
      <ol class="breadcrumb mb-0 d-flex align-items-center">
        <li class="breadcrumb-item mb-0 ms-3">
          <a>
            <mat-icon class="text-secondary align-middle">home</mat-icon>
          </a>
        </li>
        <div class="divider mx-3 border-end"></div>
        <li class="breadcrumb-item mb-0 active " aria-current="page">Billing</li>
        <li class="breadcrumb-item mb-0 active " aria-current="page">Quotation</li>
        <li class="breadcrumb-item mb-0 active " aria-current="page">{{this.path}}</li>
      </ol>
    </nav>
  </div>
  <div class="pe-2 me-1 d-flex justify-content-between align-items-end">
    <div [hidden]="isShowDiv"> <input matInput disabled class="disabled form-control filter_button mx-2 border-bottom"
        placeholder="Filter" style="width:90%"></div>
    <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'" class="button-row">
      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons bg-pink text-white mx-2"
        matTooltip="Download Excel">
        <mat-icon class="">download</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="showFloatingButtons == true"
        class=" disabled floating-buttons bg-yellow1 text-white mx-2" matTooltip="Delete">
        <mat-icon class="">delete</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons text-white mx-2 bg-success1"
        matTooltip="Copy">
        <mat-icon class="">content_copy</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons text-white mx-2 bg-lightblue"
        matTooltip="Display">
        <mat-icon class="">search</mat-icon>
      </button>
      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons primary1 text-white mx-2 me-3"
        matTooltip="Edit" matTooltip="Edit">
        <mat-icon class="">edit</mat-icon>
      </button>
      <button disabled mat-mini-fab (click)="toggleFloat()" class=" disabled mx-2 text-white action-button"
        [ngClass]="{'bg-yellow' : toggle, 'purple': !toggle}">
        <mat-icon>{{icon}}</mat-icon>Options
      </button>
      <button disabled mat-mini-fab class=" disabled bg-darkblue text-white mx-2 action-button">
        <mat-icon class="">add</mat-icon> New
      </button>
      <button disabled mat-mini-fab class=" disabled text-white mx-2 action-button bg-red" type="button" mat-button>
        <mat-icon class="">search</mat-icon> Search
      </button>
    </div>
  </div>
</div>
<div class=" bg-white ">
  <div class="d-flex mx-3 justify-content-between align-items-center bg-white p-2 py-3  ">
    <h2 class="my-auto header-text fw-bolder ms-3 ps-2">Quotation {{pageflow}}</h2>
  </div>
  <form [formGroup]="form" class="mx-3">
    <mat-accordion>
      <mat-expansion-panel class="shadow-none" #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
        <mat-expansion-panel-header class="border-bottom padding-space border-top">
          <mat-panel-title class="d-flex ms-1 justify-content-between collapsefont">
            Header
            <mat-icon class="text-primary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="row scroll mt-2 px-2">

          <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black required">Client ID </p>
              <!-- <app-ng-multiselect-dropdown class="form-group input_field mb-0 w-100" formControlName="clientId"
                [singleSelection]="true" apiMethod="client">
              </app-ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="multiselectclientList" [(ngModel)]="selectedItems3"
                [settings]="dropdownSettings1" (onSelect)="onItemSelect($event,'CLIENT')" formControlName="clientId">
              </angular2-multiselect> -->
              <p-dropdown placeholder="Select" [filter]="true" (onChange)="onItemSelect($event,'CLIENT')"
                class="w-100 my-1 mb-2" [options]="multiselectclientList" formControlName="clientId"
                [style]="{'width': '100%'}" [panelStyle]="{'width': '100%'}"></p-dropdown>
              <mat-error *ngIf="errorHandling('clientId')">{{getErrorMessage()}}</mat-error>

            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black required">Matter No </p>
              <!-- <app-ng-multiselect-dropdown class="form-group input_field mb-0 w-100" formControlName="matterNumber"
                [valuewithID]="false" apiMethod="matter" [singleSelection]="true" [filerbased]="apiClientfileter">
              </app-ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="multimatterList" [(ngModel)]="selectedItems2" [settings]="dropdownSettings1"
                (onSelect)="onItemSelect($event,'MATTER')" formControlName="matterNumber"></angular2-multiselect> -->
              <p-dropdown placeholder="Select " [filter]="true" appendTo="body"
                (onChange)="onItemSelect($event,'MATTER')" class="w-100 my-1 mb-2" [options]="multimatterList"
                *ngIf="pageflow == 'New'" formControlName="matterNumber" [style]="{'width': '100%'}"></p-dropdown>
              <mat-form-field class="form-group input_field2 mb-0 w-100" appearance="outline" *ngIf="pageflow != 'New'">
                <input matInput placeholder="Enter" formControlName="matterNumber">
              </mat-form-field>
              <mat-error *ngIf="errorHandling('matterNumber')">{{getErrorMessage()}}</mat-error>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black required">Matter No </p>
              <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
            <input type="text"   placeholder="Pick Matter No"  aria-label="Number"  matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
            </div>
          </div>   -->


          <div class="col-lg-3 col-md-4 mt-2">
            <p class="mb-0 py-0">Case Category</p>
            <mat-form-field class="form-group input_field2 mb-0 w-100" appearance="outline">
              <mat-select formControlName="caseCategoryId" placeholder="Select">
                <mat-option *ngFor="let food of caseCategoryIdList" [value]="food.key">
                  {{food.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="errorHandling('caseCategoryId')">{{getErrorMessage()}}</mat-error>
          </div>
          <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Case Sub Category</p>
              <mat-form-field class="form-group input_field2 mb-0 w-100" appearance="outline">
                <mat-select formControlName="caseSubCategoryId" placeholder="Select">
                  <mat-option *ngFor="let food of caseSubCategoryIdList" [value]="food.key">
                    {{food.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="errorHandling('caseSubCategoryId')">{{getErrorMessage()}}</mat-error>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Corporation</p>
              <!-- <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                <mat-select formControlName="corporation" placeholder="Select">
                  <mat-option *ngFor="let food of clientIdCorporationList" [value]="food.key">
                    {{food.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field> -->
              <!-- <angular2-multiselect [data]="multiselectcorporationList" [(ngModel)]="selectedItems4"
              [settings]="dropdownSettings" 
               formControlName="corporation"></angular2-multiselect> -->
              <p-dropdown placeholder="Select" [filter]="true" class="w-100 my-1 mb-2" appendTo="body"
                [options]="multiselectcorporationList" formControlName="corporation"
                [style]="{'width': '100%'}"></p-dropdown>
              <mat-error *ngIf="errorHandling('corporation')">{{getErrorMessage()}}</mat-error>
            </div>
          </div>
          <!-- <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Quotation No </p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter">
              </mat-form-field>
            </div>
          </div> -->
          <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black required">Quotation Date </p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Choose Date" [matDatepicker]="picker5" placeholder="Choose Date"
                  formControlName="quotationDate">
                <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
                <mat-datepicker #picker5></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="errorHandling('quotationDate')">{{getErrorMessage()}}</mat-error>

            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Total Amount </p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="quotationAmount">
                <span matPrefix class="text-secondary"
                  style="display: table-cell; vertical-align: middle;">$&nbsp;</span>
              </mat-form-field>
              <mat-error *ngIf="errorHandling('quotationAmount')">{{getErrorMessage()}}</mat-error>

            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Due Date </p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Choose Date" [matDatepicker]="picker6" placeholder="Choose Date"
                  formControlName="dueDate">
                <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
                <mat-datepicker #picker6></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="errorHandling('dueDate')">{{getErrorMessage()}}</mat-error>

            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Sent On</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Choose Date" [matDatepicker]="picker4" placeholder="Choose Date"
                  formControlName="sentDate">
                <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
                <mat-datepicker #picker4></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="errorHandling('sentDate')">{{getErrorMessage()}}</mat-error>

            </div>
          </div>

          <div class="col-lg-3 col-md-4 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Approved On</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Choose Date" [matDatepicker]="picker" placeholder="Choose Date"
                  formControlName="approvedDate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
              <mat-error *ngIf="errorHandling('approvedDate')">{{getErrorMessage()}}</mat-error>

            </div>
          </div>


          <div class="col-lg-3 col-md-4 mt-2" *ngIf="pageflow != 'New'">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Status</p>
              <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                <mat-select formControlName="statusId" placeholder="Select">
                  <mat-option *ngFor="let food of statusIdList" [value]="food.key">
                    {{food.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <mat-error *ngIf="errorHandling('statusId')">{{getErrorMessage()}}</mat-error>
            </div>
          </div>


          <div class="col-12 mt-2">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Term Details </p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <textarea matInput rows="7" placeholder="Enter" formControlName="termDetails"></textarea>
              </mat-form-field>
              <mat-error *ngIf="errorHandling('termDetails')">{{getErrorMessage()}}</mat-error>

            </div>
          </div>


        </div>
      </mat-expansion-panel>
      <mat-expansion-panel class="shadow-none" #panel2 hideToggle>
        <mat-expansion-panel-header class="border-bottom padding-space border-top">
          <mat-panel-title class="d-flex ms-1 justify-content-between collapsefont">
            Lines
            <mat-icon class="text-primary">{{panel2.expanded? 'remove' : 'add'}}</mat-icon>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <button mat-stroked-button (click)="addRow()" *ngIf="isbtntext"
          class="d-flex ml-auto demo-button hoverbutton mt-2">
          <mat-icon>add</mat-icon> Add Lines
        </button>
        <div class="row  mt-2 ">

          <div class="scroll3">
            <table mat-table [dataSource]="dataSource" class="col-12 w-100" formArrayName="quotationLine">


              <!-- Symbol Column -->
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.No </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">

                  <input matInput placeholder="Enter" formControlName="serialNumber" readonly />
                </td>


              </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="itemNumber">
                <th mat-header-cell *matHeaderCellDef>Item</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">

                  <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                    <mat-select formControlName="itemNumber" placeholder="Select">
                      <!-- <mat-option *ngFor="let food of glList" [value]="food.key"> -->
                      <mat-option *ngFor="let food of glList" [value]="food.key">
                        {{food.value}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('quotationLine.itemNumber')">{{getErrorMessage()}}</mat-error>
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="itemDescription">
                <th mat-header-cell *matHeaderCellDef>Description</th>

                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">

                  <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="itemDescription">
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Symbol Column -->
              <ng-container matColumnDef="quantity">
                <th mat-header-cell *matHeaderCellDef>Hours</th>

                <td mat-cell *matCellDef="let row; let index = index" class="align-middle my-auto"
                  [formGroupName]="index">
                  <mat-form-field class="form-group input_field mb-0 w-100 align-middle my-auto" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="quantity">
                  </mat-form-field>
                </td>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="rateperHour">
                <th mat-header-cell *matHeaderCellDef>Rate / Hr</th>

                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                    <input matInput placeholder="Enter" formControlName="rateperHour">
                  </mat-form-field>
                </td>
              </ng-container>
              <!-- Symbol Column -->
              <ng-container matColumnDef="totalAmount">
                <th mat-header-cell *matHeaderCellDef>Amount</th>

                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">

                  <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline"
                    style=" margin: 0 0 !important;padding-bottom: 0px !important;">
                    <input matInput placeholder="Enter" formControlName="totalAmount"><span matPrefix
                      class="text-secondary" style="display: table-cell; vertical-align: middle;">$&nbsp;</span>
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('quotationLine.totalAmount')">{{getErrorMessage()}}</mat-error>

                </td>
              </ng-container>

              <ng-container matColumnDef="timeKeeperCode">
                <th mat-header-cell *matHeaderCellDef>TimeKeeper Code</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <p-dropdown placeholder="Select" [filter]="true" appendTo="body" class="w-100 my-1 mb-2"
                    [options]="multiTimeKeeperCodelist" formControlName="referenceField1" [style]="{'width': '100%'}"
                    [panelStyle]="{'width':'20%'}"></p-dropdown>
                </td>
              </ng-container>

              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="Choose Date" [matDatepicker]="picker51" placeholder="Choose Date"
                      formControlName="referenceField2">
                    <mat-datepicker-toggle matSuffix [for]="picker51"></mat-datepicker-toggle>
                    <mat-datepicker #picker51></mat-datepicker>
                  </mat-form-field>
                </td>
              </ng-container>




              <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef>
                  <mat-icon class="text-secondary">more_horiz</mat-icon>
                </th>
                <td mat-cell *matCellDef="let row; let index = index" [formGroupName]="index">
                  <button mat-icon-button (click)="removerow(index)" [disabled]="pageflow == 'Display'">
                    <mat-icon class="text-danger">delete_outline</mat-icon>
                  </button>
                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>

    <div class="d-flex justify-content-center align-items-center py-2 bg-white bottombutton">
      <button mat-raised-button (click)="back()" class="mx-2 bg-red text-white"> <i
          class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
      <button *ngIf="isbtntext" mat-raised-button (click)="submit(2)" class="mx-2 px-4 bg-blue text-white"> <i
          class="bi bi-check2 me-1 font-size-1_5rem"></i>
        {{btntext}}</button>
      <!-- <button *ngIf="isbtntexts" mat-raised-button (click)="submit(12)" class="mx-2 px-4 bg-blue text-white"> <i
          class="bi bi-check2 me-1 font-size-1_5rem"></i>
        Send to Client</button>
      <button *ngIf="isbtntextr" mat-raised-button (click)="submit(13)" class="mx-2 px-4 bg-blue text-white"> <i
          class="bi bi-check2 me-1 font-size-1_5rem"></i>
        Resend to Client</button> -->
    </div>
  </form>

</div>