<div class="row mx-1 pl-2">
    <div class="col-12">
      <!--inner header-->
      <div class="row  text-secondary pr-0 mt-1">
        <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">
          <nav aria-label="breadcrumb" class="d-flex align-items-center">
            <ol class="breadcrumb mb-0 bg-white d-flex align-items-center">
              <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto"><a routerLink="/main/dashboard/landingPage">Home</a></li>
              <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Masters  </li>
              <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Others</li>
              <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Master Recipe  </li>
            </ol>
          </nav>
          <div class="d-flex ml-auto my-auto">
            <div [hidden]="isShowDiv">
              <input  matInput class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
            </div>
            <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'" class="button-row d-flex align-items-center">
              <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="deleteDialog()"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>
  
  
            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab disabled
              class=" floating-buttons1 disabled d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button disabled mat-mini-fab class=" disabled text-white mx-2 action-button  bg-red" type="button"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--main section-->
    <mat-drawer-container class="w-100 example-container">
      <mat-drawer #drawer class="example-sidenav " mode="over" position="end">
      </mat-drawer>
      <div class="example-sidenav-content  mt-1">
      
        <div class="row mt-1 pr-1" style="height: calc(100vh - 11rem);">
          <div class="col-md-12 px-0">
            <div class="">
              <mat-accordion>
               
                <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" >
                  <mat-stepper [linear]="isLinear"  #stepper>
                    <mat-step>
                      <ng-template matStepLabel>General</ng-template>
                  <div class="row  boxgrey  mt-2">
                   
                    <div class="col-lg-3 col-md-4">
                      <div class="d-flex flex-column">
                        <p class="mb-0 py-0 text-black required"> Plant </p>
                        <mat-form-field class="form-group input_field mb-0" appearance="outline">
                          <input matInput placeholder="Enter" [value]="this.auth.plantIdAndDescription" [disabled]="true">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <div class="d-flex flex-column">
                        <p class="mb-0 py-0 text-black required"> Warehouse </p>
                        <mat-form-field class="form-group input_field mb-0" appearance="outline">
                          <input matInput placeholder="Enter" [value]="this.auth.warehouseIdAndDescription" [disabled]="true">
                        </mat-form-field>
                      </div>
                    </div>
                <!--  <div class="col-lg-3 col-md-4">
                      <div class="d-flex flex-column">
                        <p class="mb-0 py-0 text-black required">Description</p>  
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" [(ngModel)]="operationDescription">
                      </mat-form-field>
                      </div>
                    </div>-->
                    <div class="col-lg-3 col-md-4 ">
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0">Part No </p>
                          <!-- <div class="form-group input_field mb-0" appearance="outline">
                            <mat-form-field class="form-group input_field mb-0" appearance="outline">
                              <input matInput placeholder="Enter" [(ngModel)]="itemCode" [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                          </div> -->
                           <p-dropdown *ngIf=" this.js.pageflow != 'Edit' " placeholder="Select"
              [filter]="true" appendTo="body" class="w-100" [options]="multiselectItemCodeList"
              [resetFilterOnHide]="true" (onChange)="itemCodechanged($event)"
              [(ngModel)]="itemCode" name="product" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"
              (onFilter)="onItemType($event)">
            </p-dropdown>
            <mat-form-field *ngIf=" this.js.pageflow == 'Edit'"
              class="form-group input_field mb-0 w-100"  appearance="outline">
              <input matInput placeholder="Enter" [disabled]="true" [(ngModel)]="itemCode">
           
            </mat-form-field>
                        </div>
                      </div>
                    <div class="col-lg-3 col-md-4">
                      <p class="mb-0 py-0">BOM</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" disabled [(ngModel)]="bomNumber">
                      </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <p class="mb-0 py-0">Base Quantity</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" disabled [(ngModel)]="referenceField9" >
                      </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <p class="mb-0 py-0 required">Description</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <input matInput placeholder="Enter" [(ngModel)]="referenceField10" >
                      </mat-form-field>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <p class="mb-0 py-0">Operation</p>
                      <p-dropdown placeholder="Select" [filter]="true" appendTo="body" class="w-100" [options]="routingList"
                          [resetFilterOnHide]="true"    (onChange)="routingchanged($event)" [disabled]="this.js.pageflow == 'Edit'"
                            [(ngModel)]="operationNumber" name="product" [style]="{'width': '100%'}" [panelStyle]="{'width':'25%'}"
                              >
                        </p-dropdown>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <p class="mb-0 py-0">Status</p>
                      <mat-form-field class="form-group input_field mb-0" appearance="outline">
                        <mat-select value="1" class="form-group input_field mb-0" placeholder="Select" [(ngModel)]="statusId">
                          <mat-option value="1">01 - Active</mat-option>
                          <mat-option value="0">02 - Inactive</mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                 </div>
                  <div class="mt-0">
                    
                    <!-- <div  class="d-flex justify-content-end align-items-center">
                      <button mat-raised-button [disabled]="this.js.pageflow == 'Display'" class="text-white bg-orange demo-button my-2" (click)="add()">
                        <mat-icon class="">add</mat-icon> Add Lines
                      </button>
                    </div>-->
      
                    <div class="row  px-2 w-100" *ngIf="this.showBomTable==true">
                        <p>BOM List</p>
                        <p-table #Setupbatch
                        [globalFilterFields]="['sno','childItemCode','childItemQuantity','actions']"
                        [value]="resultTable" styleClass="p-datatable-gridlines p-datatable-sm"
                        [scrollable]="true" selectionMode="single" scrollHeight="calc(100vh - 32.5rem)" [paginator]="true"
                        [rows]="100" [showCurrentPageReport]="true"
                        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                           [resizableColumns]="true"
                        style="width: 100%; margin-left: 10px;background-color:white">
                        <ng-template pTemplate="header">
                          <tr>
                            <th  pResizableColumn>S No
                            </th>
                            <th  pResizableColumn>Ingredient
                            </th>
                            <th  pResizableColumn>Description
                            </th>
                            <th pResizableColumn>Quantity </th>
                            <th pResizableColumn>Item Type </th>
                            <th pResizableColumn>UOM </th>
                        
                           
                          </tr>
    
    
                        </ng-template>
                        <ng-template pTemplate="body" let-batch let-rowIndex="rowIndex" >
                          <tr>
                            <td >{{batch.referenceField2}} </td>
                            <td >{{batch.childItemCode }} </td>
                            <td >{{batch.referenceField6 }} </td>
                            <td >{{batch.childItemQuantity}}</td>
                            <td >{{batch.referenceField10}}</td>
                            <td >{{batch.referenceField7}}</td>
              
                          </tr>
                        </ng-template>
    
                      </p-table>
                
                    </div>
                 
            
          
      
      
                  </div>  
                
                </mat-step>
                <mat-step >
                  <ng-template matStepLabel>Operation Data</ng-template>
                  <div class="mt-0">
                    <div class="row  px-2 w-100" *ngIf="this.showOperation==true">
                      <p>Operation List</p>
                      <p-table #Setupbatch
                          [globalFilterFields]="['sno','childItemCode','childItemQuantity','actions']"
                          [value]="resultTable1" styleClass="p-datatable-gridlines p-datatable-sm"
                          [scrollable]="true" selectionMode="single" scrollHeight="calc(100vh - 24.5rem)" [paginator]="true"
                          [rows]="100" [showCurrentPageReport]="true"
                          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                             [resizableColumns]="true"
                          style="width: 100%; margin-left: 10px;background-color:white">
                          <ng-template pTemplate="header">
                            <tr>
                              <th  pResizableColumn>Operation Number
                              </th>
                              <th  pResizableColumn>Operation Description
                              </th>
                              <th  pResizableColumn>Work Center
                              </th>
                              <th  pResizableColumn>Loading Time
                              </th>
                              <th pResizableColumn>Machine Time </th>
                              <th pResizableColumn>Setup Time </th>
                              <th pResizableColumn>Lead Time </th>
                              <th pResizableColumn>Time Unit </th>
                          
                              <th pResizableColumn>BOM Details</th>
                            </tr>
      
      
                          </ng-template>
                          <ng-template pTemplate="body" let-batch let-rowIndex="rowIndex" >
                            <tr>
                              <td >{{batch.phaseNumber}} </td>
                              <td >{{batch.referenceField1}} </td>
                              <td >{{batch.workCenterId +'-'+batch.workCenterName}} </td>
                              <td >{{batch.loadingTime }} </td>
                              <td >{{batch.machineTime}}</td>
                              <td >{{batch.setupTime}}</td>
                              <td >{{batch.leadTime}}</td>
                              <td >{{batch.timeUnit}}</td>
                              <td>
                              <button class="mx-2" mat-icon-button (click)="openDialog('Edit',rowIndex,batch)">
                                  <mat-icon class="text-info">add_circle_outline</mat-icon>
                                </button>
                              </td>
                            </tr>
                          </ng-template>
      
                        </p-table>
              
                  </div>
                  </div>
                </mat-step>
              </mat-stepper> 
              <div class="d-flex justify-content-center  align-items-center py-2 fixed-bottom">
        
                <button mat-raised-button class="text-white mx-1 px-3" color="warn" routerLink="/main/other-masters/masterReceipe">
                  <mat-icon class="">close</mat-icon>Cancel
                </button>
                <button *ngIf="this.js.pageflow != 'Display'"  mat-raised-button class="bg-darkblue text-white mx-1 px-3" (click)="submit()"> 
                  <mat-icon class="">done</mat-icon>{{js.pageflow =='Edit'? 'Update': 'Save'}}
                </button>
              </div>                    
                </mat-expansion-panel>
              </mat-accordion>
              
              <!-- Additional content -->
            </div>
          </div>
        </div>
      </div>
    </mat-drawer-container>
  </div>
  


