
<div class="col-12">
  <!--inner header-->

  <div class="row  text-secondary pr-0 mt-1">
    <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


      <nav aria-label="breadcrumb" class="d-flex align-items-center">
        <ol class="breadcrumb mb-0 bg-white d-flex align-items-center">
          <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
          <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto"><a
              routerLink="/main/inbound/container-receipt">Inbound</a></li>
          <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Preinbound</li>
        </ol>
      </nav>



      <div class="d-flex ml-auto my-auto">
        <div [hidden]="isShowDiv"> <input matInput
            class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
        </div>
        <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
          class="button-row d-flex align-items-center">
          <!--
                  <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                  matTooltip="Add">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                </button>
                -->
          <button disabled mat-mini-fab *ngIf="showFloatingButtons == true" 
            class=" disabled floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
            matTooltip="Display" >
            <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
          </button>
          <button disabled mat-mini-fab *ngIf="showFloatingButtons == true"
            class=" disabledfloating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
            matTooltip="Edit"  >
            <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
          </button>
          <button disabled mat-mini-fab *ngIf="showFloatingButtons == true" 
            class=" disabled floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
            matTooltip="Delete"  >
            <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
          </button>
          <button disabled mat-mini-fab *ngIf="showFloatingButtons == true"
            class=" disabledfloating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
            matTooltip="Download">
            <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
          </button>


          <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
            [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
            <mat-icon>{{icon}}</mat-icon>Options
          </button>
          <button mat-mini-fab  disabled
            class=" disabled floating-buttons1 d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
            matTooltip="Save" > <!--(click)="preInboundUpload()"-->
            <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
          </button>
          <button disabled mat-mini-fab
            class=" floating-buttons1 disabled  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
            matTooltip="Save">
            <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
          </button>
          <button disabled mat-mini-fab class=" disabledtext-white mx-2 action-button  bg-red" type="button" 
            mat-button>
            <mat-icon class="">tune</mat-icon> Filter
          </button>
        </div>

      </div>
    </div>
  </div>
  <!--main-section-tabbar-->
  <!--      <app-main-section-tabbar>
  </app-main-section-tabbar> -->
</div>
<form [formGroup]="asnHeader" >
          <div class="row p-1 mt-2 px-3">
          <div class="col-lg-3 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Order No</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="asnNumber" >
              </mat-form-field> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Company Id</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="companyCode" >
              </mat-form-field> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Branch </p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="branchCode" >
              </mat-form-field> 
            </div>
          </div>
          <div class="col-lg-3 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Warehouse ID</p>
              <!-- <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="wareHouseId" >
              </mat-form-field> -->
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="wareHouseId" >
              </mat-form-field> 
            </div>
          </div>
        </div>
      </form>

        <div class="d-flex justify-content-end align-items-center">
          <button mat-raised-button type="button" (click)="add()" class=" text-white bg-orange demo-button mt-2">
            <mat-icon class="">add</mat-icon> Add Lines
          </button>
        </div>
        <div class="row bg-white  p-1 mt-1">
          <div class="scroll2 col-12 px-0">
          <div class="scrollHorizontal">
          <div class="row " style="padding-right: 15px !important;">
            <p-table #binnerTag  [value]="inventory" 
            styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="single"   [globalFilterFields]="['containerNumber', 'expectedDate', 'expectedQty', 'invoiceNumber',  'lineReference','manufacturerName','packQty','sku','skuDescription','supplierCode','supplierPartNumber']"
            scrollHeight="calc(100vh - 14.8rem)" sortField="itemCode" [sortOrder]="-1" [paginator]="true" [rows]="100" [showCurrentPageReport]="true" [scrollable]="true" selectionMode="single"  scrollDirection="both"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [resizableColumns]="true" style="width: 100%;margin-left: 10px;background-color:white" >
            <ng-template pTemplate="header">
              <tr>
                
                <th style="width: 10rem;" st pSortableColumn="containerNumber" pResizableColumn>Container No<p-sortIcon field="containerNumber"></p-sortIcon></th> 
                <th style="width: 10rem;" pSortableColumn="expectedDate" pResizableColumn>Expected Date<p-sortIcon field="expectedDate"></p-sortIcon></th> 
                <th style="width: 10rem;" pSortableColumn="expectedQty"   pResizableColumn>Order Qty<p-sortIcon field="expectedQty"></p-sortIcon></th>
                <th style="width: 10rem;" pSortableColumn="invoiceNumber" pResizableColumn>Invoice Number <p-sortIcon field="invoiceNumber"></p-sortIcon></th> 
                <th style="width: 10rem;" pSortableColumn="lineReference" pResizableColumn>Line Reference<p-sortIcon field="lineReference"></p-sortIcon></th> 
                <th style="width: 10rem;" pSortableColumn="manufacturerName" pResizableColumn>Manufacturer Name<p-sortIcon field="manufacturerName"></p-sortIcon></th> 
              <th style="width: 10rem;" pSortableColumn="packQty" pResizableColumn>Pack Qty<p-sortIcon field="packQty"></p-sortIcon></th>
              <th style="width: 10rem;" pSortableColumn="sku" pResizableColumn>Part No <p-sortIcon field="sku"></p-sortIcon></th>
              <th  style="width: 10rem;" pSortableColumn="skuDescription" pResizableColumn>Description<p-sortIcon field="skuDescription"></p-sortIcon></th>
              <th  style="width: 10rem;" pSortableColumn="supplierCode" pResizableColumn>Supplier Code<p-sortIcon field="supplierCode"></p-sortIcon></th>
              <th  style="width: 10rem;" pSortableColumn="supplierPartNumber" pResizableColumn>Supplier Part No<p-sortIcon field="supplierPartNumber"></p-sortIcon></th>
              <th  style="width: 6rem;"  pSortableColumn="delete" pResizableColumn>Actions<p-sortIcon field="delete"></p-sortIcon></th> 
              
             
              </tr>
               
              <tr >
             
              <th  style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'containerNumber', 'contains')" 
                  [value]="$any(binnerTag.filters['containerNumber'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th> 
                <th style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'expectedDate', 'contains')" 
                  [value]="$any(binnerTag.filters['expectedDate'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
                <th style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'expectedQty', 'contains')" 
                  [value]="$any(binnerTag.filters['expectedQty'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
                  <th style="width: 10rem;">
                    <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'invoiceNumber', 'contains')" 
                    [value]="$any(binnerTag.filters['invoiceNumber'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                  </th>
                  <th style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'lineReference', 'contains')" 
                  [value]="$any(binnerTag.filters['lineReference'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th> 
                <th style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'manufacturerName', 'contains')" 
                  [value]="$any(binnerTag.filters['manufacturerName'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
                <th style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'packQty', 'contains')" 
                  [value]="$any(binnerTag.filters['packQty'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
                <th style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'sku', 'contains')" 
                  [value]="$any(binnerTag.filters['sku'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
                <th style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'pickedStorageBin', 'contains')" 
                  [value]="$any(binnerTag.filters['skuDescription'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
                <th style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'supplierCode', 'contains')" 
                  [value]="$any(binnerTag.filters['supplierCode'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
                <th  style="width: 10rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'supplierPartNumber', 'contains')" 
                  [value]="$any(binnerTag.filters['supplierPartNumber'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
                <th style="width: 6rem;">
                  <input pInputText  type="text" (input)="binnerTag.filter($any($event.target)?.value, 'delete', 'contains')" 
                  [value]="$any(binnerTag.filters['delete'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                </th>
              
              
                
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-picker let-rowIndex="rowIndex">
              <tr [pSelectableRow]="inventory" [pSelectableRowIndex]="rowIndex">
                  <td style="width: 10rem;">{{picker.containerNumber}}</td>
                <td style="width: 10rem;"> {{picker.expectedDate | date : 'dd-MM-yyyy HH:mm' :'GMT' }}</td>
                <td style="width: 10rem;">{{picker.expectedQty}}</td>
                <td style="width: 10rem;">{{picker.invoiceNumber}}</td>
                <td style="width: 10rem;">{{picker.lineReference}}</td>
                <td style="width: 10rem;">{{picker.manufacturerName }}</td>
                <td style="width: 10rem;">{{picker.packQty }}</td>
                <td style="width: 10rem;">{{picker.sku }}</td>
                <td style="width: 10rem;">{{picker.skuDescription }}</td>
                <td style="width: 10rem;">{{picker.supplierCode }}</td>
                <td  style="width: 10rem;">{{picker.supplierPartNumber }}</td>
                <td  style="width: 6rem;">  <button mat-icon-button   (click)="removeRow(rowIndex)">
                  <mat-icon class="text-danger" >delete_outline</mat-icon>
                </button><button class="mx-2"  mat-icon-button (click)="openDialog('Edit',rowIndex)" >
                  <mat-icon class="text-info">edit</mat-icon>
                </button></td>
              
                <!--<td style="width: 10rem;" >{{picker.pickupConfirmedOn| date : 'dd-MM-yyyy HH:mm' :'GMT' }}</td>-->
              
              </tr>
           
            </ng-template>
          </p-table>
        </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center py-2" style="margin-top:-0.5%">
      <button mat-raised-button color="warn" mat-dialog-close class="mx-1" routerLink="/main/inbound/preinbound">  <mat-icon class="">close</mat-icon> Cancel</button>
      <button mat-raised-button class="mx-1 bg-darkblue px-4 text-white"  (click)="submit()">  <mat-icon class="">done</mat-icon> Save</button>
    </div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent>
    <button mat-menu-item>Delete</button>
  </ng-template>
</mat-menu>