.input_field{width: 15rem;border-color: #dee2e6;vertical-align: middle;}
.inner_header{ box-shadow: 0 3px 0 0 rgba(139, 139, 139, 0.19);}
.pathname_color{color: #ffc107;}
::ng-deep .filter_dropdown > .mat-form-field-wrapper {
    padding-bottom: 0em !important;
}
 .divider{height: 1.5rem;color: black;border-left: 6px;}




 .darkblueaction{  background: linear-gradient( 90deg, #0864C9, #0864C9 49%, #026FE8 51% ); }
 .redaction{  background: linear-gradient( 90deg, #D7396F, #D7396F 49%, #EB407A 51% ); }
 .blueaction{  background: linear-gradient( 90deg, #0498D9, #0498D9 49%, #0DABF4 51% ); }
 .yellowaction{  background: linear-gradient( 90deg, #F0A91B, #F0A91B 49%, #F5B83E 51% ); }


 .filter_button{border-top: 2px !important;border-left: 2px !important;border-right: 2px !important; background-color: transparent !important;border-color: grey !important;width: 14rem !important;}

.breadcrumb {background-color: transparent !important;color: #222222 !important;}
.breadcrumb-item.active {color: #181818;}
//inner header
::ng-deep .action-button{border-radius: 4px !important;min-width: 6rem !important;min-height: 2.3rem !important;}
.floating-buttons1 {border-radius: 50% !important;height: 40px !important;width: 40px !important;}
.floating-buttons {
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
}
.mat-mini-fab:not([class*=mat-elevation-z]) {
  box-shadow: none;
  border-radius: 0%;
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important;
}


::ng-deep .mat-mini-fab .mat-button-wrapper {
  padding: 5px 0 !important;
  display: inline-block;
  line-height: 24px;
}


// 25BA arrow


// breadcrumbs 1

.pathicon{
  height: 15px !important;
    width: 15px !important;
}


body {
  text-align: center;
  background-color: #34495e;
}



#breadcrumb {
  list-style: none;
  display: inline-block;
}

#breadcrumb li {
  float: left;
}
#breadcrumb li a {
  color: #686868 !important;
  display: block;
  background: #e2e2e2;;
  text-decoration: none;
  position: relative;
  height: 40px;
  font-size: 13px;
  line-height: 40px;
  padding: 0 10px 0 5px;
  text-align: center;
  margin-right: 25px;
}

#breadcrumb li:first-child a {
  padding-left: 15px;
  -moz-border-radius: 4px 0 0 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px 0 0 4px;
}
#breadcrumb li:first-child a:before {
  border: none;
}
#breadcrumb li:last-child a {
  padding-right: 15px;
  -moz-border-radius: 0 4px 4px 0;
  -webkit-border-radius: 0;
  border-radius: 0 4px 4px 0;
  background-color: #fa9805 !important;
  color: white !important;
}
#breadcrumb li:last-child a:after {
  border: none;
}
#breadcrumb li a:before, #breadcrumb li a:after {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #e2e2e2;;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li a:before {
  left: -20px;
  border-left-color: transparent;
}
#breadcrumb li a:after {
  left: 100%;
  border-color: transparent;
  border-left-color: #e2e2e2;;
}
#breadcrumb li a:hover {
  background-color: #666666;
  color: #fff !important;
}
#breadcrumb li a:hover:before {
  border-color: #666666;
  color: #fff !important;
  border-left-color: transparent;
}
#breadcrumb li a:hover:after {
  border-left-color: #666666;
  color: #fff !important;;
}
#breadcrumb li a:active {
  background-color: #666666;
  color: #fff !important;;
}
#breadcrumb li a:active:before {
  border-color: #666666;
  color: #fff !important;;
  border-left-color: transparent;
}
#breadcrumb li a:active:after {
  border-left-color: #666666;
  color: #fff !important;;
}




#breadcrumb li:last-child a:before {
  content: "";
  position: absolute;
  top: 0;
  border: 0 solid #fa9805;
  border-width: 20px 10px;
  width: 0;
  height: 0;
}
#breadcrumb li:last-child a:before {
  left: -20px;
  border-left-color: transparent;
}
