

    <div class="card bg-white " style="overflow-x: hidden;">
        <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
          class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
          <h6 class="my-auto">Update Inventory</h6 >
          <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
        </div>
        <div class="mt-2 px-4">
          <div class="row  p-1">
            <div class="col-lg-6 col-md-6 mt-1">
              <p class="mb-0 py-0">Item Code</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter"  [(ngModel)]="itemCode" (keyup.enter)="findItemCode()">
                <mat-hint class="text-danger mt-2" *ngIf="!this.description || !this.mfrPartNo">Press Enter or Click Search</mat-hint>
                <button mat-icon-button matSuffix (click)="findItemCode();">
                    <mat-icon  class="text-secondary" >search</mat-icon>
                  </button>
              </mat-form-field>
            </div>
            <div class="col-lg-6 col-md-6 mt-1" *ngIf="showHiddenFields">
                <p class="mb-0 py-0">Description</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter"  [(ngModel)]="description" >
                </mat-form-field>
              </div>
              <div class="col-lg-6 col-md-6 mt-1" *ngIf="showHiddenFields">
                <p class="mb-0 py-0">Mfr Part No</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter"  [(ngModel)]="mfrPartNo" disabled>
                </mat-form-field>
              </div>

              <div class="col-lg-6 col-md-6 mt-1" *ngIf="showHiddenFields">
                <p class="mb-0 py-0">Bin Location</p>
                <p-dropdown placeholder="Select" [filter]="true" class="w-100" [options]="multistorageBin"
                [(ngModel)]="storageBin" [style]="{'width': '100%'}" >
              </p-dropdown>
              </div>
            <div class="col-lg-6 col-md-6 mt-1" *ngIf="showHiddenFields">
                <p class="mb-0 py-0">Pallet ID</p>
                <p-dropdown placeholder="Select" [filter]="true" class="w-100" [options]="multiPackBarcodes"
                [(ngModel)]="packBarcodes" [style]="{'width': '100%'}"  >
              </p-dropdown>
              </div>

              <div class="col-lg-6 col-md-6 mt-1" *ngIf="showHiddenFields">
                <p class="mb-0 py-0">Spl Stock ID</p>
                <p-dropdown placeholder="Select" [filter]="true" class="w-100" [options]="multispecialStockIndicatorId"
                [(ngModel)]="specialStockIndicatorId" [style]="{'width': '100%'}" >
              </p-dropdown>
              </div>
              
              <div class="col-lg-6 col-md-6 mt-1" *ngIf="showHiddenFields">
                <p class="mb-0 py-0">Stock Type</p>
                <p-dropdown placeholder="Select" [filter]="true" class="w-100" [options]="multistockTypeId"
                [(ngModel)]="stockTypeId" [style]="{'width': '100%'}" >
              </p-dropdown>
              </div>

              <div class="col-lg-6 col-md-6 mt-1" *ngIf="showHiddenFields">
                <p class="mb-0 py-0">Alloc Qty</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter"  [(ngModel)]="allocatedQuantity">
                </mat-form-field>
              </div>

              <div class="col-lg-6 col-md-6 mt-0" *ngIf="showHiddenFields">
                <p class="mb-0 py-0">Inv Qty</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter"  [(ngModel)]="inventoryQuantity">
                </mat-form-field>
              </div>

          </div>
          <div class="d-flex justify-content-center align-items-center py-2">
            <button mat-raised-button color="warn" mat-dialog-close class="mx-1"> <i
                class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
                <button mat-raised-button class="mx-1 bg-darkblue px-4 text-white"  (click)="submit();"> <i
                    class="bi bi-check2 mr-1 font-size-1_5rem"></i>Update</button>
          </div>
        </div>
    
    
      </div>