<form [formGroup]="form" >
<div class="row mx-1 pl-2">
    <div class="col-12">
      <!--inner header-->
  
      <div class="row  text-secondary pr-0 mt-1">
        <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">
  
  
          <nav aria-label="breadcrumb" class="d-flex align-items-center">
            <ol class="breadcrumb mb-0 bg-white">
              <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto"><a >Home</a>
              </li>
              <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Master</li>
              <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Customer Master</li>
            </ol>
          </nav>
  
  
          <div class="d-flex ml-auto my-auto">
            <div [hidden]="isShowDiv"> <input matInput  class="form-control filter_button mt-2 mt-2 mx-2 border-bottom"
                placeholder="Search" style="width:90%">
            </div>
            <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
              class="button-row d-flex align-items-center">
              <!--
                          <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                          matTooltip="Add">
                          <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                        </button>
                        -->
              <button mat-mini-fab *ngIf="showFloatingButtons == true"
                class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
                matTooltip="Display">
                <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
              </button>
              <button mat-mini-fab *ngIf="showFloatingButtons == true"
                class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
                matTooltip="Edit">
                <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
              </button>
              <button mat-mini-fab *ngIf="showFloatingButtons == true"
                class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
                matTooltip="Delete">
                <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
              </button>
              <!-- 
                          <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                        class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                        <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                      </button>
                        -->
              <button mat-mini-fab *ngIf="showFloatingButtons == true"
                class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
                matTooltip="Download">
                <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
              </button>
  
  
              <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button bg-orange1"
                [ngClass]="{'optionsColor' : toggle, 'bg-orange': !toggle}">
                <mat-icon>{{icon}}</mat-icon>Options
              </button>
              <button mat-mini-fab disabled
                class=" floating-buttons1 disabled d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
                matTooltip="New">
                <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
              </button>
              <button mat-mini-fab
                class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle disabled"
                matTooltip="save" disabled>
                <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
              </button>
              <button mat-mini-fab disabled class="text-white mx-2 action-button  bg-red disabled" type="button"
                mat-button>
                <mat-icon class="">tune</mat-icon> Filter
              </button>
            </div>
  
          </div>
        </div>
      </div>
    </div>

    <!--main section-->
    <div class="row mt-1 mx-1 pr-0 w-100">
      <div class=" bg-white col-md-12 px-0" style="height:calc(100vh - 12rem);">
        <div class="">
          <mat-accordion>
            <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle >
              <mat-expansion-panel-header class="border-bottom padding-space border-top bg-white">
                <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                  <div> <img src="./assets/img/icons/header.png" class="header_icon mr-2" alt="" srcset=""> General
                    Data</div>
                  <mat-icon class="collapsefont text-secondary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row scroll  boxgrey  mt-2">
                <div class="col-lg-3 col-md-6 mt-2" *ngIf="this.js.pageflow != 'New' && this.js.pageflow != 'Enquiry Customer'"> 
                  <p class="mb-0 py-0">Customer ID</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter" formControlName="customerCode">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0 required">Customer Name</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter"  formControlName="customerName">
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('customerName')">{{getErrorMessage()}}</mat-error>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0 required">Partner</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                      <mat-select class="mb-0" placeholder="Select" formControlName="type">
                        <mat-option value="LEAD">Lead</mat-option>
                        <mat-option value="CUSTOMER">Customer</mat-option>
                        <mat-option value="VENDOR">Vendor</mat-option>
                      </mat-select>
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('customerName')">{{getErrorMessage()}}</mat-error>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Group</p>
                  <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="customerTypeList"
                  formControlName="customerGroup" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                  [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Civil ID</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter" formControlName="civilId">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Nationality</p>
                  <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="nationalityList"
                  formControlName="nationality" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                  [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0 required">Address</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter" formControlName="address" >
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('address')">{{getErrorMessage()}}</mat-error>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0 ">Email</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter" formControlName="email">
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('email')">{{getErrorMessage()}}</mat-error>
                  <mat-error *ngIf="form.controls.email.hasError('email')">Invalid Email </mat-error>
                </div>
                <div class="col-lg-3 col-md-6 mt-1">
                  <p class="mb-0 py-0 required">SBU</p>
                  <p-dropdown placeholder="Select" class="w-100" [filter]="true" [options]="workOrderSbuList"
                    formControlName="sbu" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}"
                    [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown>
                  <mat-error *ngIf="errorHandling('sbu')">{{getErrorMessage()}}</mat-error>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Fax. No</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter" formControlName="faxNumber">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0 required">Mobile No.</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput  placeholder="Enter" formControlName="mobileNumber">
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('mobileNumber')">{{getErrorMessage()}}</mat-error>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0 ">Phone No.</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input  matInput placeholder="Enter" formControlName="phoneNumber">
                  </mat-form-field>
                  <mat-error *ngIf="errorHandling('phoneNumber')">{{getErrorMessage()}}</mat-error>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Authorized Person</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter" formControlName="authorizedPerson" >
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Authorized Civil ID</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter" formControlName="authorizedCivilID">
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel #panel1 hideToggle *ngIf="this.js.pageflow != 'New' && this.js.pageflow != 'Enquiry Customer'">
              <mat-expansion-panel-header class="border-bottom padding-space border-top">
                <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                  <div> <img src="./assets/img/icons/add.png" class="header_icon mr-2" alt="" srcset=""> Account Details
                  </div>
                  <mat-icon class="collapsefont">{{panel1.expanded? 'remove' : 'add'}}</mat-icon>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row  boxgrey mt-2">
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Billed Amount - Till Date</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput currencyMask  placeholder="Enter" formControlName="billedAmountTillDate">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Paid Amount - Till Date</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput currencyMask placeholder="Enter" formControlName="paidAmountTillDate">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                    <p class="mb-0 py-0">Balance to be paid</p>
                    <mat-form-field class="mb-0 w-100 " appearance="outline">
                      <input matInput currencyMask  placeholder="Enter" formControlName="balanceToBePaid" >
                    </mat-form-field>
                  </div>
                <!-- <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Sevice rendered</p>
                  <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="serviceRenderedList"
                  formControlName="seviceRendered" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                  [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                </div> -->
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Status</p>
                  <!-- <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="statusList"
                  formControlName="status" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                  [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown > -->
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <mat-select class="form-group input_field mb-0"
                      placeholder="Select" formControlName="status">
                      <mat-option value="Pending">Pending</mat-option>
                      <mat-option value="Completed">Completed </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
            <mat-expansion-panel #panel2 hideToggle *ngIf="this.js.pageflow != 'New' && this.js.pageflow != 'Enquiry Customer'">
              <mat-expansion-panel-header class="border-bottom padding-space border-top">
                <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                  <div> <img src="./assets/img/icons/add.png" class="header_icon mr-2" alt="" srcset="">Last Payment Detail</div>
                  <mat-icon class="collapsefont">{{panel2.expanded? 'remove' : 'add'}}</mat-icon>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row  boxgrey mt-2">
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Paid Amount</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput  currencyMask placeholder="Enter" formControlName="billedAmount" >
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Due Amount</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput currencyMask placeholder="Enter" [value]="this.form.controls.balanceToBePaid.value" >
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Voucher No.</p>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input  matInput placeholder="Enter" formControlName="voucherNumber" [disabled]="true">
                  </mat-form-field>
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Payment Mode</p>
                  <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="paymentModeList"
                  formControlName="preferedPaymentMode" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                  [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                </div>
                <div class="col-lg-3 col-md-6 mt-2">
                  <p class="mb-0 py-0">Paid Date</p>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
          <input matInput [matDatepicker]="picker4" placeholder="Choose Date " formControlName="paidDate">
          <mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
          <mat-datepicker #picker4></mat-datepicker>
        </mat-form-field>
                </div>
              </div>
            </mat-expansion-panel>
  
            <mat-expansion-panel #panel2 hideToggle *ngIf="this.js.pageflow != 'New' && this.js.pageflow != 'Enquiry Customer'">
              <mat-expansion-panel-header class="border-bottom padding-space border-top">
                <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                  <div> <img src="./assets/img/icons/add.png" class="header_icon mr-2" alt="" srcset="">Transactions</div>
                  <mat-icon class="collapsefont">{{panel2.expanded? 'remove' : 'add'}}</mat-icon>
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="row  boxgrey mt-2">
                <div class="scroll w-100">
             <div class="">
                  <table mat-table matSort [dataSource]="dataSource2" class="w-100">
     
                   <!-- Checkbox Column -->
                   <ng-container matColumnDef="select">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>
                       <mat-checkbox (change)="$event ? toggleAllRows() : null"
                         [checked]="selection.hasValue() && isAllSelected()"
                         [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                       </mat-checkbox>
                     </th>
                     <td mat-cell *matCellDef="let row">
                       <mat-checkbox (click)="$event.stopPropagation()" (change)="clearselection(row)"
                         [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                       </mat-checkbox>
                     </td>
                   </ng-container>
     
                   <!-- Position Column -->
                   <ng-container matColumnDef="documentType">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>Type</th>
                     <td mat-cell *matCellDef="let element"> {{element.documentType}} </td>
                   </ng-container>
     
                   <!-- Name Column -->
                   <ng-container matColumnDef="documentNumber">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>No</th>
                     <td mat-cell *matCellDef="let element"> {{element.documentNumber}} </td>
                   </ng-container>
     
                     <!-- Name Column -->
                     <ng-container matColumnDef="documentDate">
                      <th mat-header-cell *matHeaderCellDef mat-sort-header>Date</th>
                      <td mat-cell *matCellDef="let element"> {{element.documentDate | date:'dd-MM-yyyy'}} </td>
                    </ng-container>

                   <!-- Weight Column -->
                   <ng-container matColumnDef="total">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header>Value</th>
                     <td mat-cell *matCellDef="let element"> {{element.total | currency:'KWD ':'code':'1.3-3' }} </td>
                   </ng-container>
     
                   <!-- Symbol Column -->
                   <ng-container matColumnDef="status">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                     <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                   </ng-container>
     
                   <!-- Symbol Column -->
                   <ng-container matColumnDef="notes">
                     <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                     <td mat-cell *matCellDef="let element"> {{element.notes}} </td>
                   </ng-container>
                   <!-- Symbol Column -->
                  
                   <tr mat-header-row *matHeaderRowDef="displayedColumns2;sticky: true"></tr>
                   <tr mat-row *matRowDef="let row; columns: displayedColumns2;" (click)="clearselection(row)">
                   </tr>
                 </table>
             </div>
                </div>
                 </div>
            </mat-expansion-panel>
            <mat-expansion-panel #panel7 hideToggle>
                <mat-expansion-panel-header class="border-bottom padding-space border-top">
                  <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                    <div> <img src="./assets/img/icons/add.png" class="header_icon mr-2" alt="" srcset="">Attachments
                    </div>
                    <mat-icon class="collapsefont">{{panel7.expanded? 'remove' : 'add'}}</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row  boxgrey">
                      <div class="col-4 my-2">
                          <!-- <label for="formFile" class="form-label"></label> -->
                          <input mat-raised-button class="form-control" id="formFile" type="file" 
                          (change)="this.onFilechange($event)" style="width: 22rem !important;padding-bottom: 2rem;" />
                      </div>
                      <div class="col-4 my-2">
                          <!-- <input (change)="this.onFilechange($event)" class="form-control" type="file" id="formFile"> -->
                          <button (click)="this.upload()" type="button" class="btn btn-primary">Upload</button>
                      </div>

               <div class="scroll w-100">

                <table mat-table matSort matSortActive="uploadedOn" matSortDirection="desc"  [dataSource]="dataSource" class="w-100">
    
                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>
                      <mat-checkbox (change)="$event ? toggleAllRows() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="clearselection(row)"
                        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>
    
                  <!-- Position Column -->
                  <ng-container matColumnDef="fileDescription">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>File Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.fileDescription}} </td>
                  </ng-container>
    
                  <!-- Name Column -->
                  <ng-container matColumnDef="uploadedBy">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Uploaded By </th>
                    <td mat-cell *matCellDef="let element"> {{element.uploadedBy}} </td>
                  </ng-container>
    
                  <!-- Weight Column -->
                  <ng-container matColumnDef="uploadedOn">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Uploaded On</th>
                    <td mat-cell *matCellDef="let element"> {{element.uploadedOn | date: 'dd-MM-yyyy'}} </td>
                  </ng-container>
    
                  Symbol Column
                  <ng-container matColumnDef="role">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> File Path</th>
                    <td mat-cell *matCellDef="let element"> {{element.role}} </td>
                  </ng-container>
    
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="userid">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Remarks </th>
                    <td mat-cell *matCellDef="let element"> {{element.userid}} </td>
                  </ng-container>

                       <!-- Symbol Column -->
                       <ng-container matColumnDef="Actions">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                        <td mat-cell *matCellDef="let element">
                       <div class="d-flex">
                        <button mat-menu-item (click)="deleteDialog(element)">
                          <mat-icon>delete_outline</mat-icon>
                        </button>
                        <button mat-menu-item (click)="download(element)"> 
                          <mat-icon>download_outline</mat-icon>
                        </button>
                       </div>
                          </td>
                        </ng-container>
               
    
                  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clearselection(row)">
                  </tr>
                </table>
               </div>
                </div>
              </mat-expansion-panel>
          </mat-accordion>
  
      
  
  

        </div>
      </div>
  
    </div>
    <div class="d-flex justify-content-center align-items-center py-2 bottombutton1">
  
      <button  mat-raised-button class="text-white mx-1 px-3 bg-red roundButton"  routerLink="/main/customermasters/customerlist">
        <mat-icon class="">close</mat-icon>Cancel
      </button>
      <button *ngIf="this.js.pageflow != 'Display'" mat-raised-button class="darkaction text-white mx-1 roundButton  px-3 roundButton" (click)="submit()" >
        <mat-icon class="">done</mat-icon>{{js.pageflow =='Edit'? 'Update': 'Save'}}
      </button>
      <!-- <button mat-raised-button class="bg-info  text-white mx-1 px-4">
        <mat-icon class="">done</mat-icon> Raise Payment
      </button>
      <button mat-raised-button class="bg-orange  text-white mx-1 px-4">
        <mat-icon class="">done</mat-icon> Raise Bill
      </button>
      <button mat-raised-button class="bg-success  text-white mx-1 px-4">
        <mat-icon class="">done</mat-icon>Create Document
      </button> -->
    </div>
  
  
  
  
    <!--right pane
        <div class="col-3 pl-1 pr-1 mt-1 ">
          <div class="whs-rightpane bg-white shadow">
          </div>
        </div>
        -->
  </div>
  </form>