<!-- ngx spinner is for Loader - progress -->
<!-- <ngx-spinner bdOpacity=0.9 bdColor="rgba(63,62,68,0.56)" size="medium" color="#0600ff" type="ball-circus"
    [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner> -->


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#092aae" type="ball-pulse" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>


<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#092aae" type="ball-pulse" [fullScreen]="true" name="Calculating">
    <p style="color: white"> Calculating Dues... </p>
</ngx-spinner>

<router-outlet></router-outlet>
