::ng-deep .action-button{border-radius: 4px !important;min-width: 6rem !important;min-height: 2.3rem !important;}
.floating-buttons1 {
  box-shadow: none !important;
  border-radius: 50% !important;
  height: 40px !important;
  width: 40px !important;
}

.logout  {
    background-color: transparent !important;
    border-radius: 0px !important;
  }

.list{
    background-color: white !important;
}
.list:hover{
    background-color:  #006990 !important;
    color: white !important;

}