<div class="card bg-white " style="overflow-x: hidden;">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
    class="d-flex justify-content-between align-items-center p-2">
    <h6 class="invisible">Bin</h6>
    <h6 class="my-auto whs-text-grey font-weight-bold">Details</h6>
    <mat-icon class="whs-text-grey" mat-dialog-close>close</mat-icon>
  </div>
  <div class="mt-2 px-4">
    <div class="row  p-1">
      <div class="frame p-1" (scroll)="scrolled($event)" #scrollframe>
        <div *ngFor="let item of items" class="item" #item>
          <p class="mb-0">
            <small>
              104.99, "feels like":300.73, "temp_min":304.99,"temp_max":107.42,"pressure":1005, "ses level":1005
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
