<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white d-flex align-items-center">
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Delivery  </li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Consignment</li>
          </ol>
        </nav>


        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input  matInput
              class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="deleteDialog()"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab disabled
              class=" floating-buttons1 disabled d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button disabled mat-mini-fab class=" disabled text-white mx-2 action-button  bg-red" type="button"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--main section-->
  <mat-drawer-container class="w-100 example-container">
    <mat-drawer #drawer class="example-sidenav " mode="over" position="end">

    </mat-drawer>
    <div class="example-sidenav-content  mt-1">
      <div class="tabbar1 px-0 uatwhite my-auto col d-flex align-items-center mt-1">
        <h5 class="my-auto mb-0 mx-4 font-weight-bold whs-text-grey">Order No - {{this.data.code.refDocNumber}}</h5>
      </div>
      <div class="row mt-1 pr-1" style="height: calc(100vh - 11rem);">
        <div class="col-md-12 px-0">
          <div class="">
            <mat-accordion>
              <mat-expansion-panel #panel1 hideToggle>
                <mat-expansion-panel-header class="border-bottom padding-space border-top">
                  <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                    <div> <img src="./assets/img/icons/header.png" class="header_icon mr-2" alt="" srcset="">Header</div>
                    <mat-icon class="text-secondary">{{panel1.expanded? 'remove' : 'add'}}</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="mt-3 mb-0 " *ngIf="search">
                  <div class="row  px-3">
                    <div class="col-lg-3 col-md-4">
                      <div class="d-flex flex-column">
                        <p class="mb-0 py-0"> Company </p>
                        <mat-form-field class="form-group input_field mb-0" appearance="outline">
                          <input matInput placeholder="Enter" [value]="this.auth.companyIdAndDescription" [disabled]="true">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <div class="d-flex flex-column">
                        <p class="mb-0 py-0">Branch </p>
                        <mat-form-field class="form-group input_field mb-0" appearance="outline">
                          <input matInput placeholder="Enter" [value]="this.auth.plantIdAndDescription" [disabled]="true">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <div class="d-flex flex-column">
                        <p class="mb-0 py-0"> Warehouse </p>
                        <mat-form-field class="form-group input_field mb-0" appearance="outline">
                          <input matInput placeholder="Enter" [value]="this.auth.warehouseIdAndDescription" [disabled]="true">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                      <div class="d-flex flex-column">
                        <p class="mb-0 py-0"> Delivery No </p>
                        <mat-form-field class="form-group input_field mb-0" appearance="outline">
                          <input matInput placeholder="Enter" [value]="this.data.code.deliveryNo" [disabled]="true">
                        </mat-form-field>
                      </div>
                    </div>
                  
                  </div>
                </div>
              </mat-expansion-panel>
              <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header class="border-bottom padding-space border-top">
                  <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                    <div> <img src="./assets/img/icons/signal.png" class="header_icon mr-2" alt="" srcset=""> Lines
                    </div>
                    <mat-icon class="text-secondary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="row  px-2 " *ngIf="table">
                  <p-table #manifest
                    [globalFilterFields]="['number','servicedetails','des','qty','unit','rate','billamount']" [value]="manifesttable"
                    styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="single"
                    scrollHeight="calc(100vh - 23.5rem)" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [resizableColumns]="true"
                    style="width: 100%;margin-left: 10px;background-color:white">
                    <ng-template pTemplate="header">
                      <tr>
                        <th style="max-width: 3.5rem; justify-content: center;">
                          <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
                      </th>
                      <th style="max-width: 10rem;" pResizableColumn>Delivery No
                           </th>
                      <th style="max-width: 16rem;" pResizableColumn>Order No
                         </th>
                   
                      <th style="max-width: 16rem;" pResizableColumn>Part No
                        </th>
                      <th style="max-width: 10rem;" pResizableColumn>Description
                        </th>
                        <th style="max-width: 10rem;" pResizableColumn>Line No
                      </th>
                      <th style="max-width: 10rem;" pResizableColumn>Order Type
                      </th>
                      <th style="max-width: 10rem;" pResizableColumn>Delivered Qty
                      </th>
                      <th style="max-width: 16rem;" pResizableColumn>Delivery No
                        </th>
                     
                      <th style="max-width: 10rem;" pResizableColumn>Status
                       </th>
                      </tr>
                       
                      <tr >
                        <th style="max-width: 3.5rem; justify-content: center;">
                          <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
                      </th>
                     
                        <th style="max-width: 10rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'manifestNumber', 'contains')" 
                          [value]="$any(manifest.filters['manifestNumber'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                        <th style="max-width: 16rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'refDocNumber', 'contains')" 
                          [value]="$any(manifest.filters['refDocNumber'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                      
                        <th style="max-width: 16rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'itemCode', 'contains')" 
                          [value]="$any(manifest.filters['itemCode'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                        <th style="max-width: 10rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'description', 'contains')" 
                          [value]="$any(manifest.filters['description'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                        <th style="max-width: 10rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'lineNumber', 'contains')" 
                          [value]="$any(manifest.filters['lineNumber'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                        <th style="max-width: 10rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'outboundOrderTypeId', 'contains')" 
                          [value]="$any(manifest.filters['outboundOrderTypeId'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                        <th style="max-width: 10rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'deliveryQty', 'contains')" 
                          [value]="$any(manifest.filters['deliveryQty'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                        <th style="max-width: 16rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'deliveryNo', 'contains')" 
                          [value]="$any(manifest.filters['deliveryNo'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                        <th style="max-width: 10rem">
                          <input pInputText  type="text" (input)="manifest.filter($any($event.target)?.value, 'statusDescription', 'contains')" 
                          [value]="$any(manifest.filters['statusDescription'])?.value" placeholder="Search " class=" w-100 p-column-filter">
                         <!-- <p-columnFilter type="text" placeholder="Search" field="floorId"></p-columnFilter>-->
                        </th>
                      </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-manifest let-rowIndex="rowIndex">
                      <tr>
                        <td style="max-width:3.5rem;  justify-content: center;">
                          <p-checkbox  [(ngModel)]="selectedmanifest"  [value]="manifest"></p-checkbox>
                          <!--<p-tableCheckbox [value]="floors"></p-tableCheckbox>-->
                      </td>
                    
                      <td style="max-width: 10rem">{{manifest.deliveryNo}}</td>
                      <td style="max-width: 16rem;">{{manifest.refDocNumber}}</td>
                      <td style="max-width: 16rem;">{{manifest.itemCode }}</td>
                      <td style="max-width: 10rem;">{{manifest.description}}</td>
                      <td style="max-width: 10rem;">{{manifest.lineNumber}}</td>
                      <td style="max-width: 10rem;">{{manifest.outboundOrderTypeId}}</td>
                      <td style="max-width: 10rem;">{{manifest.deliveryQty}}</td>
                      <td style="max-width: 16rem;">{{manifest.deliveryNo}}</td>
                      <td style="max-width: 10rem;">{{manifest.statusDescription}}</td>
                      </tr>
        
                    </ng-template>
        
                  </p-table>
        
        
                </div>
        
        
              </mat-expansion-panel>
            </mat-accordion>
            <div class="d-flex justify-content-center  align-items-center py-2 fixed-bottom">
              <button mat-raised-button class="text-white mr-1 px-4" color="warn" routerLink="/main/delivery/manifest">
                <mat-icon class="">close</mat-icon> Cancel
              </button>
              <button  mat-raised-button class="bg-darkblue text-white mx-1 px-3" (click)="updatePicker()">
              <mat-icon class="">done</mat-icon>Assign Driver
            
            </button>
                
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-drawer-container>




  <!--right pane
    <div class="col-3 pl-1 pr-1 mt-1 ">
      <div class="whs-rightpane bg-white shadow ">
        
      </div>
    </div>
  
    -->
</div>