

  <nav mat-tab-nav-bar style="color: #525C65">
    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold    nav-border align-items-center" 
    routerLink="/main/analytical/archivesLog">Archives/Logs  </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold   nav-border align-items-center"
    routerLink="/main/analytical/datatraffic">Data Traffic & Analytics </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold  nav-border align-items-center"
   routerLink="/main/analytical/archivesLog2"> Notification </a>


  </nav>
  