
  <div class="row mx-1 pl-2">
      <div class="col-12">
        <!--inner header-->
    
        <div class="row  text-secondary pr-0 mt-1">
          <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">
    
    
            <nav aria-label="breadcrumb" class="d-flex align-items-center">
              <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
                <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto" routerLink="/main/otherSetup/setupAccess">Setup</li>
                <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">General</li>
                <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Module</li>
              </ol>
            </nav>
    
    
            <div class="d-flex ml-auto my-auto">
              <div [hidden]="isShowDiv"> <input matInput
                  class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
              </div>
              <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
                class="button-row d-flex align-items-center">
                <!--
                            <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                            matTooltip="Add">
                            <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                          </button>
                          -->
                <button mat-mini-fab *ngIf="showFloatingButtons == true"
                  class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
                  matTooltip="Display">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
                  matTooltip="Edit" >
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="showFloatingButtons == true" 
                  class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
                  matTooltip="Delete">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
                </button>
                <button mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
                  matTooltip="Download">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
                </button>
                <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
                  [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
                  <mat-icon>{{icon}}</mat-icon>Options
                </button>
                <button mat-mini-fab 
                  class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
                  matTooltip="New">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
                </button>
                <button mat-mini-fab
                  class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
                  matTooltip="Save">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
                </button>
                <button mat-mini-fab disabled class="text-white mx-2 action-button  bg-red " type="button" 
                  mat-button>
                  <mat-icon class="">tune</mat-icon> Filter
                </button>
              </div>
    
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 mx-1 pr-0 w-100">
          <div class=" bg-white col-md-12 px-0" style="height:calc(100vh - 12rem);">
            <div class="">
              <mat-stepper [linear]="isLinear" #stepper>
                <form [formGroup]="form" >
                <mat-step >
                  <ng-template matStepLabel>General</ng-template>
                  <div class="row  p-1">
                        <div class="col-lg-3 col-md-6 mt-2"> 
                      <div class="d-flex flex-column">
                        <p class="mb-0 py-0 text-black required">Language</p>
                        <p-dropdown (onChange)="onLanguageChange($event)"  placeholder="Select" class="w-100" [filter]="true" [options]="languageidList"
                        formControlName="languageId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                        [panelStyle]="{'width':'20%'}" appendTo="body"  [disabled]="this.auth.userTypeId != 1"> </p-dropdown >
                        <mat-error *ngIf="errorHandling('languageId')">{{getErrorMessage()}}</mat-error>
                      </div>
                    </div>
                          <div class="col-lg-3 col-md-6 mt-2"> 
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0 required">Company</p>
                          <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="companyidList"
                          formControlName="companyCodeId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                          [panelStyle]="{'width':'20%'}" appendTo="body"  [disabled]="this.auth.userTypeId != 1" (onChange)="onCompanyChange($event)"> </p-dropdown >
                                <mat-error *ngIf="errorHandling('companyCodeId')">{{getErrorMessage()}}</mat-error>
                        </div>
                    </div>
                          <div class="col-lg-3 col-md-6 mt-2"> 
                        <div class="d-flex flex-column">
                          <p class="mb-0 py-0 required">Branch</p>
                          <p-dropdown  (onChange)="onPlantChange($event)" placeholder="Select" class="w-100" [filter]="true" [options]="plantidList" (onChange)="onPlantChange($event)"
                          formControlName="plantId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                          [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                          <mat-error *ngIf="errorHandling('plantId')">{{getErrorMessage()}}</mat-error>
                        </div>
                    </div>
                          <div class="col-lg-3 col-md-6 mt-2"> 
                          <div class="d-flex flex-column">
                            <p class="mb-0 py-0 required"> Warehouse</p>
                            <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="warehouseidList" (onChange)="onWarehouseChange($event)"
                            formControlName="warehouseId" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                            [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown >
                            <mat-error *ngIf="errorHandling('warehouseId')">{{getErrorMessage()}}</mat-error>
                          </div>
                        </div>
                   
                        <div class="col-lg-3 col-md-6 mt-2"> 
                          <div class="d-flex flex-column">
                            <p class="mb-0 py-0 required">Module ID</p>
                            <!-- <p-dropdown   placeholder="Select" class="w-100" [filter]="true" [options]="moduleID"
                            formControlName="moduleId" (onChange)="moduleSelected($event)" [style]="{'width': '100%', 'margin-top': '0.3rem', 'margin-bottom': '0.3rem'}" 
                            [panelStyle]="{'width':'20%'}" appendTo="body"> </p-dropdown > -->
                            <mat-form-field class="form-group input_field mb-0" appearance="outline">
                              <input matInput placeholder="Enter" formControlName="moduleId" >
                            </mat-form-field>
                            <mat-error *ngIf="errorHandling('moduleId')">{{getErrorMessage()}}</mat-error>
                          </div>
                        </div>
                             <div class="col-lg-3 col-md-6 mt-2"> 
                          <div class="d-flex flex-column">
                            <p class="mb-0 py-0 ">Module Description </p>
                            <mat-form-field class="form-group input_field mb-0" appearance="outline">
                              <input matInput placeholder="Enter" formControlName="moduleDescription" >
                            </mat-form-field>
                            
                          </div>
                        </div> 

                   
                      <div class="col-lg-3 col-md-6 mt-2"> 
                    <div class="d-flex flex-column">
                      <p class="mb-0 py-0 required">Menu ID</p>
                      <p-multiSelect placeholder="Select" appendTo="body"  class="w-100" [options]="menuList"
                      formControlName="menuId" (onChange)="onMenuIdChange($event)" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}">
                    </p-multiSelect>
                    <mat-error *ngIf="errorHandling('menuId')">{{getErrorMessage()}}</mat-error>
                    </div>
                  </div>
           
              
                  </div>
                </mat-step>
              </form>
                <mat-step *ngIf="this.form.controls.menuId.value">
                  <ng-template matStepLabel>Lines</ng-template>
                  <p-table #moduleTag  [value]="module" [(selection)]="selectedmoduleNew"
                  styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="single" 
                  scrollHeight="calc(100vh - 22.2rem)" sortField="menuId" [sortOrder]="-1" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [resizableColumns]="true" style="width: 100%;margin-left: 10px;background-color:white" >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="max-width: 3.5rem; justify-content: center;">
                            <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
                        </th>
                      <th style="max-width: 9.7rem;" pSortableColumn="menuId"   pResizableColumn>Menu<p-sortIcon field="menuId"></p-sortIcon></th>
                      <th style="max-width: 9.7rem;" pSortableColumn="menuName"   pResizableColumn>Menu Name<p-sortIcon field="menuName"></p-sortIcon></th>
                      <th style="max-width: 9.7rem;" pSortableColumn="subMenuId" pResizableColumn>Submenu ID<p-sortIcon field="subMenuId"></p-sortIcon></th> 
                      <th style="max-width: 9.7rem;" pSortableColumn="subMenuName" pResizableColumn>Submenu Name<p-sortIcon field="subMenuName"></p-sortIcon></th> 
                      <th pSortableColumn="addModule" pResizableColumn>Actions<p-sortIcon field="addModule"></p-sortIcon></th> 
                    </tr>

                    <tr >
                      <th style="max-width: 3.5rem; justify-content: center;">
                         <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
                     </th>
                     <th  style="max-width: 9.7rem;">
                       <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'menuId', 'contains')" 
                       [value]="$any(moduleTag.filters['menuId'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                     </th>
                     <th  style="max-width: 9.7rem;">
                       <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'menuName', 'contains')" 
                       [value]="$any(moduleTag.filters['menuName'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                     </th>
                     <th  style="max-width: 9.7rem;">
                       <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'subMenuId', 'contains')" 
                       [value]="$any(moduleTag.filters['subMenuId'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                     </th>
                     <th  style="max-width: 9.7rem;">
                       <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'subMenuName', 'contains')" 
                       [value]="$any(moduleTag.filters['subMenuName'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                     </th>
                     <th >
                       <!-- <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'addModule', 'contains')" 
                       [value]="$any(moduleTag.filters['addModule'])?.value" placeholder="Search" class=" w-100 p-column-filter"> -->
                     </th>
                    </tr>
                  </ng-template>
                      <ng-template pTemplate="body"  let-module let-rowIndex="rowIndex">
                        <tr>
                            <td style="max-width: 3.5rem; justify-content: center;">
                                <p-tableCheckbox [disabled]="true" [value]="module"></p-tableCheckbox>
                            </td>
                        <td style="max-width: 9.7rem;">{{module.menuId}}</td>
                      <td style="max-width: 9.7rem;">{{module.menuName}}</td>
                      <td style="max-width: 9.7rem;">{{module.subMenuId}}</td>
                      <td style="max-width: 9.7rem;">{{module.subMenuName}}</td>
                      <td >
                      <mat-checkbox class="example-margin" (change)="unselectRow($event, module)" value="module.addModule" [(ngModel)]="module.addModule">Assign</mat-checkbox> 
                      <!-- <mat-icon (click)="selected(module)" [(ngModel)]="module.addModule">search</mat-icon>  -->
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                </mat-step>
                <mat-step *ngIf="this.newAddedModules.length > 0">
                  <ng-template matStepLabel>Added Lines</ng-template>
                  <p-table #newModuleTag  [value]="newAddedModules" [(selection)]="newSelectedModules"
                  styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="single" 
                  scrollHeight="calc(100vh - 22.2rem)" sortField="menuId" [sortOrder]="-1" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
                  currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [resizableColumns]="true" style="width: 100%;margin-left: 10px;background-color:white" >
                  <ng-template pTemplate="header">
                    <tr>
                      <th style="max-width: 3.5rem; justify-content: center;">
                            <p-tableHeaderCheckbox ></p-tableHeaderCheckbox>
                        </th>
                      <th style="max-width: 9.7rem;" pSortableColumn="menuId"   pResizableColumn>Menu<p-sortIcon field="menuId"></p-sortIcon></th>
                      <th style="max-width: 9.7rem;" pSortableColumn="menuName"   pResizableColumn>Menu Name<p-sortIcon field="menuName"></p-sortIcon></th>
                      <th style="max-width: 9.7rem;" pSortableColumn="subMenuId" pResizableColumn>Submenu ID<p-sortIcon field="subMenuId"></p-sortIcon></th> 
                      <th style="max-width: 9.7rem;" pSortableColumn="subMenuName" pResizableColumn>Submenu Name<p-sortIcon field="subMenuName"></p-sortIcon></th> 
                      <th pSortableColumn="addModule" pResizableColumn>Actions<p-sortIcon field="addModule"></p-sortIcon></th> 
                    </tr>

                    <tr >
                      <th style="max-width: 3.5rem; justify-content: center;">
                         <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
                     </th>
                     <th  style="max-width: 9.7rem;">
                       <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'menuId', 'contains')" 
                       [value]="$any(moduleTag.filters['menuId'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                     </th>
                     <th  style="max-width: 9.7rem;">
                       <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'menuName', 'contains')" 
                       [value]="$any(moduleTag.filters['menuName'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                     </th>
                     <th  style="max-width: 9.7rem;">
                       <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'subMenuId', 'contains')" 
                       [value]="$any(moduleTag.filters['subMenuId'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                     </th>
                     <th  style="max-width: 9.7rem;">
                       <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'subMenuName', 'contains')" 
                       [value]="$any(moduleTag.filters['subMenuName'])?.value" placeholder="Search" class=" w-100 p-column-filter">
                     </th>
                     <th >
                       <!-- <input pInputText  type="text" (input)="moduleTag.filter($any($event.target)?.value, 'addModule', 'contains')" 
                       [value]="$any(moduleTag.filters['addModule'])?.value" placeholder="Search" class=" w-100 p-column-filter"> -->
                     </th>
                    </tr>
                  </ng-template>
                      <ng-template pTemplate="body"  let-module let-rowIndex="rowIndex">
                        <tr>
                            <td style="max-width: 3.5rem; justify-content: center;">
                                <p-tableCheckbox [disabled]="true" [value]="module"></p-tableCheckbox>
                            </td>
                        <td style="max-width: 9.7rem;">{{module.menuId}}</td>
                      <td style="max-width: 9.7rem;">{{module.menuName}}</td>
                      <td style="max-width: 9.7rem;">{{module.subMenuId}}</td>
                      <td style="max-width: 9.7rem;">{{module.subMenuName}}</td>
                      <td >
                      <mat-checkbox class="example-margin" (change)="unselectRow1($event, module)" value="module.addModule" [(ngModel)]="module.addModule">Assign</mat-checkbox> 
                      <!-- <mat-icon (click)="selected(module)" [(ngModel)]="module.addModule">search</mat-icon>  -->
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
                </mat-step>

                <form [formGroup]="form" >
                <mat-step *ngIf="this.js.pageflow != 'New'">
                  <ng-template matStepLabel>Admin</ng-template>
                  <div class="row  boxgrey  mt-2">
                    <div class="col-lg-3 col-md-6 mt-2"> 
                        <p class="mb-0 py-0">Created By</p>
                        <mat-form-field class="mb-0 w-100 " appearance="outline">
                          <input matInput placeholder="Enter" formControlName="createdBy">
                        </mat-form-field>
                      </div>
                      <div class="col-lg-3 col-md-6 mt-2"> 
                          <p class="mb-0 py-0">Created On</p>
                          <mat-form-field class="mb-0 w-100 " appearance="outline">
                            <input matInput placeholder="Enter" formControlName="createdOnFE">
                          </mat-form-field>
                        </div>
                        <div class="col-lg-3 col-md-6 mt-2"> 
                            <p class="mb-0 py-0">Updated On</p>
                            <mat-form-field class="mb-0 w-100 " appearance="outline">
                              <input matInput placeholder="Enter" formControlName="updatedOnFE">
                            </mat-form-field>
                          </div>
                          <div class="col-lg-3 col-md-6 mt-2"> 
                              <p class="mb-0 py-0">updated By</p>
                              <mat-form-field class="mb-0 w-100 " appearance="outline">
                                <input matInput placeholder="Enter" formControlName="updatedBy">
                              </mat-form-field>
                            </div>
                </div>
                </mat-step>
                </form>
                <ng-template matStepperIcon="phone">
                  <mat-icon>call_end</mat-icon>
                </ng-template>
                <ng-template matStepperIcon="chat">
                  <mat-icon>forum</mat-icon>
                </ng-template>
              </mat-stepper>
            </div>
          </div>
      
        </div>
        <div class="d-flex justify-content-center  align-items-center py-2 fixed-bottom">
      
          <button mat-raised-button class="text-white mx-1 px-3" color="warn" routerLink="/main/otherSetup/moduleid">
            <mat-icon class="">close</mat-icon>Cancel
          </button>
          <button *ngIf="this.js.pageflow != 'Display'"  mat-raised-button class="bg-darkblue text-white mx-1 px-3" (click)="submit()"> 
            <mat-icon class="">done</mat-icon>{{js.pageflow =='Edit'? 'Update': 'Save'}}
          </button>
        </div>
  </div>
