<div class="tabbar px-0  flex-row d-flex col">
  <nav mat-tab-nav-bar class="scroll2 mx-1 d-flex justify-content-start blue  bg-orange text-white" style="border-top-left-radius: 8px !important;border-top-right-radius: 8px !important;">
    <a routerLink="/main/inbound/container-receipt">
      <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
        <h4 class="font-weight-bold mr-3  mb-0">10</h4> <p class="mb-0"style="font-size: 1rem;">Cossntainer Receipt</p></a>
    </a>
  </nav>
  <nav mat-tab-nav-bar class="nav-border scroll2 mx-1 d-flex justify-content-start blue  bg-white">
 
    <a routerLink="/main/inbound/preinbound" class="">
      <a mat-tab-link class=" fw-bold  mb-0 px-4  my-auto">
        <h4 class="font-weight-bold  mb-0 text-dark mr-3">12</h4>   <p class="mb-0"style="font-size: 1rem;">Preinbound</p></a>
    </a>
  </nav>
  <nav mat-tab-nav-bar class="nav-border scroll2 mx-1 d-flex justify-content-start blue  bg-white align-items-center">
    <a routerLink="/main/inbound/goods-receipt">
      <a mat-tab-link class="blue-text fw-bold text-grey mb-0 px-4 my-auto ">
        <h4 class="font-weight-bold  mb-0 text-dark mr-3">04</h4><p class="mb-0"style="font-size: 1rem;">Case Receipt</p></a>
    </a>
  </nav>
  <nav mat-tab-nav-bar class="nav-border scroll2 mx-1 d-flex justify-content-start blue  bg-white" routerLink="/main/inbound/item-main">
      <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
        <h4 class="font-weight-bold mr-3 mb-0">02</h4><p class="mb-0"style="font-size: 1rem;">Goods Receipt</p></a>
  </nav>
  <nav mat-tab-nav-bar class="nav-border scroll2 mx-1 d-flex justify-content-start blue  bg-white"  >
    <a routerLink="/main/inbound/putaway">
      <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
        <h4 class="font-weight-bold mr-3 mb-0">02</h4>   <p class="mb-0"style="font-size: 1rem;">Putaway</p></a>
    </a>
  </nav>
  <nav mat-tab-nav-bar class="nav-border scroll2 mx-1 d-flex justify-content-start blue  bg-white" >
    <a routerLink="/main/inbound/inbound-confirm">
      <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
        <h4 class="font-weight-bold mr-3 mb-0">02</h4><p class="mb-0"style="font-size: 1rem;">Confirmation</p></a>
    </a>
  </nav>
  <nav mat-tab-nav-bar class="nav-border scroll2 mx-1 d-flex justify-content-start blue  bg-white">
    <a routerLink="/main/inbound/reversal-main">
      <a mat-tab-link class="blue-text fw-bold  mb-0 px-4  my-auto">
        <h4 class="font-weight-bold mr-3 mb-0">02</h4><p class="mb-0"style="font-size: 1rem;">Reversal</p></a>
    </a>
  </nav>
</div>