




<div class="card  border-0 bg-white "style="overflow-x: hidden;">
  <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle class="d-flex justify-content-between align-items-center header_colour text-white p-2">
    <h5 class="my-auto">Assign Case</h5>
    <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
  </div>
<div class="row bg-white p-2 d-flex mx-3" >
  <div class="col-8 mt-1">
    <div class="form-group mb-0">
      <label for="inputEmail4" class="mb-0">No of Cases</label>
      <mat-form-field class="mb-0 w-100 " appearance="outline">
        <input matInput placeholder="Enter">
      </mat-form-field>
    </div>
</div>
</div>

<div class="d-flex justify-content-end mr-3 mb-1 pb-2">
  <button mat-raised-button class="bg-darkblue text-white ml-1" >
      <mat-icon class="">settings_suggest</mat-icon> Generate
    </button>
</div>

</div>


