

<nav mat-tab-nav-bar >
    <!-- <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center" 
     routerLink="/main/orderStatus/receivedOrders">Received Orders </a>-->
 
     <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center"
      routerLink="/main/orderStatus/outboundsucessorders">OutboundOrder Success Orders </a>
 
     <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center blue nav-border uatwhite align-items-center"
      routerLink="/main/orderStatus/outboundfailedsucessorders">OutboundOrder Failed Orders </a>
 
     
 
   </nav>
   