<!-- customdialog3.component.html -->
<div class="card bg-white">
  <div class="d-flex justify-content-between align-items-center header_colour text-white p-2">
    <h6 *ngIf="this.data.type !='failedorder'" class="my-auto">{{data.title}} </h6>
    <i mat-dialog-close class="bi bi-x-lg px-3"></i>
    <mat-icon class="text-white" (click)="cancel()">close</mat-icon>
  </div>
  <div class="row p-1">

    <div *ngIf="data.type != 'failedorder'" class="pl-3">
      <label for="orderNo"><strong>Order No:</strong></label>
      <input type="text" id="orderNo" class="form-control" [value]="data.value[0].refDocumentNo" readonly>
    </div>
    <div *ngIf="data.type != 'failedorder'" class="pl-2">
      <label for="orderDate"><strong>Order Date:</strong></label>
      <input type="text" id="orderDate" class="form-control"
        [value]="data.value[0].orderReceivedOn | date : 'dd-MM-yyyy HH:mm' :'GMT'" readonly>
    </div>
    <div *ngIf="data.type != 'failedorder'" class="pl-2">
      <label for="noOfLines"><strong>No of Lines:</strong></label>
      <input type="text" id="noOfLines" class="form-control" [value]="data.lines" readonly>
    </div>
    <div class="pl-1">
      <button style=" border-radius: 70%;margin-top:40%;radius:50%" mat-mini-fab (click)="downloadJsonAsTextFile()"
        class="d-flex align-items-center justify-content-center text-white  darkblueaction " matTooltip="Download">
        <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
      </button>
    </div>
  </div>

  <div class="mt-1">

    <div class="row  p-2 mx-0">
      <div class="col-12 mt-1 scrollable-json-data border">
        <pre disabled readonly>{{ data.value | json }}</pre>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center py-2">
      <button mat-raised-button color="warn" mat-dialog-close class="mx-2"> <i
          class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
    </div>
  </div>


</div>
