<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="card bg-white " style="overflow-x: hidden;">
      <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
        class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
        <h6 class="my-auto">Handling Equipment - {{data? data.pageflow: 'New'}} </h6>
        <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
      </div>
        <mat-accordion>
          <mat-expansion-panel #panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
            <mat-expansion-panel-header class="border-bottom padding-space border-top">
              <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                General
                <mat-icon class="text-secondary">{{panel.expanded? 'remove' : 'add'}}</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
        <div class="row scroll p-1">
          <div class="col-lg-6 col-md-6 mt-1">
            <p class="mb-0 py-0">Handling Unit</p>
            <!-- <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <mat-select class="form-group input_field mb-0"
                placeholder="Select">
                <mat-option>
                </mat-option>
              </mat-select>
            </mat-form-field> -->
            <!-- <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select placeholder="select" formControlName="handlingUnit">
                <mat-option *ngFor="let item of handlingunitList" [value]="item.handlingUnit">
                  {{item.handlingUnit}}
                </mat-option>

              </mat-select>
            </mat-form-field> -->
            <!-- <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input type="text" matInput formControlName="handlingUnit" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of handlingunitList" [value]="option.handlingUnit">
        {{option.handlingUnit}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field> -->
            <div class="form-group input_field mb-2" appearance="outline">
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings"
              [data]="multiSelectheList" [(ngModel)]="selectedItems" (onSelect)="onItemSelect($event)"
              (onSelectAll)="onSelectAll($event)" [ngModelOptions]="{standalone: true}">
            </ng-multiselect-dropdown> -->
            <angular2-multiselect [data]="multiSelectheList" [(ngModel)]="selectedItems"
            [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
            (onDeSelect)="OnItemDeSelect($event)" (onSelectAll)="onSelectAll($event)"
            (onDeSelectAll)="onDeSelectAll($event)" formControlName="handlingUnit"></angular2-multiselect>
              </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0 text-black">Handling Equipment</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="handlingEquipmentId" required>
                  <mat-error *ngIf="form.controls.handlingEquipmentId.errors?.required" class="mt-1">Field Should not be blank</mat-error>
                </mat-form-field>
            </div>
          </div>
         
          <div class="col-lg-6 col-md-6 mt-1">
            <p class="mb-0 py-0">Category</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Enter" formControlName="category">
            </mat-form-field>
  
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <p class="mb-0 py-0">Acquistion Date</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Choose Date" [matDatepicker]="picker3" formControlName="acquistionDate">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
            <div class="d-flex flex-column">
              <p class="mb-0 py-0">Acquistion Value</p>
              <mat-form-field class="form-group input_field mb-0" appearance="outline">
                <input matInput placeholder="Enter" formControlName="acquistionValue">
              </mat-form-field>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Currency ID </p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="currencyId">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Model No </p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="modelNo">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Mfr Part No </p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="manufacturerPartNo">
                </mat-form-field>
              </div>
            </div>
  
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Country of Origin </p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="countryOfOrigin">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">HE Barcode</p>
                <mat-form-field class="form-group input_field mb-0" appearance="outline">
                  <input matInput placeholder="Enter" formControlName="heBarcode">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 mt-1">
                  <p class="mb-0 py-0">Status</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <mat-select class="form-group input_field mb-0"
                      placeholder="Select" formControlName="statusId">
                      <mat-option value="1">01 - Active</mat-option>
                      <mat-option value="0">02 - Inactive</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
        </div>
          </mat-expansion-panel>
          <mat-expansion-panel #panel2 hideToggle *ngIf="data.code"> 
            <mat-expansion-panel-header class="border-bottom padding-space border-top">
              <mat-panel-title class="d-flex justify-content-between collapsefont align-items-center">
                Admin
                <mat-icon class="text-secondary">{{panel2.expanded? 'remove' : 'add'}}</mat-icon>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row p-1 px-3  mt-2">
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Created By</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="AP-Editable" formControlName="createdBy">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Created On</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="AP-Editable" formControlName="createdOn">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Updated By</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="AP-Editable" formControlName="updatedBy">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 mt-2">
                <div class="d-flex flex-column">
                  <p class="mb-0 py-0">Updated On</p>
                  <mat-form-field class="form-group input_field mb-0" appearance="outline">
                    <input matInput placeholder="AP-Editable" formControlName="updatedOn">
                  </mat-form-field>
                </div>
              </div>
            </div>
          </mat-expansion-panel> 
        </mat-accordion>
        <div class="d-flex justify-content-center align-items-center py-2">
          <button mat-raised-button color="warn" mat-dialog-close class="mx-1"> <i
              class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
          <button mat-raised-button class="mx-1 bg-darkblue px-4 text-white"> <i
              class="bi bi-check2 mr-1 font-size-1_5rem"></i>
            
              {{data.pageflow =='Edit'? 'Update': 'Save'}}</button>
        </div>
  
  
    </div>
  
  </form>