<div class="row mx-0 py-2 d-flex align-items-center">
    <div class="col-6 pr-1">
        <div class="form-group mb-1">
            <label for="inputEmail4" class="mb-0">Floor</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input placeholder="Enter " [(ngModel)]="floor" >
            </mat-form-field>
        </div>
    </div>
    <div class="col-6 pr-1">
        <div class="form-group mb-1">
            <label for="inputEmail4" class="mb-0">Row</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input placeholder="Enter " [(ngModel)]="row" >
            </mat-form-field>
        </div>
    </div>
    <div class="col-6 pr-1">
        <div class="form-group mb-1">
            <label for="inputEmail4" class="mb-0">Rack</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input placeholder="Enter " [(ngModel)]="rack" >
            </mat-form-field>
        </div>
    </div>
    <div class="col-6 pr-1">
        <div class="form-group mb-1">
            <label for="inputEmail4" class="mb-0">Shelf</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input placeholder="Enter " [(ngModel)]="shelf" >
            </mat-form-field>
        </div>
    </div>
    <div class="col-6 pr-1">
        <div class="form-group mb-1">
            <label for="inputEmail4" class="mb-0">Bin</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input placeholder="Enter " [(ngModel)]="bin" >
            </mat-form-field>
        </div>
    </div>
</div>