<div class="card-header  p-1 py-2 px-3 bg-orange text-white d-flex justify-content-between">
  <div class="d-flex justify-content-start">
    <p class="mb-0  fw-bold notifysize">You have</p>
    <p class="mb-0 fw-bold px-2 notifysize">{{count}}</p>
    <p class="mb-0  fw-bold notifysize"> new notifications</p>
  </div>
  <p class="card-title text-blue mb-0 fw-bold notifysize" style="cursor: pointer;">Delete all</p>

</div>
<div class="notification-box text-whitex" *ngFor="let message of messaageList">
  <div class="p-2 pl-3 border border-bottom">
    <div class="d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center">
        <i class="fas fa-dolly-flatbed text-secondary mr-3" style="font-size:1.3rem;"></i>
        <div class="d-flex flex-column" style="word-wrap: break-word;">
          <p class="card-title text-blue mb-0 text-orange fw-bold notifysize">{{message.title}}</p>
          <p class="card-text mb-0 notifysize">{{message.message}}</p>
        </div>
      </div>
      <div>
        <p class="card-text text-muted" style="font-size: 11px;">{{message.createdOn | date:'dd-MM-yyyy HH:mm'}}</p>
        <p class="card-text d-flex float-right text-danger fw-bold" type="button" style="font-size: 11px;"
          (click)="update(message)">Delete</p>
      </div>
    </div>
  </div>
</div>