<div class="row mx-1 pl-2">
    <div class="col-12">
      <!--inner header-->
  
      <div class="row  text-secondary pr-1 inner_header mt-1">
        <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">
     
          <nav aria-label="breadcrumb" class="d-flex align-items-center">
            <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"
                    class="text-muted whs-fontsize-1-2rem  my-auto"><mat-icon class="align-middle">home</mat-icon></li>
                <li class="breadcrumb-item"
                            class="text-muted whs-fontsize-1-2rem  my-auto">Masters</li>
                <li class="breadcrumb-item text-muted whs-fontsize-1-2rem  my-auto">Product</li>
            </ol>
        </nav>
          
            <div class="d-flex ml-auto my-auto">
              <div [hidden]="isShowDiv"> <input matInput  class="form-control filter_button mx-2 border-bottom"
                placeholder="Search" style="width:90%">
            </div>
                <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'" class="button-row d-flex align-items-center">
                    <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
                  <button mat-mini-fab  *ngIf="showFloatingButtons == true"
                    class=" floating-buttons  d-flex align-items-center justify-content-center text-white mx-2 mr-3  yellowaction" matTooltip="Display">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
                  </button> 
                  <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white mx-2 mr-3 blueaction " matTooltip="Edit">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
                </button>
                    <button mat-mini-fab  *ngIf="showFloatingButtons == true"
                      class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white mx-2 mr-3 align-middle" matTooltip="Delete">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
                    </button>
                   <!-- 
                      <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white mx-2 mr-3 bg-success  " matTooltip="Info">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                  </button>
                    -->
                  <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white mx-2 mr-3 darkblueaction " matTooltip="Download">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
                </button>
                  
                  
                    <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
                      [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
                      <mat-icon>{{icon}}</mat-icon>Options
                    </button>
                    <button mat-mini-fab  (click)="selectionpara()"
                    class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle" matTooltip="New">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
                  </button>
                    <button mat-mini-fab  
                    class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle" matTooltip="Save">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
                  </button>
                    <button mat-mini-fab disabled class="text-white mx-2 action-button  bg-red disabled" type="button" mat-button>
                      <mat-icon class="">tune</mat-icon> Filter
                    </button>
                  </div>
    
            </div>
        </div>
    </div>
    
    <!--
        
            <button mat-raised-button (click)="openDialog()" style="background-color: #666666;color: white"
                class="ml-1 mx-2 px-3">
                <mat-icon class="mr-1">tune</mat-icon>Filter
            </button>
    -->
      <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
      <!--main section-->
    
      <div class="row pr-3 bg-white">
          <div class="scroll1 col-12 px-0 mt-1">
            <div class="">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
  
                <!-- Checkbox Column -->
                <ng-container matColumnDef="select">
                  <th mat-header-cell *matHeaderCellDef>
                    <mat-checkbox (change)="$event ? masterToggle() : null"
                      [checked]="selection.hasValue() && isAllSelected()" disabled
                      [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
                    </mat-checkbox>
                  </th>
                  <td mat-cell *matCellDef="let row">
                    <mat-checkbox (click)="$event.stopPropagation()" (change)="clearselection(row)"
                      [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
                    </mat-checkbox>
                  </td>
                </ng-container>
  
  
                <!-- Symbol Column -->
                <ng-container matColumnDef="no">
                  <th mat-header-cell *matHeaderCellDef> S No </th>
                  <td mat-cell *matCellDef="let element"> {{element.no}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="lineno">
                  <th mat-header-cell *matHeaderCellDef>Warehouse No </th>
                  <td mat-cell *matCellDef="let element"> {{element.lineno}} </td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="partner">
                  <th mat-header-cell *matHeaderCellDef>Product Code</th>
                  <td mat-cell *matCellDef="let element"> {{element.partner}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="product">
                  <th mat-header-cell *matHeaderCellDef>Description</th>
                  <td mat-cell *matCellDef="let element"> {{element.product}} </td>
                </ng-container>
                 <!-- Symbol Column -->
                 <ng-container matColumnDef="description">
                  <th mat-header-cell *matHeaderCellDef>UOM</th>
                  <td mat-cell *matCellDef="let element"> {{element.description}} </td>
                </ng-container>
                 <!-- Symbol Column -->
                 <ng-container matColumnDef="refdocno">
                  <th mat-header-cell *matHeaderCellDef>Item Type </th>
                  <td mat-cell *matCellDef="let element"> {{element.refdocno}} </td>
                </ng-container>
                 <!-- Symbol Column -->
                 <ng-container matColumnDef="variant">
                  <th mat-header-cell *matHeaderCellDef>Item Group </th>
                  <td mat-cell *matCellDef="let element"> {{element.variant}} </td>
                </ng-container>
                 <!-- Symbol Column -->
                 <ng-container matColumnDef="type">
                  <th mat-header-cell *matHeaderCellDef>Created On</th>
                  <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                </ng-container>
                
  
               
  
                <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                </tr>
              </table>
            </div>
  
          </div>
          <div class="buttons border bg-white pb-1 w-100 d-flex justify-content-end">
          <div class="p-0 mx-1 "style="background-color: #ffff;">
            <mat-paginator class="" showFirstLastButtons [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
              aria-label="Select page of periodic elements">
            </mat-paginator>
          </div>
          </div>
        </div>
    </div>
  
  
  
  
  
  
    <!--right pane-->
    <div class="col-3 pl-1 pr-1 mt-1 d-none">
      <div class="whs-rightpane bg-white shadow">
        <div class="text-dark p-2 bg-white">
          <div class="whs-vertical-scroll">
            <div class="d-flex justify-content-start my-1">
              <label for="" class="mr-5 mt-1">Variant</label>
              <label for="" class=" mt-1 ml-4 pl-3">Preoutbound</label>
            </div>
            <hr class="my-0">
            <div class="row mt-1">
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Warehouse No</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                <input matInput placeholder="Autofill">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Product</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    
                    <mat-select placeholder="select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <div class="form-group mb-1">
                  <label for="inputEmail4" class="mb-0">Item Type</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    
                    <mat-select placeholder="select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Item Group</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Item Sub Group</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center my-1">
            <button mat-raised-button class="text-white mr-1" color="warn">
              <mat-icon class="">close</mat-icon> Cancel
            </button>
            <button mat-raised-button class="bg-darkblue  text-white mx-1" >
              <mat-icon class="">search</mat-icon> Search
            </button>
          </div>
        </div>
        <div class="row  no-gutters">
          <div class="col-6 pl-0 d-none">
              <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
                <i class="far fa-arrow-alt-circle-down fa-2x"></i>
                <p class="mb-0 mt-1">Storage Setup</p>
              </div>
            </div>
            <div class="col-6 pl-0  d-none">
              <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
                <i class="far fa-arrow-alt-circle-down fa-2x"></i>
                <p class="mb-0 mt-1">Item Setup</p>
              </div>
            </div>
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Storage Setup</p>
            </div>
          </div>
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Item Setup</p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  