<form [formGroup]="form">
  <div class="card bg-white "style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex justify-content-between align-items-center header_colour text-white p-2">
      <h2 class="my-auto headertext">Prospective Client Intake Form</h2>
      <i mat-dialog-close class="bi bi-x-lg px-3"></i>
    </div>
    <div class="mt-2">
      <div class="row  p-1 px-4 ">
        <div class="col-lg-6 col-md-6 mt-2">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0   text-black">Inquiry No</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Enter" formControlName="inquiryNumber" readOnly>
            </mat-form-field>
            <mat-error *ngIf="errorHandling('inquiryNumber')">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-2">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0  ">First Name</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Enter" formControlName="firstName" readOnly>
              <mat-error *ngIf="form.controls.firstName.errors?.maxlength"> Maximum is 20 Characters</mat-error>
              <mat-error *ngIf="form.controls.firstName.errors?.pattern"> Invalid Characters</mat-error>
            </mat-form-field>
            <mat-error *ngIf="errorHandling('firstName')">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-2">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0  ">Phone No</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Enter" formControlName="contactNumber" readOnly>
              <mat-error *ngIf="form.controls.contactNumber.errors?.maxlength">Number should Maximum 12 Characters</mat-error>
              <mat-error *ngIf="form.controls.contactNumber.errors?.minlength">Number should be 12 Characters</mat-error>
              <mat-error *ngIf="form.controls.contactNumber.errors?.required"> Field Should not be Blank </mat-error>
              <mat-error *ngIf="form.controls.contactNumber.errors?.pattern"> Invalid Phone No </mat-error>
            </mat-form-field>

          </div>
          <mat-error *ngIf="errorHandling('firstName')">{{getErrorMessage()}}</mat-error>
        </div>
        <div class="col-lg-6 col-md-6 mt-2">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0  ">Email</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">
              <input matInput placeholder="Enter" type="email" formControlName="email" readOnly>
              <mat-error *ngIf="form.controls.email.errors?.pattern">Invalid Email </mat-error>
            </mat-form-field>

          </div>
        </div>
        <div class="col-lg-6 col-md-6 mt-2">
          <p class="mb-0 py-0  ">Alt Email</p>
          <mat-form-field class="form-group input_field mb-0" appearance="outline">
            <input matInput placeholder="Enter" formControlName="alternateEmail">
            <mat-error *ngIf="form.controls.alternateEmail.errors?.pattern">Invalid Email </mat-error>
          </mat-form-field>
        </div>
        <div class="col-lg-6 col-md-6 mt-2">
          <div class="d-flex flex-column">
            <p class="mb-0 py-0 required ">Intake Form Type</p>
            <mat-form-field class="form-group input_field mb-0" appearance="outline">

              <mat-select formControlName="intakeFormId" placeholder="select">
                <mat-option *ngFor="let food of intakeFormIdList" [value]="food.key">
                  {{food.value}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-error *ngIf="errorHandling('intakeFormId')">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
        <div class="col-sm-12 mt-2 mb-2 mh-100">
          <p class="mb-0 py-0   ">Notes</p>
          <mat-form-field class="form-group input_field w-100 mb-0" appearance="outline">
            <textarea matInput rows="5" placeholder="Enter" formControlName="referenceField8"></textarea>
          </mat-form-field>

        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" type="submit" class="btn btn-mx-2" (click)="openSend()">
          <mat-icon class="me-1">send</mat-icon>Send Form
        </button>
        <button mat-raised-button type="submit" class="mx-2 bg-blue text-white" (click)="openFill()">
          <mat-icon class="me-1">edit</mat-icon> Fill Form
        </button>
      </div>
    </div>


  </div>
</form>