<div class="bgWhite text-black w-93 h-100 m-4 mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <p class="componentHeader f600 mb-0">Piece Details</p>
    </div>

    <div class="d-flex scrollNew mt-4">
        <table class="table" style="width: 80rem;">
            <thead class="sticky-top  table-style ">
                <tr>
                    <th scope="col">Piece ID</th>
                    <th scope="col">Type</th>
                    <!-- <th scope="col">Bag ID</th> -->
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">User</th>
                </tr>
            </thead>
            <tbody class="table-style-body" >
                <tr style="height: 20px !important;" *ngFor="let item of cnTable; let i = index">
                    <td scope="row">{{item.pieceId}}</td>
                    <td scope="row">{{item.pieceType}}</td>
                    <!-- <td>{{item.bagId}}</td> -->
                    <td scope="row">{{item.pieceTypeDescription}}</td>
                    <td scope="row">{{item.pieceTimeStamp | date: 'dd-MM-yyyy HH:mm' }}</td>
                    <td scope="row">{{item.updatedBy}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="d-flex float-right py-2" style="position: absolute; right: 3.5%; bottom: 5%;">
        <button mat-dialog-close class="buttom1 textBlack mx-1">Cancel</button>
    </div>
</div>