<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white d-flex align-items-center">
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Home</li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Outbound</li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Delivered</li>
          </ol>
        </nav>



        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input  matInput (input)="deliveryreadyTag.filterGlobal($any($event.target).value, 'contains')"
              class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display" (click)="openDialog('Display')">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true" disabled
              class="floating-buttons disabled d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                      <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                  </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="downloadexcel();"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab disabled
              class=" floating-buttons1 disabled d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" (click)="drawer.toggle()"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
  </div>
  <!--main section-->
  <div class=" pr-1 mt-2 mx-0 w-100 ">
    <app-order-tab></app-order-tab>
  </div>
  <mat-drawer-container class="example-container  w-100 animate__animated animate__fadeInRight animate__faster">
    <mat-drawer #drawer class="example-sidenav " mode="over" position="end">
      <div class="card-header whs-bg-grey text-white d-flex justify-content-between align-items-center">
        <h6 class="my-auto mb-0">Search Parameter</h6>
        <mat-icon type="button" (click)="drawer.toggle()">close</mat-icon>
      </div>
      <form [formGroup]="searhform">
        <div class="row searchscroll mt-1 mr-1 p-2 pl-3">

          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Order No</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="refDocNumberList"
                [(ngModel)]="refDocNumberListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="refDocNumberList" [(ngModel)]="refDocNumberListselected"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                formControlName="refDocNumber"></angular2-multiselect> -->

                          <p-multiSelect placeholder="Select" class="w-100" [options]="refDocNumberList"
            formControlName="refDocNumber" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Order Type</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings"
                [data]="outboundOrderTypeIdList" [(ngModel)]="outboundOrderTypeIdListselected"
                [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="outboundOrderTypeIdList" [(ngModel)]="outboundOrderTypeIdListselected"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)"
                formControlName="outboundOrderTypeId"></angular2-multiselect> -->

                          <p-multiSelect placeholder="Select" class="w-100" [options]="outboundOrderTypeIdList"
            formControlName="outboundOrderTypeId" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Ord Category</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="soTypeList"
                [(ngModel)]="soTypeListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="soTypeList" [(ngModel)]="soTypeListselected" [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" formControlName="soType">
              </angular2-multiselect> -->

                        <p-multiSelect placeholder="Select" class="w-100" [options]="soTypeList"
            formControlName="soType" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>
          <div class="col-12 my-1">
            <div class="form-group mb-0">
              <label for="inputEmail4" class="mb-0">Status</label>
              <!-- <ng-multiselect-dropdown [placeholder]="'Select'" [settings]="dropdownSettings" [data]="statusIdList"
                [(ngModel)]="statusIdListselected" [ngModelOptions]="{standalone: true}">
              </ng-multiselect-dropdown> -->
              <!-- <angular2-multiselect [data]="statusIdList" [(ngModel)]="statusIdListselected"
                [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)" (onDeSelectAll)="onDeSelectAll($event)" formControlName="statusId">
              </angular2-multiselect> -->

                        <p-multiSelect placeholder="Select" class="w-100" [options]="statusIdList"
            formControlName="statusId" [style]="{'width': '100%'}" [panelStyle]="{'width':'20%'}"></p-multiSelect>
            </div>
          </div>

          <div class="col-12 mt-2">
            <p class="mb-0 py-0">Delivery Confirmed</p>
            <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
              <mat-date-range-input [rangePicker]="pickerss" placeholder="Choose date">
                <input matStartDate placeholder="Start date" formControlName="startDeliveryConfirmedOnFE">
                <input matEndDate placeholder="End date" formControlName="endDeliveryConfirmedOnFE">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerss"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerss></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="col-12 mt-2">
            <p class="mb-0 py-0">Order Date</p>
            <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
              <mat-date-range-input [rangePicker]="pickerss1" placeholder="Choose date">
                <input matStartDate placeholder="Start date" formControlName="startOrderDateFE">
                <input matEndDate placeholder="End date" formControlName="endOrderDateFE">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerss1"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerss1></mat-date-range-picker>
            </mat-form-field>
          </div>
          <div class="col-12 mt-2">
            <p class="mb-0 py-0">Required Date </p>
            <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
              <mat-date-range-input [rangePicker]="pickerss2" placeholder="Choose date">
                <input matStartDate placeholder="Start date" formControlName="startRequiredDeliveryDateFE">
                <input matEndDate placeholder="End date" formControlName="endRequiredDeliveryDateFE">
              </mat-date-range-input>
              <mat-datepicker-toggle matSuffix [for]="pickerss2"></mat-datepicker-toggle>
              <mat-date-range-picker #pickerss2></mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>
      </form>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" class="text-white mx-1 px-4" (click)="reload();">
          <mat-icon class="">restart_alt</mat-icon> Reset
        </button>
        <button mat-raised-button class="bg-darkblue text-white mx-1" (click)="search(); drawer.toggle();">
          <mat-icon class="">done</mat-icon> Search
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div class="row ">
        <p-table #deliveryreadyTag  [value]="delivery" [globalFilterFields]="['actions1', 'statusId', 'refDocNumber', 'referenceField1',  'outboundOrderTypeId','product','referenceField10','referenceField9','referenceField8','referenceField7','requiredDeliveryDate','refDocDate','deliveryConfirmedOn']"
        styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true" selectionMode="single" scrollDirection="both"
        scrollHeight="calc(100vh - 15.2rem)" sortField="requiredDeliveryDate" [sortOrder]="-1" [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [rowsPerPageOptions]="[100, 150, 200, 250]" [resizableColumns]="true" style="width: 100%;margin-left: 10px;background-color:white" >
          <ng-template pTemplate="header">
            <tr>
              <th style="max-width: 3.5rem">
                <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
              </th>
              <th style="width: 5rem;"pSortableColumn="actions1 "  pResizableColumn>Actions <p-sortIcon field="actions1"></p-sortIcon>
               
              </th>
              <th style="width: 7.5rem" pSortableColumn="statusId"  pResizableColumn>Status <p-sortIcon field="statusId"></p-sortIcon>
             
              </th>
              <th style="width: 7.5rem" pSortableColumn="refDocNumber"  pResizableColumn>Order No<p-sortIcon field="refDocNumber"></p-sortIcon>
               
              </th>
              <th style="width: 7.5rem" pSortableColumn="referenceField1"  pResizableColumn>Order Category<p-sortIcon field="referenceField1"></p-sortIcon>
               
              </th> 
              <th style="width: 7.5rem;" pSortableColumn="outboundOrderTypeId"   pResizableColumn>Order Type<p-sortIcon field="outboundOrderTypeId"></p-sortIcon>
         
              </th>
              <th style="width: 7.5rem;" pSortableColumn="product"   pResizableColumn>Store<p-sortIcon field="product"></p-sortIcon>
         
              </th>
              <th style="width: 7.5rem;" pSortableColumn="referenceField10 " pResizableColumn>Order Lines<p-sortIcon field="referenceField10"></p-sortIcon>

              </th>
              <th style="width: 7.5rem;" pSortableColumn="referenceField9 " pResizableColumn>Total Qty<p-sortIcon field="referenceField9"></p-sortIcon>
              </th>
              <th style="width: 7.5rem;" pSortableColumn="referenceField8 " pResizableColumn>Delivered Lines<p-sortIcon field="referenceField8"></p-sortIcon>
              </th>
              <th style="width: 7.5rem;" pSortableColumn="referenceField7 " pResizableColumn>Delivered Qty<p-sortIcon field="referenceField7"></p-sortIcon>
              </th>
              <th style="width: 7.5rem;" pSortableColumn="requiredDeliveryDate " pResizableColumn>Req Date<p-sortIcon field="requiredDeliveryDate"></p-sortIcon>
              </th>
              <th style="width: 7.5rem;" pSortableColumn="refDocDate " pResizableColumn>Order Date<p-sortIcon field="refDocDate"></p-sortIcon>
              </th>
              <th style="width: 7.5rem;" pSortableColumn="deliveryConfirmedOn " pResizableColumn>Delivery Date<p-sortIcon field="deliveryConfirmedOn"></p-sortIcon>
              </th>

              
            </tr>

            <tr>
              <th style="max-width: 3.5rem">
                <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
              </th>
              <th style="width: 5rem">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'action1', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['action1'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'statusId', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['statusId'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'refDocNumber', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['refDocNumber'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'referenceField1', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['referenceField1'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'outboundOrderTypeId', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['outboundOrderTypeId'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'product', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['product'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'referenceField10', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['referenceField10'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalId"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem;">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'referenceField9', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['referenceField9'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalLevel"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem;">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'referenceField8', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['referenceField8'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalLevel"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem;">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'referenceField7', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['referenceField7'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalLevel"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem;">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'requiredDeliveryDate', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['requiredDeliveryDate'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalLevel"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem;">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'refDocDate', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['refDocDate'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalLevel"></p-columnFilter>-->
              </th>
              <th style="width: 7.5rem;">
                <input pInputText type="text"
                  (input)="deliveryreadyTag.filter($any($event.target)?.value, 'deliveryConfirmedOn', 'contains')"
                  [value]="$any(deliveryreadyTag.filters['deliveryConfirmedOn'])?.value" placeholder="Search "
                  class=" w-100 p-column-filter">
                <!--<p-columnFilter type="text" placeholder="Search" field="approvalLevel"></p-columnFilter>-->
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-delivery let-rowIndex="rowIndex">
            <tr>

              <td style="max-width:3.5rem;">
                <p-checkbox (onChange)="onChange()" [(ngModel)]="selecteddelivery" [value]="delivery"></p-checkbox>
                <!--<p-tableCheckbox [value]="approvals"></p-tableCheckbox>-->
              </td>
              <td style="width: 5rem">  <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{delivery: delivery}">
                <mat-icon class="text-secondary">more_horiz</mat-icon>
              </button></td>
              <td style="width: 7.5rem"> {{cs.getstatus_text(delivery.statusId)}}</td>
              <td style="width: 7.5rem">{{delivery.refDocNumber}}</td>
              <td style="width: 7.5rem">{{delivery.referenceField1}}</td>
              <td style="width: 7.5rem"> {{cs.getoutboundOrderType_text(delivery.outboundOrderTypeId)}}</td>
              <td style="width: 7.5rem">{{delivery.partnerCode}}</td>
              <td style="width: 7.5rem;">{{delivery.referenceField10}}</td>
              <td style="width: 7.5rem;">{{delivery.referenceField9}}</td>
              <td style="width: 7.5rem;">{{delivery.referenceField8}}</td>
              <td style="width: 7.5rem;">{{delivery.referenceField7}}</td>
              <td style="width: 7.5rem;">{{delivery.requiredDeliveryDate | date : 'dd-MM-yyyy HH:mm' :'GMT'}}</td>
              <td style="width: 7.5rem;">{{delivery.refDocDate | date : 'dd-MM-yyyy HH:mm' :'GMT'}}</td>
              <td style="width: 7.5rem;">{{delivery.deliveryConfirmedOn| date : 'dd-MM-yyyy HH:mm' :'GMT' }}</td>

           
            </tr>
          </ng-template>
        </p-table>

      </div>

    </div>
  </mat-drawer-container>






  <mat-menu #menu="matMenu">
    <ng-template matMenuContent let-aliasMenuItems="delivery">

      <button mat-menu-item (click)="openConfirm(aliasMenuItems)"
        [disabled]="(aliasMenuItems.statusId == '59')">Confirm</button>

    </ng-template>
  </mat-menu>

  <!--right pane-->
  <div class="col-3 pl-1 pr-1 mt-1 d-none">
    <div class="whs-rightpane bg-white shadow">
      <div class="text-dark p-2 bg-white">
        <div class="whs-vertical-scroll">
          <div class="d-flex justify-content-start my-1">
            <label for="" class="mr-5 mt-1">Variant</label>
            <label for="" class=" mt-1 ml-4 pl-3">Preoutbound</label>
          </div>
          <hr class="my-0">
          <div class="row mt-1">
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Warehouse No</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Preoutbound Number</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select placeholder="select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-1">
                <label for="inputEmail4" class="mb-0">SO No</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select placeholder="select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Product Code</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <label for="inputEmail4" class="mb-1">Date</label>
              <mat-form-field class="mb-0 w-100 " appearance="outline">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker2">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Ord Category</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-12 pr-0">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Status</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-1">
          <button mat-raised-button class="text-white mr-1" color="warn">
            <mat-icon class="">close</mat-icon> Cancel
          </button>
          <button mat-raised-button class="bg-darkblue  text-white mx-1">
            <mat-icon class="">search</mat-icon> Search
          </button>
        </div>
      </div>
      <div class="row  no-gutters">
        <div class="col-6 pl-0 d-none">
          <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            <p class="mb-0 mt-1">Storage Setup</p>
          </div>
        </div>
        <div class="col-6 pl-0  d-none">
          <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            <p class="mb-0 mt-1">Item Setup</p>
          </div>
        </div>
        <div class="col-6 pl-0 d-none">
          <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            <p class="mb-0 mt-1">Storage Setup</p>
          </div>
        </div>
        <div class="col-6 pl-0 d-none">
          <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
            <i class="far fa-arrow-alt-circle-down fa-2x"></i>
            <p class="mb-0 mt-1">Item Setup</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>