<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto"><a routerLink="/main/dashboard">Home</a>
            </li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Stock Count</li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">{{pageTitle}}</li>
          </ol>
        </nav>

        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input (keyup)="applyFilter($event)" matInput
              class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                        <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                        matTooltip="Add">
                        <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                      </button>
                      -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                        <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                      class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                    </button>
                      -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download" (click)="downloadexcel()">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
    <!--main section-->
    <div class="row  mt-1 pr-1" style="height:calc(100vh - 9rem);">
      <div class="col-md-12 px-0">
        <div class="">
          <div class="row mt-2 mx-0 px-0">
            <div class="px-0 pl-1 pb-1 w-100  bg-white scroll1 ">
              <div class="scroll2">
                <table mat-table [dataSource]="dataSource" matSort matSortActive="storageBin" matSortDirection="desc"
                  class=" w-100">

                  <!-- Checkbox Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header [attr.rowspan]="2">
                      <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
                      </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let row">
                      <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
                      </mat-checkbox>
                    </td>
                  </ng-container>


                  <!-- Symbol Column -->
                  <ng-container matColumnDef="no">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> S No </th>
                    <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                  </ng-container>
                  <!-- Weight Column -->
                  <ng-container matColumnDef="itemCode">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Product code</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemCode}} </td>
                  </ng-container>
                  <!-- Weight Column -->
                  <ng-container matColumnDef="itemDesc">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Description</th>
                    <td mat-cell *matCellDef="let element"> {{element.itemDesc}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="manufacturerPartNo">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Mfr Sku</th>
                    <td mat-cell *matCellDef="let element"> {{element.manufacturerPartNo}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="storageSectionId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Section</th>
                    <td mat-cell *matCellDef="let element"> {{element.storageSectionId}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="storageBin">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Bin Location</th>
                    <td mat-cell *matCellDef="let element"> {{element.storageBin}} </td>
                  </ng-container>
                  <ng-container matColumnDef="cycleCounterId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>User ID</th>
                    <td mat-cell *matCellDef="let element"> {{element.cycleCounterId}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="variant">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Variant </th>
                    <td mat-cell *matCellDef="let element"> {{element.variant}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="batch">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Batch / Serial</th>
                    <td mat-cell *matCellDef="let element"> {{element.batch}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <!-- <ng-container matColumnDef="packBarcodes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Case Code </th>
                    <td mat-cell *matCellDef="let element"> {{element.packBarcodes}} </td>
                  </ng-container> -->
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="packBarcodes">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Pallet ID </th>
                    <td mat-cell *matCellDef="let element"> {{element.packBarcodes}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="stockTypeId">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Stock Type </th>
                    <td mat-cell *matCellDef="let element">
                      {{element.stockTypeId == 1 ? 'On Hand' : ''}}
                      {{element.stockTypeId == 7 ? 'Hold' : ''}}
                    </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="specialStockIndicator">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Spl Stock Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.specialStockIndicator}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="inventoryQuantity">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Inventory Qty </th>
                    <td mat-cell *matCellDef="let element"> {{element.inventoryQuantity}}
                    </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="counteds">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Counted Qty </th>
                    <td mat-cell *matCellDef="let element"> {{element.countedQty}} </td>
                  </ng-container>
                  <ng-container matColumnDef="countedQty">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Counted Qty </th>
                    <td mat-cell *matCellDef="let element">
                      <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                        <input matInput type="number" [disabled]="this.pageflow == 'Edit'" placeholder="Counted Qty" [(ngModel)]="element.countedQty" required>
                      </mat-form-field>
                    </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="by">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Counted By </th>
                    <td mat-cell *matCellDef="let element"> {{element.countedBy}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Counted Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.countedOn}} </td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                    <td mat-cell *matCellDef="let element">{{cs.getstatus_text(element.statusId)}}</td>
                  </ng-container>
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="action2s" >
                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="">Actions </th>
                    <td *matCellDef="let row;let element" class=" tableborder p-0 border-bottom">
                      <mat-radio-group aria-label="Select an option" [(ngModel)]="element.cycleCountAction">
                        <mat-radio-button [checked]="true"  value="RECOUNT" class="mr-3">Recount </mat-radio-button>
                        <mat-radio-button value="SKIP" class="mr-3">Skip</mat-radio-button>
                        <mat-radio-button value="WRITEOFF" class="mr-3">Write Off</mat-radio-button>
                      </mat-radio-group>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="variance">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Variance </th>
                    <td mat-cell *matCellDef="let element"> {{element.countedQty - element.inventoryQuantity}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                  <ng-container matColumnDef="remarks">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Remarks </th>
                    <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
                  </ng-container>
                       <!-- Symbol Column -->
                       <ng-container matColumnDef="statusId">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status </th>
                        <td mat-cell *matCellDef="let element"> {{cs.getstatus_text(element.statusId)}}</td>
                      </ng-container>
                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Actions </th>
                    <td *matCellDef="let row;let element" class="tableborder p-0 border-bottom">
                      <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon class="text-secondary">more_horiz</mat-icon>
                      </button>
                    </td>
                  </ng-container>


                  <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
                  </tr>
                </table>
              </div>

            </div>
          </div>


          <div class=" pb-1 w-100 d-flex justify-content-end ">
            <div class=" py-2  mr-5 pr-5">
              <button mat-raised-button class="text-white mr-1 px-4" color="warn" (click)="back()">
                <mat-icon class="">close</mat-icon> Cancel
              </button>
              <button mat-raised-button *ngIf="pageflow == 'New'"
                class="bg-darkblue text-white ml-1" (click)="save()">
                <mat-icon class="">done</mat-icon> Save
              </button>
              <button mat-raised-button *ngIf="pageflow == 'Count' || pageflow == 'Variance Analysis'"
                class="bg-darkblue text-white ml-1" (click)="confirmNew()">
                <mat-icon class="">done</mat-icon> Confirm
              </button>
              <button mat-raised-button *ngIf="pageflow == 'Assign User'" class="bg-orange text-white ml-1"
                (click)="assign();">
                <mat-icon class="">assignment_turned_in</mat-icon> Assign User
              </button>
            </div>
            <div class="p-0 mx-1 ">
              <mat-paginator class="" showFirstLastButtons [pageSize]="500" [pageSizeOptions]="[500, 1000, 1500, 2000]"
                aria-label="Select page of periodic elements">
              </mat-paginator>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <mat-menu #menu="matMenu">
    <ng-template matMenuContent>
      <button mat-menu-item>Recount</button>
      <button mat-menu-item>Skip</button>
      <button mat-menu-item>Write off</button>
    </ng-template>
  </mat-menu>

  <!--right pane-->
  <div class="col-3 d-none pl-1 pr-1 mt-1 ">
    <div class="whs-rightpane bg-white shadow">
      <div class="text-dark p-2 bg-white">
        <div class="whs-vertical-scroll">
          <div class="d-flex justify-content-start my-1">
            <label for="" class="mr-5 mt-1">Variant</label>
            <label for="" class=" mt-1 ml-4 pl-3">Prepretual Count</label>
          </div>
          <hr class="my-0">
          <div class="row mt-1">
            <div class="col-6 pr-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Warehouse</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <input matInput placeholder="readonly">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">CC Method</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <input matInput placeholder="readonly">
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pr-1">
              <div class="form-group mb-1">
                <label for="inputEmail4" class="mb-0">Transaction Type</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0"> Sub Transaction Type</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">

                  <mat-select class="mb-0" placeholder="Select">
                    <mat-option value="option">Option</mat-option>
                    <mat-option value="option2">Option2</mat-option>
                    <mat-option value="option3">Option3</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pr-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Date From</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pl-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Date From</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <mat-label>Choose a date</mat-label>
                  <input matInput [matDatepicker]="picker2">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-6 pr-1">
              <div class="form-group mb-0">
                <label for="inputEmail4" class="mb-0">Status</label>
                <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <input matInput placeholder="readonly">
                </mat-form-field>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center my-1">
          <button mat-raised-button class="text-white mr-1" color="warn">
            <mat-icon class="">close</mat-icon> Cancel
          </button>
          <button mat-raised-button class="bg-darkblue  text-white mx-1">
            <mat-icon class="">search</mat-icon> Search
          </button>
          <button mat-raised-button class="whs-bg-grey   text-white ml-1">
            <mat-icon class="">done</mat-icon> Assign
          </button>
        </div>
      </div>
    </div>
  </div>
</div>