<div class="row mx-1 pl-2">
    <div class="col-12">
      <!--inner header-->
  
      <div class="row  text-secondary pr-1 inner_header mt-1">
        <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">
     
    
          <nav aria-label="breadcrumb" class="d-flex align-items-center">
            <ol class="breadcrumb mb-0 bg-white">
                <li class="breadcrumb-item"
                    class="text-muted whs-fontsize-1-2rem  my-auto"><mat-icon class="align-middle">home</mat-icon></li>
                <li class="breadcrumb-item"
                            class="text-muted whs-fontsize-1-2rem  my-auto">Inbound</li>
                <li class="breadcrumb-item text-muted whs-fontsize-1-2rem  my-auto">Inbound Confirm</li>
            </ol>
        </nav>
          
          
            <div class="d-flex ml-auto my-auto">
              <div [hidden]="isShowDiv"> <input matInput  class="form-control filter_button mx-2 border-bottom"
                placeholder="Search" style="width:90%">
            </div>
                <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'" class="button-row d-flex align-items-center">
                    <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
                  <button mat-mini-fab  *ngIf="showFloatingButtons == true"
                    class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction" matTooltip="Display">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
                  </button> 
                  <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction " matTooltip="Edit">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
                </button>
                    <button mat-mini-fab  *ngIf="showFloatingButtons == true"
                      class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle" matTooltip="Delete">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
                    </button>
                   <!-- 
                      <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                  </button>
                    -->
                  <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                  class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction " matTooltip="Download">
                  <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
                </button>
                  
                  
                    <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
                      [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
                      <mat-icon>{{icon}}</mat-icon>Options
                    </button>
                    <button mat-mini-fab    disabled
                    class=" floating-buttons1 disabled d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle" matTooltip="New">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
                  </button>
                      <button mat-mini-fab  
                        class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle" matTooltip="Delete">
                        <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
                      </button>
                    <button mat-mini-fab disabled class="text-white mx-2 action-button  bg-red disabled" type="button" mat-button>
                      <mat-icon class="">tune</mat-icon> Filter
                    </button>
                  </div>
    
            </div>
        </div>
    </div>
      <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
      <!--main section-->
      <div class="row pr-1 mt-1">
        <div class="tabbar1 px-0 bg-white my-auto col d-flex align-items-center">
          <h5 class="my-auto mb-0 mx-4 font-weight-bold whs-text-grey">ASN No - 3324433</h5>
        </div>
      </div>
      <div class="row pr-3 bg-white">
        <div class="scroll1 col-12 px-0 mt-1">
            <div class="scroll2">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100">
  
            <!-- Checkbox Column -->
               <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                [checked]="selection.hasValue() && isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()" [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null"
                [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
  
  
            <!-- Symbol Column -->
            <!-- <ng-container matColumnDef="no">
              <th mat-header-cell *matHeaderCellDef> S No </th>
              <td mat-cell *matCellDef="let element"> {{element.no}} </td>
            </ng-container> -->
                  <!-- Weight Column -->
                  <ng-container matColumnDef="type">
                    <th mat-header-cell *matHeaderCellDef>Line No</th>
                    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                  </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="warehouseno">
              <th mat-header-cell *matHeaderCellDef>Invoice No</th>
              <td mat-cell *matCellDef="let element"> {{element.warehouseno}} </td>
            </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="pallet">
                <th mat-header-cell *matHeaderCellDef>Product Code</th>
                <td mat-cell *matCellDef="let element"> {{element.pallet}} </td>
              </ng-container>
           
                <!-- Weight Column -->
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Description</th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>
                   <!-- Weight Column -->
            <ng-container matColumnDef="pack">
              <th mat-header-cell *matHeaderCellDef>Mkr Part No</th>
              <td mat-cell *matCellDef="let element"> {{element.pack}} </td>
            </ng-container>
             <!-- Weight Column -->
             <ng-container matColumnDef="refdocno">
              <th mat-header-cell *matHeaderCellDef>Supplier Code</th>
              <td mat-cell *matCellDef="let element"> {{element.refdocno}} </td>
            </ng-container>
            <!-- Weight Column -->
            <!-- <ng-container matColumnDef="preinboundno">
              <th mat-header-cell *matHeaderCellDef>Expected Arrival Date</th>
              <td mat-cell *matCellDef="let element"> {{element.preinboundno}} </td>
            </ng-container> -->
            <!-- Weight Column -->
            <ng-container matColumnDef="expqty">
                <th mat-header-cell *matHeaderCellDef>Expected Qty</th>
                <td mat-cell *matCellDef="let element"> {{element.expqty}} </td>
              </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="accqty">
              <th mat-header-cell *matHeaderCellDef>Accepted Qty</th>
              <td mat-cell *matCellDef="let element"> {{element.accqty}} </td>
            </ng-container>
              <!-- Weight Column -->
              <ng-container matColumnDef="damqty">
                <th mat-header-cell *matHeaderCellDef>Damage Qty</th>
                <td mat-cell *matCellDef="let element"> {{element.damqty}} </td>
              </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="variance">
                <th mat-header-cell *matHeaderCellDef>Variance</th>
                <td mat-cell *matCellDef="let element"> {{element.variance}} </td>
              </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="cases">
                <th mat-header-cell *matHeaderCellDef>Cases</th>
                <td mat-cell *matCellDef="let element"> 
                    <button mat-icon-button (click)="pallet()">
                        <mat-icon class="text-secondary">open_in_new</mat-icon>
                      </button>
                </td>
              </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="putaway">
                <th mat-header-cell *matHeaderCellDef>Putaway Details</th>
                <td mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="putaway()">
                        <mat-icon class="text-secondary">open_in_new</mat-icon>
                      </button>
                </td>
              </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="remarks">
                <th mat-header-cell *matHeaderCellDef>Remarks</th>
                <td mat-cell *matCellDef="let element"> {{element.remarks}} </td>
              </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef>Status</th>
                <td mat-cell *matCellDef="let element"> {{element.status}} </td>
              </ng-container>
               <!-- Weight Column -->
               <ng-container matColumnDef="qtyreceived">
                <th mat-header-cell *matHeaderCellDef>% of Quantity Received</th>
                <td mat-cell *matCellDef="let element"> {{element.qtyreceived}} </td>
              </ng-container>
            
            <tr mat-header-row *matHeaderRowDef="displayedColumns;sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selection.toggle(row)">
            </tr>
          </table>
            </div>
        </div>
      <div class="d-flex justify-content-center mx-auto align-items-center py-2 bg-white">
        <button mat-raised-button class="text-white mr-1 px-4" color="warn">
          <mat-icon class="">close</mat-icon> <a routerLink="/main/inbound/inbound-confirm">Cancel</a>
        </button>
        <button mat-raised-button class="bg-orange px-3 text-white ml-1">
          <mat-icon class="">done</mat-icon> Confirm
        </button>
      </div>
  
      </div>
    </div>

    <!--right pane-->
    <div class="col-3 pl-1 pr-1 mt-1 d-none">
      <div class="whs-rightpane bg-white shadow">
        <div class="text-dark p-2 bg-white">
          <div class="">
            <div class="d-flex justify-content-start my-1">
              <label for="" class="mr-5 mt-1">Variant</label>
              <label for="" class=" mt-1 ml-4 pl-3">Company Tab</label>
            </div>
            <hr class="my-0">
            <div class="row mt-1">
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Warehouse No</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                  <input matInput placeholder="Enter">
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">ASN No</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    
                    <mat-select placeholder="select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <div class="form-group mb-1">
                  <label for="inputEmail4" class="mb-0"> Pre Inbound No</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    
                    <mat-select placeholder="select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Ref Doc DATE</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                    <input matInput placeholder="Enter">
                    </mat-form-field>
                </div>
              </div>
              <div class="col-6 pr-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">GR Number</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
              <div class="col-6 pl-1">
                <div class="form-group mb-0">
                  <label for="inputEmail4" class="mb-0">Status</label>
                  <mat-form-field class="mb-0 w-100 " appearance="outline">
                
                    <mat-select class="mb-0" placeholder="Select">
                      <mat-option value="option">Option</mat-option>
                      <mat-option value="option2">Option2</mat-option>
                      <mat-option value="option3">Option3</mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-center my-1">
            <button mat-raised-button class="text-white mr-1" color="warn">
              <mat-icon class="">close</mat-icon> Cancel
            </button>
            <button mat-raised-button class="bg-darkblue  text-white mx-1" >
              <mat-icon class="">search</mat-icon> Search
            </button>
          </div>
        </div>
        <div class="row  no-gutters">
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Storage Setup</p>
            </div>
          </div>
          <div class="col-6 pl-0  d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Item Setup</p>
            </div>
          </div>
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Storage Setup</p>
            </div>
          </div>
          <div class="col-6 pl-0 d-none">
            <div class="whs-rightpane-box border d-flex flex-column align-items-center justify-content-center">
              <i class="far fa-arrow-alt-circle-down fa-2x"></i>
              <p class="mb-0 mt-1">Item Setup</p>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
  