<div class="row mx-1 pl-2">
<div class="col-12">
    <!--inner header-->

    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white d-flex align-items-center">
            <li class="breadcrumb-item"
                    class=" whs-fontsize-1-2rem  my-auto"><a routerLink="/main/dashboard">Home</a></li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">User Management</li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto"> User Role</li>
          </ol>
        </nav>



        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input  matInput class="form-control filter_button mt-2 mt-2 mx-2 border-bottom"
              placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true" 
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                      <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                  </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab 
              class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New"> 
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" 
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar-->
<!--      <app-main-section-tabbar>
    </app-main-section-tabbar> -->
  </div>


   <div class="w-100 mt-2">
 <div class="px-1 scroll13 pt-3  bg-white">
      <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <mat-tree-node class="border"  *matTreeNodeDef="let node" matTreeNodeToggle matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-checkbox class="checklist-leaf-node"
                      [checked]="checklistSelection.isSelected(node)"
                      (change)="todoLeafItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
                  <div class="ml-auto my-auto">
                    <mat-checkbox class="checklist-leaf-node mx-5"
                    [checked]="checklistSelection.isSelected(node)"><mat-icon class="align-middle whs-text-grey">edit</mat-icon></mat-checkbox>
                    <mat-checkbox class="checklist-leaf-node mx-5"
                    [checked]="checklistSelection.isSelected(node)"><mat-icon class="align-middle whs-text-grey">search</mat-icon></mat-checkbox>
                    <mat-checkbox class="checklist-leaf-node mx-5"
                    [checked]="checklistSelection.isSelected(node)"
                    ><mat-icon class="align-middle whs-text-grey">delete</mat-icon></mat-checkbox>
                  </div>
      </mat-tree-node>
    
      <mat-tree-node class="border"  *matTreeNodeDef="let node; when: hasNoContent" matTreeNodePadding>
        <button mat-icon-button disabled></button>
        <mat-form-field appearance="fill">
          <mat-label>New item...</mat-label>
          <input matInput #itemValue placeholder="Ex. Lettuce">
        </mat-form-field>
        <button mat-button (click)="saveNode(node, itemValue.value)">Save</button>
      </mat-tree-node>
    
      <mat-tree-node type="button" class="border"  matTreeNodeToggle
      [attr.aria-label]="'Toggle ' + node.item"  *matTreeNodeDef="let node; when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'Toggle ' + node.item">
          <mat-icon class="mat-icon-rtl-mirror">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        <mat-checkbox [checked]="descendantsAllSelected(node)"
                      [indeterminate]="descendantsPartiallySelected(node)"
                      (change)="todoItemSelectionToggle(node)">{{node.item}}</mat-checkbox>
      </mat-tree-node>
    </mat-tree>
 </div>
    
                <div class="d-flex justify-content-center align-items-center py-2 pb-4">
                    <button mat-raised-button  class="mx-2 bg-red text-white"> <i
                            class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
                    <button  mat-raised-button  class="mx-2 bg-darkblue text-white"> <i
                            class="bi bi-check2 mr-1 font-size-1_5rem"></i>
                        Save</button>
                </div>
            </div>
</div>