<div class="card bg-white ">
    <div  class="d-flex border-bottom align-items-center text-secondary fontBold text-center p-2">
        <h6 class="my-auto mx-auto">Delete </h6>
        <mat-icon class="text-secondary " mat-dialog-close>close</mat-icon>
    </div>
    <div class="mt-2">
        <div class="row  p-2 mx-0">
            <div class="col-12 mt-2">

                <h6 class="text-black text-center">Are you sure you want to delete this Entry?</h6>

            </div>
        </div>
        <div class="d-flex justify-content-center border-top align-items-center py-2">

                <button mat-flat-button mat-dialog-close class="mx-2 cancelcolor"> <i
                    class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
                <button mat-flat-button class="mx-2 saveColor" (click)="delete()"> <i
                    class="bi bi-check2 me-1 font-size-1_5rem"></i>
                  
                    Confirm</button>
        </div>
    </div>


</div>