<div class="row mx-1 pl-2">
    <div class="col-12">
      <!--inner header-->
  
      <div class="row  text-secondary pr-0 mt-1">
        <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">
  
  
          <nav aria-label="breadcrumb" class="d-flex align-items-center">
            <ol class="breadcrumb mb-0 bg-white d-flex align-items-center">
                <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto"><a routerLink="/main/dashboard">Home</a></li>
                <li class="breadcrumb-item"
                class="whs-fontsize-1-2rem  my-auto"><a routerLink="/main/make&change/inhouse-transfer">Make & Change</a></li>
                <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Inhouse Transfer</li>
            </ol>
        </nav>



        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input (keyup)="applyFilter($event)" matInput
              class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                      <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                      matTooltip="Add">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                    </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                      <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                    class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                    <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                  </button>
                    -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab disabled
              class=" floating-buttons1 disabled d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
    <!--main section-->
    <div class="row uatwhite mt-1 pr-1" style="height:calc(100vh - 12rem)">
      <div class="col-md-12 px-0">
        <div class="">
          <div class="tabbar1 px-0 uatwhite my-auto col d-flex align-items-center">
            <h5 class="my-auto mb-0 mx-4 font-weight-bold whs-text-grey">Inhouse Transfer</h5>
          </div>
          <div class="row px-4 scroll boxgrey mt-2">


            <div class="col-lg-3 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Transfer Date</p>
                <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                  <input matInput [matDatepicker]="picker2" placeholder="Choose Date " disabled
                    [(ngModel)]="data.createdOn">
                  <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Transfer By </p>
                <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                  <input matInput placeholder="AP-Readonly" disabled [(ngModel)]="data.createdBy">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-2">
              <div class="d-flex flex-column">
                <p class="mb-0 py-0">Warehouse No</p>
                <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                  <input matInput placeholder="AP-Readonly" disabled [(ngModel)]="data.warehouseId">
                </mat-form-field>
              </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-2">
              <p class="mb-0 py-0">Transfer Type </p>
              <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                <mat-select placeholder="Select"  [(ngModel)]="data.transferTypeId">
                  <mat-option #stock value="1" (click)="openstock();">01 - Stock Type to Stock Type</mat-option>
                  <mat-option #sku value="2" (click)="opensku();">02 - Sku to Sku</mat-option>
                  <mat-option #bin value="3" (click)="openbin();">03 - Bin to Bin</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-lg-3 col-md-6 mt-2">
              <p class="mb-0 py-0">Transfer Method </p>
              <!-- <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                <mat-select placeholder="Select" [(ngModel)]="data.transferMethod">
                  <mat-option #sku value="ONESTEP">01 - Sku to Sku - One Step</mat-option>
                  <mat-option #stock value="ONESTEP">02 - Stock Type to Stock Type - One Step</mat-option>
                  <mat-option #bin value="ONESTEP">03 - Bin to Bin - One Step</mat-option>
                </mat-select>
              </mat-form-field> -->
              <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
                <input matInput placeholder="AP-Readonly" disabled [(ngModel)]="data.transferMethod">
              </mat-form-field>
            </div>
          </div>
          
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 px-0 mx-0 pb-1 border-top">
        <div class="p-0 mx-1">
          <mat-paginator class="invisible" showFirstLastButtons [pageSize]="100" [pageSizeOptions]="[100, 150, 200, 250]"
            aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center align-items-center py-2 bottombutton">
      <button mat-raised-button class="text-white mr-1 px-4" color="warn"
        routerLink="/main/make&change/inhouse-transfer">
        <mat-icon class="">arrow_back_ios</mat-icon> Back
      </button>
    </div>
  </div>


  <!--right pane-->
  <div class="col-3 pl-1 pr-1 mt-1 d-none">
    <div class="whs-rightpane bg-white shadow ">
      <div class="row container px-0 ml-0">
        <div class="card-header w-100 rounded-0 bg-light p-0 d-flex justify-content-between">

          <button class="btn whs-text-blue w-100 text-left pl-4" type="button">
            Receipt Details
          </button>
          <span class="my-auto whs-text-blue">
            <i class="fas fa-plus pr-3"></i>
          </span>
        </div>

      </div>
    </div>
  </div>
</div>