<div class="row mx-1 pl-2">
  <div class="col-12">
    <!--inner header-->
    <div class="row  text-secondary pr-0 mt-1">
      <div class="col bg-white d-flex align-items-center mt-1 px-1 py-1 pathname">


        <nav aria-label="breadcrumb" class="d-flex align-items-center">
          <ol class="breadcrumb mb-0 bg-white">
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto"><a routerLink="/main/dashboard">Home</a>
            </li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Cycle Count</li>
            <li class="breadcrumb-item" class=" whs-fontsize-1-2rem  my-auto">Periodic Count</li>
            <li class="breadcrumb-item whs-fontsize-1-2rem  my-auto">Assign & Count</li>
          </ol>
        </nav>

        <div class="d-flex ml-auto my-auto">
          <div [hidden]="isShowDiv"> <input (input)="periodicTag.filterGlobal($any($event.target).value, 'contains')" matInput
              class="form-control filter_button mt-2 mt-2 mx-2 border-bottom" placeholder="Search" style="width:90%">
          </div>
          <div [ngClass]="showFloatingButtons == true ? 'floating-pane-active' : 'floating-pane-deactive'"
            class="button-row d-flex align-items-center">
            <!--
                        <button mat-mini-fab *ngIf="showFloatingButtons == true" class="floating-buttons  d-flex align-items-center justify-content-center bg-pink text-white mx-2"
                        matTooltip="Add">
                        <mat-icon class="action-icon d-flex align-items-center justify-content-center">add_circle_outline</mat-icon>
                      </button>
                      -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true" (click)="goTo('Display')"
              class=" floating-buttons  d-flex align-items-center justify-content-center text-white   yellowaction"
              matTooltip="Display">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">search</mat-icon>
            </button>
            <button disabled mat-mini-fab *ngIf="showFloatingButtons == true" 
              class="floating-buttons disabled  d-flex align-items-center justify-content-center text-white  blueaction "
              matTooltip="Edit">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">edit</mat-icon>
            </button>
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class=" floating-buttons  d-flex align-items-center justify-content-center redaction text-white  align-middle"
              matTooltip="Delete">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">delete</mat-icon>
            </button>
            <!-- 
                        <button  mat-mini-fab *ngIf="showFloatingButtons == true"
                      class="floating-buttons  d-flex align-items-center justify-content-center text-white  bg-success  " matTooltip="Info">
                      <mat-icon class="action-icon d-flex align-items-center justify-content-center">info_outline</mat-icon>
                    </button>
                      -->
            <button mat-mini-fab *ngIf="showFloatingButtons == true"
              class="floating-buttons  d-flex align-items-center justify-content-center text-white  darkblueaction "
              matTooltip="Download" (click)="downloadexcel()">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center">download</mat-icon>
            </button>


            <button mat-mini-fab (click)="toggleFloat()" class="mx-2 text-white action-button"
              [ngClass]="{'bg-orange' : toggle, 'purple': !toggle}">
              <mat-icon>{{icon}}</mat-icon>Options
            </button>
            <button mat-mini-fab (click)="create();"
              class=" floating-buttons1  d-flex align-items-center justify-content-center darkaction text-white mx-2 mr-3 align-middle"
              matTooltip="New">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">add</mat-icon>
            </button>
            <button mat-mini-fab
              class=" floating-buttons1  d-flex align-items-center justify-content-center greyaction text-white mx-2 mr-3 align-middle"
              matTooltip="Save">
              <mat-icon class="action-icon d-flex align-items-center justify-content-center my-auto">save</mat-icon>
            </button>
            <button mat-mini-fab class="text-white mx-2 action-button  bg-red" type="button" (click)="drawer.toggle()"
              mat-button>
              <mat-icon class="">tune</mat-icon> Filter
            </button>
          </div>

        </div>
      </div>
    </div>
    <!--main-section-tabbar
      <app-main-section-tabbar>
      </app-main-section-tabbar>  -->
  </div>
  <div class="pr-1 mt-2 mx-0 w-100 ">
    <app-periodic-tab></app-periodic-tab>
  </div>
  <!--main section-->
  <mat-drawer-container class="example-container  w-100">
    <mat-drawer #drawer class="example-sidenav " mode="over" position="end">
      <div class="card-header whs-bg-grey text-white d-flex justify-content-between align-items-center">
        <h6 class="my-auto mb-0">Search Parameter</h6>
        <mat-icon type="button" (click)="drawer.toggle()">close</mat-icon>
      </div>
      <div class="row scroll4 mt-1 mr-1 p-2 pl-3">
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Warehouse No</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select placeholder="select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Cycle Count No</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select placeholder="select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-1">
            <label for="inputEmail4" class="mb-0">Storage Section</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select placeholder="select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Aisle</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select class="mb-0" placeholder="Select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Bin Location</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select class="mb-0" placeholder="Select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Date</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">
              <input matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <div class="col-12 pr-0">
          <div class="form-group mb-0">
            <label for="inputEmail4" class="mb-0">Status</label>
            <mat-form-field class="mb-0 w-100 " appearance="outline">

              <mat-select class="mb-0" placeholder="Select">
                <mat-option value="option">Option</mat-option>
                <mat-option value="option2">Option2</mat-option>
                <mat-option value="option3">Option3</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" class="text-white mx-1 px-4">
          <mat-icon class="">restart_alt</mat-icon> Reset
        </button>
        <button mat-raised-button class="bg-darkblue text-white mx-1">
          <mat-icon class="">done</mat-icon> Search
        </button>
      </div>
    </mat-drawer>
    <div class="example-sidenav-content">
      <div class="row pr-0">
          <p-table #periodicTag [value]="periodic" styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true"
          selectionMode="single" scrollHeight="calc(100vh - 14.8rem)" sortField="createdOn" [sortOrder]="-1"
          [paginator]="true" [rows]="100" [showCurrentPageReport]="true"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [resizableColumns]="true"
          style="width: 100%;margin-left: 10px;background-color:white">
          <ng-template pTemplate="header">
            <tr>
              <th style="max-width: 3.5rem; justify-content: center;">
                <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
              </th>
              <th style="max-width:6rem;" pSortableColumn="statusId1" pResizableColumn>Actions<p-sortIcon
                  field="statusId1"></p-sortIcon></th>
                  <th pSortableColumn="plantDescription" pResizableColumn>Branch<p-sortIcon
                    field="plantDescription"></p-sortIcon></th>
                <th pSortableColumn="warehouseDescription" pResizableColumn>Warehouse<p-sortIcon
                    field="warehouseDescription"></p-sortIcon></th>
                    <th pSortableColumn="statusDescription" pResizableColumn>Status<p-sortIcon field="statusDescription"></p-sortIcon></th>
                    <th pSortableColumn="referenceCycleCountNo" pResizableColumn>AMS Cycle Count<p-sortIcon
                        field="referenceCycleCountNo"></p-sortIcon></th>
              <th pSortableColumn="cycleCountNo" pResizableColumn>Cycle Count No<p-sortIcon
                  field="cycleCountNo"></p-sortIcon></th>
              <th pSortableColumn="createdOn" pResizableColumn>Created On <p-sortIcon field="createdOn"></p-sortIcon>
              </th>
              <th pSortableColumn="createdBy" pResizableColumn> Created By<p-sortIcon field="createdBy"></p-sortIcon>
              </th>
            </tr>

            <tr>
              <th style="max-width: 3.5rem; justify-content: center;">
                <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
              </th>
              <th style="max-width:6rem;">
                <input pInputText type="text"
                  (input)="periodicTag.filter($any($event.target)?.value, 'statusId1', 'contains')"
                  [value]="$any(periodicTag.filters['statusId1'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="periodicTag.filter($any($event.target)?.value, 'plantDescription', 'contains')"
                  [value]="$any(periodicTag.filters['plantDescription'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="periodicTag.filter($any($event.target)?.value, 'warehouseDescription', 'contains')"
                  [value]="$any(periodicTag.filters['warehouseDescription'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="periodicTag.filter($any($event.target)?.value, 'statusDescription', 'contains')"
                  [value]="$any(periodicTag.filters['statusDescription'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="periodicTag.filter($any($event.target)?.value, 'referenceCycleCountNo', 'contains')"
                  [value]="$any(periodicTag.filters['referenceCycleCountNo'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="periodicTag.filter($any($event.target)?.value, 'cycleCountNo', 'contains')"
                  [value]="$any(periodicTag.filters['cycleCountNo'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="periodicTag.filter($any($event.target)?.value, 'createdOn', 'contains')"
                  [value]="$any(periodicTag.filters['createdOn'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
              <th>
                <input pInputText type="text"
                  (input)="periodicTag.filter($any($event.target)?.value, 'createdBy', 'contains')"
                  [value]="$any(periodicTag.filters['createdBy'])?.value" placeholder="Search"
                  class=" w-100 p-column-filter">
              </th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-periodic let-rowIndex="rowIndex">
            <tr [pSelectableRow]="periodic" [pSelectableRowIndex]="rowIndex"
              (dblclick)="goTo('Edit', periodic);">
              <td style="max-width:3.5rem;  justify-content: center;">
                <p-checkbox (onChange)="onChange()" [(ngModel)]="selectedperiodic" [value]="periodic"></p-checkbox>
              </td>
              <td style="max-width:6rem;">
                <button mat-icon-button [matMenuTriggerFor]="menu" [matMenuTriggerData]="{periodic: periodic}">
                  <mat-icon class="text-secondary">more_horiz</mat-icon>
                </button>
              </td>
              <td>{{periodic.plantDescription}}</td>
              <td>{{periodic.warehouseDescription}}</td>
              <td>{{periodic.statusDescription}}</td>
              <td>{{periodic.referenceCycleCountNo}}</td>
              <td style="text-decoration-line: underline;" class="text-primary"
                (click)="goTo('LineEdit', periodic);">{{periodic.cycleCountNo}}</td>
              <td>{{periodic.createdOn | date : 'dd-MM-yyyy HH:mm' :'GMT'}}</td>
              <td>{{periodic.createdBy}}</td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </div>
  </mat-drawer-container>
</div>

<mat-menu #menu="matMenu">
  <ng-template matMenuContent let-aliasMenuItems="periodic">
    <button mat-menu-item (click)="goTo('Assign', aliasMenuItems)">Assign</button>
    <button  mat-menu-item (click)="goTo('count', aliasMenuItems)">Count</button>
  </ng-template>
</mat-menu>