

<div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle
      class="d-flex justify-content-between align-items-center whs-bg-grey text-white p-2">
      <h6 class="my-auto">Logged In Users</h6 >
      <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
    </div>
    <div class="">
      <div class="d-flex row justify-content-end">
        <div class="col-lg-3 col-md-6 mt-2">
          <mat-form-field class="form-group input_field mb-0 w-100" appearance="outline">
            <mat-select placeholder="Select" [(value)]="loginSelected">
              <mat-option  value="portal" (click)="search();">Portal</mat-option>
              <mat-option  value="hht" (click)="search();">HHT</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        
      </div>
    <div class="row">
      <p-table #loginUserTag [value]="loginUser" styleClass="p-datatable-gridlines p-datatable-sm" [scrollable]="true"
      selectionMode="single" scrollHeight="calc(100vh - 20.8rem)" sortField="companyIdAndDescription" [sortOrder]="-1"
       [resizableColumns]="true"
      style="width: 100%;margin-left: 10px;background-color:white">
      <ng-template pTemplate="header">
        <tr>
          <th style="max-width: 3.5rem; justify-content: center;">
            <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
          </th>
          <th pSortableColumn="companyIdAndDescription" pResizableColumn>Company<p-sortIcon field="companyIdAndDescription"></p-sortIcon></th>
          <th pSortableColumn="plantIdAndDescription" pResizableColumn>Branch<p-sortIcon field="plantIdAndDescription"></p-sortIcon></th>
          <th pSortableColumn="warehouseIdAndDescription" pResizableColumn>Warehouse<p-sortIcon field="warehouseIdAndDescription"></p-sortIcon></th>
              <th pSortableColumn="userId" pResizableColumn>User ID<p-sortIcon field="userId"></p-sortIcon></th>
          <th pSortableColumn="portalLoggedIn" pResizableColumn>Status<p-sortIcon field="portalLoggedIn"></p-sortIcon></th>
        </tr>

        <tr>
          <th style="max-width: 3.5rem; justify-content: center;">
            <p-tableHeaderCheckbox [disabled]="true"></p-tableHeaderCheckbox>
          </th>
          <th >
            <input pInputText type="text"
              (input)="loginUserTag.filter($any($event.target)?.value, 'companyIdAndDescription', 'contains')"
              [value]="$any(loginUserTag.filters['companyIdAndDescription'])?.value" placeholder="Search"
              class=" w-100 p-column-filter">
          </th>
          <th >
            <input pInputText type="text"
              (input)="loginUserTag.filter($any($event.target)?.value, 'plantIdAndDescription', 'contains')"
              [value]="$any(loginUserTag.filters['plantIdAndDescription'])?.value" placeholder="Search"
              class=" w-100 p-column-filter">
          </th>
          <th>
            <input pInputText type="text"
              (input)="loginUserTag.filter($any($event.target)?.value, 'warehouseIdAndDescription', 'contains')"
              [value]="$any(loginUserTag.filters['warehouseIdAndDescription'])?.value" placeholder="Search"
              class=" w-100 p-column-filter">
          </th>
          <th>
            <input pInputText type="text"
              (input)="loginUserTag.filter($any($event.target)?.value, 'userId', 'contains')"
              [value]="$any(loginUserTag.filters['userId'])?.value" placeholder="Search"
              class=" w-100 p-column-filter">
          </th>
          <th>
            <input pInputText type="text"
              (input)="loginUserTag.filter($any($event.target)?.value, 'portalLoggedIn', 'contains')"
              [value]="$any(loginUserTag.filters['portalLoggedIn'])?.value" placeholder="Search"
              class=" w-100 p-column-filter">
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-loginUser let-rowIndex="rowIndex">
        <tr [pSelectableRow]="loginUser" [pSelectableRowIndex]="rowIndex">
          <td style="max-width:3.5rem;  justify-content: center;">
            <p-checkbox (onChange)="onChange()" [(ngModel)]="selectedloginUser" [value]="loginUser"></p-checkbox>
          </td>
          <td>{{loginUser.companyIdAndDescription}}</td>
          <td>{{loginUser.plantIdAndDescription}}</td>
          <td>{{loginUser.warehouseIdAndDescription}}</td>
          <td>{{loginUser.userId}}</td>
          <td>{{loginUser.portalLoggedIn}}</td>
        </tr>
      </ng-template>
    </p-table>
    </div>
      <div class="d-flex justify-content-center align-items-center py-2">
        <button mat-raised-button color="warn" mat-dialog-close class="mx-1"> <i
            class="bi bi-x me-1 font-size-1_5rem"></i>Cancel</button>
            <button mat-raised-button class="mx-1 bg-darkblue px-4 text-white"  (click)="submit();"> <i
                class="bi bi-box-arrow-left mr-1 font-size-1_5rem"></i>Logout</button>
      </div>
    </div>


  </div>