<div class="card bg-white " style="overflow-x: hidden;">
    <div mat-dialog-title class="d-flex justify-content-between bg-secondary align-items-center p-2">
        <h6 class="my-auto text-white  text-left">Zone 1, <br> ID - DS18B20</h6>
        <mat-icon class="text-white" mat-dialog-close>close</mat-icon>
      </div>
    <div class="mt-2 px-4">
      <div class="row  p-1">
        <div class="frame p-1" (scroll)="scrolled($event)" #scrollframe>
          <div *ngFor="let item of items" class="item" #item>
            <p class="mb-0 text-secondary">
              <small> 21-01-2023, "feels like":11, "temp_min":5,"temp_max":9, </small>
              <small class="text-danger">"act_temp":10,</small>
              <small>  "humidity":95,</small>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  