

  <nav mat-tab-nav-bar style="color: #525C65">
    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold    nav-border align-items-center" 
    routerLink="/main/lmd/delivery">Delivery </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold   nav-border align-items-center"
    routerLink="/main/lmd/picking">Picking </a>

    <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold  nav-border align-items-center"
   routerLink="/main/lmd/consignment">Consignment </a>
   
   <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold  nav-border align-items-center"
   routerLink="/main/lmd/mediums">Mediums </a>

   <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold  nav-border align-items-center"
   routerLink="/main/lmd/activitydeck">Tracking </a>

   <a mat-tab-link routerLinkActive="tabactive" class="mx-1 d-flex justify-content-center fontBold  nav-border align-items-center"
   routerLink="/main/lmd/hubops">Hub Ops </a>

  </nav>
  